Repository webpack/webpack, pull requests merged in 2018-12, with the labels that each got.

#8451 enforce doesn't affect minSize for maxSize
  lib/optimize/MinMaxSizeWarning.js
  lib/optimize/SplitChunksPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks-max-size/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#8457 fix a bug which causes incorrect providedExports for cached modules
  lib/FlagDependencyExportsPlugin.js
  test/watchCases/parsing/reexport-chain/0/a.js
  test/watchCases/parsing/reexport-chain/0/b.js
  test/watchCases/parsing/reexport-chain/0/c.js
  test/watchCases/parsing/reexport-chain/0/index.js
  test/watchCases/parsing/reexport-chain/1/c.js
  test/watchCases/parsing/reexport-chain/2/a.js
  test/watchCases/parsing/reexport-chain/2/c.js
  yarn.lock
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#8452 add getResolve method to loader context
  lib/NormalModule.js
  lib/ResolverFactory.js
  test/cases/loaders/resolve/index.js
  test/cases/loaders/resolve/index.xyz
  test/cases/loaders/resolve/loader.js
Labels: PR: CI-ok, PR: unreviewed

#8448 fix: `.wasm` extension should have lower priority when resolving modules
  lib/DelegatedModuleFactoryPlugin.js
  lib/WebpackOptionsDefaulter.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8465 Use a runtime module to inject System polyfill
  buildin/system.js
  lib/JavascriptParserHelpers.js
  lib/RuntimeGlobals.js
  lib/dependencies/ConstDependency.js
  lib/dependencies/HarmonyTopLevelThisParserPlugin.js
  lib/dependencies/SystemPlugin.js
  lib/dependencies/SystemRuntimeModule.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8466 enforce should not prevent using `minChunks` etc. on cacheGroup
  lib/optimize/SplitChunksPlugin.js
  test/statsCases/split-chunks-automatic-name/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#8461 Deprecate AggressiveSplittingPlugin
  lib/webpack.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8459 Add support for multiple different sizes per module
  declarations/WebpackOptions.d.ts
  lib/ChunkGraph.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DllModule.js
  lib/ExternalModule.js
  lib/Generator.js
  lib/JavascriptGenerator.js
  lib/JavascriptModulesPlugin.js
  lib/JsonGenerator.js
  lib/JsonModulesPlugin.js
  lib/Module.js
  lib/NormalModule.js
  lib/RawModule.js
  lib/RuntimeModule.js
  lib/Stats.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/SplitChunksPlugin.js
  lib/util/deterministicGrouping.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/wasm/WebAssemblyModulesPlugin.js
  schemas/WebpackOptions.json
  test/StatsTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/wasm-explorer-examples-sync/Q_rsqrt.wasm
  test/statsCases/wasm-explorer-examples-sync/duff.wasm
  test/statsCases/wasm-explorer-examples-sync/fact.wasm
  test/statsCases/wasm-explorer-examples-sync/fast-math.wasm
  test/statsCases/wasm-explorer-examples-sync/index.js
  test/statsCases/wasm-explorer-examples-sync/node_modules/env.js
  test/statsCases/wasm-explorer-examples-sync/popcnt.wasm
  test/statsCases/wasm-explorer-examples-sync/test.filter.js
  test/statsCases/wasm-explorer-examples-sync/testFunction.wasm
  test/statsCases/wasm-explorer-examples-sync/tests.js
  test/statsCases/wasm-explorer-examples-sync/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8468 add algorithm to extract graph roots
  declarations/WebpackOptions.d.ts
  lib/ChunkGraph.js
  lib/ModuleGraph.js
  lib/Stats.js
  lib/util/findGraphRoots.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/graph-roots/cycle/a.js
  test/statsCases/graph-roots/cycle/b.js
  test/statsCases/graph-roots/cycle/c.js
  test/statsCases/graph-roots/cycle/index.js
  test/statsCases/graph-roots/cycle2/a.js
  test/statsCases/graph-roots/cycle2/b.js
  test/statsCases/graph-roots/cycle2/c.js
  test/statsCases/graph-roots/cycle2/index.js
  test/statsCases/graph-roots/cycles/1/a.js
  test/statsCases/graph-roots/cycles/1/b.js
  test/statsCases/graph-roots/cycles/1/c.js
  test/statsCases/graph-roots/cycles/1/index.js
  test/statsCases/graph-roots/cycles/2/a.js
  test/statsCases/graph-roots/cycles/2/b.js
  test/statsCases/graph-roots/cycles/2/c.js
  test/statsCases/graph-roots/cycles/2/index.js
  test/statsCases/graph-roots/index.js
  test/statsCases/graph-roots/tree/a.js
  test/statsCases/graph-roots/tree/b.js
  test/statsCases/graph-roots/tree/c.js
  test/statsCases/graph-roots/tree/index.js
  test/statsCases/graph-roots/trees/1.js
  test/statsCases/graph-roots/trees/2.js
  test/statsCases/graph-roots/trees/3.js
  test/statsCases/graph-roots/trees/a.js
  test/statsCases/graph-roots/trees/b.js
  test/statsCases/graph-roots/trees/c.js
  test/statsCases/graph-roots/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8472 Replace module buildins by runtime modules
  buildin/harmony-module.js
  buildin/module.js
  lib/NodeStuffPlugin.js
  lib/RuntimeGlobals.js
  lib/dependencies/ModuleDecoratorDependency.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/parsing/inject-free-vars/fail.js
  test/cases/parsing/inject-free-vars/index.js
  test/cases/parsing/inject-free-vars/x1.js
  test/cases/parsing/issue-494/index.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8467 Use document.head instead of getElementsByTagName('head')
  lib/web/JsonpMainTemplate.runtime.js
  lib/web/JsonpMainTemplatePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#8482 Refactor webpack main
  lib/MultiCompiler.js
  lib/WebpackOptionsApply.js
  lib/index.js
  lib/webpack.js
  package.json
  test/BenchmarkTestCases.benchmark.js
  test/Compiler-caching.test.js
  test/Compiler.test.js
  test/ConfigTestCases.test.js
  test/Errors.test.js
  test/Examples.test.js
  test/HotModuleReplacementPlugin.test.js
  test/HotTestCases.template.js
  test/MultiCompiler.test.js
  test/NodeTemplatePlugin.test.js
  test/ProgressPlugin.test.js
  test/RemoveFiles.test.js
  test/Stats.test.js
  test/StatsTestCases.test.js
  test/TestCases.template.js
  test/TestCasesAllCombined.test.js
  test/TestCasesHot.test.js
  test/TestCasesHotMultiStep.test.js
  test/Validation.test.js
  test/WatchDetection.test.js
  test/WatchTestCases.test.js
  test/WatcherEvents.test.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#8495 Remove unneeded files from package.json#files
  package.json
  web_modules/node-libs-browser.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8494 Add 'events' dependency
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8490 Add compilers typings
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/Compiler.js
  lib/MultiCompiler.js
  lib/MultiStats.js
  lib/MultiWatching.js
  lib/Stats.js
  lib/Watching.js
  lib/util/AsyncQueue.js
  lib/webpack.js
  schemas/WebpackOptions.json
  test/Stats.unittest.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed, PR: types

#8484 Add maxAsyncSize and maxInitialSize for SplitChunks
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsDefaulter.js
  lib/ids/IdHelpers.js
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/split-chunks-common/correct-order/a.js
  test/configCases/split-chunks-common/correct-order/index.js
  test/configCases/split-chunks-common/correct-order/test.config.js
  test/configCases/split-chunks-common/correct-order/webpack.config.js
  test/configCases/split-chunks-common/extract-async-from-entry/index.js
  test/configCases/split-chunks-common/extract-async-from-entry/test.config.js
  test/configCases/split-chunks-common/extract-async-from-entry/webpack.config.js
  test/configCases/split-chunks-common/hot-multi/common.js
  test/configCases/split-chunks-common/hot-multi/first.js
  test/configCases/split-chunks-common/hot-multi/second.js
  test/configCases/split-chunks-common/hot-multi/shared.js
  test/configCases/split-chunks-common/hot-multi/test.config.js
  test/configCases/split-chunks-common/hot-multi/webpack.config.js
  test/configCases/split-chunks-common/hot/index.js
  test/configCases/split-chunks-common/hot/test.config.js
  test/configCases/split-chunks-common/hot/vendor.js
  test/configCases/split-chunks-common/hot/webpack.config.js
  test/configCases/split-chunks-common/inverted-order/a.js
  test/configCases/split-chunks-common/inverted-order/index.js
  test/configCases/split-chunks-common/inverted-order/test.config.js
  test/configCases/split-chunks-common/inverted-order/webpack.config.js
  test/configCases/split-chunks-common/library/a.js
  test/configCases/split-chunks-common/library/index.js
  test/configCases/split-chunks-common/library/test.config.js
  test/configCases/split-chunks-common/library/webpack.config.js
  test/configCases/split-chunks-common/move-entry/a.js
  test/configCases/split-chunks-common/move-entry/index.js
  test/configCases/split-chunks-common/move-entry/test.config.js
  test/configCases/split-chunks-common/move-entry/webpack.config.js
  test/configCases/split-chunks-common/move-to-grandparent/index.js
  test/configCases/split-chunks-common/move-to-grandparent/pageA.js
  test/configCases/split-chunks-common/move-to-grandparent/pageB.js
  test/configCases/split-chunks-common/move-to-grandparent/pageC.js
  test/configCases/split-chunks-common/move-to-grandparent/reusableComponent.js
  test/configCases/split-chunks-common/move-to-grandparent/second.js
  test/configCases/split-chunks-common/move-to-grandparent/test.config.js
  test/configCases/split-chunks-common/move-to-grandparent/webpack.config.js
  test/configCases/split-chunks-common/simple/a.js
  test/configCases/split-chunks-common/simple/index.js
  test/configCases/split-chunks-common/simple/test.config.js
  test/configCases/split-chunks-common/simple/webpack.config.js
  test/statsCases/split-chunks-max-size/async/a.js
  test/statsCases/split-chunks-max-size/async/b.js
  test/statsCases/split-chunks-max-size/async/index.js
  test/statsCases/split-chunks-max-size/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#8516 IgnorePlugin: merge checkResource with checkContext, now single function
  declarations/plugins/IgnorePlugin.d.ts
  lib/IgnorePlugin.js
  schemas/plugins/IgnorePlugin.json
  test/configCases/ignore/checkContext/folder-a/ignored-module.js
  test/configCases/ignore/checkContext/folder-a/normal-module.js
  test/configCases/ignore/checkContext/folder-b/ignored-module.js
  test/configCases/ignore/checkContext/folder-b/normal-module.js
  test/configCases/ignore/checkContext/folder-b/only-context-match-require.js
  test/configCases/ignore/checkContext/folder-b/only-context-match.js
  test/configCases/ignore/checkContext/test.js
  test/configCases/ignore/checkContext/webpack.config.js
  test/configCases/ignore/checkResource-one-argument/ignored-module.js
  test/configCases/ignore/checkResource-one-argument/normal-module.js
  test/configCases/ignore/checkResource-one-argument/test.js
  test/configCases/ignore/checkResource-one-argument/webpack.config.js
  test/configCases/ignore/checkResource-two-arguments/folder-a/ignored-module.js
  test/configCases/ignore/checkResource-two-arguments/folder-a/normal-module.js
  test/configCases/ignore/checkResource-two-arguments/folder-b/ignored-module.js
  test/configCases/ignore/checkResource-two-arguments/folder-b/normal-module.js
  test/configCases/ignore/checkResource-two-arguments/folder-b/only-context-match-require.js
  test/configCases/ignore/checkResource-two-arguments/folder-b/only-context-match.js
  test/configCases/ignore/checkResource-two-arguments/test.js
  test/configCases/ignore/checkResource-two-arguments/webpack.config.js
Labels: PR: CI-ok, PR: review-outdated

#8518 Optimize getHashNumber
  lib/ids/IdHelpers.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8511 Remove a broken hook
  lib/node/NodeSourcePlugin.js
  test/configCases/web/node-source/index.mjs
  test/configCases/web/node-source/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#8520 add plugin system for Stats presets, defaults, creation and printing
  .eslintrc.js
  lib/Chunk.js
  lib/Compilation.js
  lib/MultiStats.js
  lib/Stats.js
  lib/WebpackError.js
  lib/WebpackOptionsApply.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  lib/stats/StatsFactory.js
  lib/stats/StatsPrinter.js
  test/ConfigTestCases.test.js
  test/Errors.test.js
  test/MultiStats.unittest.js
  test/Stats.unittest.js
  test/StatsTestCases.test.js
  test/TestCases.template.js
  test/WatchTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/compile/error-hide-stack/errors.js
  test/cases/loaders/no-string/errors.js
  test/cases/parsing/context/warnings.js
  test/cases/parsing/extract-amd.nominimize/warnings.js
  test/cases/parsing/extract-amd/warnings.js
  test/cases/parsing/extract-require/errors.js
  test/cases/runtime/error-handling/errors.js
  test/cases/runtime/error-handling/warnings.js
  test/cases/wasm/js-incompatible-type/errors.js
  test/checkArrayExpectation.js
  test/configCases/parsing/context/warnings.js
  test/configCases/parsing/system.import/warnings.js
  test/configCases/plugins/environment-plugin/errors.js
  test/configCases/plugins/environment-plugin/warnings.js
  test/statsCases/import-with-invalid-options-comments/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8526 load internal serializers internally
  lib/serialization/ObjectMiddleware.js
  lib/util/serializer.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8530 fix issue when contextRegExp is undefined
  lib/IgnorePlugin.js
  test/configCases/errors/multi-entry-missing-module/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#8533 Change signature of externals function to an object
  lib/ExternalModuleFactoryPlugin.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8536 Performance/caching
  lib/cache/FileCachePlugin.js
  lib/cache/ResolverCachePlugin.js
  lib/serialization/BinaryMiddleware.js
  lib/serialization/FileMiddleware.js
  lib/serialization/ObjectMiddleware.js
  lib/util/memorize.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8542 fixes #8538
  lib/IgnorePlugin.js
  test/configCases/ignore/multiple-with-externals/ignored-module1.js
  test/configCases/ignore/multiple-with-externals/ignored-module2.js
  test/configCases/ignore/multiple-with-externals/normal-module.js
  test/configCases/ignore/multiple-with-externals/test.js
  test/configCases/ignore/multiple-with-externals/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#8543 improvements to stats
  declarations/WebpackOptions.d.ts
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/async-commons-chunk/webpack.config.js
  test/statsCases/chunks-development/webpack.config.js
  test/statsCases/chunks/webpack.config.js
  test/statsCases/circular-correctness/webpack.config.js
  test/statsCases/graph-correctness-entries/webpack.config.js
  test/statsCases/graph-correctness-modules/webpack.config.js
  test/statsCases/limit-chunk-count-plugin/webpack.config.js
  test/statsCases/optimize-chunks/webpack.config.js
  test/statsCases/prefetch-preload-mixed/webpack.config.js
  test/statsCases/prefetch/webpack.config.js
  test/statsCases/split-chunks-automatic-name/webpack.config.js
  test/statsCases/split-chunks-combinations/webpack.config.js
  test/statsCases/split-chunks-issue-6413/webpack.config.js
  test/statsCases/split-chunks-issue-6696/webpack.config.js
  test/statsCases/split-chunks-issue-7401/webpack.config.js
  test/statsCases/split-chunks-max-size/webpack.config.js
  test/statsCases/split-chunks-prefer-bigger-splits/webpack.config.js
  test/statsCases/split-chunks/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8546 remove vm-browserify
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8552 fix incorrect default for some options with all: false
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  test/Stats.test.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8553 Use fullhash to avoid deprecation warning
  lib/RuntimePlugin.js
  lib/WebpackOptionsDefaulter.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8554 allow serializing of objects with null prototype
  lib/serialization/NullPrototypeObjectSerializer.js
  lib/serialization/ObjectMiddleware.js
  test/cases/loaders/emit-file/file.js
  test/cases/loaders/emit-file/index.js
  test/cases/loaders/emit-file/loader.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8547 Optimize absoluteToRequest
  lib/util/identifier.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/identifier.unittest.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#8559 Fix minor typos, improve clarity of README
  examples/http2-aggressive-splitting/template.md
Labels: PR: CI-ok, PR: reviewed-approved

#8566 Add namedChunkGroups tests
  test/Stats.test.js
  test/fixtures/chunk-b.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8561 Allow MultiStats to be called with no options
  lib/MultiStats.js
  test/MultiStats.test.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8571 Use fullhash instead of hash in tests
  test/HotTestCases.template.js
  test/NodeTemplatePlugin.test.js
  test/configCases/hash-length/output-filename/webpack.config.js
  test/configCases/issues/issue-7563/webpack.config.js
  test/configCases/plugins/banner-plugin-hashing/index.js
  test/configCases/plugins/banner-plugin-hashing/webpack.config.js
  test/configCases/plugins/lib-manifest-plugin/webpack.config.js
  test/hotPlayground/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8570 Expose the serialization API
  lib/ContextModule.js
  lib/cache/FileCachePlugin.js
  lib/index.js
  lib/util/makeSerializable.js
  lib/util/makeUnserializable.js
  lib/util/registerExternalSerializer.js
  lib/util/serialization.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8572 Update terser to make it compatible with v5
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8565 Fixed error in Profiling Plugin, if given folder path doesn't exist.
  lib/debug/ProfilingPlugin.js
  test/ProfilingPlugin.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#8573 fix when minimizer is fn
  lib/WebpackOptionsApply.js
  test/configCases/optimization/minimizer/index.js
  test/configCases/optimization/minimizer/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8575 add ability to load dependent chunks for non-web targets
  lib/ChunkGraph.js
  lib/JavascriptParser.js
  lib/MainTemplate.js
  lib/RuntimeGlobals.js
  lib/RuntimePlugin.js
  lib/WebpackOptionsApply.js
  lib/node/NodeTemplatePlugin.js
  lib/runtime/EnsureChunkRuntimeModule.js
  lib/runtime/GetChunkFilenameRuntimeModule.js
  lib/runtime/StartupChunkDependenciesPlugin.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/web/JsonpTemplatePlugin.js
  lib/webworker/WebWorkerTemplatePlugin.js
  test/ConfigTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/checkArrayExpectation.js
  test/configCases/filename-template/split-chunks-filename/index.js
  test/configCases/filename-template/split-chunks-filename/webpack.config.js
  test/configCases/split-chunks-common/target-node/index.js
  test/configCases/split-chunks-common/target-node/node_modules/a.js
  test/configCases/split-chunks-common/target-node/node_modules/b.js
  test/configCases/split-chunks-common/target-node/node_modules/c.js
  test/configCases/split-chunks-common/target-node/node_modules/d.js
  test/configCases/split-chunks-common/target-node/test.config.js
  test/configCases/split-chunks-common/target-node/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8576 Refactor provided exports
  declarations.d.ts
  lib/Compilation.js
  lib/Compiler.js
  lib/DelegatedModule.js
  lib/DelegatedPlugin.js
  lib/Dependency.js
  lib/DllReferencePlugin.js
  lib/FlagDependencyExportsPlugin.js
  lib/FunctionModuleTemplatePlugin.js
  lib/JsonGenerator.js
  lib/JsonParser.js
  lib/LibManifestPlugin.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/NormalModule.js
  lib/RuntimeTemplate.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/JsonExportsDependency.js
  lib/dependencies/StaticExportsDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/wasm/WebAssemblyModulesPlugin.js
  lib/wasm/WebAssemblyParser.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/checkArrayExpectation.js
  test/configCases/scope-hoisting/dll-plugin/webpack.config.js
  test/hotCases/recover/recover-after-loader-error/warnings1.js
  test/hotCases/recover/recover-after-parsing-error/warnings1.js
Labels: PR: CI-ok, PR: next, PR: unreviewed
