Repository webpack/webpack, pull requests merged in 2018-02, with the labels that each got.

#6465 Revert "Wrap default entry property in array"
  lib/WebpackOptionsDefaulter.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: small

#6466 fix a crash with buildMeta of null
  lib/RuntimeTemplate.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  test/cases/errors/crash-missing-import/a.js
  test/cases/errors/crash-missing-import/errors.js
  test/cases/errors/crash-missing-import/index.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#6468 fixes #6459
  lib/WebpackOptionsDefaulter.js
  test/cases/mjs/no-module-main-field/index.mjs
  test/cases/mjs/no-module-main-field/node_modules/m/a.js
  test/cases/mjs/no-module-main-field/node_modules/m/a.mjs
  test/cases/mjs/no-module-main-field/node_modules/m/b.js
  test/cases/mjs/no-module-main-field/node_modules/m/b.mjs
  test/cases/mjs/no-module-main-field/node_modules/m/package.json
Labels: PR: CI-ok, PR: next, PR: unreviewed

#6478 fix typo: mergedDuplicateChunks -> mergeDuplicateChunks
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  schemas/WebpackOptions.json
  test/TestCases.test.js
Labels: PR: CI-ok, PR: unreviewed

#6485 Set nodeEnv to default to "production"
  lib/WebpackOptionsDefaulter.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small, milestone locked in, webpack-4

#6487 Added missing Serial Comma to issue template
  .github/ISSUE_TEMPLATE.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6488 chore(docs): Update readme
  README.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6482 Improvement: add schema for profiling plugin options, remove todo item
  lib/debug/ProfilingPlugin.js
  schemas/plugins/debug/ProfilingPlugin.json
  schemas/plugins/optimize/CommonsChunkPlugin.json
  test/ProfilingPlugin.unittest.js
  test/configCases/plugins/profiling-plugin/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#6506 Fix typo
  README.md
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: small

#6503 improve chunk splitting
  lib/WebpackOptionsDefaulter.js
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/statsCases/async-commons-chunk-auto/expected.txt
  test/statsCases/split-chunks-combinations/a.js
  test/statsCases/split-chunks-combinations/b.js
  test/statsCases/split-chunks-combinations/c.js
  test/statsCases/split-chunks-combinations/d.js
  test/statsCases/split-chunks-combinations/e.js
  test/statsCases/split-chunks-combinations/expected.txt
  test/statsCases/split-chunks-combinations/f.js
  test/statsCases/split-chunks-combinations/index.js
  test/statsCases/split-chunks-combinations/webpack.config.js
  test/statsCases/split-chunks-prefer-bigger-splits/a.js
  test/statsCases/split-chunks-prefer-bigger-splits/b.js
  test/statsCases/split-chunks-prefer-bigger-splits/c.js
  test/statsCases/split-chunks-prefer-bigger-splits/d.js
  test/statsCases/split-chunks-prefer-bigger-splits/e.js
  test/statsCases/split-chunks-prefer-bigger-splits/expected.txt
  test/statsCases/split-chunks-prefer-bigger-splits/f.js
  test/statsCases/split-chunks-prefer-bigger-splits/index.js
  test/statsCases/split-chunks-prefer-bigger-splits/webpack.config.js
  test/statsCases/split-chunks/expected.txt
Labels: PR: CI-ok, PR: unreviewed

#6510 improve performance of chunk splitting combinations
  lib/Stats.js
  lib/WebpackOptionsDefaulter.js
  lib/optimize/SplitChunksPlugin.js
  lib/util/SetHelpers.js
  schemas/WebpackOptions.json
  test/statsCases/aggressive-splitting-entry/expected.txt
  test/statsCases/aggressive-splitting-on-demand/expected.txt
  test/statsCases/async-commons-chunk-auto/expected.txt
  test/statsCases/async-commons-chunk/expected.txt
  test/statsCases/limit-chunk-count-plugin/expected.txt
  test/statsCases/module-deduplication/expected.txt
  test/statsCases/optimize-chunks/expected.txt
  test/statsCases/split-chunks-combinations/a.js
  test/statsCases/split-chunks-combinations/b.js
  test/statsCases/split-chunks-combinations/c.js
  test/statsCases/split-chunks-combinations/d.js
  test/statsCases/split-chunks-combinations/e.js
  test/statsCases/split-chunks-combinations/expected.txt
  test/statsCases/split-chunks-combinations/f.js
  test/statsCases/split-chunks-combinations/g.js
  test/statsCases/split-chunks-combinations/index.js
  test/statsCases/split-chunks-combinations/x.js
  test/statsCases/split-chunks-combinations/y.js
  test/statsCases/split-chunks-issue-6413/expected.txt
  test/statsCases/split-chunks-prefer-bigger-splits/expected.txt
  test/statsCases/split-chunks/expected.txt
Labels: PR: CI-ok, PR: unreviewed

#6511 Use non-parallel minimizer for testing to make CI more stable
  test/TestCases.test.js
Labels: PR: CI-ok, PR: unreviewed

#6518 Fix typo and rewrite a sentence
  CONTRIBUTING.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6515 Bugfix #6504: add `original-fs` to externals for electron targets
  lib/WebpackOptionsApply.js
Labels: PR: CI-ok, PR: reviewed-approved

#6512 refactor(es6): multiline string, arr.includes, arrow functions in ./l…
  benchmark/benchmark.js
  benchmark/createFixtures.js
  lib/CachePlugin.js
  lib/CaseSensitiveModulesWarning.js
  lib/Chunk.js
  test/CachePlugin.unittest.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#6470 replace Async with Neo-Async
  examples/build-common.js
  lib/AutomaticPrefetchPlugin.js
  lib/CachePlugin.js
  lib/Compilation.js
  lib/Compiler.js
  lib/ContextModuleFactory.js
  lib/LibManifestPlugin.js
  lib/MultiCompiler.js
  lib/MultiWatching.js
  lib/NormalModuleFactory.js
  package.json
  test/BenchmarkTestCases.benchmark.js
  test/cases/loaders/issue-2299/loader/index.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#6524 Label "send a PR" issues
  open-bot.yaml
Labels: PR: CI-ok, PR: reviewed-approved

#6523 Merge a few PR that were merged to be wrong branch
  README.md
  benchmark/benchmark.js
  benchmark/createFixtures.js
  lib/CachePlugin.js
  lib/CaseSensitiveModulesWarning.js
  lib/Chunk.js
  lib/debug/ProfilingPlugin.js
  schemas/plugins/debug/ProfilingPlugin.json
  schemas/plugins/optimize/CommonsChunkPlugin.json
  test/CachePlugin.unittest.js
  test/ProfilingPlugin.unittest.js
  test/configCases/plugins/profiling-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#6535 Use wasm-dce to tree shake WASM - bump wasm-dce
  package.json
  yarn.lock
Labels: PR: non-master, PR: small, PR: unreviewed

#6541 fix(schemas/plugins): rm unnecessary `id`'s
  schemas/plugins/BannerPlugin.json
  schemas/plugins/DllPlugin.json
  schemas/plugins/DllReferencePlugin.json
  schemas/plugins/HashedModuleIdsPlugin.json
  schemas/plugins/LoaderOptionsPlugin.json
  schemas/plugins/SourceMapDevToolPlugin.json
  schemas/plugins/WatchIgnorePlugin.json
  schemas/plugins/debug/ProfilingPlugin.json
  schemas/plugins/optimize/AggressiveSplittingPlugin.json
  schemas/plugins/optimize/LimitChunkCountPlugin.json
  schemas/plugins/optimize/MinChunkSizePlugin.json
Labels: PR: CI-ok, PR: unreviewed

#6532 allow name: false for splitChunks
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6529 add wasm order test case
  test/cases/wasm/order/a.js
  test/cases/wasm/order/b.js
  test/cases/wasm/order/c.js
  test/cases/wasm/order/index.js
  test/cases/wasm/order/test.filter.js
  test/cases/wasm/order/tracker.js
  test/cases/wasm/order/wasm.wasm
  test/cases/wasm/order/wasm.wat
Labels: PR: CI-ok, PR: reviewed-approved

#6545 chore: bump webassembly-interpreter
  package.json
  yarn.lock
Labels: PR: non-master, PR: small, PR: unreviewed

#6546 only set labels for reviews by users with write permission
  open-bot.yaml
Labels: PR: CI-ok, PR: small, PR: unreviewed

#6554 upgrade versions to stable versions
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: small, PR: unreviewed

#6549 Use MD4 for hashing
  lib/HashedModuleIdsPlugin.js
  lib/ModuleFilenameHelpers.js
  lib/SourceMapDevToolPlugin.js
  lib/WebpackOptionsDefaulter.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/SplitChunksPlugin.js
  test/statsCases/aggressive-splitting-entry/expected.txt
  test/statsCases/aggressive-splitting-on-demand/expected.txt
  test/statsCases/chunks-development/expected.txt
  test/statsCases/chunks/expected.txt
  test/statsCases/color-disabled/expected.txt
  test/statsCases/color-enabled-custom/expected.txt
  test/statsCases/color-enabled/expected.txt
  test/statsCases/commons-chunk-min-size-0/expected.txt
  test/statsCases/commons-chunk-min-size-Infinity/expected.txt
  test/statsCases/commons-plugin-issue-4980/expected.txt
  test/statsCases/define-plugin/expected.txt
  test/statsCases/exclude-with-loader/expected.txt
  test/statsCases/external/expected.txt
  test/statsCases/filter-warnings/expected.txt
  test/statsCases/import-context-filter/expected.txt
  test/statsCases/import-weak/expected.txt
  test/statsCases/limit-chunk-count-plugin/expected.txt
  test/statsCases/max-modules-default/expected.txt
  test/statsCases/max-modules/expected.txt
  test/statsCases/named-chunks-plugin-async/expected.txt
  test/statsCases/named-chunks-plugin/expected.txt
  test/statsCases/no-emit-on-errors-plugin-with-child-error/expected.txt
  test/statsCases/optimize-chunks/expected.txt
  test/statsCases/preset-detailed/expected.txt
  test/statsCases/preset-normal/expected.txt
  test/statsCases/preset-verbose/expected.txt
  test/statsCases/resolve-plugin-context/expected.txt
  test/statsCases/reverse-sort-modules/expected.txt
  test/statsCases/scope-hoisting-bailouts/expected.txt
  test/statsCases/scope-hoisting-multi/expected.txt
  test/statsCases/simple-more-info/expected.txt
  test/statsCases/simple/expected.txt
  test/statsCases/split-chunks/expected.txt
  test/statsCases/tree-shaking/expected.txt
  test/statsCases/warnings-uglifyjs/expected.txt
Labels: PR: CI-ok, PR: unreviewed

#6561 Add a hyperlink to create a new issue
  CONTRIBUTING.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6536 Add support for more complex sideEffects selectors
  lib/optimize/SideEffectsFlagPlugin.js
  package.json
  test/SideEffectsFlagPlugin.unittest.js
  test/configCases/side-effects/side-effects-override/webpack.config.js
  test/configCases/side-effects/side-effects-values/index.js
  test/configCases/side-effects/side-effects-values/node_modules/boolean-value-module/a.js
  test/configCases/side-effects/side-effects-values/node_modules/boolean-value-module/b.js
  test/configCases/side-effects/side-effects-values/node_modules/boolean-value-module/c.js
  test/configCases/side-effects/side-effects-values/node_modules/boolean-value-module/index.js
  test/configCases/side-effects/side-effects-values/node_modules/boolean-value-module/package.json
  test/configCases/side-effects/side-effects-values/node_modules/boolean-value-module/tracker.js
  test/configCases/side-effects/side-effects-values/node_modules/glob-value-module/a.js
  test/configCases/side-effects/side-effects-values/node_modules/glob-value-module/b.js
  test/configCases/side-effects/side-effects-values/node_modules/glob-value-module/index.js
  test/configCases/side-effects/side-effects-values/node_modules/glob-value-module/package.json
  test/configCases/side-effects/side-effects-values/node_modules/glob-value-module/src/a.js
  test/configCases/side-effects/side-effects-values/node_modules/glob-value-module/tracker.js
  test/configCases/side-effects/side-effects-values/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#6551 Fixed template.md and build-common.js
  examples/multiple-entry-points/README.md
  examples/multiple-entry-points/template.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6452 Update parser to support ES 2018
  lib/Parser.js
  test/Parser.unittest.js
  test/cases/parsing/spread/a.js
  test/cases/parsing/spread/index.js
  test/cases/parsing/spread/module.js
  test/cases/parsing/spread/test.filter.js
  test/helpers/supportsSpread.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#6563 optimize performance of assignDepth
  lib/Compilation.js
Labels: PR: unreviewed

#6296 Ensure the HMRPlugin assigns module.hot before NodeStuffPlugin
  lib/HotModuleReplacementPlugin.js
Labels: PR: reviewed-approved, PR: small

#6583 CJS fake namespace object contains exports now
  lib/ContextModule.js
  lib/RuntimeTemplate.js
  test/cases/mjs/non-mjs-namespace-object-lazy/index.js
  test/statsCases/aggressive-splitting-entry/expected.txt
  test/statsCases/import-weak/expected.txt
  test/statsCases/limit-chunk-count-plugin/expected.txt
  test/statsCases/named-chunks-plugin-async/expected.txt
Labels: PR: CI-ok, PR: unreviewed

#6575 Added version to webpack's export property
  lib/webpack.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6588 Fixed Parser so that this Expression can work with ProvidePlugin
  lib/Parser.js
  test/configCases/plugins/provide-plugin/index.js
  test/configCases/plugins/provide-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved
