Repository webpack/webpack, pull requests merged in 2018-04, with the labels that each got.

#6928 Consolidate eslint config
  .eslintrc.js
  buildin/.eslintrc
  hot/.eslintrc
  test/.eslintrc.js
Labels: PR: CI-ok, PR: reviewed-approved

#6952 Use a class for dependency references
  lib/Dependency.js
  lib/dependencies/DelegatedExportsDependency.js
  lib/dependencies/DependencyReference.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/RequireIncludeDependency.js
  lib/dependencies/WebAssemblyImportDependency.js
Labels: PR: CI-ok, PR: reviewed-approved

#6932 Add HarmonyLinkingError class
  lib/HarmonyLinkingError.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  test/cases/compile/error-hide-stack/loader.js
Labels: PR: CI-ok, PR: reviewed-approved

#6930 package-lock.json added to .gitignore
  .gitignore
  .npmrc
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested, PR: small

#6904 avoid walking scopes multiple times for performance reasons
  lib/optimize/ConcatenatedModule.js
  test/cases/scope-hoisting/renaming-4967/file1.js
Labels: PR: CI-ok, PR: reviewed-approved

#6953 Change internal representation of harmony export modes
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
Labels: PR: CI-ok, PR: reviewed-approved

#6951 Use correct function arity
  lib/FunctionModulePlugin.js
  lib/WebpackOptionsApply.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/RequireEnsureDependenciesBlockParserPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#6955 add setup script and update package scripts
  _SETUP.md
  package.json
  setup/setup.js
  test/README.md
Labels: PR: CI-ok, PR: reviewed-approved

#6878 emit correct path when using loader in options
  lib/Stats.js
  test/Stats.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved

#6943 sort child compilations for consitent hash
  lib/Compilation.js
  test/statsCases/aggressive-splitting-on-demand/expected.txt
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#6956 Use a single object shape for dependency exports
  lib/NormalModuleFactory.js
  lib/dependencies/AMDDefineDependencyParserPlugin.js
  lib/dependencies/DelegatedExportsDependency.js
  lib/dependencies/HarmonyExportExpressionDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportSpecifierDependency.js
  lib/dependencies/JsonExportsDependency.js
Labels: PR: CI-ok, PR: reviewed-approved

#6944 align stats string output to max length
  lib/Stats.js
  test/statsCases/aggressive-splitting-entry/expected.txt
  test/statsCases/aggressive-splitting-on-demand/expected.txt
  test/statsCases/async-commons-chunk-auto/expected.txt
  test/statsCases/async-commons-chunk/expected.txt
  test/statsCases/chunks-development/expected.txt
  test/statsCases/chunks/expected.txt
  test/statsCases/circular-correctness/expected.txt
  test/statsCases/color-disabled/expected.txt
  test/statsCases/color-enabled-custom/expected.txt
  test/statsCases/color-enabled/expected.txt
  test/statsCases/commons-chunk-min-size-0/expected.txt
  test/statsCases/commons-chunk-min-size-Infinity/expected.txt
  test/statsCases/commons-plugin-issue-4980/expected.txt
  test/statsCases/concat-and-sideeffects/expected.txt
  test/statsCases/define-plugin/expected.txt
  test/statsCases/exclude-with-loader/expected.txt
  test/statsCases/external/expected.txt
  test/statsCases/graph-correctness-entries/expected.txt
  test/statsCases/graph-correctness-modules/expected.txt
  test/statsCases/import-context-filter/expected.txt
  test/statsCases/import-weak/expected.txt
  test/statsCases/limit-chunk-count-plugin/expected.txt
  test/statsCases/max-modules-default/expected.txt
  test/statsCases/max-modules/expected.txt
  test/statsCases/module-assets/expected.txt
  test/statsCases/module-deduplication-named/expected.txt
  test/statsCases/module-deduplication/expected.txt
  test/statsCases/module-trace-disabled-in-error/expected.txt
  test/statsCases/module-trace-enabled-in-error/expected.txt
  test/statsCases/named-chunks-plugin-async/expected.txt
  test/statsCases/no-emit-on-errors-plugin-with-child-error/expected.txt
  test/statsCases/optimize-chunks/expected.txt
  test/statsCases/parse-error/expected.txt
  test/statsCases/performance-different-mode-and-target/expected.txt
  test/statsCases/performance-disabled/expected.txt
  test/statsCases/performance-error/expected.txt
  test/statsCases/performance-no-async-chunks-shown/expected.txt
  test/statsCases/performance-no-hints/expected.txt
  test/statsCases/performance-oversize-limit-error/expected.txt
  test/statsCases/preset-detailed/expected.txt
  test/statsCases/preset-mixed-array/expected.txt
  test/statsCases/preset-normal-performance-ensure-filter-sourcemaps/expected.txt
  test/statsCases/preset-normal-performance/expected.txt
  test/statsCases/preset-normal/expected.txt
  test/statsCases/preset-verbose/expected.txt
  test/statsCases/resolve-plugin-context/expected.txt
  test/statsCases/reverse-sort-modules/expected.txt
  test/statsCases/scope-hoisting-bailouts/expected.txt
  test/statsCases/scope-hoisting-multi/expected.txt
  test/statsCases/simple-more-info/expected.txt
  test/statsCases/split-chunks-combinations/expected.txt
  test/statsCases/split-chunks-issue-6413/expected.txt
  test/statsCases/split-chunks-issue-6696/expected.txt
  test/statsCases/split-chunks-prefer-bigger-splits/expected.txt
  test/statsCases/split-chunks/expected.txt
  test/statsCases/tree-shaking/expected.txt
  test/statsCases/warnings-uglifyjs/expected.txt
Labels: PR: CI-ok, PR: reviewed-approved

#6986 Pass file name as part of options hash to vm.runInThisContext
  lib/node/NodeMainTemplateAsync.runtime.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6973 #6971: Escape chunk names for webworkers
  lib/webworker/WebWorkerMainTemplatePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6970 Use Oxford comma
  README.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6968 Fix 'this' replacement for harmony modules
  lib/Parser.js
  test/configCases/parsing/harmony-this/abc.js
  test/configCases/parsing/harmony-this/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#6981 Drop core team member
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#6924 Don't error on "new require(...)"
  lib/dependencies/CommonJsRequireDependencyParserPlugin.js
  lib/dependencies/LocalModuleDependency.js
  package.json
  test/cases/parsing/issue-4940/index.js
  test/cases/parsing/issue-4940/non-object-export.js
  test/cases/parsing/issue-4940/object-export.js
  test/cases/parsing/issue-4940/sideEffect.js
Labels: PR: CI-ok, PR: reviewed-approved

#6950 Use add() to append items to activeExports set in HarmonyExportImporedSpecifierDependency
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  test/cases/parsing/harmony-export-import-specifier/a.js
  test/cases/parsing/harmony-export-import-specifier/cjs.js
  test/cases/parsing/harmony-export-import-specifier/index.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested, PR: small

#6491 Excluded root-level files and .github from Istanbul
  .istanbul.yml
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6997 Change stats wording when all exports are used
  lib/Stats.js
  test/statsCases/tree-shaking/expected.txt
Labels: PR: CI-ok, PR: reviewed-approved

#6999 Force LocalModuleDependency arity to 3
  lib/dependencies/AMDDefineDependencyParserPlugin.js
  lib/dependencies/AMDRequireDependenciesBlockParserPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7011 Always return object with the same shape to avoid polymorphism
  lib/Parser.js
  lib/RuleSet.js
  lib/dependencies/getFunctionExpression.js
Labels: PR: CI-ok, PR: reviewed-approved

#7012 Remove unnecessary _this binding
  lib/Compilation.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7013 Simplify cachedMerge
  lib/util/cachedMerge.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7014 Define missing fields on AMD classes
  lib/dependencies/AMDDefineDependency.js
  lib/dependencies/AMDRequireDependenciesBlock.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7015 Avoid deopt when cache is set in EvalSourceMapDevToolModuleTemplatePlugin
  lib/EvalDevToolModuleTemplatePlugin.js
  lib/EvalSourceMapDevToolModuleTemplatePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#6982 JSON and Date API usage fixes
  lib/Stats.js
  lib/WebpackOptionsValidationError.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small, PR: tests-needed

#7020 Avoid type mismatch assignment of number to string in HotModuleReplacementPlugin
  lib/HotModuleReplacementPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6910 Add missing class member initializations found by TypeScript
  lib/Compilation.js
  lib/Compiler.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
Labels: PR: CI-ok, PR: reviewed-approved

#6974 Refactor WebpackError to initialize details as undefined
  lib/WebpackError.js
  test/RemovedPlugins.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested, PR: small

#7019 chore: rm useless checking
  lib/RuntimeTemplate.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6954 Use compilation instead of this in ChunkModuleIdRangePlugin
  lib/optimize/ChunkModuleIdRangePlugin.js
  test/statsCases/chunk-module-id-range/a.js
  test/statsCases/chunk-module-id-range/b.js
  test/statsCases/chunk-module-id-range/c.js
  test/statsCases/chunk-module-id-range/d.js
  test/statsCases/chunk-module-id-range/e.js
  test/statsCases/chunk-module-id-range/expected.txt
  test/statsCases/chunk-module-id-range/f.js
  test/statsCases/chunk-module-id-range/main1.js
  test/statsCases/chunk-module-id-range/main2.js
  test/statsCases/chunk-module-id-range/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7027 fix race condition when using loadModule
  lib/dependencies/LoaderPlugin.js
  lib/util/Semaphore.js
  test/configCases/race-conditions/load-module/index.js
  test/configCases/race-conditions/load-module/loader.js
  test/configCases/race-conditions/load-module/module.js
  test/configCases/race-conditions/load-module/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#6862 Add TypeScript type checking
  declarations.d.ts
  lib/EvalSourceMapDevToolModuleTemplatePlugin.js
  lib/HotModuleReplacement.runtime.js
  lib/HotUpdateChunk.js
  lib/HotUpdateChunkTemplate.js
  lib/Module.js
  lib/NormalModule.js
  lib/RuntimeTemplate.js
  lib/debug/ProfilingPlugin.js
  lib/dependencies/ContextDependency.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/util/SortableSet.js
  lib/util/StackedSetMap.js
  lib/util/objectToMap.js
  package.json
  tsconfig.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7033 Enable some of TypeScript strict options
  tsconfig.json
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7039 Upgrade packages to fix peer dependency warnings
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7049 Fix output.globalObject value in node-webkit
  lib/WebpackOptionsDefaulter.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7048 Move prepareOptions to test helpers
  test/ConfigTestCases.test.js
  test/helpers/prepareOptions.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7059 Fix LoaderPlugin not resolving recursively
  lib/dependencies/LoaderPlugin.js
  test/cases/loaders/issue-4959/a.js
  test/cases/loaders/issue-4959/b.js
  test/cases/loaders/issue-4959/c.js
  test/cases/loaders/issue-4959/index.js
  test/cases/loaders/issue-4959/loaders/index.js
  test/cases/loaders/issue-4959/package.json
Labels: PR: CI-ok, PR: reviewed-approved

#7060 add test case for comments in import()
  test/cases/parsing/comment-in-import/index.js
  test/cases/parsing/comment-in-import/module.js
Labels: PR: CI-ok, PR: small, PR: unreviewed

#6962 hot.accept tap interceptor returns T/F based on the number of args
  lib/HotModuleReplacementPlugin.js
  test/hotCases/define/issue-6962/a.js
  test/hotCases/define/issue-6962/index.js
  test/hotCases/define/issue-6962/module.js
  test/hotCases/define/issue-6962/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6905 SizeFormatHelpers: defend against invalid sizes
  lib/SizeFormatHelpers.js
  test/SizeFormatHelpers.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small, PR: tests-needed

#7063 Clone optimization config in Defaulter
  lib/WebpackOptionsDefaulter.js
  test/cases/chunks/runtime/test.filter.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7091 chore(pkg): update typescript nightly to Version 2.9.0-dev.20180421
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7050 Add Queue typing
  lib/util/Queue.js
Labels: PR: CI-ok, PR: reviewed-approved

#7051 refactor(types): add type comments for util/identifier
  lib/util/identifier.js
Labels: PR: CI-ok, PR: reviewed-approved

#6562 Edit CONTRIBUTING to add help wanted issue labels
  CONTRIBUTING.md
  _SETUP.md
Labels: PR: CI-ok, PR: reviewed-approved

#7115 chore(deps): update typescript nightly
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7034 Add comment directive to disable import parsing
  lib/dependencies/ImportParserPlugin.js
  test/configCases/parsing/import-ignore/index.js
  test/configCases/parsing/import-ignore/other.js
  test/configCases/parsing/import-ignore/other2.js
  test/configCases/parsing/import-ignore/other3.js
  test/configCases/parsing/import-ignore/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7118 docs: add `SECURITY.md`
  SECURITY.md
  package.json
Labels: PR: CI-ok, PR: reviewed-approved

#7129 Upgrade dependencies in range
  declarations.d.ts
  lib/Stats.js
  lib/WebpackOptionsApply.js
  lib/optimize/SplitChunksPlugin.js
  test/Chunk.unittest.js
  test/NullDependency.unittest.js
  test/SourceMapDevToolModuleOptionsPlugin.unittest.js
  yarn.lock
Labels: PR: CI-ok, PR: review-outdated

#7155 Use compile/compileStreaming when importObject is a Promise
  lib/node/ReadFileCompileWasmTemplatePlugin.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/web/FetchCompileWasmTemplatePlugin.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7102 fix bug where sometimes the runtime would not be present on output
  lib/Chunk.js
  lib/optimize/RuntimeChunkPlugin.js
  test/statsCases/runtime-chunk-integration/b.js
  test/statsCases/runtime-chunk-integration/c.js
  test/statsCases/runtime-chunk-integration/d.js
  test/statsCases/runtime-chunk-integration/expected.txt
  test/statsCases/runtime-chunk-integration/f.js
  test/statsCases/runtime-chunk-integration/main1.js
  test/statsCases/runtime-chunk-integration/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7158 chore: bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7147 Invalidate concatenated module on dep change
  lib/optimize/ConcatenatedModule.js
  test/WatchTestCases.test.js
  test/watchCases/scope-hoisting/caching-inner-source/0/index.js
  test/watchCases/scope-hoisting/caching-inner-source/0/inner.js
  test/watchCases/scope-hoisting/caching-inner-source/0/inner1.js
  test/watchCases/scope-hoisting/caching-inner-source/0/inner2.js
  test/watchCases/scope-hoisting/caching-inner-source/0/module.js
  test/watchCases/scope-hoisting/caching-inner-source/1/inner1.js
  test/watchCases/scope-hoisting/caching-inner-source/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7159 Bump upath to version 1.0.5
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: small
