Repository webpack/webpack, pull requests merged in 2018-09, with the labels that each got.

#7961 solving outputing unnecessary spaces
  lib/ProgressPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7955 emit error when splitChunks.name and entrypoint match
  lib/Stats.js
  lib/optimize/SplitChunksPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/split-chunks/entry-point-error/errors.js
  test/configCases/split-chunks/entry-point-error/index.js
  test/configCases/split-chunks/entry-point-error/module.js
  test/configCases/split-chunks/entry-point-error/test.config.js
  test/configCases/split-chunks/entry-point-error/webpack.config.js
  test/statsCases/split-chunks/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7954 add moduleType option to cacheGroup to select by module type
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/configCases/split-chunks/module-type-filter/data.json
  test/configCases/split-chunks/module-type-filter/index.js
  test/configCases/split-chunks/module-type-filter/test.config.js
  test/configCases/split-chunks/module-type-filter/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#7986 rename index/index2 to pre/postOrderIndex
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/ids/ChunkModuleIdRangePlugin.js
  lib/ids/HashedModuleIdsPlugin.js
  lib/ids/NaturalModuleIdsPlugin.js
  lib/ids/OccurrenceModuleIdsPlugin.js
  lib/util/comparators.js
  test/configCases/chunk-index/order-multiple-entries/webpack.config.js
  test/statsCases/chunk-module-id-range/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7995 refactor chunk id plugins
  lib/AsyncDependenciesBlock.js
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/NamedChunksPlugin.js
  lib/ProgressPlugin.js
  lib/RecordIdsPlugin.js
  lib/Stats.js
  lib/TemplatedPathPlugin.js
  lib/WebpackOptionsApply.js
  lib/ids/NamedChunkIdsPlugin.js
  lib/ids/NaturalChunkIdsPlugin.js
  lib/ids/NaturalModuleIdsPlugin.js
  lib/ids/OccurrenceChunkIdsPlugin.js
  lib/ids/OccurrenceModuleIdsPlugin.js
  lib/ids/assignAscendingChunkIds.js
  lib/ids/assignAscendingModuleIds.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/optimize/NaturalChunkOrderPlugin.js
  lib/optimize/OccurrenceChunkOrderPlugin.js
  lib/util/comparators.js
  lib/webpack.js
  schemas/plugins/ids/OccurrenceChunkIdsPlugin.json
  schemas/plugins/ids/OccurrenceModuleIdsPlugin.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/async-commons-chunk/existing-name/webpack.config.js
  test/statsCases/named-chunks-plugin-async/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8001 Fix exit code when multiple CLIs are installed
  bin/webpack.js
Labels: PR: CI-ok, PR: unreviewed

#8003 Refactor/compilation sets
  lib/AutomaticPrefetchPlugin.js
  lib/Compilation.js
  lib/Compiler.js
  lib/HotModuleReplacementPlugin.js
  lib/LibManifestPlugin.js
  lib/RecordIdsPlugin.js
  lib/Stats.js
  lib/ids/ChunkModuleIdRangePlugin.js
  lib/optimize/AggressiveMergingPlugin.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/optimize/FlagIncludedChunksPlugin.js
  lib/optimize/LimitChunkCountPlugin.js
  lib/optimize/MergeDuplicateChunksPlugin.js
  lib/optimize/MinChunkSizePlugin.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/optimize/RemoveEmptyChunksPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/performance/SizeLimitsPlugin.js
  lib/util/SetHelpers.js
  lib/util/comparators.js
  lib/util/deprecation.js
  package.json
  test/Stats.unittest.js
  test/__snapshots__/ConfigTestCases.test.js.snap
  test/configCases/chunk-index/order-multiple-entries/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7966 refactor: remove `webpack-command` from CLIs
  bin/webpack.js
Labels: PR: CI-ok, PR: reviewed-approved

#7816 Move HMR hotBoostrap hook
  lib/HotModuleReplacementPlugin.js
  lib/MainTemplate.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/node/NodeMainTemplatePlugin.js
  lib/web/JsonpMainTemplatePlugin.js
  lib/webworker/WebWorkerMainTemplatePlugin.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#7732 bump webassemblyjs
  lib/wasm/WebAssemblyGenerator.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#8015 Upgrade tapable version
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8016 make deprecations less noisy
  lib/util/deprecation.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8017 Refactor compilation
  lib/CaseSensitiveModulesWarning.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DllModule.js
  lib/ExternalModule.js
  lib/Module.js
  lib/ModuleNotFoundError.js
  lib/ModuleProfile.js
  lib/NormalModule.js
  lib/RawModule.js
  lib/Stats.js
  lib/WebpackError.js
  lib/dependencies/LoaderPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/util/AsyncQueue.js
  lib/util/comparators.js
  lib/wasm/WasmFinalizeExportsPlugin.js
  test/Errors.test.js
  test/NormalModule.unittest.js
  test/RawModule.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/mjs/cjs-import-default/errors.js
  test/cases/parsing/harmony-info/warnings.js
  test/cases/parsing/unsupported-amd/errors.js
  test/checkArrayExpectation.js
  test/configCases/errors/entry-not-found/errors.js
  test/statsCases/module-trace-disabled-in-error/index.js
  test/statsCases/module-trace-disabled-in-error/inner.js
  test/statsCases/module-trace-disabled-in-error/not-existing.js
  test/statsCases/module-trace-disabled-in-error/parse-error.js
  test/statsCases/module-trace-enabled-in-error/index.js
  test/statsCases/module-trace-enabled-in-error/inner.js
  test/statsCases/module-trace-enabled-in-error/not-existing.js
  test/statsCases/module-trace-enabled-in-error/parse-error.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8012 Add azure pipeline
  azure-pipelines.yml
Labels: PR: CI-ok, PR: unreviewed

#8018 add windows to the azure pipeline
  azure-pipelines.yml
  test/statsCases/define-plugin/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#8022 docs(readme.styling): write correctly sass
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#8029 hash content of bootstrap code
  lib/ChunkTemplate.js
  lib/Compilation.js
  lib/JavascriptModulesPlugin.js
  lib/MainTemplate.js
  lib/node/NodeMainTemplatePlugin.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/web/JsonpMainTemplatePlugin.js
  lib/webworker/WebWorkerMainTemplatePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#8035 fix(nodemaintemplate): resolve async chunk path platform agnostic
  lib/node/NodeMainTemplatePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#7947 Add sourcemap support for .mjs output files
  lib/SourceMapDevToolPlugin.js
  test/ConfigTestCases.test.js
  test/configCases/source-map/default-filename-extensions-css/index.js
  test/configCases/source-map/default-filename-extensions-css/test.js
  test/configCases/source-map/default-filename-extensions-css/webpack.config.js
  test/configCases/source-map/default-filename-extensions-js/index.js
  test/configCases/source-map/default-filename-extensions-js/test.js
  test/configCases/source-map/default-filename-extensions-js/webpack.config.js
  test/configCases/source-map/default-filename-extensions-mjs/index.js
  test/configCases/source-map/default-filename-extensions-mjs/test.js
  test/configCases/source-map/default-filename-extensions-mjs/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#8038 Correctly set the 'browser' value for electron-renderer
  lib/WebpackOptionsDefaulter.js
Labels: PR: CI-ok, PR: reviewed-approved

#8042 keep/restore comments in export default
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyExportExpressionDependency.js
  test/configCases/code-generation/harmony-pure-default/index.js
  test/configCases/code-generation/harmony-pure-default/module1.js
  test/configCases/code-generation/harmony-pure-default/module2.js
  test/configCases/code-generation/harmony-pure-default/module3.js
  test/configCases/code-generation/harmony-pure-default/module4.js
  test/configCases/code-generation/harmony-pure-default/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#8043 Allow array as value in externals object
  lib/ExternalModule.js
  schemas/WebpackOptions.json
  test/ExternalModule.unittest.js
  test/configCases/externals/externals-array/index.js
  test/configCases/externals/externals-array/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#8047 Some random types
  declarations.d.ts
  lib/Chunk.js
  lib/HotUpdateChunk.js
  lib/Module.js
  lib/Template.js
  lib/dependencies/WebAssemblyImportDependency.js
Labels: PR: CI-ok, PR: reviewed-approved

#8044 add moduleIds deterministic for simpler long term caching
  lib/WebpackOptionsApply.js
  lib/ids/DeterministicModuleIdsPlugin.js
  lib/webpack.js
  schemas/WebpackOptions.json
  test/TestCasesDevtoolEvalDeterministicModuleIds.test.js
  test/configCases/hash-length/deterministic-module-ids/files/file1.js
  test/configCases/hash-length/deterministic-module-ids/files/file10.js
  test/configCases/hash-length/deterministic-module-ids/files/file11.js
  test/configCases/hash-length/deterministic-module-ids/files/file12.js
  test/configCases/hash-length/deterministic-module-ids/files/file13.js
  test/configCases/hash-length/deterministic-module-ids/files/file14.js
  test/configCases/hash-length/deterministic-module-ids/files/file15.js
  test/configCases/hash-length/deterministic-module-ids/files/file2.js
  test/configCases/hash-length/deterministic-module-ids/files/file3.js
  test/configCases/hash-length/deterministic-module-ids/files/file4.js
  test/configCases/hash-length/deterministic-module-ids/files/file5.js
  test/configCases/hash-length/deterministic-module-ids/files/file6.js
  test/configCases/hash-length/deterministic-module-ids/files/file7.js
  test/configCases/hash-length/deterministic-module-ids/files/file8.js
  test/configCases/hash-length/deterministic-module-ids/files/file9.js
  test/configCases/hash-length/deterministic-module-ids/index.js
  test/configCases/hash-length/deterministic-module-ids/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8051 bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, Web Assembly

#8059 upgrade webpack-sources
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#8058 Fix handling of non-zero exit codes in azure
  azure-pipelines.yml
Labels: PR: CI-ok, PR: reviewed-approved

#8063 Add a status badge for the azure pipelines CI build
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#8064 bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8065 Reduce the appveyor CI tasks
  appveyor.yml
Labels: PR: CI-ok, PR: unreviewed

#8067 Partial cherry-pick of #7232
  package.json
  schemas/WebpackOptions.json
  schemas/plugins/BannerPlugin.json
  schemas/plugins/DllPlugin.json
  schemas/plugins/DllReferencePlugin.json
  schemas/plugins/HashedModuleIdsPlugin.json
  schemas/plugins/IgnorePlugin.json
  schemas/plugins/LoaderOptionsPlugin.json
  schemas/plugins/SourceMapDevToolPlugin.json
  schemas/plugins/WatchIgnorePlugin.json
  schemas/plugins/debug/ProfilingPlugin.json
  schemas/plugins/ids/OccurrenceChunkIdsPlugin.json
  schemas/plugins/ids/OccurrenceModuleIdsPlugin.json
  schemas/plugins/optimize/AggressiveSplittingPlugin.json
  schemas/plugins/optimize/LimitChunkCountPlugin.json
  schemas/plugins/optimize/MinChunkSizePlugin.json
  test/Schemas.lint.js
  test/Validation.test.js
  tooling/format-schemas.js
  tooling/inherit-types.js
Labels: PR: CI-not-ok, PR: next, PR: unreviewed

#8068 move json-schema-to-typescript to devDependencies
  package.json
Labels: PR: CI-not-ok, PR: unreviewed

#8071 Fix typo
  lib/dependencies/ImportParserPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#8070 Uncaught exception from renderers
  lib/Compilation.js
  test/configCases/errors/exception-in-chunk-renderer/errors.js
  test/configCases/errors/exception-in-chunk-renderer/index.js
  test/configCases/errors/exception-in-chunk-renderer/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#8086 fixes #8085
  lib/optimize/ConcatenatedModule.js
  test/configCases/scope-hoisting/harmony-pure-default/index.js
  test/configCases/scope-hoisting/harmony-pure-default/module1.js
  test/configCases/scope-hoisting/harmony-pure-default/module2.js
  test/configCases/scope-hoisting/harmony-pure-default/module3.js
  test/configCases/scope-hoisting/harmony-pure-default/module4.js
  test/configCases/scope-hoisting/harmony-pure-default/webpack.config.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#8094 Fix the "should name define" test in configCases/target/amd-unnamed
  test/configCases/target/amd-unnamed/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#8097 add integrity to lockfile (yarn version update)
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8098 add integrity to lockfile (yarn version update)
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8093 Add "amd-require" libraryTarget, resulting in a require() wrapper
  declarations/WebpackOptions.d.ts
  declarations/plugins/DllReferencePlugin.d.ts
  lib/AmdMainTemplatePlugin.js
  lib/ExternalModule.js
  lib/LibraryTemplatePlugin.js
  schemas/WebpackOptions.json
  schemas/plugins/DllReferencePlugin.json
  test/configCases/target/amd-require/index.js
  test/configCases/target/amd-require/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#8106 Fix 'contains' typo in error string.
  schemas/ajv.absolutePath.js
  test/Validation.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#8102 remove parserScope
  lib/dependencies/HarmonyAcceptImportDependency.js
  lib/dependencies/HarmonyDetectionParserPlugin.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportSideEffectDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
Labels: PR: CI-ok, PR: next, PR: unreviewed
