Repository webpack/webpack, pull requests merged in 2018-06, with the labels that each got.

#7463 bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#7460 Remove dead test file
  test/hotCases/harmony/auto-import-default/out/bundle.js
Labels: PR: CI-ok, PR: reviewed-approved

#7467 handle reexported wasm globals
  declarations.d.ts
  lib/dependencies/WebAssemblyExportImportedDependency.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/wasm/WebAssemblyModulesPlugin.js
  lib/wasm/WebAssemblyParser.js
  test/cases/wasm/export-imported-global/env.js
  test/cases/wasm/export-imported-global/index.js
  test/cases/wasm/export-imported-global/module.js
  test/cases/wasm/export-imported-global/module.wat
  test/cases/wasm/export-imported-global/test.filter.js
Labels: PR: CI-ok, PR: unreviewed

#7466 wasm: keep imports
  lib/wasm/WebAssemblyGenerator.js
Labels: PR: CI-ok, PR: reviewed-approved

#7472 Cleanup error location and origin information
  lib/AsyncDependencyToInitialChunkError.js
  lib/CaseSensitiveModulesWarning.js
  lib/Compilation.js
  lib/EntryModuleNotFoundError.js
  lib/HarmonyLinkingError.js
  lib/ModuleBuildError.js
  lib/ModuleDependencyError.js
  lib/ModuleDependencyWarning.js
  lib/ModuleError.js
  lib/ModuleNotFoundError.js
  lib/ModuleParseError.js
  lib/ModuleWarning.js
  lib/ParserHelpers.js
  lib/RemovedPluginError.js
  lib/Stats.js
  lib/UnsupportedFeatureWarning.js
  lib/WebpackOptionsValidationError.js
  lib/dependencies/AMDRequireDependenciesBlockParserPlugin.js
  lib/dependencies/ImportParserPlugin.js
  lib/dependencies/SystemPlugin.js
  lib/performance/AssetsOverSizeLimitWarning.js
  lib/performance/EntrypointsOverSizeLimitWarning.js
  lib/performance/NoAsyncChunksWarning.js
  lib/wasm/UnsupportedWebAssemblyFeatureError.js
  test/ModuleDependencyError.unittest.js
  test/Stats.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/parsing/issue-2942/warnings.js
Labels: PR: CI-ok, PR: unreviewed

#7409 Issue #7395: webpack import options comments warning propagation update
  lib/CommentCompilationWarning.js
  lib/Parser.js
  lib/dependencies/ImportParserPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/import-with-invalid-options-comments/chunk-a.js
  test/statsCases/import-with-invalid-options-comments/chunk-b.js
  test/statsCases/import-with-invalid-options-comments/chunk-c.js
  test/statsCases/import-with-invalid-options-comments/chunk-d.js
  test/statsCases/import-with-invalid-options-comments/chunk.js
  test/statsCases/import-with-invalid-options-comments/index.js
  test/statsCases/import-with-invalid-options-comments/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7471 Add a test case about nodeEnv
  lib/WebpackOptionsDefaulter.js
  test/configCases/issues/issue-7470/index.js
  test/configCases/issues/issue-7470/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7462 Add matchResource feature (for loaders)
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/RequestShortener.js
  lib/RuleSet.js
  test/NormalModule.unittest.js
  test/cases/wasm/two-files-loader/index.js
  test/cases/wasm/two-files-loader/src/wasm.dat
  test/cases/wasm/two-files-loader/test.filter.js
  test/cases/wasm/two-files-loader/wrapper-loader.js
  test/cases/wasm/two-files-loader/wrapper-loader2.js
Labels: PR: CI-ok, PR: unreviewed

#7444 Prefetch and preload from entry chunk.
  lib/Chunk.js
  lib/web/JsonpChunkTemplatePlugin.js
  lib/web/JsonpMainTemplatePlugin.js
  test/ConfigTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/split-chunks/runtime-chunk/a.js
  test/configCases/web/prefetch-preload/chunk2.js
  test/configCases/web/prefetch-preload/index.js
  test/helpers/FakeDocument.js
Labels: PR: CI-ok, PR: reviewed-approved

#7447 wasm: finalizer for checking exports
  declarations.d.ts
  lib/ModuleDependencyError.js
  lib/ModuleDependencyWarning.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/dependencies/WebAssemblyImportDependency.js
  lib/wasm/WasmFinalizeExportsPlugin.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyParser.js
  package.json
  schemas/WebpackOptions.json
  test/cases/wasm/js-incompatible-type/env.js
  test/cases/wasm/js-incompatible-type/errors.js
  test/cases/wasm/js-incompatible-type/export-i64-param.js
  test/cases/wasm/js-incompatible-type/export-i64-param.wat
  test/cases/wasm/js-incompatible-type/export-i64-result.js
  test/cases/wasm/js-incompatible-type/export-i64-result.wat
  test/cases/wasm/js-incompatible-type/import-i64.wat
  test/cases/wasm/js-incompatible-type/index.js
  test/cases/wasm/js-incompatible-type/test.filter.js
Labels: PR: CI-ok, PR: review-outdated

#7476 Fix template tag syntax
  lib/Chunk.js
  lib/ChunkGroup.js
Labels: PR: CI-ok, PR: reviewed-approved

#7478 Ensure `require` is truthy
  test/cases/parsing/issue-5889/index.js
  test/cases/parsing/issue-5889/module.js
Labels: PR: CI-ok, PR: unreviewed

#7479 Ensure static and dynamic imports use the same binding
  test/cases/chunks/issue-5153/index.js
  test/cases/chunks/issue-5153/module.js
Labels: PR: CI-ok, PR: unreviewed

#7487 allow to disable wasm import mangle
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/node/ReadFileCompileWasmTemplatePlugin.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyModulesPlugin.js
  lib/wasm/WebAssemblyUtils.js
  lib/web/FetchCompileWasmTemplatePlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#7490 wasm some cleanups
  declarations.d.ts
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyParser.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7345 Fixing grammar issues in webpack example #6906
  examples/dll-app-and-vendor/0-vendor/README.md
  examples/dll-app-and-vendor/0-vendor/template.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested, PR: small

#6542 Add loader name to error message. Resolves #2878
  lib/ModuleBuildError.js
  lib/ModuleError.js
  lib/ModuleWarning.js
  lib/NormalModule.js
  test/Errors.test.js
  test/cases/compile/error-hide-stack/errors.js
  test/cases/loaders/no-string/errors.js
  test/cases/loaders/no-string/file.js
  test/cases/loaders/no-string/index.js
  test/cases/loaders/no-string/loader.js
  test/cases/loaders/no-string/pitch-loader.js
  test/fixtures/errors/async-error-loader.js
  test/fixtures/errors/emit-error-loader.js
  test/fixtures/errors/entry-point-error-loader-required.js
  test/fixtures/errors/irregular-error-loader.js
  test/fixtures/errors/no-return-loader.js
  test/fixtures/errors/not-a-json.js
  test/fixtures/errors/throw-error-loader.js
Labels: PR: CI-ok, PR: reviewed-approved

#7473 Add support for ECMAScript 2019
  lib/Parser.js
  package.json
  test/Parser.unittest.js
  test/cases/parsing/optional-catch-binding/index.js
  test/cases/parsing/optional-catch-binding/module.js
  test/cases/parsing/optional-catch-binding/test.filter.js
  test/helpers/supportsOptionalCatchBinding.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7496 change variable defined identifier let to const
  lib/WebpackOptionsApply.js
Labels: PR: CI-ok, PR: reviewed-approved

#7498 add parents correctly when creating namespace objects
  lib/HotModuleReplacement.runtime.js
  test/hotCases/runtime/bubble-async/file.js
  test/hotCases/runtime/bubble-async/index.js
  test/hotCases/runtime/bubble-async/parent-file.js
Labels: PR: CI-ok, PR: reviewed-approved

#7501 chore: bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7489 Update "chrome-trace-event" package and remove types
  declarations.d.ts
  lib/debug/ProfilingPlugin.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7407 Refactor JsonpMainTemplatePlugin
  lib/web/JsonpMainTemplatePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#7557 Update bug report issue template
  .github/ISSUE_TEMPLATE/Bug_report.md
Labels: PR: CI-ok, PR: reviewed-approved

#7561 improve error message for circular reexports
  lib/optimize/ConcatenatedModule.js
  test/configCases/errors/self-reexport/a.js
  test/configCases/errors/self-reexport/aa.js
  test/configCases/errors/self-reexport/b.js
  test/configCases/errors/self-reexport/bb.js
  test/configCases/errors/self-reexport/c1.js
  test/configCases/errors/self-reexport/c2.js
  test/configCases/errors/self-reexport/cc.js
  test/configCases/errors/self-reexport/errors.js
  test/configCases/errors/self-reexport/index.js
  test/configCases/errors/self-reexport/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7558 fixes #7499
  lib/optimize/SplitChunksPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/async-commons-chunk/existing-name/index.js
  test/configCases/split-chunks/incorrect-chunk-reuse/a.js
  test/configCases/split-chunks/incorrect-chunk-reuse/b.js
  test/configCases/split-chunks/incorrect-chunk-reuse/c.js
  test/configCases/split-chunks/incorrect-chunk-reuse/index.js
  test/configCases/split-chunks/incorrect-chunk-reuse/webpack.config.js
  test/configCases/split-chunks/incorrect-chunk-reuse/x/1.js
  test/configCases/split-chunks/incorrect-chunk-reuse/y/1.js
  test/configCases/split-chunks/incorrect-chunk-reuse/y/2.js
  test/configCases/split-chunks/incorrect-chunk-reuse/y/3.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#7544 CompatabilityPlugin typings added
  lib/CompatibilityPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7522 chore(benchmark): add folder to ESLint
  .prettierignore
  benchmark/benchmark.js
  benchmark/createBenchmark.js
  benchmark/createBenchmark/entry.js
  benchmark/createBenchmark/loadLoader.js
  benchmark/createFixtures.js
  benchmark/createFixtures2.js
  benchmark/createTestCases.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7507 add order to dependency reference
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DependenciesBlock.js
  lib/Dependency.js
  lib/FlagDependencyUsagePlugin.js
  lib/dependencies/DependencyReference.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  test/cases/scope-hoisting/order-without-side-effects/a.js
  test/cases/scope-hoisting/order-without-side-effects/b.js
  test/cases/scope-hoisting/order-without-side-effects/index.js
  test/cases/scope-hoisting/order-without-side-effects/package.json
  test/cases/scope-hoisting/order-without-side-effects/tracker.js
Labels: PR: CI-ok, PR: unreviewed

#7560 add test case for #7533
  test/Compiler.test.js
  test/fixtures/count-loader.js
Labels: PR: CI-ok, PR: unreviewed

#6371 Lint JS files before committing them
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: review-outdated

#7567 chore(types): UseStrictPlugin
  lib/UseStrictPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#7531 AutomaticPrefetchPlugin typings
  lib/AutomaticPrefetchPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7532 CommentCompilationWarning typings
  lib/CommentCompilationWarning.js
  lib/Dependency.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7582 Remove dead links from /examples README.md.
  examples/README.md
Labels: PR: CI-ok, PR: reviewed-approved

#7581 Implement all path variables for webworker dynamic imports
  lib/webworker/WebWorkerMainTemplatePlugin.js
  test/configCases/issues/issue-7563/index.js
  test/configCases/issues/issue-7563/one.js
  test/configCases/issues/issue-7563/test.config.js
  test/configCases/issues/issue-7563/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7586 Fix race condition in profiling plugin.
  lib/debug/ProfilingPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#7590 Don't crash on json parse error with HMR
  lib/JsonGenerator.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  test/HotTestCases.test.js
  test/hotCases/fake-update-loader.js
  test/hotCases/json/error-in-json/data.json
  test/hotCases/json/error-in-json/errors.js
  test/hotCases/json/error-in-json/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#7120 Fix - Exits abruptly when invalid JSON
  lib/JsonGenerator.js
Labels: PR: CI-ok, PR: reviewed-changes-requested, PR: small, PR: tests-needed

#7595 Remove CircleCI
  circle.yml
  package.json
Labels: PR: CI-ok, PR: reviewed-approved

#7600 fixes #7499
  lib/optimize/ConcatenatedModule.js
  test/cases/side-effects/missing-module-7499/example/constants.js
  test/cases/side-effects/missing-module-7499/example/index.js
  test/cases/side-effects/missing-module-7499/example/package.json
  test/cases/side-effects/missing-module-7499/index.js
  test/cases/side-effects/missing-module-7499/lazy.js
Labels: PR: CI-ok, PR: unreviewed

#7574 chore(types): IgnorePlugin
  lib/IgnorePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7599 chore(SplitChunksPlugin): update defaults
  lib/WebpackOptionsDefaulter.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7601 fixes #7577
  lib/web/JsonpChunkTemplatePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/issue-7577/a.js
  test/statsCases/issue-7577/b.js
  test/statsCases/issue-7577/c.js
  test/statsCases/issue-7577/node_modules/vendor.js
  test/statsCases/issue-7577/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7598 Remove deprecated APIs
  lib/AsyncDependenciesBlock.js
  lib/Chunk.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/Module.js
  lib/Parser.js
  lib/RemovedPluginError.js
  lib/dependencies/ContextDependency.js
  lib/util/StackedSetMap.js
  lib/webpack.js
  test/Chunk.unittest.js
  test/RemovedPlugins.unittest.js
  test/__snapshots__/RemovedPlugins.unittest.js.snap
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, webpack-5

#7593 Drop node 6
  .travis.yml
  appveyor.yml
  circle.yml
  package.json
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, webpack-5

#7611 Do not set nodeEnv when 'mode=none'
  lib/WebpackOptionsDefaulter.js
  test/configCases/issues/issue-7470/index.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7609 Decrease time until bot closes issues to 3 months
  open-bot.yaml
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7612 Remove useless checks on ChunkGroup
  lib/Chunk.js
  lib/ChunkGroup.js
  lib/Compilation.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7597 Disable legacy plugins
  lib/RequireJsStuffPlugin.js
  lib/dependencies/SystemPlugin.js
  test/cases/parsing/typeof/index.js
  test/configCases/parsing/issue-2942/index.js
  test/configCases/parsing/issue-2942/warnings.js
  test/configCases/parsing/issue-2942/webpack.config.js
  test/configCases/parsing/requirejs/file.js
  test/configCases/parsing/requirejs/index.js
  test/configCases/parsing/requirejs/webpack.config.js
  test/configCases/parsing/system.import/index.js
  test/configCases/parsing/system.import/warnings.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, webpack-5

#7534 require() webpack-cli/webpack-command's bin module
  bin/webpack.js
Labels: PR: CI-ok, PR: reviewed-approved

#7603 add per chunk index and index2
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/util/Queue.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/chunk-index/order-multiple-entries/a.js
  test/configCases/chunk-index/order-multiple-entries/async.js
  test/configCases/chunk-index/order-multiple-entries/b.js
  test/configCases/chunk-index/order-multiple-entries/c.js
  test/configCases/chunk-index/order-multiple-entries/entry1.js
  test/configCases/chunk-index/order-multiple-entries/entry2.js
  test/configCases/chunk-index/order-multiple-entries/shared.js
  test/configCases/chunk-index/order-multiple-entries/test.config.js
  test/configCases/chunk-index/order-multiple-entries/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#7401 Fix: entrypoints use filename when runtimeChunk is used
  lib/JavascriptModulesPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/runtime-chunk-single/webpack.config.js
Labels: PR: next, PR: unreviewed

#7604 chore(pgk): add update-snapshot script for all tests
  _SETUP.md
  package.json
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#7399 feat: implement option for `HashedModuleIdes` plugin
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  schemas/WebpackOptions.json
  test/TestCases.template.js
  test/configCases/optimization/hashed-module-ids/files/file1.js
  test/configCases/optimization/hashed-module-ids/files/file2.js
  test/configCases/optimization/hashed-module-ids/files/file3.js
  test/configCases/optimization/hashed-module-ids/files/file4.js
  test/configCases/optimization/hashed-module-ids/files/file5.js
  test/configCases/optimization/hashed-module-ids/index.js
  test/configCases/optimization/hashed-module-ids/webpack.config.js
  test/configCases/optimization/named-modules/files/file1.js
  test/configCases/optimization/named-modules/files/file2.js
  test/configCases/optimization/named-modules/files/file3.js
  test/configCases/optimization/named-modules/files/file4.js
  test/configCases/optimization/named-modules/files/file5.js
  test/configCases/optimization/named-modules/index.js
  test/configCases/optimization/named-modules/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#6346 Simplify check hasDependencies and add unit tests
  lib/DependenciesBlockVariable.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7017 Add script src origin check to ensure crossorigin attribute is only set when needed
  lib/web/JsonpMainTemplatePlugin.js
  test/ConfigTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/crossorigin/set-crossorigin/empty.js
  test/configCases/crossorigin/set-crossorigin/index.js
  test/configCases/crossorigin/set-crossorigin/webpack.config.js
  test/configCases/split-chunks/runtime-chunk/a.js
  test/configCases/web/prefetch-preload/index.js
  test/helpers/FakeDocument.js
Labels: PR: CI-ok, PR: reviewed-approved

#6793 DefinePlugin: add ability to use function return values
  lib/DefinePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/define-plugin/123.txt
  test/statsCases/define-plugin/321.txt
  test/statsCases/define-plugin/webpack.config.js
  test/watchCases/plugins/define-plugin/0/index.js
  test/watchCases/plugins/define-plugin/0/module.js
  test/watchCases/plugins/define-plugin/0/module2.js
  test/watchCases/plugins/define-plugin/0/value.txt
  test/watchCases/plugins/define-plugin/1/value.txt
  test/watchCases/plugins/define-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#6906 Fixing grammar issues in webpack example
  examples/dll-app-and-vendor/0-vendor/README.md
  examples/dll-app-and-vendor/0-vendor/template.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested, PR: small

#7621 upgrade enhanced-resolve
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#7625 allow emitting to the same filename when hash matches
  lib/Compilation.js
  test/configCases/wasm/identical/index.js
  test/configCases/wasm/identical/module.js
  test/configCases/wasm/identical/test.filter.js
  test/configCases/wasm/identical/wasm.wat
  test/configCases/wasm/identical/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#7585 hook into dependency reference
  lib/Compilation.js
  lib/FlagDependencyUsagePlugin.js
  lib/RuntimeTemplate.js
  lib/dependencies/DependencyReference.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/wasm/WasmFinalizeExportsPlugin.js
  lib/webpack.js
  test/configCases/deep-scope-analysis/remove-export-scope-hoisting/index.js
  test/configCases/deep-scope-analysis/remove-export-scope-hoisting/module.js
  test/configCases/deep-scope-analysis/remove-export-scope-hoisting/reference.js
  test/configCases/deep-scope-analysis/remove-export-scope-hoisting/webpack.config.js
  test/configCases/deep-scope-analysis/remove-export/index.js
  test/configCases/deep-scope-analysis/remove-export/module.js
  test/configCases/deep-scope-analysis/remove-export/reference.js
  test/configCases/deep-scope-analysis/remove-export/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7626 arrow functions, remove or improve eslint-disable comments
  bin/webpack.js
  lib/Chunk.js
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/ExtendedAPIPlugin.js
  lib/ExternalModuleFactoryPlugin.js
  lib/HotModuleReplacement.runtime.js
  lib/RuleSet.js
  lib/Stats.js
  lib/UmdMainTemplatePlugin.js
  lib/WebpackOptionsValidationError.js
  lib/debug/ProfilingPlugin.js
  lib/dependencies/AMDDefineDependencyParserPlugin.js
  lib/dependencies/AMDRequireDependenciesBlockParserPlugin.js
  lib/node/NodeMainTemplateAsync.runtime.js
  lib/util/SetHelpers.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyGenerator.js
  lib/webpack.web.js
Labels: PR: CI-ok, PR: unreviewed
