Repository webpack/webpack, pull requests merged in 2018-05, with the labels that each got.

#7160 Test with node.js 10
  .travis.yml
Labels: PR: CI-ok, PR: small, PR: unreviewed

#7163 disable gcov generation as it loops in the symlinks
  .travis.yml
  appveyor.yml
Labels: PR: CI-ok, PR: small, PR: unreviewed

#7137 Performance improvements
  lib/Compilation.js
  lib/HotModuleReplacementPlugin.js
  lib/WebpackOptionsDefaulter.js
  lib/optimize/FlagIncludedChunksPlugin.js
  lib/optimize/RemoveEmptyChunksPlugin.js
  lib/optimize/RemoveParentModulesPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/util/SortableSet.js
Labels: PR: CI-ok, PR: unreviewed

#7133 chore(types): add type support for SetHelpers
  lib/util/SetHelpers.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7166 CI fixes
  .travis.yml
  appveyor.yml
Labels: PR: CI-ok, PR: small, PR: unreviewed

#7171 add test case to verify that webpack/webpack-dev-server#1376 is fixed
  test/WatchTestCases.test.js
  test/watchCases/wasm/caching/0/index.js
  test/watchCases/wasm/caching/0/module.js
  test/watchCases/wasm/caching/0/wasm.wasm
  test/watchCases/wasm/caching/1/wasm.wasm
  test/watchCases/wasm/caching/2/module.js
  test/watchCases/wasm/caching/test.filter.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7119 types(entrypoint): add typeing support for Entrypoint
  lib/Entrypoint.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7165 improve NormalModule performance
  lib/NormalModule.js
  test/NormalModule.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#7189 chore(deps): upgrade TS nightly, fixes from microsoft/typescript#23715
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7116 Feature/main template type support
  lib/ChunkTemplate.js
  lib/MainTemplate.js
  lib/Module.js
  lib/Template.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7031 feat(chunk): add chunk typing support
  lib/Chunk.js
  lib/util/SortableSet.js
Labels: PR: CI-ok, PR: review-outdated, PR: types

#7169 also run node.js 6 CI in worker pool
  .travis.yml
  appveyor.yml
Labels: PR: CI-not-ok, PR: small, PR: unreviewed

#7198 add forceExit to jest config
  package.json
Labels: PR: CI-ok, PR: small, PR: unreviewed

#7201 avoid injection jsonpScriptSrc function when not needed
  lib/web/JsonpMainTemplatePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/split-chunks/runtime-chunk-no-async/index.js
  test/configCases/split-chunks/runtime-chunk-no-async/test.config.js
  test/configCases/split-chunks/runtime-chunk-no-async/webpack.config.js
Labels: PR: CI-ok, PR: review-outdated

#7195 chore(types): add types to GraphHelpers
  lib/DependenciesBlock.js
  lib/GraphHelpers.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7206 Few wasm fixes
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  package.json
  test/cases/wasm/decoding/index.js
  test/cases/wasm/table/index.js
  yarn.lock
Labels: PR: non-master, PR: reviewed-approved

#7178 Feature/types chunkgroup
  lib/ChunkGroup.js
Labels: PR: CI-ok, PR: types, PR: unreviewed

#7221 Fix wasm transformation
  lib/wasm/WebAssemblyGenerator.js
  test/cases/wasm/table/index.js
Labels: PR: non-master, PR: unreviewed

#7173 add test cases for decoding wasm
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  package.json
  test/cases/wasm/decoding/index.js
  test/cases/wasm/decoding/memory2.wasm
  test/cases/wasm/decoding/memory3.wasm
  test/cases/wasm/decoding/test.filter.js
  test/cases/wasm/table/index.js
  test/cases/wasm/table/test.filter.js
  test/cases/wasm/table/wasm-table-export.wasm
  test/cases/wasm/table/wasm-table-imported.wasm
  test/cases/wasm/table/wasm-table.wasm
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: review-outdated

#7144 Upgrade to the WASM toolchain
  declarations.d.ts
  lib/Compilation.js
  lib/Generator.js
  lib/ModuleTemplate.js
  lib/NormalModule.js
  lib/WebAssemblyGenerator.js
  lib/WebAssemblyParser.js
  lib/WebpackOptionsApply.js
  lib/dependencies/WebAssemblyImportDependency.js
  lib/node/ReadFileCompileWasmMainTemplatePlugin.js
  lib/node/ReadFileCompileWasmTemplatePlugin.js
  lib/wasm/UnsupportedWebAssemblyFeatureError.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WasmModuleTemplatePlugin.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/wasm/WebAssemblyModulesPlugin.js
  lib/wasm/WebAssemblyParser.js
  lib/web/FetchCompileWasmMainTemplatePlugin.js
  lib/web/FetchCompileWasmTemplatePlugin.js
  package.json
  test/WatchTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/wasm/decoding/index.js
  test/cases/wasm/decoding/memory2.wasm
  test/cases/wasm/decoding/memory3.wasm
  test/cases/wasm/decoding/test.filter.js
  test/cases/wasm/memory/index.js
  test/cases/wasm/memory/mem-access.wasm
  test/cases/wasm/memory/memory.wasm
  test/cases/wasm/memory/run.js
  test/cases/wasm/memory/test.filter.js
  test/cases/wasm/table/index.js
  test/cases/wasm/table/test.filter.js
  test/cases/wasm/table/wasm-table-export.wasm
  test/cases/wasm/table/wasm-table-imported.wasm
  test/cases/wasm/table/wasm-table.wasm
  test/watchCases/wasm/caching/0/index.js
  test/watchCases/wasm/caching/0/module.js
  test/watchCases/wasm/caching/0/wasm.wasm
  test/watchCases/wasm/caching/1/wasm.wasm
  test/watchCases/wasm/caching/2/module.js
  test/watchCases/wasm/caching/test.filter.js
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#7223 fix bug where splitChunks doesn't work
  lib/optimize/SplitChunksPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7225 Replace sinon by jest's mocks
  package.json
  test/Chunk.unittest.js
  test/Compiler.test.js
  test/ConfigTestCases.test.js
  test/DependenciesBlockVariable.unittest.js
  test/ExternalModule.unittest.js
  test/MultiWatching.unittest.js
  test/NormalModule.unittest.js
  test/configCases/async-commons-chunk/existing-name/index.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7220 docs(setup): add type checker commands on setup guide
  _SETUP.md
Labels: PR: CI-ok, PR: reviewed-approved

#7227 Bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7231 chore(deps): ugrade nightly typescript version
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7245 bump webassemblyjs - license change
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7244 Delete unused mocha config files
  test/lint-mocha.opts
  test/mocha.opts
Labels: PR: CI-ok, PR: small, PR: unreviewed

#7243 Fix edge case when parsing top-level this on IIFE
  lib/Parser.js
  test/configCases/parsing/harmony-this/index.js
  test/configCases/parsing/harmony-this/issue-7213.js
Labels: PR: CI-ok, PR: reviewed-approved

#7257 Update rc and deep-extend
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7266 Replace Jade by Pug
  package.json
  test/TestCases.template.js
  test/cases/loaders/_resources/included.pug
  test/cases/loaders/_resources/parent.pug
  test/cases/loaders/_resources/template.pug
  test/cases/loaders/jade-loader/index.js
  test/cases/loaders/pug-loader/index.js
  test/cases/resolving/context/index.js
  test/cases/resolving/context/node_modules/subcontent/test.pug
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7254 Remove extra wasm decoding
  declarations.d.ts
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyParser.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7277 enable eslint caching
  .gitignore
  package.json
Labels: PR: CI-ok, PR: small, PR: unreviewed

#7241 Update test readme for Jest
  test/README.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7280 chore(deps): upgrade typescript nightly
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: small, PR: types

#7184 fix: allow array of strings for `output.library.root`
  schemas/WebpackOptions.json
  test/configCases/library/umd-array/index.js
  test/configCases/library/umd-array/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7282 bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7284 Optimize RemoveEmptyChunksPlugin
  lib/optimize/RemoveEmptyChunksPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7117 Feature/template type support
  lib/Chunk.js
  lib/Module.js
  lib/Template.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7270 Allow banner to be specified as a function
  lib/BannerPlugin.js
  schemas/plugins/BannerPlugin.json
  test/configCases/plugins/banner-plugin/index.js
  test/configCases/plugins/banner-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7303 Align 'Cannot find module' message with native NodeJS
  examples/code-splitted-require.context-amd/README.md
  examples/code-splitted-require.context/README.md
  examples/code-splitting-harmony/README.md
  examples/code-splitting-native-import-context-filter/README.md
  examples/code-splitting-native-import-context/README.md
  examples/code-splitting-specify-chunk-name/README.md
  examples/hybrid-routing/README.md
  examples/mixed/README.md
  examples/require.context/README.md
  examples/web-worker/README.md
  lib/ContextModule.js
  lib/RuntimeTemplate.js
  lib/dependencies/WebpackMissingModule.js
  test/ExternalModule.unittest.js
  test/WebpackMissingModule.unittest.js
  test/cases/parsing/issue-2641/index.js
  test/cases/parsing/issue-758/index.js
  test/configCases/context-exclusion/simple/index.js
  test/configCases/errors/multi-entry-missing-module/index.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7286 Add Brief Description & Link To Webpack 1 "Old" Wiki In README => Support Section
  README.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7310 Allow serve property in webpack configuration
  schemas/WebpackOptions.json
  test/Validation.test.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7252 feat(cli): support `webpack-command`
  bin/webpack.js
  declarations.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#7319 bump webassembly and few fixes
  declarations.d.ts
  lib/wasm/WebAssemblyGenerator.js
  package.json
  yarn.lock
Labels: PR: non-master, PR: unreviewed

#7320 Add a test to check typeof transformation
  test/cases/parsing/issue-7318/index.js
  test/cases/parsing/issue-7318/typeof.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7324 add all examples from the WebAssembly explorer as tests
  test/cases/wasm/wasm-explorer-examples-async/Q_rsqrt.wasm
  test/cases/wasm/wasm-explorer-examples-async/duff.wasm
  test/cases/wasm/wasm-explorer-examples-async/fact.wasm
  test/cases/wasm/wasm-explorer-examples-async/fast-math.wasm
  test/cases/wasm/wasm-explorer-examples-async/index.js
  test/cases/wasm/wasm-explorer-examples-async/node_modules/env.js
  test/cases/wasm/wasm-explorer-examples-async/popcnt.wasm
  test/cases/wasm/wasm-explorer-examples-async/test.filter.js
  test/cases/wasm/wasm-explorer-examples-async/testFunction.wasm
  test/cases/wasm/wasm-explorer-examples-sync/Q_rsqrt.wasm
  test/cases/wasm/wasm-explorer-examples-sync/duff.wasm
  test/cases/wasm/wasm-explorer-examples-sync/fact.wasm
  test/cases/wasm/wasm-explorer-examples-sync/fast-math.wasm
  test/cases/wasm/wasm-explorer-examples-sync/index.js
  test/cases/wasm/wasm-explorer-examples-sync/node_modules/env.js
  test/cases/wasm/wasm-explorer-examples-sync/popcnt.wasm
  test/cases/wasm/wasm-explorer-examples-sync/test.filter.js
  test/cases/wasm/wasm-explorer-examples-sync/testFunction.wasm
  test/cases/wasm/wasm-explorer-examples-sync/tests.js
Labels: PR: CI-ok, PR: unreviewed

#7325 update combination when split fails because of max requests
  lib/optimize/SplitChunksPlugin.js
  test/ConfigTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#7328 Reduce the travis load with build stages
  .travis.yml
  codecov.yml
  package.json
Labels: PR: CI-ok, PR: reviewed-approved

#7332 add split chunks example
  examples/many-pages/README.md
  examples/many-pages/build.js
  examples/many-pages/node_modules/m1.js
  examples/many-pages/node_modules/m2.js
  examples/many-pages/node_modules/m3.js
  examples/many-pages/node_modules/m4.js
  examples/many-pages/node_modules/m5.js
  examples/many-pages/node_modules/m6.js
  examples/many-pages/node_modules/m7.js
  examples/many-pages/node_modules/m8.js
  examples/many-pages/pages/a.js
  examples/many-pages/pages/b.js
  examples/many-pages/pages/c.js
  examples/many-pages/pages/d.js
  examples/many-pages/pages/e.js
  examples/many-pages/pages/f.js
  examples/many-pages/pages/g.js
  examples/many-pages/stuff/s1.js
  examples/many-pages/stuff/s2.js
  examples/many-pages/stuff/s3.js
  examples/many-pages/stuff/s4.js
  examples/many-pages/stuff/s5.js
  examples/many-pages/stuff/s6.js
  examples/many-pages/stuff/s7.js
  examples/many-pages/stuff/s8.js
  examples/many-pages/template.md
  examples/many-pages/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#7336 Add badges to display install size
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#7338 chore(deps): update to latest typescript nightly
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7346 Improve JSON parse error
  lib/Compiler.js
  lib/DllReferencePlugin.js
  lib/JsonParser.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7354 Type compare locations
  lib/compareLocations.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7355 Add typing for ChunkRenderError
  lib/ChunkRenderError.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small, PR: types

#7364 Few wasm fixes
  declarations.d.ts
  lib/wasm/WebAssemblyGenerator.js
  package.json
  test/cases/wasm/imports-multiple/module.js
  yarn.lock
Labels: PR: non-master, PR: reviewed-approved

#7349 Use WeakMaps instead of mutating assets in SourceMapDevToolPlugin
  lib/SourceMapDevToolPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7373 fix problems with circular unneeded chunks
  lib/Compilation.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/chunks/import-circle/index.js
  test/cases/chunks/import-circle/leftHelix.js
  test/cases/chunks/import-circle/leftHelixPrime.js
  test/cases/chunks/import-circle/rightHelix.js
  test/cases/chunks/import-circle/rightHelixPrime.js
Labels: PR: CI-ok, PR: unreviewed

#7365 Sort the usedIds array in records
  lib/RecordIdsPlugin.js
  test/configCases/records/stable-sort/split-2.js
  test/configCases/records/stable-sort/split.js
  test/configCases/records/stable-sort/test.js
  test/configCases/records/stable-sort/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: waiting for other changes

#7348 Use a WeakMap instead of mutating objects in NMF
  lib/NormalModuleFactory.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7347 Upgrade jest, increase timeout, fix hanging
  .travis.yml
  appveyor.yml
  package.json
  test/ConfigTestCases.test.js
  test/Errors.test.js
  test/HotTestCases.test.js
  test/MultiCompiler.test.js
  test/TestCases.template.js
  test/WatchTestCases.test.js
  test/configCases/plugins/profiling-plugin/test.filter.js
  test/configCases/plugins/uglifyjs-plugin/webpack.config.js
  test/configCases/source-map/source-map-with-profiling-plugin/test.filter.js
  yarn.lock
Labels: PR: CI-ok, PR: review-outdated

#7383 speed up CI
  .travis.yml
  appveyor.yml
  package.json
Labels: PR: CI-ok, PR: unreviewed

#7386 fix runtimeChunk generation in splitChunk edgecases
  lib/optimize/RuntimeChunkPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/runtime-chunk-issue-7382/e1.js
  test/statsCases/runtime-chunk-issue-7382/e2.js
  test/statsCases/runtime-chunk-issue-7382/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7344 feat: support tree shaking in DllPlugin
  examples/dll-entry-only/README.md
  examples/dll-entry-only/a.js
  examples/dll-entry-only/b.js
  examples/dll-entry-only/build.js
  examples/dll-entry-only/cjs.js
  examples/dll-entry-only/example.js
  examples/dll-entry-only/template.md
  examples/dll-entry-only/webpack.config.js
  lib/DllPlugin.js
  lib/LibManifestPlugin.js
  schemas/plugins/DllPlugin.json
  test/configCases/dll-plugin-entry/0-create-dll/dep.js
  test/configCases/dll-plugin-entry/0-create-dll/dep2.js
  test/configCases/dll-plugin-entry/0-create-dll/index.js
  test/configCases/dll-plugin-entry/0-create-dll/test.config.js
  test/configCases/dll-plugin-entry/0-create-dll/webpack.config.js
  test/configCases/dll-plugin-entry/1-use-dll/index.js
  test/configCases/dll-plugin-entry/1-use-dll/webpack.config.js
  test/configCases/dll-plugin-entry/2-error-non-entry/errors.js
  test/configCases/dll-plugin-entry/2-error-non-entry/index.js
  test/configCases/dll-plugin-entry/2-error-non-entry/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7387 only record number ids
  lib/RecordIdsPlugin.js
  test/configCases/records/stable-sort/test.js
  test/configCases/records/stable-sort/webpack.config.js
Labels: PR: CI-ok, PR: small, PR: unreviewed

#7187 enhancement: add .prettierignore file
  .prettierignore
  package.json
Labels: PR: CI-ok, PR: reviewed-approved

#7385 Fix link
  lib/NormalModuleFactory.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7396 bump webassemblyjs 1.5.7
  package.json
  yarn.lock
Labels: PR: non-master, PR: unreviewed

#7403 fix argument TDZ and shadowing
  lib/Parser.js
  test/cases/parsing/issue-7335/a.js
  test/cases/parsing/issue-7335/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#7379 switch to tests to wast
  package.json
  test/TestCases.template.js
  test/cases/wasm/import-wasm-wasm/index.js
  test/cases/wasm/import-wasm-wasm/wasm.wasm
  test/cases/wasm/import-wasm-wasm/wasm.wat
  test/cases/wasm/import-wasm-wasm/wasm2.wasm
  test/cases/wasm/import-wasm-wasm/wasm2.wat
  test/cases/wasm/imports-circular/module.js
  test/cases/wasm/imports-circular/wasm.wasm
  test/cases/wasm/imports-circular/wasm.wat
  test/cases/wasm/imports/index.js
  test/cases/wasm/imports/wasm.wasm
  test/cases/wasm/imports/wasm.wat
  test/cases/wasm/memory/mem-access.wasm
  test/cases/wasm/memory/mem-access.wat
  test/cases/wasm/memory/memory.wasm
  test/cases/wasm/memory/memory.wat
  test/cases/wasm/memory/run.js
  test/cases/wasm/order/a.js
  test/cases/wasm/order/wasm.wasm
  test/cases/wasm/simple/index.js
  test/cases/wasm/simple/module.js
  test/cases/wasm/simple/wasm.wasm
  test/cases/wasm/simple/wasm.wat
  test/cases/wasm/table/index.js
  test/cases/wasm/table/wasm-table-export.wasm
  test/cases/wasm/table/wasm-table-export.wat
  test/cases/wasm/table/wasm-table-imported.wasm
  test/cases/wasm/table/wasm-table-imported.wat
  test/cases/wasm/table/wasm-table.wasm
  test/cases/wasm/table/wasm-table.wat
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7174 docs(examples): add yarn add webpack-cli step
  examples/README.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7219 chore(types): add basic type info for a few warning and errors
  lib/AsyncDependencyToInitialChunkError.js
  lib/CaseSensitiveModulesWarning.js
  lib/ModuleDependencyError.js
  lib/WebpackError.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7279 Fix a bug where ProgressPlugin is not working properly with MultiComp…
  lib/ProgressPlugin.js
  test/ProgressPlugin.test.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7210 fix: ReferenceError: onScriptComplete is not defined when using HMR o…
  lib/web/JsonpMainTemplatePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#7251 Add typings for library template plugins
  lib/AmdMainTemplatePlugin.js
  lib/ExportPropertyMainTemplatePlugin.js
  lib/LibraryTemplatePlugin.js
  lib/SetVarMainTemplatePlugin.js
  lib/UmdMainTemplatePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed, PR: types

#7416 wasm: correct initializer type for rewritten globals
  declarations.d.ts
  lib/wasm/WebAssemblyGenerator.js
  package.json
  test/cases/wasm/imported-global-preserve-type/env.js
  test/cases/wasm/imported-global-preserve-type/index.js
  test/cases/wasm/imported-global-preserve-type/module.wat
  test/cases/wasm/imported-global-preserve-type/test.filter.js
  yarn.lock
Labels: PR: non-master, PR: reviewed-approved

#7275 WASM: Tree Shaking, Export and import name mangling
  declarations.d.ts
  lib/MainTemplate.js
  lib/dependencies/WebAssemblyImportDependency.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/wasm/WebAssemblyParser.js
  lib/wasm/WebAssemblyUtils.js
  package.json
  test/cases/wasm/imported-global-preserve-type/env.js
  test/cases/wasm/imported-global-preserve-type/index.js
  test/cases/wasm/imported-global-preserve-type/module.wat
  test/cases/wasm/imported-global-preserve-type/test.filter.js
  test/cases/wasm/imports-complex-types/index.js
  test/cases/wasm/imports-complex-types/other.wasm
  test/cases/wasm/imports-complex-types/test.filter.js
  test/cases/wasm/imports-complex-types/wasm.wasm
  test/cases/wasm/imports-multiple/index.js
  test/cases/wasm/imports-multiple/module.js
  test/cases/wasm/imports-multiple/module2.js
  test/cases/wasm/imports-multiple/test.filter.js
  test/cases/wasm/imports-multiple/wasm.wasm
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed, Web Assembly

#7408 SideEffectsPlugin don't modify cache entries
  lib/FlagDependencyUsagePlugin.js
  lib/RuntimeTemplate.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSideEffectDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/side-effects-simple-unused/index.js
  test/statsCases/side-effects-simple-unused/node_modules/pmodule/a.js
  test/statsCases/side-effects-simple-unused/node_modules/pmodule/b.js
  test/statsCases/side-effects-simple-unused/node_modules/pmodule/c.js
  test/statsCases/side-effects-simple-unused/node_modules/pmodule/index.js
  test/statsCases/side-effects-simple-unused/node_modules/pmodule/package.json
  test/statsCases/side-effects-simple-unused/webpack.config.js
  test/watchCases/side-effects/issue-7400/0/index.js
  test/watchCases/side-effects/issue-7400/0/my-module/index.js
  test/watchCases/side-effects/issue-7400/0/my-module/myFunction.js
  test/watchCases/side-effects/issue-7400/0/my-module/package.json
  test/watchCases/side-effects/issue-7400/0/require-me.js
  test/watchCases/side-effects/issue-7400/1/index.js
  test/watchCases/side-effects/issue-7400/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7419 fix a code generation bug and add test cases
  lib/wasm/WasmMainTemplatePlugin.js
  test/cases/wasm/imports-many-direct/index.js
  test/cases/wasm/imports-many-direct/other1.wat
  test/cases/wasm/imports-many-direct/other2.wat
  test/cases/wasm/imports-many-direct/test.filter.js
  test/cases/wasm/imports-many-direct/wasm.wat
  test/cases/wasm/unused-export/index.js
  test/cases/wasm/unused-export/module.js
  test/cases/wasm/unused-export/test.filter.js
  test/cases/wasm/unused-export/wasm.wat
Labels: PR: CI-ok, PR: unreviewed

#7429 add test cases for #7401
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks-issue-7401/a.js
  test/statsCases/split-chunks-issue-7401/b.js
  test/statsCases/split-chunks-issue-7401/c.js
  test/statsCases/split-chunks-issue-7401/node_modules/x.js
  test/statsCases/split-chunks-issue-7401/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#7427 Issue #7424: test/README update with jest snapshot flow
  test/README.md
  test/statsCases/accept-stats.js
Labels: PR: CI-ok, PR: review-outdated

#7430 fixup reasons when redirecting dependencies for side-effects
  lib/Stats.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/side-effects-issue-7428/components/package.json
  test/statsCases/side-effects-issue-7428/components/src/CompAB/CompA.js
  test/statsCases/side-effects-issue-7428/components/src/CompAB/CompB.js
  test/statsCases/side-effects-issue-7428/components/src/CompAB/index.js
  test/statsCases/side-effects-issue-7428/components/src/CompAB/utils.js
  test/statsCases/side-effects-issue-7428/components/src/CompC/CompC.js
  test/statsCases/side-effects-issue-7428/components/src/CompC/index.js
  test/statsCases/side-effects-issue-7428/components/src/index.js
  test/statsCases/side-effects-issue-7428/foo.js
  test/statsCases/side-effects-issue-7428/main.js
  test/statsCases/side-effects-issue-7428/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#7411 fix: unsupported function defined inside a condition block. #7263
  lib/web/JsonpMainTemplatePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#7431 wasm: preserve global ordering
  lib/wasm/WebAssemblyGenerator.js
  package.json
  test/cases/wasm/imported-global-preserve-ordering/env.js
  test/cases/wasm/imported-global-preserve-ordering/index.js
  test/cases/wasm/imported-global-preserve-ordering/module.wat
  test/cases/wasm/imported-global-preserve-ordering/test.filter.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7434 Update prettier to v1.13
  declarations.d.ts
  lib/ProgressPlugin.js
  lib/SourceMapDevToolPlugin.js
  package.json
  test/BenchmarkTestCases.benchmark.js
  test/Compiler-caching.test.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7445 rewrite module reference correctly after replacing ConcatenatedModule
  lib/optimize/ModuleConcatenationPlugin.js
  test/cases/optimize/side-effects-scope-hoisting/index.js
Labels: PR: CI-ok, PR: unreviewed

#7440 fix incorrect substraction in numberToIdentifier
  lib/Template.js
Labels: PR: CI-ok, PR: reviewed-approved

#7413 wasm global with global as initializer
  lib/wasm/WebAssemblyGenerator.js
  test/cases/wasm/global-refs-imported-global/env.js
  test/cases/wasm/global-refs-imported-global/index.js
  test/cases/wasm/global-refs-imported-global/module.wat
  test/cases/wasm/global-refs-imported-global/test.filter.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7448 Use same settings for editorconfig and prettier
  .editorconfig
Labels: PR: CI-ok, PR: reviewed-approved

#7442 Allow afterEmit plugins to use `reportProgress`
  lib/ProgressPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7441 more performant changing of reasons
  lib/optimize/SideEffectsFlagPlugin.js
Labels: PR: CI-ok, PR: unreviewed
