Repository webpack/webpack, pull requests merged in 2018-07, with the labels that each got.

#7629 bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7637 rename optimization.splitChunks.cacheGroups.vendors -> defaultVendors
  lib/WebpackOptionsDefaulter.js
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#7638 add helpful error when importing wasm in initial chunk
  lib/Chunk.js
  lib/ChunkTemplate.js
  lib/Compilation.js
  lib/MainTemplate.js
  lib/Module.js
  lib/ModuleReason.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyInInitialChunkError.js
  lib/wasm/WebAssemblyModulesPlugin.js
  test/StatsTestCases.test.js
  test/configCases/wasm/wasm-in-initial-chunk-error/async.js
  test/configCases/wasm/wasm-in-initial-chunk-error/errors.js
  test/configCases/wasm/wasm-in-initial-chunk-error/index.js
  test/configCases/wasm/wasm-in-initial-chunk-error/module.js
  test/configCases/wasm/wasm-in-initial-chunk-error/module2.js
  test/configCases/wasm/wasm-in-initial-chunk-error/module3.js
  test/configCases/wasm/wasm-in-initial-chunk-error/test.filter.js
  test/configCases/wasm/wasm-in-initial-chunk-error/wasm.wat
  test/configCases/wasm/wasm-in-initial-chunk-error/wasm2.wat
  test/configCases/wasm/wasm-in-initial-chunk-error/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#7648 Fix @template syntax error in Compilation.js iterationOfArrayCallback
  lib/Compilation.js
Labels: PR: CI-ok, PR: reviewed-approved

#7640 Rename parser and its helpers
  lib/APIPlugin.js
  lib/ConstPlugin.js
  lib/DefinePlugin.js
  lib/ExtendedAPIPlugin.js
  lib/HotModuleReplacementPlugin.js
  lib/JavascriptModulesPlugin.js
  lib/JavascriptParser.js
  lib/JavascriptParserHelpers.js
  lib/NodeStuffPlugin.js
  lib/ProvidePlugin.js
  lib/RequireJsStuffPlugin.js
  lib/dependencies/AMDPlugin.js
  lib/dependencies/CommonJsPlugin.js
  lib/dependencies/CommonJsRequireDependencyParserPlugin.js
  lib/dependencies/RequireEnsurePlugin.js
  lib/dependencies/RequireIncludePlugin.js
  lib/dependencies/SystemPlugin.js
  lib/node/NodeSourcePlugin.js
  lib/optimize/ConcatenatedModule.js
  test/JavascriptParser.unittest.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#7651 add `splitChunks.maxSize` option
  lib/Chunk.js
  lib/ContextModule.js
  lib/Module.js
  lib/NormalModule.js
  lib/WebpackOptionsDefaulter.js
  lib/optimize/SplitChunksPlugin.js
  lib/util/deterministicGrouping.js
  lib/util/identifier.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks-max-size/big.js
  test/statsCases/split-chunks-max-size/in-some-directory/big.js
  test/statsCases/split-chunks-max-size/in-some-directory/small.js
  test/statsCases/split-chunks-max-size/in-some-directory/very-big.js
  test/statsCases/split-chunks-max-size/index.js
  test/statsCases/split-chunks-max-size/inner-module/big.js
  test/statsCases/split-chunks-max-size/inner-module/small.js
  test/statsCases/split-chunks-max-size/inner-module/very-big.js
  test/statsCases/split-chunks-max-size/small.js
  test/statsCases/split-chunks-max-size/subfolder/big.js
  test/statsCases/split-chunks-max-size/subfolder/small.js
  test/statsCases/split-chunks-max-size/subfolder/very-big.js
  test/statsCases/split-chunks-max-size/very-big.js
  test/statsCases/split-chunks-max-size/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#7661 make the cache a WeakMap to not leak memory
  lib/optimize/SplitChunksPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#7662 fixes usage of automaticNameDelimiter in cache groups
  lib/optimize/SplitChunksPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks-max-size/index.js
  test/statsCases/split-chunks-max-size/node_modules/big.js
  test/statsCases/split-chunks-max-size/node_modules/small.js
  test/statsCases/split-chunks-max-size/node_modules/very-big.js
  test/statsCases/split-chunks-max-size/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7655 prevent UnhandledPromiseRejectionWarning in node 6
  lib/debug/ProfilingPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#7667 fixes order for reexported dependencies
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  test/cases/side-effects/order-issue-7665/index.js
  test/cases/side-effects/order-issue-7665/module/a.js
  test/cases/side-effects/order-issue-7665/module/b.js
  test/cases/side-effects/order-issue-7665/module/index.js
  test/cases/side-effects/order-issue-7665/module/package.json
  test/cases/side-effects/order-issue-7665/tracker.js
Labels: PR: CI-ok, PR: unreviewed

#7671 Remove obsolete webpack.web.js
  lib/web/WebEnvironmentPlugin.js
  lib/webpack.web.js
  package.json
  test/WebEnvironmentPlugin.unittest.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7670 Remove extra arguments checks
  lib/BannerPlugin.js
  lib/EvalSourceMapDevToolPlugin.js
  lib/SourceMapDevToolPlugin.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7679 Try to make CI more stable
  package.json
  test/ConfigTestCases.test.js
Labels: PR: CI-ok, PR: unreviewed

#7678 chore(types): add types to EnvironmentPlugin
  lib/EnvironmentPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7682 Deprecate Dependency.compare
  lib/Dependency.js
Labels: PR: CI-ok, PR: reviewed-approved

#7673 Use JsonpMainTemplatePlugin.hooks instead of MainTemplate#hooks
  lib/web/JsonpMainTemplatePlugin.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7672 Refactor HMR hooks
  lib/HotModuleReplacementPlugin.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7693 all: typo fixes
  _SETUP.md
  examples/many-pages/README.md
  examples/many-pages/template.md
  examples/many-pages/webpack.config.js
  lib/Chunk.js
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/Generator.js
  lib/optimize/SplitChunksPlugin.js
  lib/util/cachedMerge.js
  lib/util/deterministicGrouping.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7685 Added support for WebAssembly modules when target is set to `electron-renderer`
  lib/WebpackOptionsApply.js
Labels: PR: CI-ok, PR: reviewed-approved

#7687 Simplify imports
  lib/AutomaticPrefetchPlugin.js
  lib/Chunk.js
  lib/CommentCompilationWarning.js
  lib/CompatibilityPlugin.js
  lib/Entrypoint.js
  lib/HotModuleReplacementPlugin.js
  lib/IgnorePlugin.js
  lib/UseStrictPlugin.js
  lib/dependencies/SystemPlugin.js
  lib/node/NodeMainTemplatePlugin.js
  lib/node/NodeSourcePlugin.js
  lib/wasm/WasmFinalizeExportsPlugin.js
  lib/web/JsonpMainTemplatePlugin.js
  lib/webworker/WebWorkerMainTemplatePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#7688 devtool and output.library.root as array throws an error
  lib/WebpackOptionsDefaulter.js
  test/configCases/source-map/array-as-output-library-in-object-output/index.js
  test/configCases/source-map/array-as-output-library-in-object-output/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7692 fix(hot): log messages
  hot/dev-server.js
  hot/only-dev-server.js
  hot/poll.js
  hot/signal.js
Labels: PR: CI-ok, PR: reviewed-approved

#7686 add new options moduleIds and chunkIds
  lib/Compilation.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/optimize/NaturalChunkOrderPlugin.js
  lib/optimize/OccurrenceChunkOrderPlugin.js
  lib/optimize/OccurrenceModuleOrderPlugin.js
  lib/optimize/OccurrenceOrderPlugin.js
  lib/webpack.js
  schemas/WebpackOptions.json
  schemas/plugins/optimize/OccurrenceOrderChunkIdsPlugin.json
  schemas/plugins/optimize/OccurrenceOrderModuleIdsPlugin.json
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#7691 Add .mjs to default DelegatedModule options.extensions
  declarations.d.ts
  lib/DelegatedModuleFactoryPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#7694 make loc in context dependencies a correct object
  lib/ContextModule.js
  lib/Dependency.js
Labels: PR: CI-ok, PR: unreviewed

#7695 sort ids in Stats numerical
  lib/Stats.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: review-outdated

#7698 replace deprecated method
  lib/Compilation.js
Labels: PR: CI-ok, PR: unreviewed

#7699 upgrade jest
  .eslintrc.js
  package.json
  test/ConfigTestCases.test.js
  test/HotTestCases.test.js
  test/TestCases.template.js
  test/WatchTestCases.test.js
  test/cases/chunks/import-context/index.js
  test/cases/chunks/import/index.js
  test/cases/chunks/inline-options/index.js
  test/cases/chunks/issue-2443/index.js
  test/cases/json/import-lazy/index.js
  test/cases/mjs/cjs-import-default/index.mjs
  test/cases/mjs/namespace-object-lazy/index.mjs
  test/cases/mjs/non-mjs-namespace-object-lazy/index.js
  test/cases/optimize/side-effects-reexport-start-unknown/index.js
  test/cases/optimize/tree-shaking-star2/index.js
  test/cases/parsing/harmony-commonjs-mix/index.js
  test/cases/parsing/issue-2050/index.js
  test/cases/parsing/issue-2522/index.js
  test/cases/parsing/issue-3964/index.js
  test/cases/parsing/issue-4179/index.js
  test/cases/scope-hoisting/export-namespace/index.js
  test/cases/scope-hoisting/issue-5020-minimal/index.js
  test/cases/scope-hoisting/issue-5020/index.js
  test/cases/scope-hoisting/issue-5443/index.js
  test/cases/side-effects/missing-module-7499/index.js
  test/configCases/context-replacement/System.import/index.js
  test/configCases/dll-plugin-entry/1-use-dll/index.js
  test/configCases/dll-plugin/1-use-dll/index.js
  test/configCases/dll-plugin/2-use-dll-without-scope/index.js
  test/configCases/dll-plugin/3-use-dll-with-hashid/index.js
  test/configCases/parsing/system.import/index.js
  test/configCases/target/node-dynamic-import/index.js
  test/hotCases/concat/reload-compat-flag/index.js
  test/watchCases/plugins/define-plugin/0/index.js
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#7696 copy chunk reason to maxSize parts
  lib/optimize/SplitChunksPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: review-outdated

#7663 automaticNamePrefix and name merging bugfix
  lib/WebpackOptionsDefaulter.js
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks-automatic-name/a.js
  test/statsCases/split-chunks-automatic-name/b.js
  test/statsCases/split-chunks-automatic-name/c.js
  test/statsCases/split-chunks-automatic-name/d.js
  test/statsCases/split-chunks-automatic-name/e.js
  test/statsCases/split-chunks-automatic-name/f.js
  test/statsCases/split-chunks-automatic-name/index.js
  test/statsCases/split-chunks-automatic-name/node_modules/x.js
  test/statsCases/split-chunks-automatic-name/node_modules/y.js
  test/statsCases/split-chunks-automatic-name/node_modules/z.js
  test/statsCases/split-chunks-automatic-name/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7700 add types and fix incorrect loc type
  lib/Dependency.js
  lib/SingleEntryPlugin.js
  lib/dependencies/LoaderPlugin.js
  lib/formatLocation.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#7708 remove `exec` from loader context
  lib/NormalModule.js
  package.json
  test/cases/loaders/val-loader/index.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, webpack-5

#7712 Relaxed type check for hashDigest to allow other non NodeJS-native digest methods e.g. base62.
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: reviewed-approved

#7704 make DependencyTemplates a new class
  lib/ChunkTemplate.js
  lib/Compilation.js
  lib/DependenciesBlockVariable.js
  lib/Dependency.js
  lib/DependencyTemplates.js
  lib/Generator.js
  lib/MainTemplate.js
  lib/NormalModule.js
  lib/optimize/ConcatenatedModule.js
  test/statsCases/define-plugin/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, webpack-5

#7715 Upgrade to TypeScript 3.0 (RC)
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7718 Correct moduleIds schema description
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: reviewed-approved

#7719 Add mini-css-extract-plugin instead of extract-text-webpack-plugin
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#7707 remove deprecated stuff
  lib/Compilation.js
  lib/optimize/EnsureChunkConditionsPlugin.js
  lib/optimize/RemoveEmptyChunksPlugin.js
  lib/optimize/RemoveParentModulesPlugin.js
  lib/optimize/SplitChunksPlugin.js
  test/StatsTestCases.test.js
Labels: PR: CI-ok, PR: next, PR: unreviewed, webpack-5

#7727 Use v4 of eslint-scope
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#7724 Default 'source' to 'false' for stats
  lib/Stats.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7721 fix order of occurrence order plugin
  lib/optimize/OccurrenceChunkOrderPlugin.js
  lib/optimize/OccurrenceModuleOrderPlugin.js
  lib/optimize/OccurrenceOrderPlugin.js
  test/Compiler.test.js
  test/HotModuleReplacementPlugin.test.js
  test/StatsTestCases.test.js
  test/__snapshots__/ConfigTestCases.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/chunk-index/order-multiple-entries/webpack.config.js
  test/configCases/code-generation/use-strict/index.js
  test/configCases/hash-length/output-filename/test.config.js
  test/configCases/plugins/banner-plugin/index.js
  test/configCases/plugins/banner-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#7656 Add DefinePlugin JSDoc types
  lib/DefinePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7658 Add JSDoc types for ContextExclusionPlugin
  lib/ContextExclusionPlugin.js
  lib/ContextModuleFactory.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: types

#7705 remove deprecated optimization options
  examples/aggressive-merging/README.md
  examples/aggressive-merging/webpack.config.js
  examples/code-splitted-require.context-amd/webpack.config.js
  examples/code-splitted-require.context/webpack.config.js
  examples/code-splitting-bundle-loader/webpack.config.js
  examples/code-splitting-harmony/webpack.config.js
  examples/code-splitting-native-import-context-filter/webpack.config.js
  examples/code-splitting-native-import-context/webpack.config.js
  examples/code-splitting-specify-chunk-name/webpack.config.js
  examples/code-splitting/webpack.config.js
  examples/common-chunk-grandchildren/README.md
  examples/common-chunk-grandchildren/webpack.config.js
  examples/extra-async-chunk-advanced/README.md
  examples/extra-async-chunk-advanced/webpack.config.js
  examples/extra-async-chunk/webpack.config.js
  examples/harmony/webpack.config.js
  examples/hybrid-routing/README.md
  examples/hybrid-routing/webpack.config.js
  examples/mixed/webpack.config.js
  examples/multiple-entry-points/README.md
  examples/multiple-entry-points/webpack.config.js
  examples/named-chunks/webpack.config.js
  examples/scope-hoisting/README.md
  examples/scope-hoisting/webpack.config.js
  examples/wasm-simple/webpack.config.js
  examples/web-worker/webpack.config.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/optimize/OccurrenceOrderPlugin.js
  lib/webpack.js
  schemas/WebpackOptions.json
  test/Compiler-caching.test.js
  test/TestCases.template.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/async-commons-chunk/node/webpack.config.js
  test/configCases/optimization/hashed-module-ids/webpack.config.js
  test/configCases/optimization/named-modules/webpack.config.js
  test/configCases/records/stable-sort/webpack.config.js
  test/statsCases/commons-plugin-issue-4980/webpack.config.js
  test/statsCases/issue-7577/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed, webpack-5

#7749 fix sorting of reasons
  lib/Stats.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#7755 Tooling: inherit types from base class
  .prettierignore
  lib/DelegatedModule.js
  lib/DependenciesBlock.js
  lib/DllModule.js
  lib/ExternalModule.js
  lib/Generator.js
  lib/Module.js
  lib/MultiModule.js
  lib/NormalModule.js
  lib/RuntimeTemplate.js
  lib/optimize/ConcatenatedModule.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  package.json
  tooling/inherit-types.js
  tooling/typescript-program.js
  tsconfig.json
Labels: PR: CI-ok, PR: reviewed-approved

#7750 Handle module.require, require.main.require, and module.parent.require
  lib/NodeStuffPlugin.js
  lib/dependencies/CommonJsRequireDependencyParserPlugin.js
  test/Errors.test.js
  test/cases/parsing/issue-7728/a.js
  test/cases/parsing/issue-7728/index.js
  test/fixtures/errors/module.parent.require.js
  test/fixtures/errors/require.main.require.js
Labels: PR: CI-ok, PR: reviewed-approved

#7628 Catch errors while parsing DLL manifest
  lib/DllReferencePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/dll-reference-plugin-issue-7624-error/blank-manifest.json
  test/statsCases/dll-reference-plugin-issue-7624-error/entry.js
  test/statsCases/dll-reference-plugin-issue-7624-error/webpack.config.js
  test/statsCases/dll-reference-plugin-issue-7624/entry.js
  test/statsCases/dll-reference-plugin-issue-7624/non-blank-manifest.json
  test/statsCases/dll-reference-plugin-issue-7624/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#6354 remove the need to rewrite chunk in reasons
  lib/Chunk.js
  lib/Module.js
  lib/ModuleReason.js
  lib/optimize/RemoveParentModulesPlugin.js
  lib/optimize/SplitChunksPlugin.js
  test/ModuleReason.unittest.js
Labels: PR: CI-ok, PR: review-outdated, PR: tests-needed

#7770 Update Jest
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7786 add some types
  declarations.d.ts
  lib/AsyncDependenciesBlock.js
  lib/Chunk.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DependenciesBlock.js
  lib/Dependency.js
  lib/DllModule.js
  lib/ExternalModule.js
  lib/HotUpdateChunk.js
  lib/Module.js
  lib/MultiModule.js
  lib/NormalModule.js
  lib/RawModule.js
  lib/Template.js
  lib/dependencies/ConstDependency.js
  lib/dependencies/ContextDependency.js
  lib/dependencies/DelegatedExportsDependency.js
  lib/dependencies/HarmonyExportExpressionDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSideEffectDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/JsonExportsDependency.js
  lib/dependencies/LoaderPlugin.js
  lib/dependencies/ModuleDependency.js
  lib/dependencies/NullDependency.js
  lib/dependencies/RequireIncludeDependency.js
  lib/dependencies/WebAssemblyExportImportedDependency.js
  lib/dependencies/WebAssemblyImportDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/EnsureChunkConditionsPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/wasm/WebAssemblyGenerator.js
  package.json
  test/statsCases/async-commons-chunk-auto/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#7766 Make DependencyReference dynamic
  lib/Dependency.js
  lib/dependencies/DelegatedExportsDependency.js
  lib/dependencies/DependencyReference.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/RequireIncludeDependency.js
  lib/dependencies/WebAssemblyExportImportedDependency.js
  lib/dependencies/WebAssemblyImportDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/deep-scope-analysis/remove-export-scope-hoisting/webpack.config.js
  test/configCases/deep-scope-analysis/remove-export/webpack.config.js
  test/statsCases/side-effects-simple-unused/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7796 Destructure helpers to improve readability
  lib/Chunk.js
  lib/Compilation.js
  lib/SizeFormatHelpers.js
  lib/Stats.js
  lib/dependencies/AMDDefineDependencyParserPlugin.js
  lib/dependencies/AMDRequireDependenciesBlockParserPlugin.js
  lib/dependencies/CommonJsRequireDependencyParserPlugin.js
  lib/dependencies/LocalModulesHelpers.js
  lib/optimize/EnsureChunkConditionsPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/performance/AssetsOverSizeLimitWarning.js
  lib/performance/EntrypointsOverSizeLimitWarning.js
  test/LocalModulesHelpers.unittest.js
  test/SizeFormatHelpers.unittest.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7798 fix case where empty chunkgroups cause nested chunkgroups to vanish
  lib/Compilation.js
  test/cases/chunks/nested-in-empty/a.js
  test/cases/chunks/nested-in-empty/b.js
  test/cases/chunks/nested-in-empty/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#7813 Freeze hooks to prevent deopts
  lib/ChunkTemplate.js
  lib/Compilation.js
  lib/Compiler.js
  lib/ContextModuleFactory.js
  lib/DllModuleFactory.js
  lib/HotUpdateChunkTemplate.js
  lib/JavascriptParser.js
  lib/MainTemplate.js
  lib/ModuleTemplate.js
  lib/MultiCompiler.js
  lib/MultiModuleFactory.js
  lib/NormalModuleFactory.js
  lib/ResolverFactory.js
  lib/wasm/WebAssemblyParser.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7819 Convert Template to ES6
  lib/Template.js
Labels: PR: CI-ok, PR: reviewed-approved

#7825 Update linters
  hot/log.js
  lib/debug/ProfilingPlugin.js
  lib/node/NodeTargetPlugin.js
  lib/wasm/WebAssemblyGenerator.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#7823 Refactor define before use class
  lib/WatchIgnorePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved
