Repository webpack/webpack, pull requests merged in 2018-10, with the labels that each got.

#8100 Refactor cache
  examples/web-worker/README.md
  examples/web-worker/build.js
  examples/web-worker/example.js
  examples/web-worker/template.md
  examples/web-worker/webpack.config.js
  examples/web-worker/worker.js
  lib/Cache.js
  lib/CachePlugin.js
  lib/Compilation.js
  lib/Compiler.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DllModule.js
  lib/DllReferencePlugin.js
  lib/ExternalModule.js
  lib/FileSystemInfo.js
  lib/Module.js
  lib/ModuleProfile.js
  lib/MultiCompiler.js
  lib/NormalModule.js
  lib/RawModule.js
  lib/RecordIdsPlugin.js
  lib/Stats.js
  lib/Watching.js
  lib/WebpackOptionsApply.js
  lib/cache/MemoryCachePlugin.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/util/AsyncQueue.js
  lib/util/identifier.js
  lib/webpack.js
  test/CachePlugin.unittest.js
  test/NormalModule.unittest.js
  test/watchCases/cache/child-compilation-cache/0/index.js
  test/watchCases/cache/child-compilation-cache/0/report-cache-counters-loader.js
  test/watchCases/context/loader-context-dep/0/directory/.empty
  test/watchCases/context/loader-context-dep/0/index.js
  test/watchCases/context/loader-context-dep/0/loader.js
  test/watchCases/context/loader-context-dep/1/directory/a.js
  test/watchCases/context/loader-context-dep/2/directory/b.js
  test/watchCases/context/loader-context-dep/3/directory/a.js
  test/watchCases/context/loader-context-dep/3/directory/b.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8113 Refactor usage of $crossOriginLoading$
  lib/web/JsonpMainTemplate.runtime.js
  lib/web/JsonpMainTemplatePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#8122 fix output for 'output.library: string[]' configuration
  lib/LibraryTemplatePlugin.js
  test/configCases/library/array-global/index.js
  test/configCases/library/array-global/webpack.config.js
  test/configCases/library/array-window/index.js
  test/configCases/library/array-window/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#8125 chore(JavascriptParser): update `acorn` dependencies
  lib/JavascriptParser.js
  package.json
  test/cases/parsing/precreated-ast/ast-loader.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8118 fixes #8110
  lib/MainTemplate.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/entry/issue-8110/a.js
  test/configCases/entry/issue-8110/b.js
  test/configCases/entry/issue-8110/c.js
  test/configCases/entry/issue-8110/d.js
  test/configCases/entry/issue-8110/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#8135 update coverage reporters
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8134 update coveralls reporter
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#8143 Make changes suggested by @sokra to optimize chunk graph generation
  lib/Compilation.js
Labels: PR: CI-ok, PR: reviewed-approved

#8230 Revert "Re-enable jest-silent-reporter #hacktoberfest"
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8181 Remove IgnorePlugin compat-layer and fix various TODOs
  lib/Compilation.js
  lib/EnvironmentPlugin.js
  lib/IgnorePlugin.js
  lib/dependencies/ContextDependency.js
  lib/dependencies/ContextDependencyTemplateAsId.js
  lib/dependencies/ContextDependencyTemplateAsRequireCall.js
  test/configCases/ignore/compatibilityLayer/folder-a/ignored-module.js
  test/configCases/ignore/compatibilityLayer/folder-a/normal-module.js
  test/configCases/ignore/compatibilityLayer/folder-b/ignored-module.js
  test/configCases/ignore/compatibilityLayer/folder-b/normal-module.js
  test/configCases/ignore/compatibilityLayer/folder-b/only-context-match-require.js
  test/configCases/ignore/compatibilityLayer/folder-b/only-context-match.js
  test/configCases/ignore/compatibilityLayer/test.js
  test/configCases/ignore/compatibilityLayer/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8178 Remove moduleIds=total-size and deprecate moduleIds=hashed
  declarations/WebpackOptions.d.ts
  lib/WarnDeprecatedOptionPlugin.js
  lib/WebpackOptionsApply.js
  schemas/WebpackOptions.json
  test/configCases/code-generation/require-context-id/warnings.js
  test/configCases/delegated-hash/simple/warnings.js
  test/configCases/dll-plugin/3-use-dll-with-hashid/warnings.js
  test/configCases/optimization/hashed-module-ids/warnings.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8179 Rename index/index2 to pre/postOrderIndices
  lib/ChunkGroup.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8170 refactor cache to be more generic and usable for other things
  lib/Cache.js
  lib/Compilation.js
  lib/cache/MemoryCachePlugin.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7038 Correct ExternalModule's global option (#6933)
  lib/ExternalModule.js
  test/configCases/externals/global/index.js
  test/configCases/externals/global/webpack.config.js
Labels: PR: CI-not-ok, PR: reviewed-approved, PR: reviewed-changes-requested, PR: small

#8233 [ConstPlugin] add support for logical expressions (&& and ||)
  lib/ConstPlugin.js
  lib/Parser.js
  test/cases/parsing/evaluate/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#8240 Bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8158 Update tests for new WebAssembly.Global API
  test/cases/wasm/export-imported-global/index.js
  test/cases/wasm/imported-global-preserve-ordering/index.js
Labels: PR: CI-ok, PR: non-master, PR: reviewed-approved

#8243 fix some compilation stablility issues
  .travis.yml
  lib/Chunk.js
  lib/Compilation.js
  lib/Entrypoint.js
  lib/Stats.js
  lib/optimize/LimitChunkCountPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/setupTestFramework.js
Labels: PR: CI-ok, PR: unreviewed

#8242 Optimize chunk graph algorithm
  lib/Compilation.js
Labels: PR: CI-ok, PR: unreviewed

#8255 revert incorrect change
  lib/wasm/WebAssemblyGenerator.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8249 fix some compilation stablility issues
  .travis.yml
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/Entrypoint.js
  lib/NormalModule.js
  lib/Stats.js
  lib/ids/NamedChunkIdsPlugin.js
  lib/ids/NaturalChunkIdsPlugin.js
  lib/ids/OccurrenceChunkIdsPlugin.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/optimize/LimitChunkCountPlugin.js
  lib/util/comparators.js
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/setupTestFramework.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8253 Adding watchMode flag in compiler
  lib/Compiler.js
  lib/Watching.js
  test/Compiler.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#8257 remove globalPath and useChunkHash feature
  lib/AmdMainTemplatePlugin.js
  lib/ExtendedAPIPlugin.js
  lib/HotModuleReplacementPlugin.js
  lib/JavascriptModulesPlugin.js
  lib/MainTemplate.js
  lib/SetVarMainTemplatePlugin.js
  lib/TemplatedPathPlugin.js
  lib/UmdMainTemplatePlugin.js
  lib/web/JsonpExportMainTemplatePlugin.js
  test/Errors.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8142 Prefer chunks with entry module when picking name (#7516)
  lib/Chunk.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/limit-chunk-count-plugin/index.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#8175 feat(Compiler): Add file removal tracking in watch-run
  lib/Compiler.js
  lib/WatchIgnorePlugin.js
  lib/Watching.js
  lib/node/NodeWatchFileSystem.js
  test/RemoveFiles.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#8263 CI: simplify travis
  .travis.yml
  appveyor.yml
  codecov.yml
  open-bot.yaml
  package.json
Labels: PR: CI-ok, PR: unreviewed

#8265 Upgrade jest and remove memory bug hack
  azure-pipelines.yml
  package.json
  test/helpers/createLazyTestEnv.js
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8182 Node 12 in CI
  .travis.yml
  lib/Stats.js
  lib/dependencies/WebAssemblyExportImportedDependency.js
  lib/optimize/OccurrenceModuleOrderPlugin.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/wasm/WebAssemblyParser.js
  test/Compiler.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/wasm/export-imported-global/index.js
  test/cases/wasm/imported-global-preserve-ordering/index.js
Labels: PR: CI-ok, PR: review-outdated

#8266 [WasmFinalizeExportsPlugin] check if `ref` is null before using it
  lib/wasm/WasmFinalizeExportsPlugin.js
  test/cases/wasm/finalize-exports-issue-8261/index.js
  test/cases/wasm/finalize-exports-issue-8261/node_modules/side-effect-free/index.js
  test/cases/wasm/finalize-exports-issue-8261/node_modules/side-effect-free/module.wat
  test/cases/wasm/finalize-exports-issue-8261/node_modules/side-effect-free/package.json
  test/cases/wasm/finalize-exports-issue-8261/test.filter.js
Labels: PR: reviewed-approved

#8267 DefinePlugin: reevaluate runtime values on watch mode
  lib/DefinePlugin.js
  test/watchCases/plugins/define-plugin/0/index.js
  test/watchCases/plugins/define-plugin/0/module3.js
  test/watchCases/plugins/define-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#8286 [Test] simplify .wat code for finalize-exports-issue-8261 test
  test/cases/wasm/finalize-exports-issue-8261/node_modules/side-effect-free/module.wat
Labels: PR: CI-ok, PR: reviewed-approved

#8295 Update examples README
  examples/README.md
Labels: PR: CI-ok, PR: reviewed-approved

#8299 @ fix 8297 issues
  lib/HotModuleReplacementPlugin.js
  test/HotModuleReplacementPlugin.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#8272 add pack store mode for filesystem cache
  declarations/WebpackOptions.d.ts
  lib/cache/FileCachePlugin.js
  lib/serialization/FileMiddleware.js
  lib/serialization/MapObjectSerializer.js
  lib/serialization/ObjectMiddleware.js
  lib/util/makeSerializable.js
  schemas/WebpackOptions.json
  test/TestCases.template.js
  test/TestCasesCacheInstant.test.js
  test/TestCasesCachePack.test.js
  test/setupTestFramework.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8307 bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#8306 add module argument to DefinePlugin.runtimeValue functions
  lib/DefinePlugin.js
  test/configCases/plugins/define-plugin/index.js
  test/configCases/plugins/define-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#8273 add safe (persistent) resolver cache
  declarations/WebpackOptions.d.ts
  lib/NormalModuleFactory.js
  lib/ResolverFactory.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/cache/FileCachePlugin.js
  lib/cache/ResolverCachePlugin.js
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: next, PR: unreviewed
