Repository webpack/webpack, pull requests merged in 2018-08, with the labels that each got.

#7836 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: PR: CI-ok, PR: reviewed-approved

#7831 Fix chunkAsset hook call in HotModuleReplacementPlugin - fixes #7828
  lib/HotModuleReplacementPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#7821 Use RuntimeTemplate to generate error code
  lib/DelegatedModule.js
  lib/DynamicEntryPlugin.js
  lib/ExternalModule.js
  lib/MultiEntryPlugin.js
  lib/MultiModule.js
  lib/RuntimeTemplate.js
  lib/dependencies/UnsupportedDependency.js
  lib/dependencies/WebpackMissingModule.js
  test/ExternalModule.unittest.js
  test/WebpackMissingModule.unittest.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#7818 Remove outdated/unused test suites
  package.json
  test/Integration.test.js
  test/browsertest/build.js
  test/browsertest/img/fail.png
  test/browsertest/img/image.png
  test/browsertest/lib/index.js
  test/browsertest/lib/index.web.js
  test/browsertest/lib/stylesheet.css
  test/browsertest/lib/stylesheet.less
  test/browsertest/lib/testRequireMain.js
  test/browsertest/lib/three.js
  test/browsertest/lib/two.js
  test/browsertest/library2config.coffee
  test/browsertest/middlewareTest.js
  test/browsertest/mocha.css
  test/browsertest/mocha.js
  test/browsertest/node_modules/extra.loader.js
  test/browsertest/node_modules/library1/index.js
  test/browsertest/node_modules/library1/lib/comp.js
  test/browsertest/node_modules/library1/lib/component.js
  test/browsertest/node_modules/library1/node_modules/submodule1/index.js
  test/browsertest/node_modules/library1/node_modules/submodule2/index.js
  test/browsertest/node_modules/library2/lib/common.js
  test/browsertest/node_modules/library2/lib/extra.js
  test/browsertest/node_modules/library2/lib/extra2.js
  test/browsertest/node_modules/library2/lib/main.js
  test/browsertest/node_modules/library2/lib/test.js
  test/browsertest/node_modules/library2/node_modules/submodule1/index.js
  test/browsertest/node_modules/library2/node_modules/submodule2/index.js
  test/browsertest/node_modules/library2/node_modules/submodule3/index.js
  test/browsertest/node_modules/library2/package.json
  test/browsertest/node_modules/library2b.js
  test/browsertest/node_modules/subcontent/index.js
  test/browsertest/node_modules/subcontent/test.jade
  test/browsertest/node_modules/subcontent2/file.js
  test/browsertest/node_modules/submodule3/index.js
  test/browsertest/package.json
  test/browsertest/tests.html
  test/browsertest/web_modules/subcontent/index.js
  test/browsertest/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#7838 improve way of adding exported tests to test tree
  test/ConfigTestCases.test.js
  test/HotTestCases.test.js
  test/TestCases.template.js
  test/configCases/web/prefetch-preload/index.js
  test/helpers/createLazyTestEnv.js
Labels: PR: CI-ok, PR: unreviewed

#7830 Update Jest Homepage URL
  test/README.md
Labels: PR: CI-ok, PR: reviewed-approved

#7839 fixes 7778: query string in dynamic import()
  lib/dependencies/ContextDependencyHelpers.js
  lib/dependencies/ContextDependencyTemplateAsId.js
  lib/dependencies/ContextDependencyTemplateAsRequireCall.js
  test/cases/parsing/issue-7778/a.js
  test/cases/parsing/issue-7778/abc.js
  test/cases/parsing/issue-7778/index.js
Labels: PR: CI-ok, PR: unreviewed

#7852 Move Module.used and Module.usedExports into ModuleGraph
  lib/FlagDependencyUsagePlugin.js
  lib/FlagInitialModulesAsUsedPlugin.js
  lib/FunctionModuleTemplatePlugin.js
  lib/JsonGenerator.js
  lib/Module.js
  lib/RuntimeTemplate.js
  lib/Stats.js
  lib/dependencies/HarmonyCompatibilityDependency.js
  lib/dependencies/HarmonyExportExpressionDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/util/SortableSet.js
  lib/wasm/WasmFinalizeExportsPlugin.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/wasm/WebAssemblyUtils.js
  test/DelegatedModule.unittest.js
  test/HarmonyExportImportedSpecifierDependency.unittest.js
  test/RawModule.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7861 remove originModule from Dependencies and add parent module to ModuleGraph
  lib/Compilation.js
  lib/DelegatedModule.js
  lib/ModuleGraph.js
  lib/ModuleGraphConnection.js
  lib/NodeStuffPlugin.js
  lib/dependencies/DelegatedExportsDependency.js
  lib/dependencies/HarmonyAcceptImportDependency.js
  lib/dependencies/HarmonyCompatibilityDependency.js
  lib/dependencies/HarmonyDetectionParserPlugin.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyExportExpressionDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportSideEffectDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/ImportDependenciesBlock.js
  lib/dependencies/ImportDependency.js
  lib/dependencies/ImportEagerDependency.js
  lib/dependencies/ImportParserPlugin.js
  lib/dependencies/ImportWeakDependency.js
  lib/dependencies/ModuleDecoratorDependency.js
  lib/optimize/ConcatenatedModule.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7865 Update Jest URL
  test/README.md
Labels: PR: CI-ok, PR: reviewed-approved

#7866 chore(types): add jsdoc types for UnsupportedFeatureWarning class
  lib/UnsupportedFeatureWarning.js
Labels: PR: CI-ok, PR: reviewed-approved

#7870 move Module.issuer into Module.getIssuer(moduleGraph)
  lib/Compilation.js
  lib/Module.js
  lib/ModuleDependencyError.js
  lib/ModuleDependencyWarning.js
  lib/Stats.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7812 Hide orphan modules in Stats
  lib/Stats.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/concat-and-sideeffects/webpack.config.js
  test/statsCases/scope-hoisting-bailouts/webpack.config.js
  test/statsCases/scope-hoisting-multi/webpack.config.js
  test/statsCases/side-effects-issue-7428/webpack.config.js
  test/statsCases/side-effects-simple-unused/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: wip

#7882 Avoid needless sort in Chunk compare
  lib/Chunk.js
Labels: PR: CI-ok, PR: reviewed-approved

#7881 refactor
  setup/setup.js
Labels: PR: CI-ok, PR: reviewed-approved

#7888 fixes #7887
  lib/optimize/ConcatenatedModule.js
Labels: PR: CI-ok, PR: unreviewed

#7886 [Docs] Update README.md
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#7896 allow multiple entryModules per chunk
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/ChunkGroup.js
  lib/ChunkTemplate.js
  lib/Compilation.js
  lib/DllEntryPlugin.js
  lib/DynamicEntryPlugin.js
  lib/EntryOptionPlugin.js
  lib/EntryPlugin.js
  lib/ExtendedAPIPlugin.js
  lib/ExternalModule.js
  lib/FlagDependencyUsagePlugin.js
  lib/HotModuleReplacementPlugin.js
  lib/JavascriptModulesPlugin.js
  lib/LibManifestPlugin.js
  lib/MainTemplate.js
  lib/Module.js
  lib/MultiEntryPlugin.js
  lib/MultiModule.js
  lib/MultiModuleFactory.js
  lib/SingleEntryPlugin.js
  lib/Template.js
  lib/dependencies/EntryDependency.js
  lib/dependencies/MultiEntryDependency.js
  lib/node/NodeMainTemplatePlugin.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/optimize/EnsureChunkConditionsPlugin.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/optimize/OccurrenceModuleOrderPlugin.js
  lib/optimize/RemoveEmptyChunksPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/web/JsonpChunkTemplatePlugin.js
  lib/web/JsonpHelpers.js
  lib/web/JsonpMainTemplatePlugin.js
  lib/webpack.js
  lib/webworker/WebWorkerMainTemplatePlugin.js
  test/StatsTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/commons-chunk-plugin/hot-multi/first.js
  test/configCases/commons-chunk-plugin/hot-multi/second.js
  test/configCases/commons-chunk-plugin/hot-multi/vendor.js
  test/configCases/entry/adding-mulitple-entry-points/fail.js
  test/configCases/entry/adding-mulitple-entry-points/ok.js
  test/configCases/entry/adding-mulitple-entry-points/test.config.js
  test/configCases/entry/adding-mulitple-entry-points/webpack.config.js
  test/configCases/entry/override-entry-point/fail.js
  test/configCases/entry/override-entry-point/webpack.config.js
  test/configCases/errors/multi-entry-missing-module/index.js
  test/configCases/errors/multi-entry-missing-module/test.config.js
  test/configCases/errors/multi-entry-missing-module/webpack.config.js
  test/statsCases/no-emit-on-errors-plugin-with-child-error/TestChildCompilationFailurePlugin.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7824 Replace Basic and Advanced optimzation hooks by stages
  lib/Compilation.js
  lib/FlagDependencyUsagePlugin.js
  lib/FunctionModuleTemplatePlugin.js
  lib/NormalModule.js
  lib/OptimizationStages.js
  lib/ProgressPlugin.js
  lib/Stats.js
  lib/optimize/AggressiveMergingPlugin.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/optimize/EnsureChunkConditionsPlugin.js
  lib/optimize/LimitChunkCountPlugin.js
  lib/optimize/MergeDuplicateChunksPlugin.js
  lib/optimize/MinChunkSizePlugin.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/optimize/RemoveEmptyChunksPlugin.js
  lib/optimize/RemoveParentModulesPlugin.js
  lib/optimize/RuntimeChunkPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/wasm/WasmFinalizeExportsPlugin.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/web/JsonpMainTemplatePlugin.js
  test/StatsTestCases.test.js
  test/TestCases.template.js
  tooling/inherit-types.js
Labels: PR: CI-ok, PR: next, PR: review-outdated

#7921 chunk ids contribute to contenthash for javascript
  lib/JavascriptModulesPlugin.js
  test/configCases/contenthash/include-chunk-id/chunk.js
  test/configCases/contenthash/include-chunk-id/index.js
  test/configCases/contenthash/include-chunk-id/test.config.js
  test/configCases/contenthash/include-chunk-id/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#7922 fix exporting globals in scope-hoisted modules
  lib/optimize/ConcatenatedModule.js
  test/configCases/scope-hoisting/export-global/index.js
  test/configCases/scope-hoisting/export-global/module.js
  test/configCases/scope-hoisting/export-global/module2.js
  test/configCases/scope-hoisting/export-global/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#7926 Refactor/module graph
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/FlagDependencyUsagePlugin.js
  lib/FlagInitialModulesAsUsedPlugin.js
  lib/FunctionModuleTemplatePlugin.js
  lib/HotModuleReplacementPlugin.js
  lib/JavascriptModulesPlugin.js
  lib/LibManifestPlugin.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/Stats.js
  lib/dependencies/HarmonyCompatibilityDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/optimize/ChunkModuleIdRangePlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/optimize/NaturalChunkOrderPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  lib/util/comparators.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/wasm/WebAssemblyModulesPlugin.js
  lib/web/JsonpChunkTemplatePlugin.js
  lib/web/JsonpMainTemplatePlugin.js
  test/configCases/chunk-index/order-multiple-entries/webpack.config.js
  test/statsCases/named-chunks-plugin-async/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#7931 fixes #7930
  lib/optimize/ConcatenatedModule.js
  test/cases/scope-hoisting/issue-7930/export.js
  test/cases/scope-hoisting/issue-7930/index.js
  test/cases/scope-hoisting/issue-7930/module.js
Labels: PR: CI-ok, PR: unreviewed

#7934 Refactor/module graph
  lib/AsyncDependenciesBlock.js
  lib/BannerPlugin.js
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/Compiler.js
  lib/ContextModule.js
  lib/DependencyTemplate.js
  lib/Generator.js
  lib/GraphHelpers.js
  lib/HotModuleReplacementPlugin.js
  lib/JavascriptGenerator.js
  lib/JavascriptModulesPlugin.js
  lib/LibManifestPlugin.js
  lib/Module.js
  lib/NormalModule.js
  lib/RuntimeTemplate.js
  lib/SourceMapDevToolPlugin.js
  lib/Template.js
  lib/TemplatedPathPlugin.js
  lib/dependencies/AMDRequireDependency.js
  lib/dependencies/ImportDependency.js
  lib/dependencies/ImportEagerDependency.js
  lib/dependencies/ImportWeakDependency.js
  lib/dependencies/RequireEnsureDependency.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyModulesPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7951 Use ChunkGraph instead of Compilation in updateHash
  lib/AsyncDependenciesBlock.js
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/Compilation.js
  lib/DelegatedModule.js
  lib/DependenciesBlock.js
  lib/DllModule.js
  lib/ExternalModule.js
  lib/Module.js
  lib/NormalModule.js
  lib/RawModule.js
  lib/optimize/ConcatenatedModule.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7963 Refactor to finally get rid of disconnect
  lib/AmdMainTemplatePlugin.js
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DependenciesBlock.js
  lib/Dependency.js
  lib/EvalDevToolModulePlugin.js
  lib/EvalDevToolModuleTemplatePlugin.js
  lib/EvalSourceMapDevToolModuleTemplatePlugin.js
  lib/ExternalModule.js
  lib/HashedModuleIdsPlugin.js
  lib/HotModuleReplacementPlugin.js
  lib/JavascriptModulesPlugin.js
  lib/LibManifestPlugin.js
  lib/MainTemplate.js
  lib/Module.js
  lib/ModuleFilenameHelpers.js
  lib/NamedModulesPlugin.js
  lib/RecordIdsPlugin.js
  lib/RuntimeTemplate.js
  lib/SourceMapDevToolPlugin.js
  lib/Stats.js
  lib/Template.js
  lib/TemplatedPathPlugin.js
  lib/UmdMainTemplatePlugin.js
  lib/dependencies/AMDRequireArrayDependency.js
  lib/dependencies/CachedConstDependency.js
  lib/dependencies/ConstDependency.js
  lib/dependencies/ContextDependencyTemplateAsId.js
  lib/dependencies/ContextDependencyTemplateAsRequireCall.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/ModuleDecoratorDependency.js
  lib/dependencies/ModuleDependencyTemplateAsId.js
  lib/dependencies/ModuleDependencyTemplateAsRequireId.js
  lib/dependencies/NullDependency.js
  lib/dependencies/ProvidedDependency.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/optimize/ChunkModuleIdRangePlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/NaturalChunkOrderPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/util/comparators.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/wasm/WebAssemblyModulesPlugin.js
  lib/web/JsonpHelpers.js
  test/NormalModule.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/named-chunks-plugin-async/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#7969 Upgrade some dependencies
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed
