Repository webpack/webpack, pull requests merged in 2018-11, with the labels that each got.

#8294 [ImportParserPlugin] fix return value when creating context for `import()`
  lib/BasicEvaluatedExpression.js
  lib/Parser.js
  lib/dependencies/AMDDefineDependencyParserPlugin.js
  lib/dependencies/AMDRequireDependenciesBlockParserPlugin.js
  lib/dependencies/CommonJsRequireDependencyParserPlugin.js
  lib/dependencies/ContextDependencyHelpers.js
  lib/dependencies/ImportParserPlugin.js
  lib/dependencies/RequireResolveDependencyParserPlugin.js
  test/cases/parsing/issue-7778/index.js
  test/configCases/parsing/issue-8293/amd-define.js
  test/configCases/parsing/issue-8293/amd-require.js
  test/configCases/parsing/issue-8293/commonjs.js
  test/configCases/parsing/issue-8293/import.js
  test/configCases/parsing/issue-8293/index.js
  test/configCases/parsing/issue-8293/prefix0/folder/suffix0.js
  test/configCases/parsing/issue-8293/prefix1/folder/suffix1.js
  test/configCases/parsing/issue-8293/prefix2/folder/suffix2.js
  test/configCases/parsing/issue-8293/prefix3/folder/suffix3.js
  test/configCases/parsing/issue-8293/prefix4/folder/suffix4.js
  test/configCases/parsing/issue-8293/require.resolve.js
  test/configCases/parsing/issue-8293/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#8327 Publish test results from Azure Pipelines builds
  azure-pipelines.yml
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#8329 test(Compiler): Promisifed webpack returns errors as a return value
  lib/EntryModuleNotFoundError.js
  test/Compiler.test.js
  test/fixtures/missing-file.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8139 Adding format option for Dll Plugin to get a formatted manifest json. #7992
  declarations/plugins/DllPlugin.d.ts
  lib/LibManifestPlugin.js
  schemas/plugins/DllPlugin.json
  test/configCases/dll-plugin-format/0-create-dll/dep.js
  test/configCases/dll-plugin-format/0-create-dll/index.js
  test/configCases/dll-plugin-format/0-create-dll/test.config.js
  test/configCases/dll-plugin-format/0-create-dll/utility.js
  test/configCases/dll-plugin-format/0-create-dll/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#8276 Set deterministic module ids in prod by default
  lib/WebpackOptionsDefaulter.js
  test/Compiler.test.js
  test/__snapshots__/ConfigTestCases.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8279 ProgressPlugin: support progress by entry points
  declarations/plugins/ProgressPlugin.d.ts
  lib/Compilation.js
  lib/ProgressPlugin.js
  schemas/plugins/ProgressPlugin.json
  test/NodeTemplatePlugin.test.js
Labels: PR: CI-ok, PR: review-outdated, PR: tests-needed

#8250 fix: disable ProvidePlugin for javascript/esm (fixes #7032)
  lib/ProvidePlugin.js
  test/configCases/plugins/provide-plugin/foo.mjs
  test/configCases/plugins/provide-plugin/index.js
  test/configCases/plugins/provide-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#8109 refactor(TemplatedPathPlugin): split placeholder context (`chunk|module`)
  declarations/plugins/BannerPlugin.d.ts
  lib/BannerPlugin.js
  lib/Compilation.js
  lib/JavascriptModulesPlugin.js
  lib/LibManifestPlugin.js
  lib/SourceMapDevToolPlugin.js
  lib/TemplatedPathPlugin.js
  lib/WebpackOptionsDefaulter.js
  lib/wasm/WebAssemblyModulesPlugin.js
  schemas/plugins/BannerPlugin.json
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8231 Some minor fixes and comments
  lib/dependencies/WebAssemblyExportImportedDependency.js
  lib/util/comparators.js
  lib/util/createHash.js
Labels: PR: next, PR: unreviewed

#8333 minor fixes for #8109
  lib/TemplatedPathPlugin.js
  test/configCases/plugins/banner-plugin-hashing/index.js
  test/configCases/plugins/banner-plugin-hashing/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8334 move azure specific commands to azure-pipelines.yml
  azure-pipelines.yml
  package.json
Labels: PR: unreviewed

#8339 refactor properties on __webpack_require__
  declarations.d.ts
  lib/APIPlugin.js
  lib/ContextModule.js
  lib/ExtendedAPIPlugin.js
  lib/HotModuleReplacement.runtime.js
  lib/HotModuleReplacementPlugin.js
  lib/MainTemplate.js
  lib/NodeStuffPlugin.js
  lib/RequireJsStuffPlugin.js
  lib/RuntimeGlobals.js
  lib/RuntimeTemplate.js
  lib/dependencies/CommonJsRequireDependencyParserPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportSpecifierDependency.js
  lib/node/NodeMainTemplateAsync.runtime.js
  lib/node/NodeMainTemplatePlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/wasm/WasmMainTemplatePlugin.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  lib/web/FetchCompileWasmTemplatePlugin.js
  lib/web/JsonpMainTemplate.runtime.js
  lib/web/JsonpMainTemplatePlugin.js
  lib/webworker/WebWorkerMainTemplate.runtime.js
  lib/webworker/WebWorkerMainTemplatePlugin.js
  test/cases/parsing/issue-758/index.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8338 Bugfix for #8293
  lib/BasicEvaluatedExpression.js
  lib/Parser.js
  lib/dependencies/ContextDependencyHelpers.js
  test/configCases/plugins/define-plugin/dir/a.js
  test/configCases/plugins/define-plugin/index.js
  test/configCases/plugins/define-plugin/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#8337 test for #8293
  test/configCases/plugins/define-plugin/index.js
  test/configCases/plugins/define-plugin/webpack.config.js
Labels: PR: CI-not-ok, PR: unreviewed

#8336 show module count earlier when they are added to the queue
  lib/ProgressPlugin.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8347 Add missing types on chunk related classes
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/Entrypoint.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed, PR: types

#8357 Add types to SizeLimitsPlugin
  lib/performance/AssetsOverSizeLimitWarning.js
  lib/performance/EntrypointsOverSizeLimitWarning.js
  lib/performance/SizeLimitsPlugin.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: types

#8359 Update TypeScript and fix raised errors
  bin/webpack.js
  lib/Compilation.js
  lib/Compiler.js
  lib/Stats.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: types

#8351 Fix a typo in Chunk#split jsdoc comment
  lib/Chunk.js
Labels: PR: CI-ok, PR: reviewed-approved

#8358 Type 'apply' method of plugins
  declarations/WebpackOptions.d.ts
  declarations/plugins/SourceMapDevToolPlugin.d.ts
  lib/Compilation.js
  lib/ConstPlugin.js
  lib/EvalDevToolModulePlugin.js
  lib/EvalDevToolModuleTemplatePlugin.js
  lib/EvalSourceMapDevToolModuleTemplatePlugin.js
  lib/HotModuleReplacementPlugin.js
  lib/LoaderOptionsPlugin.js
  lib/LoaderTargetPlugin.js
  lib/Module.js
  lib/NormalModule.js
  lib/ProvidePlugin.js
  lib/SizeFormatHelpers.js
  lib/SourceMapDevToolModuleOptionsPlugin.js
  lib/WatchIgnorePlugin.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/dependencies/LoaderPlugin.js
  lib/ids/assignAscendingChunkIds.js
  lib/ids/assignAscendingModuleIds.js
  lib/node/NodeEnvironmentPlugin.js
  lib/node/NodeSourcePlugin.js
  lib/node/NodeTargetPlugin.js
  lib/node/NodeTemplatePlugin.js
  lib/node/ReadFileCompileWasmTemplatePlugin.js
  lib/optimize/EnsureChunkConditionsPlugin.js
  lib/optimize/FlagIncludedChunksPlugin.js
  lib/optimize/RuntimeChunkPlugin.js
  lib/web/FetchCompileWasmTemplatePlugin.js
  lib/web/JsonpExportMainTemplatePlugin.js
  lib/web/JsonpMainTemplatePlugin.js
  lib/web/JsonpTemplatePlugin.js
  lib/webworker/WebWorkerTemplatePlugin.js
  schemas/WebpackOptions.json
  schemas/plugins/SourceMapDevToolPlugin.json
  test/SourceMapDevToolModuleOptionsPlugin.unittest.js
  test/configCases/filename-template/module-filename-template/webpack.config.js
  test/configCases/source-map/line-to-line/index.js
  test/configCases/source-map/line-to-line/test.js
  test/configCases/source-map/line-to-line/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: types

#8388 Refactor getInitFragments
  lib/DependencyTemplate.js
  lib/JavascriptGenerator.js
  lib/dependencies/CachedConstDependency.js
  lib/dependencies/HarmonyAcceptImportDependency.js
  lib/dependencies/HarmonyCompatibilityDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSideEffectDependency.js
  lib/dependencies/ModuleDecoratorDependency.js
  lib/dependencies/ProvidedDependency.js
  lib/optimize/ConcatenatedModule.js
  test/HotModuleReplacementPlugin.test.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#8385 Drop unuseful `eval` call
  buildin/global.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#8349 Add types on module files
  lib/ContextModule.js
  lib/Module.js
  lib/ModuleBuildError.js
  lib/ModuleDependencyWarning.js
  lib/ModuleError.js
  lib/ModuleGraphConnection.js
  lib/ModuleNotFoundError.js
  lib/ModuleRestoreError.js
  lib/ModuleTemplate.js
  lib/ModuleWarning.js
  lib/NormalModule.js
  lib/RawModule.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed, PR: types

#8410 handle case when minSize > maxSize
  lib/optimize/SplitChunksPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks-max-size/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#8416 while grouping nodes include at least one node on each side
  lib/util/deterministicGrouping.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks-max-size/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#8417 prevent groups with size < minSize
  lib/util/deterministicGrouping.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#8418 Preliminary work before typing the parsers
  lib/JsonParser.js
  lib/NormalModule.js
  lib/RequestShortener.js
  lib/ResolverFactory.js
  lib/dependencies/JsonExportsDependency.js
  lib/util/StackedSetMap.js
  lib/util/TrackingSet.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: types

#8420 Remove context usage in ProgressPlugin
  lib/ProgressPlugin.js
  lib/SourceMapDevToolPlugin.js
  test/configCases/plugins/progress-plugin/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#8436 Remove concord support
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
  test/TestCases.template.js
  test/cases/concord/inner-modules-and-extensions/index.js
  test/cases/concord/inner-modules-and-extensions/modules/app/file.js
  test/cases/concord/inner-modules-and-extensions/modules/app/file2.js
  test/cases/concord/inner-modules-and-extensions/modules/app/file2.my-js
  test/cases/concord/inner-modules-and-extensions/package.json
  test/cases/concord/inner-modules-and-extensions/the-thing.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8405 fix parameter missing when plugin type is a funtion
  declarations/WebpackOptions.d.ts
  lib/webpack.js
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: reviewed-approved

#8440 Cache hasRunstime in chunk
  lib/Chunk.js
Labels: PR: CI-ok, PR: reviewed-approved
