Repository webpack/webpack, pull requests merged in 2018-03, with the labels that each got.

#6611 Make error messages better
  lib/WebpackOptionsValidationError.js
  test/Validation.test.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6610 refactor: use webassemblyjs tools
  lib/WebAssemblyParser.js
  package.json
  yarn.lock
Labels: PR: non-master, PR: unreviewed

#6663 expose stuff and all non-bundle modules
  lib/JavascriptModulesPlugin.js
  lib/webpack.js
Labels: PR: CI-ok, PR: small, PR: tests-needed, PR: unreviewed

#6613 improve performance of ModuleConcatenationPlugin for loop
  lib/optimize/ModuleConcatenationPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6651 allow to configure filename for splitted chunks
  lib/JavascriptModulesPlugin.js
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/configCases/filename-template/split-chunks-filename/index.js
  test/configCases/filename-template/split-chunks-filename/node_modules/test.js
  test/configCases/filename-template/split-chunks-filename/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#6648 Update downloads badge to point to graph of downloads
  README.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6645 Fix #6644
  lib/optimize/SplitChunksPlugin.js
  test/configCases/split-chunks/no-options/a.js
  test/configCases/split-chunks/no-options/index.js
  test/configCases/split-chunks/no-options/test.config.js
  test/configCases/split-chunks/no-options/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6650 Update watchpack to 1.5.0
  package.json
  yarn.lock
Labels: PR: CI-not-ok, PR: reviewed-approved

#6627 defaults: set source map option for UglifyJs to true if SourceMapDevToolPlugin exists
  lib/WebpackOptionsDefaulter.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6664 larger timeouts to make CI more stable
  test/Examples.test.js
  test/HotTestCases.test.js
Labels: PR: CI-ok, PR: small, PR: unreviewed

#6640 fix: module assets is in buildInfo
  lib/Stats.js
  schemas/WebpackOptions.json
  test/statsCases/module-assets/expected.txt
  test/statsCases/module-assets/index.js
  test/statsCases/module-assets/node_modules/a/1.png
  test/statsCases/module-assets/node_modules/a/index.js
  test/statsCases/module-assets/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6686 Remove CommonsChunkPlugin link
  README.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6685 Escape chunk names on node
  lib/node/NodeMainTemplatePlugin.js
  test/configCases/async-commons-chunk/node/index.js
  test/configCases/async-commons-chunk/node/modules/a.js
  test/configCases/async-commons-chunk/node/modules/b.js
  test/configCases/async-commons-chunk/node/modules/c.js
  test/configCases/async-commons-chunk/node/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#6641 Fix #6634
  lib/WebpackOptionsDefaulter.js
  test/configCases/source-map/array-as-output-library/index.js
  test/configCases/source-map/array-as-output-library/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6609 Fix version in configuration error messages
  lib/WebpackOptionsValidationError.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6670 Use 2-digit format for day and month in "built at" output
  lib/Stats.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6689 fix #6688
  lib/optimize/ConcatenatedModule.js
  test/configCases/scope-hoisting/class-naming/index.js
  test/configCases/scope-hoisting/class-naming/module.js
  test/configCases/scope-hoisting/class-naming/module2.js
  test/configCases/scope-hoisting/class-naming/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#6697 fix bug where modules are put into the wrong chunk
  lib/optimize/SplitChunksPlugin.js
  test/statsCases/split-chunks-issue-6696/a.js
  test/statsCases/split-chunks-issue-6696/b.js
  test/statsCases/split-chunks-issue-6696/expected.txt
  test/statsCases/split-chunks-issue-6696/index.js
  test/statsCases/split-chunks-issue-6696/node_modules/x.js
  test/statsCases/split-chunks-issue-6696/node_modules/y.js
  test/statsCases/split-chunks-issue-6696/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#6723 Only declare mocha globals inside dir
  .eslintrc.js
  test/.eslintrc.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6712 Allow configuration of split chunk filename delimiter
  lib/WebpackOptionsDefaulter.js
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/configCases/split-chunks/chunk-filename-delimiter-default/a.js
  test/configCases/split-chunks/chunk-filename-delimiter-default/b.js
  test/configCases/split-chunks/chunk-filename-delimiter-default/c.js
  test/configCases/split-chunks/chunk-filename-delimiter-default/commons.js
  test/configCases/split-chunks/chunk-filename-delimiter-default/index.js
  test/configCases/split-chunks/chunk-filename-delimiter-default/test.config.js
  test/configCases/split-chunks/chunk-filename-delimiter-default/webpack.config.js
  test/configCases/split-chunks/chunk-filename-delimiter/a.js
  test/configCases/split-chunks/chunk-filename-delimiter/b.js
  test/configCases/split-chunks/chunk-filename-delimiter/c.js
  test/configCases/split-chunks/chunk-filename-delimiter/commons.js
  test/configCases/split-chunks/chunk-filename-delimiter/index.js
  test/configCases/split-chunks/chunk-filename-delimiter/test.config.js
  test/configCases/split-chunks/chunk-filename-delimiter/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#6678 fix(ProfilingPlugin): complete after the writeStream had finished flushing the data to the filesystem
  lib/debug/ProfilingPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6713 bot: Encapsulate output logs in details tag
  open-bot.yaml
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6738 Fix typos
  README.md
  examples/chunkhash/README.md
  examples/common-chunk-and-vendor-chunk/README.md
  examples/hybrid-routing/README.md
  examples/multiple-entry-points/README.md
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/web/JsonpMainTemplatePlugin.js
  test/cases/parsing/evaluate/index.js
  test/statsCases/commons-plugin-issue-4980/expected.txt
Labels: PR: CI-ok, PR: reviewed-approved

#6750 fix: make excludeModules accept booleans
  lib/Stats.js
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6691 Prevent webpack from running twice at a time
  lib/Compiler.js
  lib/ConcurrentCompilationError.js
  lib/MultiCompiler.js
  lib/MultiWatching.js
  lib/Watching.js
  test/Compiler.test.js
  test/MultiCompiler.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#6736 Make the `performance` default to false while at non-web target. Close #6715
  lib/WebpackOptionsDefaulter.js
  test/statsCases/performance-different-mode-and-target/expected.txt
  test/statsCases/performance-different-mode-and-target/index.js
  test/statsCases/performance-different-mode-and-target/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#6756 bot: Fix Markdown format for output logs
  open-bot.yaml
Labels: PR: small, PR: unreviewed

#6739 reverting the HMR plugin runtime to use ES5
  lib/HotModuleReplacement.runtime.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6744 .editorconfig file simplified
  .editorconfig
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6766 misc: Add schemas to ESLint and Prettier commands
  package.json
  schemas/ajv.absolutePath.js
Labels: PR: CI-ok, PR: reviewed-approved

#6783 Remove jsbeautifyrc file
  .jsbeautifyrc
Labels: PR: CI-ok, PR: reviewed-approved

#6674 Make AMD parser modules extensible again
  lib/dependencies/AMDDefineDependencyParserPlugin.js
  lib/dependencies/AMDRequireDependenciesBlockParserPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#6789 fix(bug) #5964 convert MS into S for scripts timeout attr
  lib/web/JsonpMainTemplatePlugin.js
  test/statsCases/import-context-filter/expected.txt
  test/statsCases/module-deduplication-named/expected.txt
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6806 handle reexporting json default export correctly
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  test/cases/scope-hoisting/json-reexport-6700/a.json
  test/cases/scope-hoisting/json-reexport-6700/b.json
  test/cases/scope-hoisting/json-reexport-6700/index.js
  test/cases/scope-hoisting/json-reexport-6700/json.js
Labels: PR: CI-ok, PR: unreviewed

#6788 fix: Chunks is not iterable when using source maps with ProfilingPlugin
  lib/debug/ProfilingPlugin.js
  test/configCases/source-map/source-map-with-profiling-plugin/index.js
  test/configCases/source-map/source-map-with-profiling-plugin/test.js
  test/configCases/source-map/source-map-with-profiling-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6810 Add end of statement semicolon
  lib/web/JsonpMainTemplatePlugin.js
  test/statsCases/module-deduplication-named/expected.txt
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6754 fix: validation error when ! is in the path
  schemas/ajv.absolutePath.js
  test/Validation.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#6831 Bump UglifyJSPlugin to remove Tapable warning
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#6814 Read 'browser' main field when target is 'electron-renderer'
  lib/WebpackOptionsDefaulter.js
  test/configCases/target/electron-renderer/index.js
  test/configCases/target/electron-renderer/node_modules/foo/browser.js
  test/configCases/target/electron-renderer/node_modules/foo/main.js
  test/configCases/target/electron-renderer/node_modules/foo/package.json
  test/configCases/target/electron-renderer/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6832 Use 'Reflect.defineProperty' instead of 'Object.defineProperty'
  lib/webpack.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6839 add [contenthash] support
  lib/Chunk.js
  lib/Compilation.js
  lib/JavascriptModulesPlugin.js
  lib/SourceMapDevToolPlugin.js
  lib/TemplatedPathPlugin.js
  lib/node/NodeMainTemplatePlugin.js
  lib/web/JsonpMainTemplatePlugin.js
  lib/webpack.js
  lib/webworker/WebWorkerMainTemplatePlugin.js
  test/ConfigTestCases.test.js
  test/configCases/hash-length/output-filename/no-async.js
  test/configCases/hash-length/output-filename/test.config.js
  test/configCases/hash-length/output-filename/webpack.config.js
Labels: PR: CI-ok, PR: review-outdated

#6861 Extracts setup instructions from Contributing.md into separate _Setup.md
  CONTRIBUTING.md
  _SETUP.md
Labels: PR: CI-ok, PR: reviewed-approved

#6844 Add handling for devtool source-map with library specified as Object
  lib/WebpackOptionsDefaulter.js
  test/configCases/source-map/object-as-output-library/index.js
  test/configCases/source-map/object-as-output-library/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#6872 fix capitalization of project name in README.md
  README.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6875 Remove extraneous argument from setOptions call sites in OptionsDefaulter
  lib/OptionsDefaulter.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6886 Initialize useSourceMap in Module
  lib/Module.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6884 Initialize loc member in Dependency
  lib/Dependency.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6892 fix: better no mode warning message
  lib/NoModeWarning.js
  test/statsCases/no-emit-on-errors-plugin-with-child-error/expected.txt
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6881 Remove extra argument passed to JavascriptGenerator constructor
  lib/JavascriptModulesPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small, PR: tests-needed

#6885 Initialize compilationDependencies in Compilation as undefined
  lib/Compilation.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6900 Remove extra argument passed to getEntrypointSize in SizeLimitsPlugin
  lib/performance/SizeLimitsPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6899 Remove extra argument sent to HarmonyExportExpressionDependencyConcat…
  lib/optimize/ConcatenatedModule.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6898 Remove extra argument passed to ContextModuleFactory in Compiler
  lib/Compiler.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6897 Initialize start and end time as undefined in Stats
  lib/Stats.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6894 fixes for mini-css-extract-plugin
  lib/Compilation.js
  lib/ContextModule.js
  lib/HotUpdateChunkTemplate.js
  lib/Module.js
  lib/NormalModule.js
Labels: PR: CI-ok, PR: reviewed-approved

#6889 Issue 6867
  lib/Parser.js
  test/cases/parsing/issue-6867/a.js
  test/cases/parsing/issue-6867/b.js
  test/cases/parsing/issue-6867/c.js
  test/cases/parsing/issue-6867/d.js
  test/cases/parsing/issue-6867/e.js
  test/cases/parsing/issue-6867/f.js
  test/cases/parsing/issue-6867/g.js
  test/cases/parsing/issue-6867/h.js
  test/cases/parsing/issue-6867/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#6883 Initialize fileTimestamps and contextTimestamps in Compilation
  lib/Compilation.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6882 Remove extra argument from WebAssemblyImportDependency constructor call site
  lib/WebAssemblyParser.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6833 Use ellipsis instead of '...'
  lib/Compiler.js
  lib/JavascriptGenerator.js
  lib/Parser.js
  lib/ProgressPlugin.js
  lib/Template.js
  lib/WebpackOptionsValidationError.js
  lib/dependencies/AMDDefineDependencyParserPlugin.js
  lib/dependencies/AMDRequireDependenciesBlockParserPlugin.js
  test/Validation.test.js
  test/browsertest/build.js
  test/cases/parsing/extract-require/index.js
  test/cases/parsing/hot-api/index.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#6827 Save identifier module after first getting
  lib/ContextModule.js
  lib/MultiModule.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6672 fix(bug): chunkFilename as function doesn't work
  lib/WebpackOptionsDefaulter.js
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: reviewed-approved, PR: small

#6467 Prompt install cli
  bin/webpack.js
Labels: PR: CI-ok, PR: reviewed-approved

#6791 Support selector function as optimization.splitChunks.chunks option
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/statsCases/split-chunks/expected.txt
  test/statsCases/split-chunks/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#6864 Update prettier toolchain
  .eslintrc.js
  .prettierrc
  .prettierrc.js
  bin/webpack.js
  lib/APIPlugin.js
  lib/AmdMainTemplatePlugin.js
  lib/AsyncDependencyToInitialChunkError.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/DefinePlugin.js
  lib/EnvironmentPlugin.js
  lib/ExternalModule.js
  lib/MainTemplate.js
  lib/ModuleFilenameHelpers.js
  lib/NormalModuleFactory.js
  lib/RecordIdsPlugin.js
  lib/RuntimeTemplate.js
  lib/TemplatedPathPlugin.js
  lib/UmdMainTemplatePlugin.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsValidationError.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportSpecifierDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/ImportParserPlugin.js
  lib/dependencies/RequireIncludeDependency.js
  lib/dependencies/WebpackMissingModule.js
  lib/node/ReadFileCompileWasmMainTemplatePlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/SplitChunksPlugin.js
  lib/web/JsonpChunkTemplatePlugin.js
  lib/web/JsonpMainTemplatePlugin.js
  package.json
  schemas/ajv.absolutePath.js
  test/BenchmarkTestCases.benchmark.js
  test/NodeWatchFileSystem.unittest.js
  test/TestCases.test.js
  test/WatcherEvents.test.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#6907 use shell mode for windows support
  bin/webpack.js
Labels: PR: small, PR: unreviewed
