Repository webpack/webpack, pull requests merged in 2019-08, with the labels that each got.

#9493 Fix JSONP main template to allow currently forbidden chunk IDs (#9491)
  lib/web/JsonpMainTemplatePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/split-chunks/issue-9491/index.js
  test/configCases/split-chunks/issue-9491/test.config.js
  test/configCases/split-chunks/issue-9491/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#9318 chore: Makes it easier to access contents of emitted assets
  lib/Compiler.js
  test/configCases/asset-emitted/futureEmitAssets/index.js
  test/configCases/asset-emitted/futureEmitAssets/module.js
  test/configCases/asset-emitted/futureEmitAssets/webpack.config.js
  test/configCases/asset-emitted/normal/index.js
  test/configCases/asset-emitted/normal/module.js
  test/configCases/asset-emitted/normal/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#9506 Improve infrastructure logging
  lib/Compiler.js
  lib/MultiCompiler.js
  lib/ProgressPlugin.js
  lib/Stats.js
  lib/logging/Logger.js
  lib/logging/createConsoleLogger.js
  lib/logging/runtime.js
  lib/logging/truncateArgs.js
  lib/node/NodeEnvironmentPlugin.js
  lib/node/nodeConsole.js
  test/Compiler.test.js
  test/ProgressPlugin.test.js
  test/StatsTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/helpers/LogTestPlugin.js
  test/helpers/captureStdio.js
  test/statsCases/logging/webpack.config.js
  test/statsCases/preset-detailed/webpack.config.js
  test/statsCases/preset-errors-only-error/webpack.config.js
  test/statsCases/preset-errors-warnings/webpack.config.js
  test/statsCases/preset-minimal/webpack.config.js
  test/statsCases/preset-none/webpack.config.js
  test/statsCases/preset-normal/webpack.config.js
  test/statsCases/preset-verbose/webpack.config.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#9508 push latest version of dependencies to the end user
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#9512 fix 100% progress output
  lib/logging/truncateArgs.js
  test/ProgressPlugin.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#9513 make status logging 1 char shorter
  lib/node/nodeConsole.js
  test/ProgressPlugin.test.js
Labels: PR: CI-ok, PR: unreviewed

#9528 upgrade webpack-sources
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9534 update typescript dependencies
  declarations/WebpackOptions.d.ts
  declarations/plugins/WatchIgnorePlugin.d.ts
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9532 upgrade find-cache-dir
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9531 upgrade raw-loader
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/loaders/context/index.js
  test/cases/loaders/less-loader/index.js
  test/cases/loaders/raw-loader/index.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9536 Upgrade loaders
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9537 Upgrade eslint-scope
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9539 Upgrade less-loader
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9529 update non-jest dependencies in range
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9540 Upgrade some jest dependencies in range
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9541 Ugrade jest-junit
  package.json
  yarn.lock
Labels: PR: next, PR: unreviewed

#9543 Upgrade css-loader, husky and pretty-format
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9547 Performance improvements
  lib/APIPlugin.js
  lib/CompatibilityPlugin.js
  lib/Compilation.js
  lib/ConstPlugin.js
  lib/DefinePlugin.js
  lib/DelegatedPlugin.js
  lib/DllReferencePlugin.js
  lib/HotModuleReplacementPlugin.js
  lib/ModuleGraph.js
  lib/NormalModuleFactory.js
  lib/ProvidePlugin.js
  lib/RequireJsStuffPlugin.js
  lib/cache/ResolverCachePlugin.js
  lib/dependencies/AMDPlugin.js
  lib/dependencies/CommonJsPlugin.js
  lib/dependencies/ContextDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/HarmonyModulesPlugin.js
  lib/dependencies/RequireEnsurePlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/util/LazySet.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9548 Refactor migrate on schema utils
  declarations/plugins/WatchIgnorePlugin.d.ts
  declarations/plugins/debug/ProfilingPlugin.d.ts
  examples/dll-app-and-vendor/1-app/webpack.config.js
  lib/BannerPlugin.js
  lib/DllPlugin.js
  lib/DllReferencePlugin.js
  lib/IgnorePlugin.js
  lib/LoaderOptionsPlugin.js
  lib/ProgressPlugin.js
  lib/SourceMapDevToolPlugin.js
  lib/WatchIgnorePlugin.js
  lib/WebpackOptionsValidationError.js
  lib/debug/ProfilingPlugin.js
  lib/ids/HashedModuleIdsPlugin.js
  lib/ids/OccurrenceChunkIdsPlugin.js
  lib/ids/OccurrenceModuleIdsPlugin.js
  lib/index.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/optimize/LimitChunkCountPlugin.js
  lib/optimize/MinChunkSizePlugin.js
  lib/validateSchema.js
  lib/webpack.js
  package.json
  schemas/ajv.absolutePath.js
  schemas/plugins/WatchIgnorePlugin.json
  schemas/plugins/debug/ProfilingPlugin.json
  test/ProfilingPlugin.unittest.js
  test/Validation.test.js
  test/watchCases/plugins/watch-ignore-plugin/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-changes-requested

#9525 Update Docs
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#9544 [Docs]: Added TOC
  examples/README.md
Labels: PR: CI-ok, PR: reviewed-approved

#9558 chore: Minor typographical fixes
  lib/ChunkGroup.js
  lib/Entrypoint.js
Labels: PR: CI-ok, PR: reviewed-approved

#9563 replace logging in persistent caching with infrastructure logger
  declarations/WebpackOptions.d.ts
  examples/persistent-caching/README.md
  examples/persistent-caching/webpack.config.js
  lib/WebpackOptionsApply.js
  lib/cache/PackFileCacheStrategy.js
  lib/cache/SeparateFilesCacheStrategy.js
  lib/util/makeSerializable.js
  schemas/WebpackOptions.json
  test/TestCases.template.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9566 Fix asyncHook callback interceptor for ProfilingPlugin
  lib/debug/ProfilingPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#9559 chore: Minor refactor
  lib/BannerPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#9567 add build dependencies
  declarations.d.ts
  declarations/WebpackOptions.d.ts
  examples/persistent-caching/README.md
  examples/persistent-caching/example.css
  examples/persistent-caching/example.js
  examples/persistent-caching/webpack.config.js
  lib/Cache.js
  lib/Compilation.js
  lib/Compiler.js
  lib/FileSystemInfo.js
  lib/HookWebpackError.js
  lib/NormalModule.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/cache/AddBuildDependenciesPlugin.js
  lib/cache/AddManagedPathsPlugin.js
  lib/cache/IdleFileCachePlugin.js
  lib/cache/PackFileCacheStrategy.js
  lib/cache/SeparateFilesCacheStrategy.js
  lib/serialization/BinaryMiddleware.js
  lib/serialization/FileMiddleware.js
  lib/serialization/ObjectMiddleware.js
  lib/util/LazySet.js
  lib/util/fs.js
  lib/util/makeSerializable.js
  schemas/WebpackOptions.json
  test/BuildDependencies.test.js
  test/fixtures/buildDependencies/index.js
  test/fixtures/buildDependencies/loader-dependency.js
  test/fixtures/buildDependencies/loader.js
  test/fixtures/buildDependencies/run.js
  tooling/print-cache-file.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9583 upgrade acorn to 7
  lib/JavascriptParser.js
  lib/dependencies/ImportParserPlugin.js
  lib/dependencies/SystemPlugin.js
  package.json
  test/JavascriptParser.unittest.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9587 chore(WebAssemblyGenerator): Minor typographical fixes
  lib/wasm/WebAssemblyGenerator.js
Labels: PR: CI-ok, PR: reviewed-approved

#9588 chore(WebAssemblyGenerator): Added type metadata
  lib/wasm/WebAssemblyGenerator.js
Labels: PR: CI-ok, PR: reviewed-approved

#9597 chore: Minor grammatical correction
  lib/wasm/WebAssemblyGenerator.js
Labels: PR: CI-ok, PR: reviewed-approved

#9590 Fixed a grammatical error.
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#9618 bailed out external ESM in ConcatenatedModule generate property access correctly
  lib/optimize/ConcatenatedModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/scope-hoisting/external-root/chunk.js
  test/cases/scope-hoisting/external-root/index.js
  test/cases/scope-hoisting/external-root/module.js
  test/cases/scope-hoisting/external-root/root2-module.js
  test/cases/scope-hoisting/external-root/root2.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9605 fix and improve persistent caching for resolving, PnP support
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/Compiler.js
  lib/FileSystemInfo.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/cache/AddManagedPathsPlugin.js
  lib/cache/PackFileCacheStrategy.js
  package.json
  schemas/WebpackOptions.json
  test/BuildDependencies.test.js
  test/fixtures/buildDependencies/index.js
  test/fixtures/buildDependencies/loader-dependency.js
  test/fixtures/buildDependencies/module.js
  test/fixtures/buildDependencies/run.js
  tooling/print-cache-file.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9613 optimize eslint script
  .eslintignore
  .eslintrc.js
  package.json
  test/helpers/PluginEnvironment.js
  test/helpers/TemplatePluginEnvironment.js
  test/helpers/applyPluginWithOptions.js
  test/helpers/createLazyTestEnv.js
  test/helpers/remove.js
  test/helpers/supportDefaultAssignment.js
  test/helpers/supportsArrowFunctionExpression.js
  test/helpers/supportsBlockScoping.js
  test/helpers/supportsDefaultArgs.js
  test/helpers/supportsES6.js
  test/helpers/supportsForOf.js
  test/helpers/supportsIteratorDestructuring.js
  test/helpers/supportsObjectDestructuring.js
  test/helpers/supportsOptionalCatchBinding.js
  test/helpers/supportsSpread.js
  test/helpers/supportsTemplateStrings.js
  test/helpers/supportsWebAssembly.js
Labels: PR: CI-ok, PR: reviewed-approved

#9620 add `__webpack_exports_info__` API to allow export introspection
  lib/ExportsInfoApiPlugin.js
  lib/ModuleGraph.js
  lib/WebpackOptionsApply.js
  lib/dependencies/ExportsInfoDependency.js
  test/cases/parsing/harmony-deep-exports/counter.js
  test/cases/parsing/harmony-deep-exports/index.js
  test/cases/parsing/harmony-deep-exports/reexport-namespace-again.js
  test/cases/parsing/harmony-deep-exports/reexport-namespace.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9622 detect ASI and generate more efficient code when no semicolon need to be inserted
  lib/JavascriptParser.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/optimize/ConcatenatedModule.js
  test/cases/parsing/harmony-this/abc.js
  test/cases/parsing/harmony-this/index.js
  test/cases/parsing/harmony-this/new.js
  test/cases/parsing/harmony/index.js
  test/configCases/parsing/harmony-this-concat/index.js
  test/configCases/parsing/harmony-this/index.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9624 Merge export getters in a module into single statement
  lib/FlagDependencyExportsPlugin.js
  lib/InitFragment.js
  lib/JavascriptGenerator.js
  lib/RuntimeGlobals.js
  lib/RuntimePlugin.js
  lib/async-modules/AwaitDependenciesInitFragment.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportInitFragment.js
  lib/dependencies/HarmonyExportSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/runtime/CompatGetDefaultExportRuntimeModule.js
  lib/runtime/CreateFakeNamespaceObjectRuntimeModule.js
  lib/runtime/DefinePropertyGetterRuntimeModule.js
  lib/runtime/DefinePropertyGettersRuntimeModule.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9603 refactor: cache always true
  .gitignore
  lib/CachePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#9635 fixes #9634
  lib/buildChunkGraph.js
  test/configCases/chunk-graph/issue-9634/async-b.js
  test/configCases/chunk-graph/issue-9634/async-b2.js
  test/configCases/chunk-graph/issue-9634/entry-a.js
  test/configCases/chunk-graph/issue-9634/entry-b.js
  test/configCases/chunk-graph/issue-9634/leaf.js
  test/configCases/chunk-graph/issue-9634/module.js
  test/configCases/chunk-graph/issue-9634/shared.js
  test/configCases/chunk-graph/issue-9634/test.config.js
  test/configCases/chunk-graph/issue-9634/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#9631 add `output.ecmaVersion` option
  declarations/WebpackOptions.d.ts
  lib/APIPlugin.js
  lib/AmdMainTemplatePlugin.js
  lib/Chunk.js
  lib/CommonJsStuffPlugin.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/FunctionModuleTemplatePlugin.js
  lib/InitFragment.js
  lib/JavascriptGenerator.js
  lib/MainTemplate.js
  lib/NormalModule.js
  lib/RuntimeGlobals.js
  lib/RuntimeModule.js
  lib/RuntimePlugin.js
  lib/RuntimeTemplate.js
  lib/WebpackOptionsDefaulter.js
  lib/async-modules/AwaitDependenciesInitFragment.js
  lib/dependencies/HarmonyAcceptDependency.js
  lib/dependencies/HarmonyExportExpressionDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportInitFragment.js
  lib/dependencies/HarmonyImportDependency.js
  lib/node/NodeTemplatePlugin.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/ReadFileCompileAsyncWasmPlugin.js
  lib/node/ReadFileCompileWasmPlugin.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/optimize/ConcatenatedModule.js
  lib/runtime/CompatGetDefaultExportRuntimeModule.js
  lib/runtime/CreateFakeNamespaceObjectRuntimeModule.js
  lib/runtime/DefinePropertyGettersRuntimeModule.js
  lib/runtime/EnsureChunkRuntimeModule.js
  lib/runtime/GetChunkFilenameRuntimeModule.js
  lib/runtime/GetFullHashRuntimeModule.js
  lib/runtime/GetMainFilenameRuntimeModule.js
  lib/runtime/GlobalRuntimeModule.js
  lib/runtime/MakeNamespaceObjectRuntimeModule.js
  lib/runtime/PublicPathRuntimeModule.js
  lib/runtime/StartupChunkDependenciesPlugin.js
  lib/wasm-async/AsyncWasmChunkLoadingRuntimeModule.js
  lib/wasm/WasmChunkLoadingRuntimeModule.js
  lib/web/FetchCompileAsyncWasmPlugin.js
  lib/web/FetchCompileWasmPlugin.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/web/JsonpTemplatePlugin.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  lib/webworker/WebWorkerTemplatePlugin.js
  schemas/WebpackOptions.json
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/chunks/import-circle/index.js
  test/cases/chunks/import-circle/leftHelix.js
  test/cases/chunks/import-circle/leftHelixPrime.js
  test/cases/chunks/import-circle/rightHelix.js
  test/cases/chunks/import-circle/rightHelixPrime.js
  test/configCases/target/amd-require/index.js
  test/configCases/target/amd-unnamed/index.js
Labels: PR: CI-ok, PR: next, PR: unreviewed
