Repository webpack/webpack, pull requests merged in 2019-10, with the labels that each got.

#9777 fix infinite loop on circular inner graph references
  lib/optimize/InnerGraphPlugin.js
  test/cases/inner-graph/circular2/index.js
  test/cases/inner-graph/circular2/module.js
  test/fixtures/temp-watch-1569996664301/bundle.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9765 Fix incorrect path cropping in RequestShortener
  lib/RequestShortener.js
  test/RequestShortener.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved

#9793 improve developer experience
  lib/ProgressPlugin.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  test/ProgressPlugin.test.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9796 Feat improve ecma version option
  declarations/WebpackOptions.d.ts
  lib/RuntimeTemplate.js
  lib/WebpackOptionsDefaulter.js
  lib/util/normalizeEcmaVersion.js
  schemas/WebpackOptions.json
  test/Schemas.lint.js
  test/Validation.test.js
  test/configCases/ecmaVersion/2009/index.js
  test/configCases/ecmaVersion/2009/webpack.config.js
  test/configCases/ecmaVersion/2015/index.js
  test/configCases/ecmaVersion/2015/webpack.config.js
  test/configCases/ecmaVersion/5/index.js
  test/configCases/ecmaVersion/5/webpack.config.js
  test/configCases/ecmaVersion/6/index.js
  test/configCases/ecmaVersion/6/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9799 fix: Deal with undetected timeZone in Stats.js
  lib/Stats.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#9801 avoid a dynamic require in lib/util/serialization
  lib/util/internalSerializables.js
  lib/util/serialization.js
  tooling/format-file-header.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9819 set wrapped inner expression in concat parsing
  lib/JavascriptParser.js
  test/cases/parsing/issue-9817/index.js
  test/cases/parsing/issue-9817/langs/en.js
  test/cases/parsing/issue-9817/lo.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#9821 fix: Only add timeZone if toLocaleString throws with initial timeZone
  lib/Stats.js
Labels: PR: CI-ok, PR: non-master, PR: reviewed-approved

#9820 Do not show stack trace of errors in stats by default
  declarations/WebpackOptions.d.ts
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  schemas/WebpackOptions.json
  test/Errors.test.js
Labels: PR: CI-ok, PR: unreviewed

#9805 add types to JavascriptParser
  lib/JavascriptParser.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9837 Merge v4.41.2 into master
  .travis.yml
  appveyor.yml
Labels: PR: CI-ok, PR: unreviewed

#9849 fix badly chosen max fill rate for deterministic
  lib/Chunk.js
  lib/Compilation.js
  lib/JavascriptModulesPlugin.js
  lib/Template.js
  lib/asset/AssetModulesPlugin.js
  lib/ids/IdHelpers.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/wasm-async/AsyncWebAssemblyModulesPlugin.js
  lib/wasm/WasmChunkLoadingRuntimeModule.js
  lib/wasm/WebAssemblyModulesPlugin.js
  test/StatsTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/dll-plugin-entry/1-use-dll/index.js
  test/configCases/dll-plugin/1-use-dll/index.js
  test/configCases/dll-plugin/2-use-dll-without-scope/index.js
  test/configCases/errors/self-reexport/errors.js
  test/statsCases/named-chunks-plugin-async/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#9756 Remove trailing whitespace from banners
  lib/BannerPlugin.js
  test/configCases/plugins/banner-plugin/index.js
  test/configCases/plugins/banner-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#9851 Replace HTTP with HTTPS in README.md and CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#9858 allow bot to handle backporting requests
  open-bot.yaml
Labels: PR: CI-ok, PR: unreviewed

#9857 lazy require webassemblyjs using modules
  lib/wasm-async/AsyncWebAssemblyModulesPlugin.js
  lib/wasm/WebAssemblyModulesPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#9863 types(FileSystemInfo): minor types and code explanation
  lib/FileSystemInfo.js
Labels: PR: CI-ok, PR: reviewed-approved

#9748 Use AbstractMethodError all over the project
  lib/DependencyTemplate.js
  lib/Generator.js
  lib/Module.js
  lib/ModuleFactory.js
  lib/RuntimeModule.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#9689 refactor: `devtool` option
  declarations/WebpackOptions.d.ts
  examples/source-map/README.md
  examples/source-map/template.md
  examples/source-map/webpack.config.js
  lib/SourceMapDevToolPlugin.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  schemas/WebpackOptions.json
  test/Schemas.lint.js
  test/TestCasesAllCombined.test.js
  test/TestCasesDevelopment.test.js
  test/TestCasesDevtoolEvalCheapModuleSourceMap.test.js
  test/TestCasesDevtoolEvalCheapSourceMap.test.js
  test/TestCasesDevtoolEvalSourceMap.test.js
  test/TestCasesDevtoolInlineCheapSourceMap.test.js
  test/TestCasesDevtoolSourceMap.test.js
  test/Validation.test.js
  test/statsCases/preset-normal-performance-ensure-filter-sourcemaps/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9736 fix: Limit chunk count plugin
  declarations/plugins/optimize/LimitChunkCountPlugin.d.ts
  lib/optimize/LimitChunkCountPlugin.js
  schemas/plugins/optimize/LimitChunkCountPlugin.json
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9780 Travis CI: update nightly node 13 and remove deprecated sude:false
  .travis.yml
Labels: PR: CI-ok, PR: reviewed-approved

#9866 remove all options for cache.store expect "pack"
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  lib/cache/BackgroundFileCachePlugin.js
  lib/cache/InstantFileCachePlugin.js
  lib/cache/SeparateFilesCacheStrategy.js
  schemas/WebpackOptions.json
  test/TestCasesCacheInstant.test.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#9868 increase minimum node.js version to 10
  azure-pipelines.yml
  package.json
Labels: PR: CI-ok, PR: unreviewed

#9795 add description of module indexes and remove unnecessary checks
  lib/buildChunkGraph.js
Labels: PR: CI-ok, PR: reviewed-approved

#9804 Move JavaScript files into folder
  lib/APIPlugin.js
  lib/AmdTemplatePlugin.js
  lib/ChunkTemplate.js
  lib/CommonJsStuffPlugin.js
  lib/CompatibilityPlugin.js
  lib/ConstPlugin.js
  lib/DefinePlugin.js
  lib/EvalDevToolModulePlugin.js
  lib/EvalSourceMapDevToolPlugin.js
  lib/ExportPropertyTemplatePlugin.js
  lib/ExportsInfoApiPlugin.js
  lib/HotModuleReplacementPlugin.js
  lib/MainTemplate.js
  lib/ModuleInfoHeaderPlugin.js
  lib/ModuleTemplate.js
  lib/NodeStuffPlugin.js
  lib/ProvidePlugin.js
  lib/RequireJsStuffPlugin.js
  lib/SetVarTemplatePlugin.js
  lib/SystemTemplatePlugin.js
  lib/UmdTemplatePlugin.js
  lib/WebpackOptionsApply.js
  lib/debug/ProfilingPlugin.js
  lib/dependencies/AMDPlugin.js
  lib/dependencies/CommonJsPlugin.js
  lib/dependencies/CommonJsRequireDependencyParserPlugin.js
  lib/dependencies/ContextDependencyHelpers.js
  lib/dependencies/RequireEnsurePlugin.js
  lib/dependencies/RequireIncludePlugin.js
  lib/dependencies/SystemPlugin.js
  lib/index.js
  lib/javascript/BasicEvaluatedExpression.js
  lib/javascript/JavascriptGenerator.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/javascript/JavascriptParser.js
  lib/javascript/JavascriptParserHelpers.js
  lib/json/JsonGenerator.js
  lib/json/JsonModulesPlugin.js
  lib/json/JsonParser.js
  lib/node/NodeTemplatePlugin.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/InnerGraphPlugin.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/web/JsonpExportTemplatePlugin.js
  lib/web/JsonpTemplatePlugin.js
  lib/webworker/WebWorkerTemplatePlugin.js
  test/JavascriptParser.unittest.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9874 emit a warning when require.include is used
  lib/dependencies/RequireIncludeDependencyParserPlugin.js
  lib/dependencies/RequireIncludePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/chunks/issue-2443/index.js
  test/cases/chunks/parsing/index.js
  test/cases/errors/crash-missing-import/index.js
  test/cases/parsing/typeof/warnings.js
  test/cases/resolving/browser-field/index.js
  test/cases/resolving/issue-2986/index.js
  test/configCases/errors/import-missing/index.js
  test/configCases/filename-template/module-filename-template/index.js
  test/configCases/inner-graph/_helpers/entryLoader.js
  test/configCases/plugins/banner-plugin-hashing/index.js
  test/configCases/plugins/banner-plugin/index.js
  test/configCases/plugins/environment-plugin/index.js
  test/configCases/plugins/terser-plugin/index.js
  test/configCases/source-map/exclude-chunks-source-map/index.js
  test/configCases/source-map/namespace-source-path.library/index.js
  test/configCases/source-map/namespace-source-path/index.js
  test/configCases/source-map/nosources/index.js
  test/configCases/source-map/source-map-with-profiling-plugin/index.js
  test/configCases/source-map/sources-array-production/index.js
  test/configCases/split-chunks-common/library/index.js
  test/statsCases/tree-shaking/index.js
Labels: PR: CI-ok, PR: unreviewed

#9875 upgrade dev dependencies to latest versions
  lib/util/registerExternalSerializer.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#9876 upgrade terser-webpack-plugin
  package.json
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/plugins/terser-plugin/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#9879 chore(deps): update `terser-webpack-plugin`
  lib/WebpackOptionsDefaulter.js
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#9523 upgrade dependencies
  yarn.lock
Labels: PR: unreviewed

#9905 improve performance for snapshot validation for repeated snapshots
  lib/FileSystemInfo.js
Labels: PR: CI-ok, PR: unreviewed

#9889 doc: fixed grammer
  README.md
Labels: PR: CI-ok, PR: unreviewed

#9906 Smaller performance improvements
  lib/ChunkGraph.js
  lib/Compilation.js
  lib/FlagDependencyExportsPlugin.js
  lib/ids/IdHelpers.js
  lib/util/LazySet.js
Labels: PR: CI-ok, PR: unreviewed

#9908 Performance of watcher
  lib/node/NodeWatchFileSystem.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#9910 fix problem with retrying import()
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/web/JsonpTemplatePlugin.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/web/retry-failed-import/chunk.js
  test/configCases/web/retry-failed-import/index.js
  test/configCases/web/retry-failed-import/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#9914 fix bug where importing variables with special free names is broken
  lib/javascript/JavascriptParser.js
  test/cases/parsing/import-define/index.js
  test/cases/parsing/import-define/module.js
Labels: PR: CI-ok, PR: unreviewed
