Repository webpack/webpack, pull requests merged in 2019-02, with the labels that each got.

#8690 refactoring of used and provided exports
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/FlagDependencyExportsPlugin.js
  lib/FlagDependencyUsagePlugin.js
  lib/FlagInitialModulesAsUsedPlugin.js
  lib/FunctionModuleTemplatePlugin.js
  lib/LibManifestPlugin.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/RequireIncludeDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/MangleExportsPlugin.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  lib/wasm/WasmFinalizeExportsPlugin.js
  schemas/WebpackOptions.json
  test/TestCases.template.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/deep-scope-analysis/remove-export-scope-hoisting/webpack.config.js
  test/configCases/deep-scope-analysis/remove-export/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8686 Update README.md
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#8693 fix a bug which creates duplicate runtime modules for entrypoints sharing a runtime chunk
  lib/Compilation.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8696 add missing runtime requirement to AMD define
  lib/dependencies/AMDDefineDependency.js
  test/cases/amd/define-needs-module/index.js
  test/cases/amd/define-needs-module/module.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8737 update test cases dependencies
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8736 update linting dependencies
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8740 update jest
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8742 upgrade schema-utils to new major
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8741 update dev deps
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8744 update dependencies
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8747 update node 12 nightly version
  .travis.yml
Labels: PR: CI-ok, PR: unreviewed

#8748 Improve error report of invalid esm export
  lib/NodeStuffPlugin.js
  test/configCases/runtime/invalid-esm-export/esm-export.js
  test/configCases/runtime/invalid-esm-export/esm-import-cjs-export.js
  test/configCases/runtime/invalid-esm-export/index.js
  test/configCases/runtime/invalid-esm-export/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8654 Fix: Add missed __webpack_require__.e while importing exist module with context
  lib/ContextModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/chunks/import-context-exist-chunk/dir-initial-with-fake-map/initialModule.js
  test/cases/chunks/import-context-exist-chunk/dir-initial-with-fake-map/initialModule2.js
  test/cases/chunks/import-context-exist-chunk/dir-initial/initialModule.js
  test/cases/chunks/import-context-exist-chunk/index.js
Labels: PR: CI-ok, PR: unreviewed

#8684 update webassemblyjs
  declarations.d.ts
  lib/wasm/WebAssemblyGenerator.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#8786 bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8802 bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8800 fix prettierignore file and run prettier
  .prettierignore
  test/BenchmarkTestCases.benchmark.js
  test/Compiler.test.js
  test/SourceMapDevToolModuleOptionsPlugin.unittest.js
  test/Stats.unittest.js
  test/configCases/errors/multi-entry-missing-module/webpack.config.js
  test/configCases/optimization/minimizer/webpack.config.js
  test/statsCases/split-chunks-max-size/webpack.config.js
  test/watchCases/plugins/define-plugin/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#8801 add lint step to avoid non-npm dependencies in graph
  _SETUP.md
  azure-pipelines.yml
  package.json
  test/Dependencies.lint.js
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8804 remove splitChunks restriction for custom filenames on non-initial chunks
  lib/Chunk.js
  lib/RuntimePlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/runtime/GetChunkFilenameRuntimeModule.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/split-chunks/custom-filename-many-custom/a.js
  test/configCases/split-chunks/custom-filename-many-custom/b.js
  test/configCases/split-chunks/custom-filename-many-custom/common/0.js
  test/configCases/split-chunks/custom-filename-many-custom/common/1.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/0.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/1.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/10.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/11.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/12.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/13.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/14.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/15.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/16.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/17.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/18.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/19.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/2.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/3.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/4.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/5.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/6.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/7.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/8.js
  test/configCases/split-chunks/custom-filename-many-custom/shared/9.js
  test/configCases/split-chunks/custom-filename-many-custom/test.config.js
  test/configCases/split-chunks/custom-filename-many-custom/webpack.config.js
  test/configCases/split-chunks/custom-filename/a.js
  test/configCases/split-chunks/custom-filename/b.js
  test/configCases/split-chunks/custom-filename/common1.js
  test/configCases/split-chunks/custom-filename/common2.js
  test/configCases/split-chunks/custom-filename/common3.js
  test/configCases/split-chunks/custom-filename/shared1.js
  test/configCases/split-chunks/custom-filename/shared2.js
  test/configCases/split-chunks/custom-filename/test.config.js
  test/configCases/split-chunks/custom-filename/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8816 Improve export name mangling
  lib/Module.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/StaticExportsDependency.js
  lib/ids/DeterministicChunkIdsPlugin.js
  lib/ids/DeterministicModuleIdsPlugin.js
  lib/ids/IdHelpers.js
  lib/optimize/MangleExportsPlugin.js
  lib/util/numberHash.js
  lib/wasm/WebAssemblyGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  test/Compiler.test.js
  test/Errors.test.js
  test/Stats.test.js
  test/TestCases.template.js
  test/__snapshots__/ConfigTestCases.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/optimize/many-exports-100/chunk1.js
  test/cases/optimize/many-exports-100/chunk2.js
  test/cases/optimize/many-exports-100/index.js
  test/cases/optimize/many-exports-100/module.js
  test/cases/optimize/many-exports-120/chunk1.js
  test/cases/optimize/many-exports-120/chunk2.js
  test/cases/optimize/many-exports-120/index.js
  test/cases/optimize/many-exports-120/module.js
  test/cases/optimize/many-exports-40/chunk1.js
  test/cases/optimize/many-exports-40/chunk2.js
  test/cases/optimize/many-exports-40/index.js
  test/cases/optimize/many-exports-40/module.js
  test/numberHash.unittest.js
  test/watchCases/long-term-caching/issue-8766/0/index.js
  test/watchCases/long-term-caching/issue-8766/0/other-chunk.js
  test/watchCases/long-term-caching/issue-8766/0/shared.js
  test/watchCases/long-term-caching/issue-8766/1/index.js
  test/watchCases/long-term-caching/issue-8766/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8803 bugfix(harmony-deps) : bind the function to prevent the this keyword …
  lib/dependencies/HarmonyAcceptDependency.js
  test/hotCases/code-generation/this-in-accept/index.js
  test/hotCases/code-generation/this-in-accept/module.js
Labels: PR: CI-ok, PR: unreviewed

#8825 test: modify styles and typo of README
  test/README.md
Labels: PR: CI-ok, PR: reviewed-approved

#8834 Bump webassemblyjs
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#8844 fixes #8829
  lib/APIPlugin.js
  test/cases/parsing/typeof/index.js
Labels: PR: CI-ok, PR: unreviewed
