Repository webpack/webpack, pull requests merged in 2019-01, with the labels that each got.

#8584 Fix emit for prefetching chunks from runtime chunk
  lib/web/JsonpChunkLoadingRuntimeModule.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8581 Increase Jest timeout for profiling plugin test
  test/ProfilingPlugin.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#8588 perf: use faster statement type check
  lib/dependencies/HarmonyDetectionParserPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#8602 Enable node.global by default
  lib/WebpackOptionsDefaulter.js
  test/configCases/parsing/harmony-global/webpack.config.js
  test/configCases/target/strict-mode-global/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8601 Performance fixes for next branch, watchpack update
  lib/Compilation.js
  lib/Compiler.js
  lib/ContextModuleFactory.js
  lib/DefinePlugin.js
  lib/DelegatedModuleFactoryPlugin.js
  lib/DllModuleFactory.js
  lib/DllReferencePlugin.js
  lib/ExternalModuleFactoryPlugin.js
  lib/FileSystemInfo.js
  lib/FunctionModuleTemplatePlugin.js
  lib/IgnorePlugin.js
  lib/ModuleFactory.js
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/NormalModuleReplacementPlugin.js
  lib/NullFactory.js
  lib/WatchIgnorePlugin.js
  lib/Watching.js
  lib/cache/ResolverCachePlugin.js
  lib/node/NodeWatchFileSystem.js
  lib/optimize/SideEffectsFlagPlugin.js
  lib/util/AsyncQueue.js
  package.json
  test/StatsTestCases.test.js
  test/TestCases.template.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8610 Use limit for string split
  lib/WebpackOptionsValidationError.js
  lib/util/createHash.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8612 add process.nextTick to avoid long recursion in callbacks
  lib/JavascriptParser.js
  lib/util/AsyncQueue.js
  test/cases/compile/long-module-chain/index.js
  test/cases/compile/long-module-chain/module.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8611 Report originally resolved module as part of reasons
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/module-reasons/a.js
  test/statsCases/module-reasons/b.js
  test/statsCases/module-reasons/c.js
  test/statsCases/module-reasons/index.js
  test/statsCases/module-reasons/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8598 Upgrade acorn to v6
  lib/Parser.js
  package.json
  test/cases/parsing/precreated-ast/ast-loader.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#8622 Improve memory consumption of file serialization middleware
  lib/serialization/FileMiddleware.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8639 Change forEach to forEachLimit when emitting assets
  declarations.d.ts
  lib/Compiler.js
Labels: PR: CI-ok, PR: unreviewed

#8643 New resolveLoader.extensions defaults
  lib/WebpackOptionsDefaulter.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8642 add output.futureEmitAssets
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/Compiler.js
  lib/Stats.js
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#8651 Performance for caching
  declarations/WebpackOptions.d.ts
  lib/Cache.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/DelegatedModuleFactoryPlugin.js
  lib/DelegatedPlugin.js
  lib/DllReferencePlugin.js
  lib/LibManifestPlugin.js
  lib/Module.js
  lib/cache/FileCachePlugin.js
  lib/cache/MemoryCachePlugin.js
  lib/ids/IdHelpers.js
  lib/ids/NamedChunkIdsPlugin.js
  lib/ids/NamedModuleIdsPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/SplitChunksPlugin.js
  lib/serialization/FileMiddleware.js
  lib/serialization/ObjectMiddleware.js
  lib/util/identifier.js
  lib/util/serialization.js
  package.json
  schemas/WebpackOptions.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8652 add missing cache
  lib/NormalModule.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8655 flag dependencies correctly when multiple entries are used
  lib/FlagDependencyUsagePlugin.js
  test/configCases/entry/adding-multiple-entry-points/fail.js
  test/configCases/entry/adding-multiple-entry-points/ok.js
  test/configCases/entry/adding-multiple-entry-points/test.config.js
  test/configCases/entry/adding-multiple-entry-points/webpack.config.js
  test/configCases/entry/usage-info-in-multiple-entry-points/a.js
  test/configCases/entry/usage-info-in-multiple-entry-points/b.js
  test/configCases/entry/usage-info-in-multiple-entry-points/module.js
  test/configCases/entry/usage-info-in-multiple-entry-points/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8667 fixes #8666
  lib/optimize/ConcatenatedModule.js
  test/cases/scope-hoisting/esModule/index.js
  test/cases/scope-hoisting/esModule/module.js
  test/cases/scope-hoisting/esModule/other.js
  test/configCases/scope-hoisting/esModule/index.js
  test/configCases/scope-hoisting/esModule/module.js
  test/configCases/scope-hoisting/esModule/other.js
  test/configCases/scope-hoisting/esModule/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#8679 Refactor FileCachePlugin into multiple modules
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/cache/BackgroundFileCachePlugin.js
  lib/cache/FileCachePlugin.js
  lib/cache/IdleFileCachePlugin.js
  lib/cache/InstantFileCachePlugin.js
  lib/cache/PackFileCacheStrategy.js
  lib/cache/SeparateFilesCacheStrategy.js
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#8680 Replace `json-stable-stringify` with `fast-json-stable-stringify`.
  lib/Compiler.js
  package.json
  test/__snapshots__/ConfigTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8678 docs(README): add index
  README.md
Labels: PR: CI-ok, PR: reviewed-approved
