Repository webpack/webpack, pull requests merged in 2019-07, with the labels that each got.

#9328 [WIP] Fixes #9053: Wrong loaders order when using inline match resource
  lib/NormalModuleFactory.js
  test/configCases/loaders/issue-9053/b.js
  test/configCases/loaders/issue-9053/c.js
  test/configCases/loaders/issue-9053/index.js
  test/configCases/loaders/issue-9053/node_modules/loader1.js
  test/configCases/loaders/issue-9053/node_modules/loader2.js
  test/configCases/loaders/issue-9053/node_modules/loader3.js
  test/configCases/loaders/issue-9053/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#9344 update watchpack dependency
  declarations/WebpackOptions.d.ts
  package.json
  schemas/WebpackOptions.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9349 [performance] use JSON.parse(jsonSource) for JSON modules
  lib/JsonGenerator.js
Labels: PR: CI-ok, PR: reviewed-approved

#9366 update enhanced-resolve
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/ContextModuleFactory.js
  lib/MemoryOutputFileSystem.js
  lib/ModuleNotFoundError.js
  lib/NormalModuleFactory.js
  lib/WebpackError.js
  lib/cache/ResolverCachePlugin.js
  lib/index.js
  lib/node/NodeEnvironmentPlugin.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  package.json
  schemas/WebpackOptions.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9370 feat: update acorn for dynamic import
  lib/Parser.js
  package.json
  test/cases/parsing/precreated-ast/ast-loader.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#9380 add alias to false (ignore) and alias to array
  declarations/WebpackOptions.d.ts
  package.json
  schemas/WebpackOptions.json
  test/configCases/ignore/false-alias/ignored-module.js
  test/configCases/ignore/false-alias/normal-module.js
  test/configCases/ignore/false-alias/test.js
  test/configCases/ignore/false-alias/webpack.config.js
  test/configCases/resolve/multi-alias/a/1.js
  test/configCases/resolve/multi-alias/b/2.js
  test/configCases/resolve/multi-alias/index.js
  test/configCases/resolve/multi-alias/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9387 enforce eslint require-hyphen-before-param-description
  .eslintrc.js
  lib/OptionsDefaulter.js
  lib/Template.js
  lib/util/createHash.js
  lib/util/objectToMap.js
  lib/wasm/WebAssemblyGenerator.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#9386 avoiding v8 deopts
  lib/Compilation.js
  lib/optimize/SplitChunksPlugin.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9331 esdoc(SourceMapDevToolPlugin): add some esdoc definitions
  lib/SourceMapDevToolPlugin.js
Labels: PR: CI-ok, PR: review-outdated

#9166 Add [file] placeholder for sourceMappingURL in SourceMapDevToolPlugin
  lib/SourceMapDevToolPlugin.js
  lib/TemplatedPathPlugin.js
  test/configCases/plugins/source-map-dev-tool-plugin~append/index.js
  test/configCases/plugins/source-map-dev-tool-plugin~append/test.js
  test/configCases/plugins/source-map-dev-tool-plugin~append/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#9280 add TypeScript example
  examples/README.md
  examples/typescript/README.md
  examples/typescript/build.js
  examples/typescript/example.js
  examples/typescript/index.ts
  examples/typescript/template.md
  examples/typescript/tsconfig.json
  examples/typescript/webpack.config.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8549 Feature: Add afterDone hook to Compiler
  lib/Compiler.js
  lib/Watching.js
  test/Compiler.test.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9399 chore(deps): update watchpack from watchpack@2.0.0-beta.6 to watchpack@2.0.0-beta.7
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9401 add type coverage report
  codecov.yml
  package.json
  tooling/type-coverage.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9402 skip over undefined properties in rules
  lib/rules/RuleSetCompiler.js
  test/configCases/rule-set/undefined-values/index.js
  test/configCases/rule-set/undefined-values/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9405 fix ResolveOptions.alias
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9415 remove experimental from module type name
  examples/wasm-complex/webpack.config.js
  examples/wasm-simple/webpack.config.js
  lib/WebpackOptionsDefaulter.js
  lib/debug/ProfilingPlugin.js
  lib/node/ReadFileCompileAsyncWasmPlugin.js
  lib/node/ReadFileCompileWasmPlugin.js
  lib/wasm-async/AsyncWebAssemblyModulesPlugin.js
  lib/wasm/WebAssemblyModulesPlugin.js
  lib/web/FetchCompileAsyncWasmPlugin.js
  lib/web/FetchCompileWasmPlugin.js
  test/TestCases.template.js
  test/configCases/wasm/identical/webpack.config.js
  test/configCases/wasm/wasm-in-initial-chunk-error/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9391 esdoc(createHash)
  .eslintrc.js
  declarations/WebpackOptions.d.ts
  lib/AbstractMethodError.js
  lib/Compilation.js
  lib/HashedModuleIdsPlugin.js
  lib/JavascriptModulesPlugin.js
  lib/ModuleFilenameHelpers.js
  lib/NamedModulesPlugin.js
  lib/NormalModule.js
  lib/util/createHash.js
  schemas/WebpackOptions.json
  test/AbstractMethodError.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#9414 improve performance of date time formating
  lib/stats/DefaultStatsPrinterPlugin.js
  test/StatsTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9419 remove valid jsdoc rule in favour of eslint-plugin-jsdoc
  .eslintrc.js
  lib/debug/ProfilingPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#9425 fix #9424
  lib/ResolverFactory.js
Labels: PR: CI-ok, PR: unreviewed

#8983 add experimental Url support
  .gitattributes
  declarations/WebpackOptions.d.ts
  examples/asset-simple/README.md
  examples/asset-simple/build.js
  examples/asset-simple/example.js
  examples/asset-simple/images/file.jpg
  examples/asset-simple/images/file.png
  examples/asset-simple/images/file.svg
  examples/asset-simple/index.html
  examples/asset-simple/template.md
  examples/asset-simple/webpack.config.js
  examples/build-common.js
  lib/Chunk.js
  lib/Compilation.js
  lib/NormalModule.js
  lib/RuntimeTemplate.js
  lib/Template.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/asset/AssetGenerator.js
  lib/asset/AssetJavascriptGenerator.js
  lib/asset/AssetModulesPlugin.js
  lib/asset/AssetParser.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  lib/wasm-async/AsyncWebAssemblyModulesPlugin.js
  lib/wasm/WebAssemblyModulesPlugin.js
  schemas/WebpackOptions.json
  test/Stats.test.js
  test/StatsTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/asset-modules/_images/file.jpg
  test/configCases/asset-modules/_images/file.png
  test/configCases/asset-modules/_images/file.svg
  test/configCases/asset-modules/file-loader/index.js
  test/configCases/asset-modules/file-loader/webpack.config.js
  test/configCases/asset-modules/path/index.js
  test/configCases/asset-modules/path/webpack.config.js
  test/configCases/asset-modules/publicPath/index.js
  test/configCases/asset-modules/publicPath/webpack.config.js
  test/configCases/asset-modules/types/index.js
  test/configCases/asset-modules/types/webpack.config.js
  test/statsCases/asset/images/file.jpg
  test/statsCases/asset/images/file.png
  test/statsCases/asset/images/file.svg
  test/statsCases/asset/index.js
  test/statsCases/asset/webpack.config.js
  test/statsCases/module-assets/index.js
  test/statsCases/module-assets/node_modules/a/2.png
  test/statsCases/module-assets/node_modules/a/index.js
  test/statsCases/module-assets/node_modules/b/index.js
  test/statsCases/module-assets/webpack.config.js
Labels: PR: CI-not-ok, PR: next, PR: review-outdated, PR: wip

#9428 adding some random types
  lib/FileSystemInfo.js
  lib/cache/ResolverCachePlugin.js
  lib/util/findGraphRoots.js
  tooling/type-coverage.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9458 HookMap: replace .tap() with .for().tap()
  lib/ResolverFactory.js
  test/Parser.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved

#9436 add logging API
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/Compiler.js
  lib/NormalModule.js
  lib/Stats.js
  lib/WebpackOptionsDefaulter.js
  lib/logging/Logger.js
  lib/logging/createConsoleLogger.js
  lib/logging/runtime.js
  lib/node/NodeEnvironmentPlugin.js
  lib/webpack.js
  schemas/WebpackOptions.json
  test/Compiler.test.js
  test/Stats.unittest.js
  test/StatsTestCases.test.js
  test/Validation.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/logging/index.js
  test/statsCases/logging/node_modules/custom-loader/index.js
  test/statsCases/logging/webpack.config.js
  test/statsCases/preset-detailed/webpack.config.js
  test/statsCases/preset-errors-only-error/webpack.config.js
  test/statsCases/preset-errors-warnings/webpack.config.js
  test/statsCases/preset-minimal/webpack.config.js
  test/statsCases/preset-none/webpack.config.js
  test/statsCases/preset-normal/webpack.config.js
  test/statsCases/preset-verbose/webpack.config.js
Labels: PR: CI-ok, PR: review-outdated, PR: tests-needed

#9438 feat(assetModule): add function type to assetModuleFilename
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/Template.js
  schemas/WebpackOptions.json
  test/configCases/asset-modules/assetModuleFilename/index.js
  test/configCases/asset-modules/assetModuleFilename/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#9466 fix low hanging performance problems with ProgressPlugin
  lib/ProgressPlugin.js
  lib/SourceMapDevToolPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#9467 fix low hanging webpack 5 performance problems
  lib/ChunkGroup.js
  lib/ProgressPlugin.js
  lib/SourceMapDevToolPlugin.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/StatsFactory.js
  lib/stats/StatsPrinter.js
  lib/util/createHash.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9472 Optimize performance of chunk graph generation
  lib/Chunk.js
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/WebpackOptionsDefaulter.js
  lib/buildChunkGraph.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#9474 Fix low hanging webpack 5 performance issues
  lib/Chunk.js
  lib/Compilation.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/cache/IdleFileCachePlugin.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/util/deprecation.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9476 add more timestamp logging to some core parts
  lib/Compiler.js
  lib/Watching.js
  lib/cache/ResolverCachePlugin.js
  lib/optimize/SplitChunksPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9477 improve progress plugin performance and display
  lib/Compilation.js
  lib/ProgressPlugin.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9475 fix two minor bugs in webpack 5
  lib/Compilation.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9459 Cleanup CI and dev deps
  package.json
  test/ConfigTestCases.test.js
  test/helpers/captureStdio.js
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#9478 improve chunk graph generation performance
  lib/Compilation.js
  lib/WebpackOptionsDefaulter.js
  lib/buildChunkGraph.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9431 Prefer the IDL 'nonce' property over .getAttribute('nonce')
  test/cases/nonce/set-nonce/index.js
Labels: PR: CI-ok, PR: unreviewed

#9454 Escape path variables in replaced values for TemplatedPathPlugin
  lib/TemplatedPathPlugin.js
  test/HotModuleReplacementPlugin.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#9430 the duplicate logic in buildModule callback and afterBuild
  lib/Compilation.js
Labels: PR: CI-ok, PR: reviewed-approved

#9504 track callContext in ConcatenatedModule
  lib/optimize/ConcatenatedModule.js
  test/cases/scope-hoisting/this-in-import/cjs.js
  test/cases/scope-hoisting/this-in-import/index.js
  test/cases/scope-hoisting/this-in-import/module.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9496 Support for standard naming behavior output:library:"system"
  lib/SystemMainTemplatePlugin.js
  test/configCases/target/system-named-assets-path/index.js
  test/configCases/target/system-named-assets-path/test.config.js
  test/configCases/target/system-named-assets-path/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved
