Repository webpack/webpack, pull requests merged in 2019-11, with the labels that each got.

#9928 Many small performance improvements
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/Compiler.js
  lib/FileSystemInfo.js
  lib/WebpackOptionsDefaulter.js
  lib/cache/ResolverCachePlugin.js
  lib/serialization/BinaryMiddleware.js
  lib/serialization/ObjectMiddleware.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  lib/util/LazySet.js
  lib/util/fs.js
  lib/util/internalSerializables.js
  schemas/WebpackOptions.json
  test/Compiler-caching.test.js
  test/Compiler.test.js
  test/Errors.test.js
  test/Stats.test.js
  test/StatsTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/aggressive-splitting-entry/webpack.config.js
  test/statsCases/filter-warnings/webpack.config.js
  test/statsCases/runtime-chunk-integration/webpack.config.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#9927 fix: Remove minor typo in WebpackOptionsApply
  lib/WebpackOptionsApply.js
Labels: PR: CI-ok, PR: reviewed-approved

#9929 improve test stability
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/commons-plugin-issue-4980/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#9931 avoid writing to same filename in array config
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/define-plugin/webpack.config.js
  test/statsCases/limit-chunk-count-plugin/webpack.config.js
  test/statsCases/named-chunk-groups/webpack.config.js
  test/statsCases/preset-mixed-array/webpack.config.js
  test/statsCases/preset-none-array/webpack.config.js
  test/statsCases/scope-hoisting-multi/webpack.config.js
  test/statsCases/split-chunks/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#9918 add support for tree-shaking JSON modules
  lib/Compilation.js
  lib/Dependency.js
  lib/FlagDependencyExportsPlugin.js
  lib/FlagDependencyUsagePlugin.js
  lib/InitFragment.js
  lib/ModuleGraph.js
  lib/ModuleInfoHeaderPlugin.js
  lib/RuntimeTemplate.js
  lib/dependencies/HarmonyCompatibilityDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/JsonExportsDependency.js
  lib/javascript/JavascriptGenerator.js
  lib/json/JsonGenerator.js
  lib/json/JsonParser.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/MangleExportsPlugin.js
  lib/runtime/CreateFakeNamespaceObjectRuntimeModule.js
  lib/util/internalSerializables.js
  lib/wasm-async/AsyncWebAssemblyJavascriptGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/json/default-default-with-concatenation/index.js
  test/cases/json/default-default/index.js
  test/cases/json/import-by-name/index.js
  test/cases/json/reexport/index.js
  test/cases/json/reexport/reexport.js
  test/cases/json/reexport/warnings.js
  test/configCases/json/tree-shaking-default/data.json
  test/configCases/json/tree-shaking-default/index.js
  test/configCases/json/tree-shaking-default/warnings.js
  test/configCases/json/tree-shaking-default/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#9933 fix problem with snapshotting managed items
  lib/Compilation.js
  lib/Compiler.js
  lib/FileSystemInfo.js
  lib/WatchIgnorePlugin.js
  lib/cache/PackFileCacheStrategy.js
  lib/logging/Logger.js
  lib/logging/runtime.js
  package.json
  test/TestCasesCachePack.test.js
  test/WatchTestCases.test.js
  test/watchCases/cache/managedPath/0/index.js
  test/watchCases/cache/managedPath/0/node_modules/bar/index.js
  test/watchCases/cache/managedPath/0/node_modules/bar/package.json
  test/watchCases/cache/managedPath/0/node_modules/foo/index.js
  test/watchCases/cache/managedPath/0/node_modules/foo/package.json
  test/watchCases/cache/managedPath/1/index.js
  test/watchCases/cache/managedPath/1/node_modules/foo/node_modules/bar/index.js
  test/watchCases/cache/managedPath/1/node_modules/foo/node_modules/bar/package.json
  test/watchCases/cache/managedPath/2/index.js
  test/watchCases/cache/managedPath/2/node_modules/foo/node_modules/bar/index.js
  test/watchCases/cache/managedPath/3/index.js
  test/watchCases/cache/managedPath/3/node_modules/foo/node_modules/bar
  test/watchCases/cache/managedPath/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#9944 Performance
  lib/Cache.js
  lib/CaseSensitiveModulesWarning.js
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/Compilation.js
  lib/DependenciesBlock.js
  lib/FileSystemInfo.js
  lib/FlagDependencyUsagePlugin.js
  lib/LibManifestPlugin.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/ModuleGraphConnection.js
  lib/NormalModule.js
  lib/ResolverFactory.js
  lib/buildChunkGraph.js
  lib/cache/PackFileCacheStrategy.js
  lib/cache/ResolverCachePlugin.js
  lib/dependencies/AMDRequireDependenciesBlockParserPlugin.js
  lib/dependencies/ImportParserPlugin.js
  lib/dependencies/RequireIncludeDependencyParserPlugin.js
  lib/dependencies/SystemPlugin.js
  lib/ids/NamedModuleIdsPlugin.js
  lib/ids/OccurrenceModuleIdsPlugin.js
  lib/javascript/JavascriptGenerator.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/javascript/JavascriptParserHelpers.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  lib/serialization/BinaryMiddleware.js
  lib/serialization/PlainObjectSerializer.js
  lib/stats/DefaultStatsFactoryPlugin.js
  test/Examples.test.js
Labels: PR: CI-ok, PR: unreviewed

#9954 upgrade webpack-sources
  declarations.d.ts
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DllModule.js
  lib/EvalSourceMapDevToolPlugin.js
  lib/ExternalModule.js
  lib/FileSystemInfo.js
  lib/Module.js
  lib/NormalModule.js
  lib/RawModule.js
  lib/ResolverFactory.js
  lib/RuntimeModule.js
  lib/SourceMapDevToolPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/util/identifier.js
  package.json
  test/NormalModule.unittest.js
  test/StatsTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/context-independence/a/chunk.js
  test/statsCases/context-independence/a/index.js
  test/statsCases/context-independence/a/module.js
  test/statsCases/context-independence/b/chunk.js
  test/statsCases/context-independence/b/index.js
  test/statsCases/context-independence/b/module.js
  test/statsCases/context-independence/test.config.js
  test/statsCases/context-independence/webpack.config.js
  tooling/format-file-header.js
  yarn.lock
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#9956 upgrade webpack-sources
  declarations.d.ts
  lib/util/registerExternalSerializer.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#9957 Performance and ProgressPlugin
  declarations/plugins/ProgressPlugin.d.ts
  lib/ProgressPlugin.js
  lib/util/AsyncQueue.js
  schemas/plugins/ProgressPlugin.json
  test/ProgressPlugin.test.js
Labels: PR: CI-ok, PR: unreviewed

#9946 feat(perf): hoist regexp literal
  lib/ExternalModuleFactoryPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#9960 chore: add funding field to `package.json`
  package.json
Labels: PR: CI-ok, PR: reviewed-approved

#9959 ci: improve
  azure-pipelines.yml
Labels: PR: CI-ok, PR: reviewed-approved

#9839 feat: support caching in SourceMapDevToolPlugin
  lib/Cache.js
  lib/Compilation.js
  lib/ProgressPlugin.js
  lib/SourceMapDevToolPlugin.js
  lib/cache/MemoryCachePlugin.js
  lib/cache/PackFileCacheStrategy.js
  lib/cache/getLazyHashedEtag.js
  test/ProgressPlugin.test.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#9962 ci: azure-pipelines cache
  azure-pipelines.yml
Labels: PR: CI-ok, PR: reviewed-approved

#9965 Performance
  lib/cache/ResolverCachePlugin.js
  lib/serialization/ObjectMiddleware.js
  lib/util/registerExternalSerializer.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#9972 Bugfixes from beta feedback
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/FileSystemInfo.js
  lib/ModuleGraph.js
  lib/RuntimePlugin.js
  lib/util/internalSerializables.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#9971 Add deprecation codes
  declarations.d.ts
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/ExternalModuleFactoryPlugin.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/TemplatedPathPlugin.js
  lib/index.js
  lib/javascript/JavascriptGenerator.js
  lib/util/deprecation.js
  lib/wasm/WebAssemblyGenerator.js
  test/configCases/emit-asset/different-source/errors.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#9978 allow default vendors splitChunk setting to reuse existing chunks
  lib/WebpackOptionsDefaulter.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks-chunk-name/index.js
  test/statsCases/split-chunks-chunk-name/node_modules/a.js
  test/statsCases/split-chunks-chunk-name/node_modules/b.js
  test/statsCases/split-chunks-chunk-name/node_modules/c.js
  test/statsCases/split-chunks-chunk-name/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#9679 List of files modified during watch cycle is now accessible to plugins
  .gitignore
  lib/Compiler.js
  lib/WatchIgnorePlugin.js
  lib/Watching.js
  lib/node/NodeWatchFileSystem.js
  package.json
  test/ChangesAndRemovals.test.js
  test/RemoveFiles.test.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#9993 add missing runtime requirement for async module header
  lib/WebpackOptionsApply.js
  lib/async-modules/InferAsyncModulesPlugin.js
  lib/dependencies/HarmonyCompatibilityDependency.js
  test/cases/async-modules/top-level-await-without-export/index.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#9984 Improve getting generator/parse cache in module factory
  lib/NormalModuleFactory.js
Labels: PR: CI-ok, PR: reviewed-approved

#9997 update example build process
  examples/asset-simple/README.md
  examples/build-common.js
  examples/chunkhash/README.md
  examples/code-splitted-require.context-amd/README.md
  examples/code-splitted-require.context/README.md
  examples/code-splitting-bundle-loader/README.md
  examples/code-splitting-harmony/README.md
  examples/code-splitting-native-import-context-filter/README.md
  examples/code-splitting-native-import-context/README.md
  examples/code-splitting-specify-chunk-name/README.md
  examples/code-splitting/README.md
  examples/coffee-script/README.md
  examples/common-chunk-and-vendor-chunk/README.md
  examples/common-chunk-grandchildren/README.md
  examples/commonjs/README.md
  examples/dll-app-and-vendor/0-vendor/README.md
  examples/dll-app-and-vendor/1-app/README.md
  examples/dll-entry-only/README.md
  examples/dll-user/README.md
  examples/dll/README.md
  examples/explicit-vendor-chunk/README.md
  examples/externals/README.md
  examples/extra-async-chunk-advanced/README.md
  examples/extra-async-chunk/README.md
  examples/harmony-interop/README.md
  examples/harmony-library/README.md
  examples/harmony-unused/README.md
  examples/harmony/README.md
  examples/http2-aggressive-splitting/README.md
  examples/hybrid-routing/README.md
  examples/loader/README.md
  examples/many-pages/README.md
  examples/mixed/README.md
  examples/module/README.md
  examples/multi-compiler/README.md
  examples/multi-part-library/README.md
  examples/multiple-entry-points/README.md
  examples/named-chunks/README.md
  examples/persistent-caching/README.md
  examples/require.context/README.md
  examples/require.resolve/README.md
  examples/scope-hoisting/README.md
  examples/side-effects/README.md
  examples/source-map/README.md
  examples/template-common.js
  examples/top-level-await/README.md
  examples/two-explicit-vendor-chunks/README.md
  examples/typescript/README.md
  examples/wasm-complex/README.md
  examples/wasm-simple/README.md
Labels: PR: CI-ok, PR: unreviewed

#10005 Rename exportsType "named" -> "default"
  lib/ContextModule.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/NormalModule.js
  lib/RuntimeTemplate.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/json/JsonParser.js
  lib/optimize/ConcatenatedModule.js
  test/cases/mjs/namespace-object-lazy/index.mjs
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10006 offer cached methods to get chunk modules by source type
  lib/ChunkGraph.js
  lib/asset/AssetModulesPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#10009 fix spacing of errors/warnings when details or stack is enabled
  lib/stats/DefaultStatsPrinterPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#10011 upgrade webpack-sources
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#10016 Setup.js Extra Variables
  setup/setup.js
Labels: PR: CI-ok, PR: unreviewed

#10031 track dependencies when calling resolve from loader
  declarations.d.ts
  lib/NormalModule.js
  package.json
  test/watchCases/resolve/in-loader/0/file.js
  test/watchCases/resolve/in-loader/0/index.js
  test/watchCases/resolve/in-loader/0/loader.js
  test/watchCases/resolve/in-loader/1/file
  yarn.lock
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10050 improve types
  declarations.d.ts
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/MultiCompiler.js
  lib/NormalModuleFactory.js
  lib/hmr/HotModuleReplacement.runtime.js
  lib/hmr/JavascriptHotModuleReplacement.runtime.js
  lib/wasm/WebAssemblyGenerator.js
  lib/webpack.js
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: unreviewed

#10058 Introduce a Parser base class to improve Parser types
  lib/NormalModule.js
  lib/Parser.js
  lib/asset/AssetParser.js
  lib/index.js
  lib/javascript/JavascriptParser.js
  lib/json/JsonParser.js
  lib/wasm-async/AsyncWebAssemblyParser.js
  lib/wasm/WebAssemblyParser.js
  test/Compiler-caching.test.js
  test/JavascriptParser.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/custom-source-type/localization/webpack.config.js
  tooling/inherit-types.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10052 generate arrow functions to wrap runtime modules
  lib/Template.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed
