Repository webpack/webpack, pull requests merged in 2019-12, with the labels that each got.

#10054 Support custom parser for json modules
  declarations/plugins/JsonModulesPluginParser.d.ts
  examples/custom-json-modules/README.md
  examples/custom-json-modules/build.js
  examples/custom-json-modules/data.json5
  examples/custom-json-modules/data.toml
  examples/custom-json-modules/data.yaml
  examples/custom-json-modules/example.js
  examples/custom-json-modules/index.html
  examples/custom-json-modules/template.md
  examples/custom-json-modules/webpack.config.js
  lib/json/JsonModulesPlugin.js
  lib/json/JsonParser.js
  package.json
  schemas/plugins/JsonModulesPluginParser.json
  test/__snapshots__/ConfigTestCases.test.js.snap
  test/configCases/custom-modules/_files/data.toml
  test/configCases/custom-modules/json-custom/index.js
  test/configCases/custom-modules/json-custom/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#10069 optimize webpack runtime size
  lib/ContextModule.js
  lib/RuntimeGlobals.js
  lib/RuntimePlugin.js
  lib/RuntimeTemplate.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/node/NodeTemplatePlugin.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/runtime/DefinePropertyGettersRuntimeModule.js
  lib/runtime/HasOwnPropertyRuntimeModule.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/web/JsonpTemplatePlugin.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  lib/webworker/WebWorkerTemplatePlugin.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/watchCases/plugins/module-concatenation-plugin/0/index.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#10072 fix typo
  lib/RuntimeGlobals.js
Labels: PR: CI-ok, PR: reviewed-approved

#10070 tool for loading CommonJS modules lazily
  lib/asset/AssetModulesPlugin.js
  lib/json/JsonModulesPlugin.js
  lib/wasm-async/AsyncWebAssemblyModulesPlugin.js
  lib/wasm/WebAssemblyModulesPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#10084 Fix ResolveOptions.plugins types
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: unreviewed

#10123 Fix regular expressions Cross-Site Scripting (XSS) vulnerability
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10010 chore: `funding` field
  package.json
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10121 Fix typo.
  lib/parsing/importAwaitAcornPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#10106 persistent cache for concat modules
  examples/persistent-caching/README.md
  examples/persistent-caching/example.js
  examples/persistent-caching/template.md
  lib/Compilation.js
  lib/ModuleStoreError.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/util/internalSerializables.js
  package.json
  test/TestCasesCachePack.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10133 fixes missing `__webpack_require__.e` in concatenated modules
  lib/optimize/ConcatenatedModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/concatenate-modules/load-chunk-function/a.js
  test/configCases/concatenate-modules/load-chunk-function/b.js
  test/configCases/concatenate-modules/load-chunk-function/c.js
  test/configCases/concatenate-modules/load-chunk-function/entry1.js
  test/configCases/concatenate-modules/load-chunk-function/entry2.js
  test/configCases/concatenate-modules/load-chunk-function/test.config.js
  test/configCases/concatenate-modules/load-chunk-function/webpack.config.js
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10127 Assign fallback ChunkGraph to HotUpdateChunks
  lib/HotModuleReplacementPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#10109 Deprecate using string as a loader options
  .prettierignore
  lib/rules/UseEffectRulePlugin.js
  test/ConfigTestCases.test.js
  test/configCases/custom-source-type/localization/deprecations.js
  test/configCases/loaders/issue-3320/deprecations.js
  test/configCases/plugins/mini-css-extract-plugin/deprecations.js
  test/configCases/plugins/profiling-plugin/deprecations.js
  test/configCases/rule-set/chaining/deprecations.js
  test/configCases/rule-set/simple-use-array-fn/deprecations.js
  test/configCases/rule-set/simple-use-fn-array/deprecations.js
  test/configCases/rule-set/simple/deprecations.js
  test/configCases/source-map/source-map-with-profiling-plugin/deprecations.js
  test/helpers/deprecationTracking.js
Labels: PR: CI-ok, PR: reviewed-approved

#10132 Backport lazy require webassemblyjs using modules to webpack-4
  lib/wasm/WebAssemblyModulesPlugin.js
Labels: PR: CI-ok, PR: non-master, PR: reviewed-approved, PR: reviewed-changes-requested

#10146 fix: bundle wrong modules
  lib/optimize/SideEffectsFlagPlugin.js
  test/cases/side-effects/wrong-module-10146/index.js
  test/cases/side-effects/wrong-module-10146/module/A/A.js
  test/cases/side-effects/wrong-module-10146/module/A/index.js
  test/cases/side-effects/wrong-module-10146/module/index.js
  test/cases/side-effects/wrong-module-10146/module/package.json
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10130 Add comments to bundle to explain why eval is used for devtool
  lib/EvalDevToolModulePlugin.js
  lib/EvalSourceMapDevToolPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#10128 opt-out inner graph optimization when eval is used
  lib/FlagUsingEvalPlugin.js
  lib/WebpackOptionsApply.js
  lib/dependencies/CommonJsPlugin.js
  lib/optimize/InnerGraphPlugin.js
  lib/optimize/ModuleConcatenationPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#10151 refactor chunk prefetching/preloading into separate plugin and runtime modules
  lib/RuntimeGlobals.js
  lib/WebpackOptionsApply.js
  lib/prefetch/ChunkPrefetchFunctionRuntimeModule.js
  lib/prefetch/ChunkPrefetchPreloadPlugin.js
  lib/prefetch/ChunkPrefetchStartupRuntimeModule.js
  lib/prefetch/ChunkPrefetchTriggerRuntimeModule.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/web/JsonpTemplatePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#10154 detect cycles during this.loadModule from loader
  lib/Compilation.js
  lib/dependencies/LoaderPlugin.js
  lib/errors/BuildCycleError.js
  lib/json/JsonGenerator.js
  test/TestCasesDevtoolEvalDeterministicModuleIds.test.js
  test/cases/errors/load-module-cycle/1/a.json
  test/cases/errors/load-module-cycle/2/a.json
  test/cases/errors/load-module-cycle/2/b.json
  test/cases/errors/load-module-cycle/3/a.json
  test/cases/errors/load-module-cycle/3/b.json
  test/cases/errors/load-module-cycle/3/c.json
  test/cases/errors/load-module-cycle/index.js
  test/cases/errors/load-module-cycle/loader.js
Labels: PR: CI-ok, PR: unreviewed

#10153 cache module wrappers in memory
  lib/javascript/JavascriptModulesPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#10158 improved progress and progress profiling
  lib/ProgressPlugin.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10166 bugfixes for exports and mangling
  lib/dependencies/CommonJsExportsDependency.js
  lib/dependencies/CommonJsExportsParserPlugin.js
  lib/optimize/MangleExportsPlugin.js
  test/cases/cjs-tree-shaking/non-root-this/index.js
  test/cases/cjs-tree-shaking/non-root-this/module.js
  test/cases/cjs-tree-shaking/object-define-property-replace/index.js
  test/cases/cjs-tree-shaking/object-define-property-replace/module.js
  test/configCases/mangle/mangle-with-object-prop/commonjs.js
  test/configCases/mangle/mangle-with-object-prop/index.js
  test/configCases/mangle/mangle-with-object-prop/module.js
  test/configCases/mangle/mangle-with-object-prop/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10169 show error when mimetype is missing
  lib/asset/AssetGenerator.js
  test/configCases/asset-modules/opus/errors.js
  test/configCases/asset-modules/opus/file.opus
  test/configCases/asset-modules/opus/index.js
  test/configCases/asset-modules/opus/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10170 fix parsing of requires in requires
  lib/dependencies/CommonJsImportsParserPlugin.js
  test/cases/cjs-tree-shaking/parsing/index.js
  test/cases/cjs-tree-shaking/parsing/module.js
  test/cases/cjs-tree-shaking/parsing/nested-require.js
Labels: PR: CI-ok, PR: unreviewed

#10173 improve renaming of variables in concatenated modules
  lib/optimize/ConcatenatedModule.js
  test/configCases/concatenate-modules/rename-10168/A.js
  test/configCases/concatenate-modules/rename-10168/B.js
  test/configCases/concatenate-modules/rename-10168/C.js
  test/configCases/concatenate-modules/rename-10168/D.js
  test/configCases/concatenate-modules/rename-10168/E.js
  test/configCases/concatenate-modules/rename-10168/all.js
  test/configCases/concatenate-modules/rename-10168/index.js
  test/configCases/concatenate-modules/rename-10168/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10181 handle `webpack://` prefix in SourceMap sources
  lib/EvalSourceMapDevToolModuleTemplatePlugin.js
  lib/SourceMapDevToolPlugin.js
  lib/util/identifier.js
  package.json
  test/StatsTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/source-map/relative-source-maps-by-loader/index.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-no-source-root.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-pre-relative.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-source-root-2-slash.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-source-root-slash.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-source-root-source-slash.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-source-root.js
  test/configCases/source-map/relative-source-maps-by-loader/webpack.config.js
  test/statsCases/context-independence/a/chunk.js
  test/statsCases/context-independence/a/index.js
  test/statsCases/context-independence/a/module.js
  test/statsCases/context-independence/b/chunk.js
  test/statsCases/context-independence/b/index.js
  test/statsCases/context-independence/b/module.js
  test/statsCases/context-independence/test.config.js
  test/statsCases/context-independence/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10182 handle sourceRoot during source map contextify
  lib/NormalModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/source-map/relative-source-maps-by-loader/index.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-no-source-root.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-pre-relative.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-source-root-2-slash.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-source-root-slash.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-source-root-source-slash.js
  test/configCases/source-map/relative-source-maps-by-loader/loader-source-root.js
  test/configCases/source-map/relative-source-maps-by-loader/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10183 update dependencies in-range
  declarations/WebpackOptions.d.ts
  lib/CommonJsStuffPlugin.js
  lib/DefinePlugin.js
  lib/ProvidePlugin.js
  lib/logging/Logger.js
  setup/setup.js
  test/NormalModule.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#10185 make order of exports in providedExports deterministic
  lib/FlagDependencyExportsPlugin.js
  test/hotCases/determinism/issue-10174/deps/a.js
  test/hotCases/determinism/issue-10174/deps/b.js
  test/hotCases/determinism/issue-10174/deps/c.js
  test/hotCases/determinism/issue-10174/hot.js
  test/hotCases/determinism/issue-10174/index.js
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#10186 make order of exports determinism for hashing
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  test/HotTestCases.template.js
  test/hotCases/determinism/issue-10174/deps/a.js
  test/hotCases/determinism/issue-10174/deps/b.js
  test/hotCases/determinism/issue-10174/deps/c.js
  test/hotCases/determinism/issue-10174/hot.js
  test/hotCases/determinism/issue-10174/index.js
Labels: PR: CI-ok, PR: unreviewed

#10190 chore: upgrade terser-webpack-plugin to 2.3.1 to fix vulnerability
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#10188 Method name fix
  lib/Watching.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed, Send a PR

#10196 generate await code for import without await too
  lib/dependencies/HarmonyImportDependency.js
  test/TestCases.template.js
  test/cases/async-modules/top-level-await-import-async/index.js
  test/cases/async-modules/top-level-await-import-async/module.js
  test/cases/async-modules/top-level-await-import-async/reexport.js
Labels: PR: CI-ok, PR: unreviewed
