Repository webpack/webpack, pull requests merged in 2019-06, with the labels that each got.

#9203 Track nested exports and reexporting namespaces
  lib/Dependency.js
  lib/FlagDependencyExportsPlugin.js
  lib/FlagDependencyUsagePlugin.js
  lib/FunctionModuleTemplatePlugin.js
  lib/JavascriptParser.js
  lib/JsonGenerator.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/NormalModule.js
  lib/RuntimeTemplate.js
  lib/dependencies/DependencyReference.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/RequireIncludeDependency.js
  lib/dependencies/StaticExportsDependency.js
  lib/dependencies/WebAssemblyExportImportedDependency.js
  lib/dependencies/WebAssemblyImportDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  lib/util/propertyAccess.js
  lib/wasm/WasmFinalizeExportsPlugin.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/parsing/harmony-deep-exports/cjs.js
  test/cases/parsing/harmony-deep-exports/counter.js
  test/cases/parsing/harmony-deep-exports/index.js
  test/cases/parsing/harmony-deep-exports/reexport-namespace-again.js
  test/cases/parsing/harmony-deep-exports/reexport-namespace.js
  test/configCases/deep-scope-analysis/remove-export-scope-hoisting/webpack.config.js
  test/configCases/deep-scope-analysis/remove-export/webpack.config.js
  test/configCases/parsing/harmony-this-concat/abc.js
  test/configCases/parsing/harmony-this-concat/index.js
  test/configCases/parsing/harmony-this-concat/issue-7213.js
  test/configCases/parsing/harmony-this-concat/webpack.config.js
  test/configCases/parsing/harmony-this/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9226 add experiments.mjs config option
  declarations/WebpackOptions.d.ts
  lib/NormalModuleFactory.js
  lib/WebpackOptionsDefaulter.js
  schemas/WebpackOptions.json
  test/TestCases.template.js
  test/Validation.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/mjs/esm-by-default/index.js
  test/configCases/mjs/esm-by-default/index.mjs
  test/configCases/mjs/esm-by-default/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9150 feat(NormalModule/ModuleParseError): Show loaders used from config when module parsing fails
  lib/ModuleParseError.js
  lib/NormalModule.js
  test/Errors.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/fixtures/errors/abc.html
  test/fixtures/errors/add-comment-loader.js
  test/fixtures/errors/identity-loader.js
  test/fixtures/font.ttf
Labels: PR: CI-ok, PR: reviewed-approved

#9251 refactor filesystem interfaces
  bin/webpack.js
  lib/Compiler.js
  lib/ContextModuleFactory.js
  lib/ContextReplacementPlugin.js
  lib/JavascriptParserHelpers.js
  lib/LibManifestPlugin.js
  lib/MultiCompiler.js
  lib/NodeStuffPlugin.js
  lib/NormalModuleFactory.js
  lib/NormalModuleReplacementPlugin.js
  lib/RequestShortener.js
  lib/SourceMapDevToolPlugin.js
  lib/WebpackOptionsApply.js
  lib/cache/PackFileCacheStrategy.js
  lib/cache/SeparateFilesCacheStrategy.js
  lib/debug/ProfilingPlugin.js
  lib/node/NodeEnvironmentPlugin.js
  lib/node/NodeOutputFileSystem.js
  lib/serialization/FileMiddleware.js
  lib/util/fs.js
  lib/util/serialization.js
  package.json
  test/BenchmarkTestCases.benchmark.js
  test/Compiler-caching.test.js
  test/Compiler.test.js
  test/ConfigTestCases.test.js
  test/Dependencies.lint.js
  test/Errors.test.js
  test/Examples.test.js
  test/HotModuleReplacementPlugin.test.js
  test/HotTestCases.template.js
  test/ProfilingPlugin.test.js
  test/RemoveFiles.test.js
  test/Schemas.lint.js
  test/StatsTestCases.test.js
  test/TestCases.template.js
  test/WatchDetection.test.js
  test/WatchTestCases.test.js
  test/checkArrayExpectation.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9254 fix minRemainingSize when multiple chunks are affected
  lib/optimize/SplitChunksPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks-keep-remaining-size/a.js
  test/statsCases/split-chunks-keep-remaining-size/b.js
  test/statsCases/split-chunks-keep-remaining-size/c.js
  test/statsCases/split-chunks-keep-remaining-size/node_modules/shared.js
  test/statsCases/split-chunks-keep-remaining-size/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9257 disable splitChunks.minRemainingSize for multiple selected chunks
  lib/optimize/SplitChunksPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks-keep-remaining-size/c.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8615 Add name property to error thrown on chunk load failure
  lib/web/JsonpMainTemplatePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#9259 Add warnings for non-default imports from json modules
  lib/Dependency.js
  lib/FlagDependencyExportsPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/HarmonyModulesPlugin.js
  lib/dependencies/ImportPlugin.js
  lib/dependencies/StaticExportsDependency.js
  lib/dependencies/SystemPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/json/import-by-name-with-concatenation/warnings.js
  test/cases/json/import-by-name/warnings.js
  test/cases/mjs/cjs-import-default/errors.js
  test/cases/parsing/harmony-info/warnings.js
  test/cases/scope-hoisting/json-reexport-6700/warnings.js
  test/configCases/split-chunks/module-type-filter/index.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9260 fix(mjs): remove harmony unused build errors
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  test/cases/mjs/cjs-import-default/errors.js
Labels: PR: CI-ok, PR: unreviewed

#9265 make mkdirp a devDependency
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9261 fix error message and stack in Firefox
  hot/dev-server.js
  hot/log.js
  hot/only-dev-server.js
  hot/poll.js
  hot/signal.js
Labels: PR: CI-ok, PR: unreviewed

#9268 handle block scopes correctly
  lib/Parser.js
  test/cases/parsing/block-scopes/index.js
  test/cases/parsing/block-scopes/module.js
Labels: PR: CI-ok, PR: unreviewed

#9270 fix: add missing public path in importScripts
  lib/webworker/WebWorkerMainTemplatePlugin.js
  test/ConfigTestCases.test.js
  test/configCases/target/webworker/index.js
  test/configCases/target/webworker/module.js
Labels: PR: CI-ok, PR: reviewed-approved

#9271 shorter timeouts for cached builds
  test/TestCases.template.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9225 fix progress on line wrap (trim line to stderr.columns)
  lib/ProgressPlugin.js
  package.json
  test/ProgressPlugin.test.js
  test/helpers/captureStdio.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#9214 feat(watching): allow suspend/resume compilation
  lib/MultiWatching.js
  lib/Watching.js
  test/MultiWatching.unittest.js
  test/WatchSuspend.test.js
Labels: PR: CI-ok, PR: review-outdated, PR: tests-needed

#9277 add more types and fix/remove TODOs
  declarations/plugins/IgnorePlugin.d.ts
  lib/AsyncDependenciesBlock.js
  lib/AsyncDependencyToInitialChunkError.js
  lib/Chunk.js
  lib/ChunkGroup.js
  lib/ChunkTemplate.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/Dependency.js
  lib/ExternalModule.js
  lib/HotModuleReplacementPlugin.js
  lib/IgnorePlugin.js
  lib/SourceMapDevToolPlugin.js
  lib/SystemMainTemplatePlugin.js
  lib/dependencies/ContextDependency.js
  lib/dependencies/ContextDependencyHelpers.js
  lib/dependencies/ImportDependenciesBlock.js
  lib/dependencies/ImportParserPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/rules/UseEffectRulePlugin.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/util/deprecation.js
  lib/wasm/WebAssemblyGenerator.js
  package.json
  schemas/plugins/IgnorePlugin.json
  test/Examples.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/ignore/checkContext/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9278 node.js 12 is latest now
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9279 upgrade typescript
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9281 fix: remove unused check for changed which always evaluates to false
  lib/optimize/EnsureChunkConditionsPlugin.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9282 fix: remove duplicate code blocks in condition and switch-case
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/optimize/SplitChunksPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9283 fix: remove redundant boolean check of request variable
  lib/DelegatedModuleFactoryPlugin.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9302 fix chunk name reuse in SplitChunks
  lib/optimize/SplitChunksPlugin.js
  test/configCases/split-chunks/reuse-chunk-name/b.js
  test/configCases/split-chunks/reuse-chunk-name/c.js
  test/configCases/split-chunks/reuse-chunk-name/index.js
  test/configCases/split-chunks/reuse-chunk-name/test.config.js
  test/configCases/split-chunks/reuse-chunk-name/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9294 refactor(esdoc): OptionsDefaulter
  lib/OptionsDefaulter.js
Labels: PR: CI-ok, PR: reviewed-approved

#9290 Update NormalModuleReplacementPlugin to new api
  lib/NormalModuleReplacementPlugin.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9285 feat: introduce name truncation config option for SplitChunksPlugin
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsDefaulter.js
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#9304 allow filename as function at more places
  declarations/WebpackOptions.d.ts
  lib/Chunk.js
  lib/optimize/SplitChunksPlugin.js
  lib/runtime/GetChunkFilenameRuntimeModule.js
  schemas/WebpackOptions.json
  test/Validation.test.js
  test/configCases/split-chunks/custom-filename-function/a.js
  test/configCases/split-chunks/custom-filename-function/b.js
  test/configCases/split-chunks/custom-filename-function/common1.js
  test/configCases/split-chunks/custom-filename-function/common2.js
  test/configCases/split-chunks/custom-filename-function/common3.js
  test/configCases/split-chunks/custom-filename-function/shared1.js
  test/configCases/split-chunks/custom-filename-function/shared2.js
  test/configCases/split-chunks/custom-filename-function/test.config.js
  test/configCases/split-chunks/custom-filename-function/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9306 Handle cryptic error message being thrown
  lib/webpack.js
  test/Validation.test.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#9310 docs: Update CONTRIBUTING.md with current documentation issues location
  CONTRIBUTING.md
Labels: PR: CI-ok, PR: reviewed-approved

#9312 replace Object.assign with object spread
  lib/Compilation.js
  lib/ContextModule.js
  lib/ContextModuleFactory.js
  lib/DelegatedModule.js
  lib/DelegatedPlugin.js
  lib/JavascriptParser.js
  lib/ModuleFilenameHelpers.js
  lib/MultiStats.js
  lib/NodeStuffPlugin.js
  lib/NormalModule.js
  lib/OptionsDefaulter.js
  lib/ProgressPlugin.js
  lib/ResolverFactory.js
  lib/Watching.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/WebpackOptionsValidationError.js
  lib/cache/ResolverCachePlugin.js
  lib/dependencies/ContextDependency.js
  lib/dependencies/ContextDependencyHelpers.js
  lib/dependencies/ImportParserPlugin.js
  lib/ids/HashedModuleIdsPlugin.js
  lib/node/NodeSourcePlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/RuntimeChunkPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/serialization/ObjectMiddleware.js
  lib/serialization/Serializer.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  lib/stats/StatsFactory.js
  lib/stats/StatsPrinter.js
  lib/util/cleverMerge.js
  test/Errors.test.js
  test/TestCases.template.js
  test/cases/loaders/issue-2299/loader/index.js
  test/compareLocations.unittest.js
  test/statsCases/filter-warnings/webpack.config.js
  test/statsCases/issue-7577/webpack.config.js
  test/statsCases/named-chunk-groups/webpack.config.js
  test/statsCases/runtime-chunk-integration/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9315 docs(README): update URLs of plugins and loaders
  README.md
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9317 chore: remove references to buildin folder
  .eslintrc.js
  package.json
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9325 fix: small typo in open-bot config
  open-bot.yaml
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9326 add realResource parameter to RuleSetRule
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
  test/Validation.test.js
Labels: PR: CI-ok, PR: reviewed-approved
