Repository webpack/webpack, pull requests merged in 2019-03, with the labels that each got.

#8897 Only Require Plugins When Needed
  lib/WebpackOptionsApply.js
Labels: PR: CI-ok, PR: reviewed-approved

#8890 Allow options.amd to disable AMDPlugin/RequireJsStuffPlugin
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  schemas/WebpackOptions.json
  test/configCases/amd/disabled/index.js
  test/configCases/amd/disabled/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#8817 feat(Chunk.js): :sparkles: size fn: Modify options to default parameter
  lib/Chunk.js
Labels: PR: CI-ok, PR: reviewed-approved

#8916 fix null module reference when concatenating entryModule in split chunk
  lib/optimize/ModuleConcatenationPlugin.js
  test/configCases/concatenate-modules/split-chunk-entry-module/a.js
  test/configCases/concatenate-modules/split-chunk-entry-module/b.js
  test/configCases/concatenate-modules/split-chunk-entry-module/index.js
  test/configCases/concatenate-modules/split-chunk-entry-module/test.config.js
  test/configCases/concatenate-modules/split-chunk-entry-module/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#8917 fixes #8908
  lib/optimize/SplitChunksPlugin.js
  test/configCases/split-chunks/issue-8908/a.js
  test/configCases/split-chunks/issue-8908/b.js
  test/configCases/split-chunks/issue-8908/index.js
  test/configCases/split-chunks/issue-8908/test.config.js
  test/configCases/split-chunks/issue-8908/vendor/vendor-a.js
  test/configCases/split-chunks/issue-8908/vendor/vendor-b.js
  test/configCases/split-chunks/issue-8908/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#8945 Make lazy loading for modules at WebpackOptionApply.js
  lib/WebpackOptionsApply.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8933 Use find-cache-dir in order to calculate the webpack default cache directory
  lib/WebpackOptionsDefaulter.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#8950 fixes #8949
  lib/FunctionModuleTemplatePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#8955 [next]: update jest
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#8956 [master]: update jest
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#8926 fixes #8874
  lib/Parser.js
  test/cases/parsing/issue-8874/index.js
  test/cases/parsing/issue-8874/module.js
  test/cases/parsing/issue-8874/moduleDefaultParameter.js
  test/cases/parsing/issue-8874/moduleExportedFunctionExpression.js
  test/cases/parsing/issue-8874/moduleExportedFunctionExpressionDefaultParameter.js
  test/cases/parsing/issue-8874/someFunction.js
Labels: PR: CI-ok, PR: reviewed-approved
