Repository webpack/webpack, pull requests merged in 2019-04, with the labels that each got.

#8977 test(TestCases): don't return a value at `describe.skip` and `it`
  test/TestCases.template.js
Labels: PR: CI-ok, PR: reviewed-approved

#9001 update examples
  examples/aggressive-merging/README.md
  examples/build-common.js
  examples/chunkhash/README.md
  examples/code-splitted-require.context-amd/README.md
  examples/code-splitted-require.context/README.md
  examples/code-splitting-bundle-loader/README.md
  examples/code-splitting-harmony/README.md
  examples/code-splitting-native-import-context-filter/README.md
  examples/code-splitting-native-import-context/README.md
  examples/code-splitting-specify-chunk-name/README.md
  examples/code-splitting/README.md
  examples/coffee-script/README.md
  examples/common-chunk-and-vendor-chunk/README.md
  examples/common-chunk-grandchildren/README.md
  examples/commonjs/README.md
  examples/dll-app-and-vendor/0-vendor/README.md
  examples/dll-app-and-vendor/1-app/README.md
  examples/dll-entry-only/README.md
  examples/dll-user/README.md
  examples/dll/README.md
  examples/explicit-vendor-chunk/README.md
  examples/externals/README.md
  examples/extra-async-chunk-advanced/README.md
  examples/extra-async-chunk/README.md
  examples/harmony-interop/README.md
  examples/harmony-library/README.md
  examples/harmony-unused/README.md
  examples/harmony/README.md
  examples/http2-aggressive-splitting/README.md
  examples/hybrid-routing/README.md
  examples/i18n/README.md
  examples/loader/README.md
  examples/many-pages/README.md
  examples/mixed/README.md
  examples/multi-compiler/README.md
  examples/multi-part-library/README.md
  examples/multiple-entry-points/README.md
  examples/named-chunks/README.md
  examples/require.context/README.md
  examples/require.resolve/README.md
  examples/scope-hoisting/README.md
  examples/side-effects/README.md
  examples/source-map/README.md
  examples/two-explicit-vendor-chunks/README.md
  examples/wasm-simple/README.md
  examples/web-worker/README.md
Labels: PR: CI-ok, PR: reviewed-approved

#8976 fix(bin): remove webpack-command
  bin/webpack.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8990 Convert finishModules hook to be an AsyncSeries
  lib/Compilation.js
  lib/Compiler.js
  test/configCases/finish-modules/simple/index.js
  test/configCases/finish-modules/simple/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#8849 test: modify JavaScript example in README
  test/README.md
Labels: PR: CI-ok, PR: unreviewed

#9022 Update WebAssembly declaration
  declarations.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#8864 Adding support for output.libraryTarget "system"
  declarations/WebpackOptions.d.ts
  lib/ExternalModule.js
  lib/LibraryTemplatePlugin.js
  lib/SystemMainTemplatePlugin.js
  schemas/WebpackOptions.json
  test/ConfigTestCases.test.js
  test/configCases/externals/externals-system/index.js
  test/configCases/externals/externals-system/test.config.js
  test/configCases/externals/externals-system/webpack.config.js
  test/configCases/target/system-export/index.js
  test/configCases/target/system-export/test.config.js
  test/configCases/target/system-export/webpack.config.js
  test/configCases/target/system-named/index.js
  test/configCases/target/system-named/test.config.js
  test/configCases/target/system-named/webpack.config.js
  test/configCases/target/system-unnamed/index.js
  test/configCases/target/system-unnamed/test.config.js
  test/configCases/target/system-unnamed/webpack.config.js
  test/helpers/fakeSystem.js
Labels: PR: CI-ok, PR: reviewed-approved

#9036 correct spelling mistake, update identifer to identifier
  lib/ChunkGraph.js
  lib/Template.js
  lib/dependencies/HarmonyDetectionParserPlugin.js
  lib/optimize/MangleExportsPlugin.js
  lib/wasm/WebAssemblyUtils.js
  open-bot.yaml
  schemas/plugins/SourceMapDevToolPlugin.json
  test/Template.unittest.js
  test/numberHash.unittest.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9029 Update link in warning
  lib/NoModeWarning.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#9046 Allow top-level return in script parsing. Fixes issue 8509 in master,…
  lib/Parser.js
  test/fixtures/b.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed
