Repository webpack/webpack, pull requests merged in 2019-05, with the labels that each got.

#9032 Move isAvailible from method to module
  lib/ChunkGraph.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8919 Preset option for errors & warnings only
  declarations/WebpackOptions.d.ts
  lib/Stats.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/preset-errors-warnings/index.js
  test/statsCases/preset-errors-warnings/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#9091 fix(typo) remove redundant is
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: reviewed-approved

#9106 update watchpack
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#9111 chore(bin):sets string messages to const
  bin/webpack.js
Labels: PR: CI-ok, PR: reviewed-approved

#9104 Updated Invalid URL Reference: "Getting Started"
  README.md
Labels: PR: CI-ok, PR: review-outdated

#8462 allow to access the function generating the script src
  lib/APIPlugin.js
  test/configCases/filename-template/script-src-filename/index.js
  test/configCases/filename-template/script-src-filename/test.js
  test/configCases/filename-template/script-src-filename/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: reviewed-approved

#8505 Update tapable definitions
  lib/Cache.js
  lib/Chunk.js
  lib/ChunkTemplate.js
  lib/Compilation.js
  lib/Compiler.js
  lib/ContextModuleFactory.js
  lib/EntryPlugin.js
  lib/FlagDependencyUsagePlugin.js
  lib/HookWebpackError.js
  lib/HotModuleReplacementPlugin.js
  lib/MainTemplate.js
  lib/ModuleTemplate.js
  lib/MultiCompiler.js
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/PrefetchPlugin.js
  lib/ProgressPlugin.js
  lib/ResolverFactory.js
  lib/RuntimeModule.js
  lib/RuntimePlugin.js
  lib/UmdMainTemplatePlugin.js
  lib/optimize/AggressiveMergingPlugin.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/optimize/EnsureChunkConditionsPlugin.js
  lib/optimize/LimitChunkCountPlugin.js
  lib/optimize/MergeDuplicateChunksPlugin.js
  lib/optimize/MinChunkSizePlugin.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/optimize/RemoveEmptyChunksPlugin.js
  lib/optimize/RemoveParentModulesPlugin.js
  lib/optimize/RuntimeChunkPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/runtime/ChunkNameRuntimeModule.js
  lib/runtime/EnsureChunkRuntimeModule.js
  lib/runtime/GetFullHashRuntimeModule.js
  lib/runtime/GetMainFilenameRuntimeModule.js
  lib/runtime/HelperRuntimeModule.js
  lib/runtime/PublicPathRuntimeModule.js
  lib/stats/StatsFactory.js
  lib/stats/StatsPrinter.js
  lib/util/AsyncQueue.js
  lib/web/JsonpTemplatePlugin.js
  package.json
  test/MultiWatching.unittest.js
  test/WebpackError.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: types, PR: unreviewed

#9107 chore(ci): add Node.js v12 to azure-pipelines
  azure-pipelines.yml
  test/cases/parsing/harmony-tdz/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#9063 fix(parser): Rest element identifiers in object patterns not added to defined variables of scope
  lib/Parser.js
  test/Parser.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved

#9054 Turn off NodeStuffPlugin with when "node" configuration set to "false"
  lib/NodeStuffPlugin.js
  lib/WebpackOptionsApply.js
  test/configCases/parsing/issue-9042/index.js
  test/configCases/parsing/issue-9042/test.config.js
  test/configCases/parsing/issue-9042/webpack.config.js
  test/configCases/parsing/node-stuff-plugin-off/index.js
  test/configCases/parsing/node-stuff-plugin-off/test.config.js
  test/configCases/parsing/node-stuff-plugin-off/webpack.config.js
Labels: PR: CI-ok, PR: review-outdated, PR: reviewed-approved

#9122 add stages for Cache plugins
  lib/Cache.js
  lib/cache/BackgroundFileCachePlugin.js
  lib/cache/IdleFileCachePlugin.js
  lib/cache/InstantFileCachePlugin.js
  lib/cache/MemoryCachePlugin.js
  lib/index.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9115 fix prefetching with runtime public path
  lib/Chunk.js
  lib/MainTemplate.js
  lib/web/JsonpMainTemplatePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/web/prefetch-preload/index.js
  test/configCases/web/prefetch-split-chunks/chunk1.js
  test/configCases/web/prefetch-split-chunks/index.js
  test/configCases/web/prefetch-split-chunks/public-path.js
  test/configCases/web/prefetch-split-chunks/test.config.js
  test/configCases/web/prefetch-split-chunks/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#9131 Join effort dependabot and webpack-bot
  open-bot.yaml
Labels: PR: CI-ok, PR: unreviewed

#9141 replace micromatch with glob-to-regexp for sideEffects flag
  lib/optimize/SideEffectsFlagPlugin.js
  package.json
  test/SideEffectsFlagPlugin.unittest.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9140 Allow loaders to access the mode
  lib/NormalModule.js
  test/configCases/loaders/mode-default/a.js
  test/configCases/loaders/mode-default/index.js
  test/configCases/loaders/mode-default/loader.js
  test/configCases/loaders/mode-default/webpack.config.js
  test/configCases/loaders/mode-development/a.js
  test/configCases/loaders/mode-development/index.js
  test/configCases/loaders/mode-development/loader.js
  test/configCases/loaders/mode-development/webpack.config.js
  test/configCases/loaders/mode-none/a.js
  test/configCases/loaders/mode-none/index.js
  test/configCases/loaders/mode-none/loader.js
  test/configCases/loaders/mode-none/webpack.config.js
  test/configCases/loaders/mode-production/a.js
  test/configCases/loaders/mode-production/index.js
  test/configCases/loaders/mode-production/loader.js
  test/configCases/loaders/mode-production/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#9128 fix: provide useful stacktrace on chunk loading failure
  lib/web/JsonpMainTemplatePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#9138 rewrite RuleSet to RuleSetCompiler with plugins
  declarations/WebpackOptions.d.ts
  lib/NormalModuleFactory.js
  lib/RuleSet.js
  lib/rules/BasicEffectRulePlugin.js
  lib/rules/BasicMatcherRulePlugin.js
  lib/rules/RuleSetCompiler.js
  lib/rules/UseEffectRulePlugin.js
  schemas/WebpackOptions.json
  test/RuleSet.unittest.js
  test/Validation.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/loaders/issue-3320/webpack.config.js
  test/configCases/rule-set/chaining/webpack.config.js
  test/configCases/rule-set/simple-use-array-fn/index.js
  test/configCases/rule-set/simple-use-array-fn/webpack.config.js
  test/configCases/rule-set/simple-use-fn-array/index.js
  test/configCases/rule-set/simple-use-fn-array/webpack.config.js
  test/configCases/rule-set/simple/index.js
  test/configCases/rule-set/simple/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9153 fix problem with dll and sideEffects
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/dll-plugin/0-create-dll/h.js
  test/configCases/dll-plugin/0-create-dll/h1.js
  test/configCases/dll-plugin/0-create-dll/ha.js
  test/configCases/dll-plugin/0-create-dll/hb.js
  test/configCases/dll-plugin/0-create-dll/webpack.config.js
  test/configCases/dll-plugin/1-use-dll/index.js
  test/configCases/dll-plugin/2-use-dll-without-scope/index.js
Labels: PR: CI-ok, PR: unreviewed

#9158 add sync mode for chunk dependency startup in sync node target
  lib/CompatibilityPlugin.js
  lib/JavascriptParser.js
  lib/WebpackOptionsApply.js
  lib/runtime/StartupChunkDependenciesPlugin.js
  test/configCases/library/0-create-library/webpack.config.js
  test/configCases/library/1-use-library/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9163 node: false should not disable CommonJs features
  lib/CommonJsStuffPlugin.js
  lib/NodeStuffPlugin.js
  lib/WebpackOptionsApply.js
  test/configCases/parsing/issue-9156/index.js
  test/configCases/parsing/issue-9156/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#9168 fix some minor things
  lib/FunctionModuleTemplatePlugin.js
  lib/node/ReadFileCompileWasmPlugin.js
  lib/wasm/WasmChunkLoadingRuntimeModule.js
  lib/web/FetchCompileWasmPlugin.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9169 don't emit and load JS files for chunks without JS modules
  declarations/WebpackOptions.d.ts
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/JavascriptModulesPlugin.js
  lib/node/NodeTemplatePlugin.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/util/compileBooleanMatcher.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  schemas/WebpackOptions.json
  test/ConfigTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/compileBooleanMatcher.unittest.js
  test/configCases/custom-source-type/localization/content.loc
  test/configCases/custom-source-type/localization/content2.loc
  test/configCases/custom-source-type/localization/index.js
  test/configCases/custom-source-type/localization/normal.js
  test/configCases/custom-source-type/localization/normal2.js
  test/configCases/custom-source-type/localization/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9167 improve validation errors and tests
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsValidationError.js
  schemas/WebpackOptions.json
  test/Validation.test.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#9172 disable node stuff in node targets
  lib/WebpackOptionsDefaulter.js
  test/TestCases.template.js
  test/configCases/plugins/progress-plugin/index.js
  test/configCases/plugins/progress-plugin/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9176 fix concatenated version of reexport dependency for sideEffects
  lib/optimize/ConcatenatedModule.js
  test/cases/scope-hoisting/side-effects-9159/index.js
  test/cases/scope-hoisting/side-effects-9159/package/index.js
  test/cases/scope-hoisting/side-effects-9159/package/module.js
  test/cases/scope-hoisting/side-effects-9159/package/package.json
  test/cases/scope-hoisting/side-effects-9159/reexport.js
Labels: PR: CI-ok, PR: unreviewed

#9171 fix flag in appveyor
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
  package.json
Labels: PR: CI-ok, PR: unreviewed

#9188 feat(target): support electron preload async chunk loading
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#9202 fix rejection when removing and readding self-accepted module
  lib/HotModuleReplacement.runtime.js
  test/hotCases/recover/recover-after-removal-self-accepted/index.js
  test/hotCases/recover/recover-after-removal-self-accepted/inner.js
  test/hotCases/recover/recover-after-removal-self-accepted/module.js
Labels: PR: CI-ok, PR: unreviewed
