Repository webpack/webpack, pull requests merged in 2019-09, with the labels that each got.

#9651 Fix the typo in Parser.js
  lib/Parser.js
Labels: PR: CI-ok, PR: reviewed-approved

#9658 Persistent Caching fixes
  lib/ContextModule.js
  lib/FileSystemInfo.js
  lib/cache/PackFileCacheStrategy.js
  lib/util/fs.js
  test/TestCasesCacheInstant.test.js
  test/TestCasesCachePack.test.js
Labels: PR: CI-ok, PR: next, PR: tests-needed, PR: unreviewed

#9666 fix bug with side-effect-free module removed due to scope analysis
  lib/dependencies/HarmonyImportSpecifierDependency.js
  test/cases/inner-graph/no-side-effects/index.js
  test/cases/inner-graph/no-side-effects/module.js
  test/cases/inner-graph/no-side-effects/package/index.js
  test/cases/inner-graph/no-side-effects/package/package.json
  test/cases/inner-graph/no-side-effects/package/unusedModule.js
  test/configCases/inner-graph/defaultNamedFunction/module.js
  test/configCases/inner-graph/defaultNamedFunction/webpack.config.js
  test/configCases/inner-graph/defaultNamedFunctionExpression/module.js
  test/configCases/inner-graph/defaultNamedFunctionExpression/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9671 avoid adding dependencies in pre walk, branch might be skipped
  lib/optimize/InnerGraphPlugin.js
  test/cases/inner-graph/pure-in-removed/import-module.js
  test/cases/inner-graph/pure-in-removed/index.js
  test/cases/inner-graph/pure-in-removed/module.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9672 Fixes to managed paths and build dependencies
  lib/FileSystemInfo.js
  test/fixtures/buildDependencies/run.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9673 only handle defined variables as pure expressions
  lib/JavascriptParser.js
  lib/optimize/InnerGraphPlugin.js
  test/cases/inner-graph/try-globals/import-module.js
  test/cases/inner-graph/try-globals/index.js
  test/cases/inner-graph/try-globals/module.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9678 SourceMapDevTool applies to all assets and adds auxiliary files to chunks
  lib/SourceMapDevToolPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: next, PR: reviewed-approved, PR: tests-needed

#9677 change assetEmitted hook to include more info
  lib/Compiler.js
  test/configCases/asset-emitted/normal/webpack.config.js
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9683 upgrade jest dependencies
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#9697 make multiple assets to the same filename a warning
  lib/Compilation.js
  test/configCases/emit-asset/different-source/index.js
  test/configCases/emit-asset/different-source/test1.txt
  test/configCases/emit-asset/different-source/test2.txt
  test/configCases/emit-asset/different-source/warnings.js
  test/configCases/emit-asset/different-source/webpack.config.js
  test/configCases/emit-asset/equal-source/index.js
  test/configCases/emit-asset/equal-source/test1.txt
  test/configCases/emit-asset/equal-source/test2.txt
  test/configCases/emit-asset/equal-source/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#9701 fix: check for asset nullity before fileFilter
  lib/performance/SizeLimitsPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#9709 nit: Don't recompute filename hash
  lib/optimize/SplitChunksPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#9719 perf: cache module size in NormalModule
  lib/NormalModule.js
Labels: PR: CI-ok, PR: reviewed-approved

#9702 Fix `LogTypeEnum` typedef
  lib/logging/Logger.js
Labels: PR: CI-ok, PR: reviewed-approved

#9724 HMR plugin should only affect the root compilation
  lib/HotModuleReplacementPlugin.js
  test/hotCases/child-compiler/issue-9706/file.js
  test/hotCases/child-compiler/issue-9706/index.js
  test/hotCases/child-compiler/issue-9706/report-child-assets-loader.js
Labels: PR: CI-ok, PR: unreviewed

#9727 Improve performance of LimitChunkCountPlugin a lot
  lib/Chunk.js
  lib/optimize/LimitChunkCountPlugin.js
  lib/util/LazyBucketSortedSet.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#9728 disallow shorthand cache groups syntax with cache group named test
  lib/WebpackOptionsValidationError.js
  schemas/WebpackOptions.json
  test/Schemas.lint.js
  test/Validation.test.js
Labels: PR: CI-ok, PR: unreviewed

#9737 Merge 4.41.0 and upgrade schema-utils
  lib/optimize/LimitChunkCountPlugin.js
  lib/util/LazyBucketSortedSet.js
  package.json
  schemas/WebpackOptions.json
  test/Schemas.lint.js
  test/Validation.test.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9691 Improve backward-compat for various things
  lib/Chunk.js
  lib/ChunkGroup.js
  lib/Compilation.js
  lib/Compiler.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DllModule.js
  lib/ExternalModule.js
  lib/MainTemplate.js
  lib/Module.js
  lib/RawModule.js
  lib/RuntimeModule.js
  lib/RuntimePlugin.js
  lib/Template.js
  lib/WebpackOptionsDefaulter.js
  lib/buildChunkGraph.js
  lib/ids/ChunkModuleIdRangePlugin.js
  lib/ids/DeterministicModuleIdsPlugin.js
  lib/ids/HashedModuleIdsPlugin.js
  lib/ids/NamedModuleIdsPlugin.js
  lib/ids/NaturalModuleIdsPlugin.js
  lib/ids/OccurrenceModuleIdsPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/SplitChunksPlugin.js
  lib/runtime/CompatRuntimePlugin.js
  lib/util/comparators.js
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/errors/exception-in-chunk-renderer/errors.js
  test/configCases/plugins/mini-css-extract-plugin/a.css
  test/configCases/plugins/mini-css-extract-plugin/a.js
  test/configCases/plugins/mini-css-extract-plugin/b.css
  test/configCases/plugins/mini-css-extract-plugin/b.js
  test/configCases/plugins/mini-css-extract-plugin/c.css
  test/configCases/plugins/mini-css-extract-plugin/chunk.css
  test/configCases/plugins/mini-css-extract-plugin/chunk.js
  test/configCases/plugins/mini-css-extract-plugin/d.css
  test/configCases/plugins/mini-css-extract-plugin/dependency.css
  test/configCases/plugins/mini-css-extract-plugin/test.config.js
  test/configCases/plugins/mini-css-extract-plugin/webpack.config.js
  test/helpers/FakeDocument.js
  yarn.lock
Labels: PR: CI-ok, PR: next, PR: unreviewed

#9604 docs(_SETUP.md): add update example use
  _SETUP.md
Labels: PR: CI-ok, PR: reviewed-approved
