Repository webpack/webpack, pull requests merged in 2020-04, with the labels that each got.

#10664 remove extra serialization
  lib/dependencies/AMDRequireItemDependency.js
  lib/dependencies/ContextElementDependency.js
  lib/dependencies/ImportEagerDependency.js
  lib/dependencies/ImportWeakDependency.js
  lib/dependencies/ModuleHotAcceptDependency.js
  lib/dependencies/ModuleHotDeclineDependency.js
  lib/dependencies/ProvidedDependency.js
  lib/dependencies/RequireIncludeDependency.js
  lib/dependencies/RequireResolveDependency.js
Labels: PR: CI-ok, PR: reviewed-approved

#10683 Fix measurement formatting as per SI rules
  lib/ProgressPlugin.js
  lib/logging/createConsoleLogger.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  test/BenchmarkTestCases.benchmark.js
  test/Compiler.test.js
  test/StatsTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#10661 Fix InnerGraph
  lib/dependencies/HarmonyExportExpressionDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/InnerGraphPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/inner-graph/reexport-namespace-and-default/index.js
  test/cases/inner-graph/reexport-namespace-and-default/module.js
  test/cases/inner-graph/reexport-namespace-and-default/package1/script.js
  test/cases/inner-graph/reexport-namespace-and-default/package1/script1.js
  test/cases/inner-graph/reexport-namespace-and-default/package1/script2.js
  test/cases/inner-graph/reexport-namespace-and-default/package1/script3.js
  test/cases/inner-graph/reexport-namespace-and-default/package2/script.js
  test/cases/inner-graph/reexport-namespace-and-default/package2/script1.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#10695 fix: correct managedPaths description
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#10701 Fix DllReferencePlugin schema
  declarations/plugins/DllReferencePlugin.d.ts
  schemas/plugins/DllReferencePlugin.json
Labels: PR: CI-ok, PR: unreviewed

#10670 Fix #10616
  cspell.json
  lib/dependencies/PureExpressionDependency.js
  lib/javascript/JavascriptParser.js
  lib/optimize/InnerGraphPlugin.js
  test/cases/inner-graph/export-default-named/a.js
  test/cases/inner-graph/export-default-named/b.js
  test/cases/inner-graph/export-default-named/c.js
  test/cases/inner-graph/export-default-named/d.js
  test/cases/inner-graph/export-default-named/dep.js
  test/cases/inner-graph/export-default-named/e.js
  test/cases/inner-graph/export-default-named/f.js
  test/cases/inner-graph/export-default-named/index.js
  test/cases/inner-graph/extend-class/dep1.js
  test/cases/inner-graph/extend-class/dep2.js
  test/cases/inner-graph/extend-class/dep3.js
  test/cases/inner-graph/extend-class/index.js
  test/cases/inner-graph/extend-class/module1.js
  test/cases/inner-graph/extend-class/module2.js
  test/cases/inner-graph/extend-class2/dep-decl.js
  test/cases/inner-graph/extend-class2/dep-expr.js
  test/cases/inner-graph/extend-class2/dep2.js
  test/cases/inner-graph/extend-class2/dep3.js
  test/cases/inner-graph/extend-class2/index.js
  test/cases/inner-graph/extend-class2/module-decl.js
  test/cases/inner-graph/extend-class2/module-expr.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#10666 test: added custom handler progressPlugin tests
  test/ProgressPlugin.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#10646 fix: module federation plugin library should be optional
  lib/container/ContainerReferencePlugin.js
  lib/container/ModuleFederationPlugin.js
  test/configCases/container/module-federation/dep.js
  test/configCases/container/module-federation/index.js
  test/configCases/container/module-federation/module.js
  test/configCases/container/module-federation/other.js
  test/configCases/container/module-federation/self.js
  test/configCases/container/module-federation/test.config.js
  test/configCases/container/module-federation/webpack.config.js
  test/helpers/fakeSystem.js
Labels: PR: CI-ok, PR: non-master, PR: reviewed-approved

#10718 add tests to increase code coverage
  lib/ChunkGroup.js
  lib/DependencyTemplate.js
  lib/Generator.js
  lib/Module.js
  lib/ModuleFactory.js
  lib/Parser.js
  lib/RecordIdsPlugin.js
  lib/RuntimeModule.js
  lib/SourceMapDevToolPlugin.js
  lib/library/AbstractLibraryPlugin.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/serialization/SerializerMiddleware.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/util/Hash.js
  lib/util/LazySet.js
  lib/util/createHash.js
  test/PersistentCaching.test.js
  test/ProgressPlugin.test.js
  test/configCases/deprecations/chunk-and-module/deprecations.js
  test/configCases/deprecations/chunk-and-module/index.js
  test/configCases/deprecations/chunk-and-module/webpack.config.js
  test/configCases/deprecations/chunk-files/deprecations.js
  test/configCases/deprecations/chunk-files/index.js
  test/configCases/deprecations/chunk-files/webpack.config.js
  test/configCases/plugins/profiling-plugin/index.js
  test/configCases/plugins/profiling-plugin/webpack.config.js
  test/configCases/utils/lazy-set/index.js
  test/configCases/utils/lazy-set/webpack.config.js
  test/configCases/wasm/export-imported-global/env.js
  test/configCases/wasm/export-imported-global/index.js
  test/configCases/wasm/export-imported-global/module.js
  test/configCases/wasm/export-imported-global/module.wat
  test/configCases/wasm/export-imported-global/test.filter.js
  test/configCases/wasm/export-imported-global/webpack.config.js
  test/configCases/wasm/import-wasm-wasm/index.js
  test/configCases/wasm/import-wasm-wasm/test.filter.js
  test/configCases/wasm/import-wasm-wasm/wasm.wat
  test/configCases/wasm/import-wasm-wasm/wasm2.wat
  test/configCases/wasm/import-wasm-wasm/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10714 add invalidate to HMR API
  lib/RuntimeGlobals.js
  lib/hmr/HotModuleReplacement.runtime.js
  lib/hmr/HotModuleReplacementRuntimeModule.js
  lib/hmr/JavascriptHotModuleReplacement.runtime.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/hotCases/invalidate/conditional-accept/data.json
  test/hotCases/invalidate/conditional-accept/index.js
  test/hotCases/invalidate/conditional-accept/module1.js
  test/hotCases/invalidate/conditional-accept/module2.js
  test/hotCases/invalidate/conditional-accept/store.js
  test/hotCases/invalidate/during-idle/a.js
  test/hotCases/invalidate/during-idle/b.js
  test/hotCases/invalidate/during-idle/c.js
  test/hotCases/invalidate/during-idle/index.js
  test/hotCases/invalidate/during-idle/module.js
Labels: PR: CI-ok, PR: unreviewed

#10613 fix: exporting deterministicChinkIdPlugin as ids (fixes #10608)
  lib/index.js
  test/configCases/optimization/chunk/files/file1.js
  test/configCases/optimization/chunk/index.js
  test/configCases/optimization/chunk/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#10715 add invalidate to HMR API in webpack 4
  lib/HotModuleReplacement.runtime.js
  test/hotCases/invalidate/conditional-accept/data.json
  test/hotCases/invalidate/conditional-accept/index.js
  test/hotCases/invalidate/conditional-accept/module1.js
  test/hotCases/invalidate/conditional-accept/module2.js
  test/hotCases/invalidate/conditional-accept/store.js
  test/hotCases/invalidate/during-idle/a.js
  test/hotCases/invalidate/during-idle/b.js
  test/hotCases/invalidate/during-idle/c.js
  test/hotCases/invalidate/during-idle/index.js
  test/hotCases/invalidate/during-idle/module.js
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#10746 do not publish declarations to npm
  package.json
Labels: PR: CI-ok, PR: unreviewed

#10753 ci: add Node@14 to azure-pipelines and remove v13
  azure-pipelines.yml
Labels: PR: CI-ok, PR: reviewed-approved

#10758 Fix CommonJS export with "default"
  lib/ContextModule.js
  lib/Dependency.js
  lib/FlagDependencyExportsPlugin.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/RuntimeTemplate.js
  lib/dependencies/CommonJsExportsDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/JsonExportsDependency.js
  lib/json/JsonGenerator.js
  lib/optimize/ConcatenatedModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/cjs-tree-shaking/exports/exports-default-bailout-flagged.js
  test/cases/cjs-tree-shaking/exports/exports-default-bailout.js
  test/cases/cjs-tree-shaking/exports/exports-default-flagged.js
  test/cases/cjs-tree-shaking/exports/exports-default.js
  test/cases/cjs-tree-shaking/exports/index.js
  test/cases/cjs-tree-shaking/exports/module-exports-default.js
  test/cases/cjs-tree-shaking/exports/require-default.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#10748 ignore some timing-depend code parts for coverage
  lib/ModuleProfile.js
  lib/ProgressPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#10773 record chunk ids for unnamed chunks in the entrypoint chunk group
  lib/RecordIdsPlugin.js
  test/HotTestCases.template.js
  test/__snapshots__/ConfigTestCases.test.js.snap
  test/hotCases/chunks/split-chunks/index.js
  test/hotCases/chunks/split-chunks/node_modules/vendor.js
  test/hotCases/chunks/split-chunks/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10774 be less strict about test timing
  test/ProgressPlugin.test.js
Labels: PR: CI-ok, PR: unreviewed

#10784 Fix #10725
  lib/Compilation.js
  test/cases/loaders/issue-10725/index.js
  test/cases/loaders/issue-10725/lib.js
  test/cases/loaders/issue-10725/loader.js
  test/cases/loaders/issue-10725/text.txt
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#10782 Updated terser-webpack-plugin from 2.3.1 to 2.3.6
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#10797 better error messages when wasm related experiments are not enabled
  lib/ModuleParseError.js
  lib/NormalModule.js
  lib/WebpackOptionsApply.js
  test/configCases/wasm/missing-import-async/errors.js
  test/configCases/wasm/missing-import-async/index.js
  test/configCases/wasm/missing-import-async/module.js
  test/configCases/wasm/missing-import-async/test.filter.js
  test/configCases/wasm/missing-import-async/wasm.wat
  test/configCases/wasm/missing-import-async/webpack.config.js
  test/configCases/wasm/missing-wasm-experiment/errors.js
  test/configCases/wasm/missing-wasm-experiment/index.js
  test/configCases/wasm/missing-wasm-experiment/wasm.wasm
  test/configCases/wasm/missing-wasm-experiment/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10802 upgrade dependency for security reasons
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#10735 chore: added more compiler hooks progress
  lib/ProgressPlugin.js
  test/ProgressPlugin.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#10759 upgrade tooling, expose container plugins, fix typings tests
  lib/index.js
  package.json
  test/configCases/container/0-container-full/webpack.config.js
  test/configCases/container/1-container-full/webpack.config.js
  test/configCases/container/2-container-full/webpack.config.js
  test/configCases/container/container-entry-overridables/webpack.config.js
  test/configCases/container/container-entry/webpack.config.js
  test/configCases/container/container-reference-override/webpack.config.js
  test/configCases/container/container-reference/webpack.config.js
  test/configCases/container/module-federation/webpack.config.js
  test/configCases/container/overridables/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10805 Container/fixes tests
  lib/container/ContainerEntryModule.js
  lib/container/ModuleFederationPlugin.js
  lib/container/OverridableModule.js
  lib/container/OverridableOriginalDependency.js
  lib/container/OverridableOriginalModuleFactory.js
  lib/container/OverridablesPlugin.js
  lib/container/RemoteModule.js
  lib/container/RemoteOverrideModule.js
  lib/util/internalSerializables.js
  test/ConfigTestCases.test.js
  test/PersistentCaching.test.js
  test/configCases/container/2-container-full/Self.js
  test/configCases/container/2-container-full/index.js
  test/configCases/container/2-container-full/webpack.config.js
Labels: PR: CI-ok, PR: non-master, PR: tests-needed, PR: unreviewed

#10809 support overridables in initial chunks
  lib/AsyncDependenciesBlock.js
  lib/buildChunkGraph.js
  lib/container/OverridableDependenciesBlock.js
  lib/container/OverridableModule.js
  lib/container/OverridablesRuntimeModule.js
  test/configCases/container/overridables/cjs/test3.js
  test/configCases/container/overridables/index.js
  test/configCases/container/overridables/modules/test3.js
  test/configCases/container/overridables/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10810 validate options for container-related plugins
  declarations/plugins/ContainerReferencePlugin.d.ts
  declarations/plugins/container/ContainerPlugin.d.ts
  declarations/plugins/container/ContainerReferencePlugin.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  declarations/plugins/container/OverridablesPlugin.d.ts
  lib/container/ContainerPlugin.js
  lib/container/ContainerReferencePlugin.js
  lib/container/ModuleFederationPlugin.js
  lib/container/OverridablesPlugin.js
  schemas/plugins/ContainerReferencePlugin.json
  schemas/plugins/container/ContainerPlugin.json
  schemas/plugins/container/ContainerReferencePlugin.json
  schemas/plugins/container/ModuleFederationPlugin.json
  schemas/plugins/container/OverridablesPlugin.json
  types.d.ts
Labels: PR: CI-ok, PR: non-master, PR: unreviewed
