Repository webpack/webpack, pull requests merged in 2020-02, with the labels that each got.

#10335 Performance improvement
  declarations/WebpackOptions.d.ts
  lib/FileSystemInfo.js
  lib/buildChunkGraph.js
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/optimize-chunks/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10343 make compiler/compilation.cache read-only
  lib/Compilation.js
  lib/Compiler.js
Labels: PR: CI-ok, PR: unreviewed

#10334 Add entrypoint descriptor with `import` property
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/DllEntryPlugin.js
  lib/DynamicEntryPlugin.js
  lib/EntryOptionPlugin.js
  lib/EntryPlugin.js
  lib/ExportPropertyTemplatePlugin.js
  lib/FlagDependencyUsagePlugin.js
  lib/FlagEntryExportAsUsedPlugin.js
  lib/ProgressPlugin.js
  schemas/WebpackOptions.json
  test/Validation.test.js
  test/configCases/entry/descriptor/a.js
  test/configCases/entry/descriptor/b.js
  test/configCases/entry/descriptor/test.config.js
  test/configCases/entry/descriptor/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10327 refactor(FileMiddleware): add format information, minor code refactoring
  lib/serialization/FileMiddleware.js
Labels: PR: CI-ok, PR: reviewed-approved

#10293 chore(JavascriptParser.js): Minor enhancements
  lib/javascript/JavascriptParser.js
Labels: PR: CI-ok, PR: reviewed-approved

#10315 add percentBy options to ProgressPlugin
  declarations/plugins/ProgressPlugin.d.ts
  lib/ProgressPlugin.js
  schemas/plugins/ProgressPlugin.json
  test/ProgressPlugin.test.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10344 fix hanging build when using circular export *
  lib/FlagDependencyExportsPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  test/cases/parsing/harmony-circular-star-reexport/a.js
  test/cases/parsing/harmony-circular-star-reexport/b.js
  test/cases/parsing/harmony-circular-star-reexport/c.js
  test/cases/parsing/harmony-circular-star-reexport/index.js
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#10314 Usage callbacks on inner graph
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/PureExpressionDependency.js
  lib/optimize/InnerGraph.js
  lib/optimize/InnerGraphPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#10326 refactor BinaryMiddleware
  lib/serialization/BinaryMiddleware.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#10311 Update examples/many-pages/README.md
  examples/many-pages/README.md
  examples/many-pages/template.md
Labels: PR: CI-ok, PR: reviewed-approved

#10336 refactor(Chunk): use only delete method instead of `has`,`delete` chain
  lib/Chunk.js
Labels: PR: CI-ok, PR: reviewed-approved

#10358 Fix branding guide violation
  declarations.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#10359 Fix branding violation
  lib/DefinePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#10354 Minor code refactoring to use destructuring
  lib/NormalModule.js
Labels: PR: CI-ok, PR: reviewed-approved

#10297 Add options arg to EnvironmentPlugin, fixes #10296
  lib/EnvironmentPlugin.js
  test/configCases/plugins/environment-plugin/errors.js
  test/configCases/plugins/environment-plugin/index.js
  test/configCases/plugins/environment-plugin/warnings.js
Labels: PR: CI-ok, PR: reviewed-approved

#10348 Implement entry.filename option
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/EntryOptionPlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/entry-filename/a.js
  test/statsCases/entry-filename/b.js
  test/statsCases/entry-filename/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#10290 Entry dependOn
  declarations/WebpackOptions.d.ts
  examples/code-splitting-depend-on-advanced/README.md
  examples/code-splitting-depend-on-advanced/app.js
  examples/code-splitting-depend-on-advanced/build.js
  examples/code-splitting-depend-on-advanced/lazy.js
  examples/code-splitting-depend-on-advanced/node_modules/isomorphic-fetch.js
  examples/code-splitting-depend-on-advanced/node_modules/lodash.js
  examples/code-splitting-depend-on-advanced/node_modules/prop-types.js
  examples/code-splitting-depend-on-advanced/node_modules/react-dom.js
  examples/code-splitting-depend-on-advanced/node_modules/react.js
  examples/code-splitting-depend-on-advanced/other-vendors.js
  examples/code-splitting-depend-on-advanced/page1.js
  examples/code-splitting-depend-on-advanced/template.md
  examples/code-splitting-depend-on-advanced/webpack.config.js
  examples/code-splitting-depend-on-simple/README.md
  examples/code-splitting-depend-on-simple/app.js
  examples/code-splitting-depend-on-simple/build.js
  examples/code-splitting-depend-on-simple/node_modules/prop-types.js
  examples/code-splitting-depend-on-simple/node_modules/react-dom.js
  examples/code-splitting-depend-on-simple/node_modules/react.js
  examples/code-splitting-depend-on-simple/template.md
  examples/code-splitting-depend-on-simple/webpack.config.js
  lib/ChunkGraph.js
  lib/Compilation.js
  lib/EntryOptionPlugin.js
  lib/Entrypoint.js
  lib/buildChunkGraph.js
  lib/optimize/RuntimeChunkPlugin.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/web/JsonpHelpers.js
  lib/web/JsonpTemplatePlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/entry/depend-on-advanced/app.js
  test/configCases/entry/depend-on-advanced/lazy.js
  test/configCases/entry/depend-on-advanced/node_modules/isomorphic-fetch.js
  test/configCases/entry/depend-on-advanced/node_modules/lodash.js
  test/configCases/entry/depend-on-advanced/node_modules/prop-types.js
  test/configCases/entry/depend-on-advanced/node_modules/react-dom.js
  test/configCases/entry/depend-on-advanced/node_modules/react.js
  test/configCases/entry/depend-on-advanced/node_modules/test.js
  test/configCases/entry/depend-on-advanced/other-vendors.js
  test/configCases/entry/depend-on-advanced/page1.js
  test/configCases/entry/depend-on-advanced/test.config.js
  test/configCases/entry/depend-on-advanced/webpack.config.js
  test/configCases/entry/depend-on-simple/app.js
  test/configCases/entry/depend-on-simple/node_modules/prop-types.js
  test/configCases/entry/depend-on-simple/node_modules/react-dom.js
  test/configCases/entry/depend-on-simple/node_modules/react.js
  test/configCases/entry/depend-on-simple/test.config.js
  test/configCases/entry/depend-on-simple/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#10351 Exit with an error if we can't prompt for webpack-cli installation.
  bin/webpack.js
Labels: PR: CI-ok, PR: reviewed-approved

#10294 backport: do not evaluate constants in asm.js, fix IIFE mode detection
  lib/ConstPlugin.js
  lib/Parser.js
  test/Compiler.test.js
  test/fixtures/asmjs.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: webpack-4

#10357 Minor grammatical fix
  examples/asset-advanced/README.md
  examples/asset-advanced/template.md
Labels: PR: CI-ok, PR: reviewed-approved

#10370 Branding guide violation
  lib/cache/ResolverCachePlugin.js
Labels: PR: CI-ok, PR: unreviewed

#9942 feat(DefinePlugin): Support array as value in DefinePlugin
  lib/DefinePlugin.js
  test/configCases/plugins/define-plugin/index.js
  test/configCases/plugins/define-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#10331 wasm: v128 support
  package.json
  test/cases/wasm/v128/index.js
  test/cases/wasm/v128/test.filter.js
  test/cases/wasm/v128/v128.wasm
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#10382 remove unnecessary ts def
  declarations.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#10393 disallow function for output.hotUpdateChunkFilename
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#10396 ProgressPlugin: save and restore total module count
  lib/ProgressPlugin.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10401 Refactor defaulting
  declarations/WebpackOptions.d.ts
  declarations/plugins/AssetModulesPluginGenerator.d.ts
  declarations/plugins/AssetModulesPluginParser.d.ts
  declarations/plugins/BannerPlugin.d.ts
  declarations/plugins/ProgressPlugin.d.ts
  declarations/plugins/SourceMapDevToolPlugin.d.ts
  lib/Compilation.js
  lib/Compiler.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DllEntryPlugin.js
  lib/DllModule.js
  lib/DllPlugin.js
  lib/ExternalModule.js
  lib/HotModuleReplacementPlugin.js
  lib/Module.js
  lib/MultiCompiler.js
  lib/NormalModule.js
  lib/OptionsDefaulter.js
  lib/ProgressPlugin.js
  lib/RawModule.js
  lib/RuntimeModule.js
  lib/RuntimeTemplate.js
  lib/WebpackOptionsApply.js
  lib/WebpackOptionsDefaulter.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/dependencies/AMDPlugin.js
  lib/index.js
  lib/optimize/SplitChunksPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/webpack.js
  schemas/WebpackOptions.json
  schemas/plugins/AssetModulesPluginGenerator.json
  schemas/plugins/AssetModulesPluginParser.json
  schemas/plugins/BannerPlugin.json
  schemas/plugins/ProgressPlugin.json
  schemas/plugins/SourceMapDevToolPlugin.json
  test/Compiler-caching.test.js
  test/Compiler.test.js
  test/Defaults.unittest.js
  test/Schemas.lint.js
  test/StatsTestCases.test.js
  test/Validation.test.js
  test/statsCases/no-emit-on-errors-plugin-with-child-error/TestChildCompilationFailurePlugin.js
  tooling/compile-to-definitions.js
Labels: PR: CI-ok, PR: unreviewed

#10405 improve caching support for PnP version 3 (yarn 2 berry)
  declarations.d.ts
  lib/config/defaults.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10378 chore: migrate to memfs
  package.json
  test/ChangesAndRemovals.test.js
  test/Compiler.test.js
  test/ContextModuleFactory.unittest.js
  test/MultiCompiler.test.js
  test/MultiStats.test.js
  test/ProgressPlugin.test.js
  test/Stats.test.js
  test/WatchDetection.test.js
  test/WatcherEvents.test.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#10406 improve schema and validation
  azure-pipelines.yml
  declarations/WebpackOptions.d.ts
  lib/config/normalization.js
  lib/validateSchema.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
Labels: PR: CI-ok, PR: unreviewed

#10412 upgrade watchpack
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#10426 hoist exports to the top of a concatenated module
  lib/ModuleInfoHeaderPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportInitFragment.js
  lib/dependencies/HarmonyExportSpecifierDependency.js
  lib/optimize/ConcatenatedModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/scope-hoisting/circular-root-export/external-ref.js
  test/cases/scope-hoisting/circular-root-export/external.js
  test/cases/scope-hoisting/circular-root-export/index.js
  test/cases/scope-hoisting/circular-root-export/module.js
  test/cases/scope-hoisting/circular-root-export/root-ref.js
  test/cases/scope-hoisting/circular-root-export/root.js
  test/cases/scope-hoisting/issue-10409/a.js
  test/cases/scope-hoisting/issue-10409/b.js
  test/cases/scope-hoisting/issue-10409/c.js
  test/cases/scope-hoisting/issue-10409/cts.js
  test/cases/scope-hoisting/issue-10409/index.js
  test/cases/scope-hoisting/issue-10409/main.js
Labels: PR: CI-ok, PR: unreviewed

#10430 improve exports hoisting in concatenated modules
  lib/optimize/ConcatenatedModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/errors/harmony-import-missing2/a.js
  test/cases/errors/harmony-import-missing2/errors.js
  test/cases/errors/harmony-import-missing2/index.js
  test/cases/errors/harmony-import-missing2/module1.js
  test/cases/errors/harmony-import-missing2/module2.js
Labels: PR: CI-ok, PR: unreviewed

#10431 hoist exports to the top of a concatenated module
  lib/optimize/ConcatenatedModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/errors/harmony-import-missing2/a.js
  test/cases/errors/harmony-import-missing2/errors.js
  test/cases/errors/harmony-import-missing2/index.js
  test/cases/errors/harmony-import-missing2/module1.js
  test/cases/errors/harmony-import-missing2/module2.js
  test/cases/scope-hoisting/circular-root-export/external-ref.js
  test/cases/scope-hoisting/circular-root-export/external.js
  test/cases/scope-hoisting/circular-root-export/index.js
  test/cases/scope-hoisting/circular-root-export/module.js
  test/cases/scope-hoisting/circular-root-export/root-ref.js
  test/cases/scope-hoisting/circular-root-export/root.js
  test/cases/scope-hoisting/issue-10409/a.js
  test/cases/scope-hoisting/issue-10409/b.js
  test/cases/scope-hoisting/issue-10409/c.js
  test/cases/scope-hoisting/issue-10409/cts.js
  test/cases/scope-hoisting/issue-10409/index.js
  test/cases/scope-hoisting/issue-10409/main.js
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#10442 refactor: migrate on `mime-types`
  lib/asset/AssetGenerator.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#10424 fix(template): Syntax error caused by runtime template
  lib/RuntimeTemplate.js
  test/cases/runtime/missing-module-syntax-error/errors.js
  test/cases/runtime/missing-module-syntax-error/index.js
  test/cases/runtime/missing-module-syntax-error/module.js
Labels: PR: CI-ok, PR: reviewed-approved

#10420 add OverridablesPlugin
  lib/APIPlugin.js
  lib/ChunkGroup.js
  lib/RuntimeGlobals.js
  lib/container/OverridableModule.js
  lib/container/OverridableOriginalDependency.js
  lib/container/OverridableOriginalModuleFactory.js
  lib/container/OverridablesPlugin.js
  lib/container/OverridablesRuntimeModule.js
  lib/container/parseOptions.js
  lib/util/internalSerializables.js
  test/configCases/container/overridables/cjs/test1.js
  test/configCases/container/overridables/cjs/test2.js
  test/configCases/container/overridables/index.js
  test/configCases/container/overridables/modules/test1.js
  test/configCases/container/overridables/modules/test2.js
  test/configCases/container/overridables/node_modules/package/index.js
  test/configCases/container/overridables/options/test1.js
  test/configCases/container/overridables/options/test2.js
  test/configCases/container/overridables/options/test3.js
  test/configCases/container/overridables/splitChunks/app.js
  test/configCases/container/overridables/splitChunks/index.js
  test/configCases/container/overridables/splitChunks/shared-separate.js
  test/configCases/container/overridables/splitChunks/shared.js
  test/configCases/container/overridables/splitChunks/vendor.js
  test/configCases/container/overridables/webpack.config.js
Labels: PR: CI-ok, PR: non-master, PR: tests-needed, PR: unreviewed

#10449 add output.uniqueName option
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/configCases/web/unique-jsonp/index.js
  test/configCases/web/unique-jsonp/module.js
  test/configCases/web/unique-jsonp/package.json
  test/configCases/web/unique-jsonp/test.config.js
  test/configCases/web/unique-jsonp/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10439 add ContainerReferencePlugin
  lib/container/ContainerReferencePlugin.js
  lib/container/RemoteModule.js
  lib/container/RemoteOverrideModule.js
  lib/container/RemoteOverrideModuleFactory.js
  lib/container/RemoteRuntimeModule.js
  lib/container/RemoteToExternalDependency.js
  lib/container/RemoteToOverrideDependency.js
  lib/util/internalSerializables.js
  test/configCases/container/container-reference-override/index.js
  test/configCases/container/container-reference-override/module.js
  test/configCases/container/container-reference-override/new-test.js
  test/configCases/container/container-reference-override/test.config.js
  test/configCases/container/container-reference-override/webpack.config.js
  test/configCases/container/container-reference/index.js
  test/configCases/container/container-reference/module.js
  test/configCases/container/container-reference/test.config.js
  test/configCases/container/container-reference/webpack.config.js
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10440 Add ContainerPlugin
  declarations/plugins/ContainerPlugin.d.ts
  lib/container/ContainerEntryDependency.js
  lib/container/ContainerEntryModule.js
  lib/container/ContainerEntryModuleFactory.js
  lib/container/ContainerExposedDependency.js
  lib/container/ContainerPlugin.js
  lib/container/parseOptions.js
  lib/util/internalSerializables.js
  schemas/plugins/ContainerPlugin.json
  test/configCases/container/container-entry/index.js
  test/configCases/container/container-entry/test.js
  test/configCases/container/container-entry/test2.js
  test/configCases/container/container-entry/webpack.config.js
Labels: PR: CI-ok, PR: non-master, PR: review-outdated, PR: tests-needed

#10448 refactor library and allow library per entrypoint
  declarations/WebpackOptions.d.ts
  lib/AmdTemplatePlugin.js
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/Compilation.js
  lib/Compiler.js
  lib/DynamicEntryPlugin.js
  lib/EntryOptionPlugin.js
  lib/ExportPropertyTemplatePlugin.js
  lib/ExternalModule.js
  lib/LibraryTemplatePlugin.js
  lib/ModuleGraph.js
  lib/SetVarTemplatePlugin.js
  lib/SystemTemplatePlugin.js
  lib/UmdTemplatePlugin.js
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/index.js
  lib/library/AbstractLibraryPlugin.js
  lib/library/AmdLibraryPlugin.js
  lib/library/AssignLibraryPlugin.js
  lib/library/EnableLibraryPlugin.js
  lib/library/ExportPropertyLibraryPlugin.js
  lib/library/JsonpLibraryPlugin.js
  lib/library/SystemLibraryPlugin.js
  lib/library/UmdLibraryPlugin.js
  lib/web/JsonpExportTemplatePlugin.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Schemas.lint.js
  test/Validation.test.js
  test/configCases/externals/optional-externals-root/webpack.config.js
  test/configCases/library/0-create-library/webpack.config.js
  test/configCases/library/1-use-library/this-test.js
  test/configCases/library/1-use-library/var-test.js
  test/configCases/library/1-use-library/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10452 use new library system for ContainerPlugin
  declarations/plugins/ContainerPlugin.d.ts
  lib/container/ContainerPlugin.js
  schemas/plugins/ContainerPlugin.json
  test/configCases/container/container-entry/index.js
  test/configCases/container/container-entry/webpack.config.js
  tooling/format-schemas.js
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10445 ContainerReferencePlugin options validation
  declarations/plugins/ContainerReferencePlugin.d.ts
  lib/container/ContainerReferencePlugin.js
  schemas/plugins/ContainerReferencePlugin.json
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10453 add overridables to ContainerPlugin
  lib/container/ContainerEntryModule.js
  lib/container/ContainerPlugin.js
  lib/container/ContainerReferencePlugin.js
  lib/container/OverridablesPlugin.js
  test/configCases/container/container-entry-overridables/index.js
  test/configCases/container/container-entry-overridables/test.js
  test/configCases/container/container-entry-overridables/value.js
  test/configCases/container/container-entry-overridables/webpack.config.js
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10454 Add ModuleFederationPlugin
  lib/container/ContainerEntryDependency.js
  lib/container/ContainerExposedDependency.js
  lib/container/ContainerReferencePlugin.js
  lib/container/ModuleFederationPlugin.js
  lib/container/RemoteOverrideDependency.js
  lib/container/RemoteOverrideModule.js
  lib/util/internalSerializables.js
  test/configCases/container/0-container-full/App.js
  test/configCases/container/0-container-full/ComponentA.js
  test/configCases/container/0-container-full/index.js
  test/configCases/container/0-container-full/node_modules/react.js
  test/configCases/container/0-container-full/upgrade-react.js
  test/configCases/container/0-container-full/webpack.config.js
  test/configCases/container/1-container-full/App.js
  test/configCases/container/1-container-full/ComponentB.js
  test/configCases/container/1-container-full/index.js
  test/configCases/container/1-container-full/node_modules/react.js
  test/configCases/container/1-container-full/upgrade-react.js
  test/configCases/container/1-container-full/webpack.config.js
Labels: PR: CI-not-ok, PR: non-master, PR: unreviewed

#10443 chore(deps): update `jest`
  package.json
  test/Defaults.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#10459 docs(examples): Grammatical fix
  examples/asset-simple/README.md
  examples/asset-simple/template.md
  examples/chunkhash/README.md
  examples/chunkhash/template.md
  examples/code-splitting-harmony/README.md
  examples/code-splitting-harmony/template.md
  examples/code-splitting-native-import-context-filter/README.md
  examples/code-splitting-native-import-context-filter/template.md
Labels: PR: CI-ok, PR: reviewed-approved

#10411 chore(APIPlugin): Minor typographical fix
  lib/APIPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#10480 docs(example): fix grammatical errors
  examples/code-splitting-specify-chunk-name/README.md
  examples/code-splitting-specify-chunk-name/template.md
  examples/code-splitting/README.md
  examples/code-splitting/template.md
  examples/commonjs/README.md
  examples/commonjs/template.md
  examples/custom-json-modules/README.md
  examples/custom-json-modules/template.md
Labels: PR: CI-ok, PR: reviewed-approved
