Repository webpack/webpack, pull requests merged in 2020-09, with the labels that each got.

#11404 increase timeouts
  test/Examples.test.js
  test/ProfilingPlugin.test.js
Labels: PR: CI-ok, PR: unreviewed

#11399 Move core-js to dev dependency
  package.json
Labels: PR: CI-ok, PR: reviewed-approved

#11395 refactor how asi handled
  lib/DefinePlugin.js
  lib/RuntimeTemplate.js
  lib/dependencies/CommonJsExportRequireDependency.js
  lib/dependencies/CommonJsFullRequireDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/ImportMetaPlugin.js
  lib/javascript/JavascriptParser.js
  lib/javascript/JavascriptParserHelpers.js
  lib/optimize/ConcatenatedModule.js
  test/cases/parsing/asi/a.js
  test/cases/parsing/asi/b.json
  test/cases/parsing/asi/index.js
  test/cases/parsing/asi/warnings.js
  test/configCases/plugins/define-plugin/index.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#11409 Grouping of assets and modules in stats for readablility
  declarations/WebpackOptions.d.ts
  examples/module-federation/webpack.config.js
  lib/APIPlugin.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/RuntimeModule.js
  lib/RuntimePlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/runtime/CompatRuntimeModule.js
  lib/runtime/GetFullHashRuntimeModule.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  lib/stats/StatsFactory.js
  lib/stats/StatsPrinter.js
  lib/util/smartGrouping.js
  lib/validateSchema.js
  schemas/WebpackOptions.json
  test/Stats.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/parsing/context/errors.js
  test/configCases/parsing/context/errors.js
  test/smartGrouping.unittest.js
  test/statsCases/aggressive-splitting-entry/webpack.config.js
  test/statsCases/aggressive-splitting-on-demand/webpack.config.js
  test/statsCases/chunk-module-id-range/webpack.config.js
  test/statsCases/chunks-development/webpack.config.js
  test/statsCases/chunks/webpack.config.js
  test/statsCases/circular-correctness/webpack.config.js
  test/statsCases/entry-filename/webpack.config.js
  test/statsCases/graph-correctness-entries/webpack.config.js
  test/statsCases/graph-correctness-modules/webpack.config.js
  test/statsCases/graph-roots/webpack.config.js
  test/statsCases/limit-chunk-count-plugin/webpack.config.js
  test/statsCases/max-modules/webpack.config.js
  test/statsCases/module-assets/webpack.config.js
  test/statsCases/module-deduplication-named/webpack.config.js
  test/statsCases/module-deduplication/webpack.config.js
  test/statsCases/optimize-chunks/webpack.config.js
  test/statsCases/reverse-sort-modules/webpack.config.js
  test/statsCases/runtime-specific-used-exports/webpack.config.js
  test/statsCases/side-effects-optimization/webpack.config.js
  test/statsCases/simple-more-info/webpack.config.js
  test/statsCases/split-chunks-chunk-name/webpack.config.js
  test/statsCases/split-chunks-keep-remaining-size/webpack.config.js
  test/statsCases/wasm-explorer-examples-sync/webpack.config.js
  test/watchCases/plugins/module-concatenation-plugin/0/index.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11413 Enable asset experiment
  examples/asset-advanced/README.md
  examples/asset-advanced/webpack.config.js
  examples/asset-simple/README.md
  examples/asset-simple/webpack.config.js
  lib/NormalModuleFactory.js
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/dependencies/RequireContextDependencyParserPlugin.js
  lib/dependencies/URLPlugin.js
  test/Defaults.unittest.js
  test/configCases/asset-modules/assetModuleFilename/webpack.config.js
  test/configCases/asset-modules/custom-condition/webpack.config.js
  test/configCases/asset-modules/custom-encoder/webpack.config.js
  test/configCases/asset-modules/data-url/webpack.config.js
  test/configCases/asset-modules/opus/webpack.config.js
  test/configCases/asset-modules/overridePath/webpack.config.js
  test/configCases/asset-modules/path/webpack.config.js
  test/configCases/asset-modules/publicPath/webpack.config.js
  test/configCases/asset-modules/query-and-custom-condition/webpack.config.js
  test/configCases/asset-modules/query-and-custom-encoder/webpack.config.js
  test/configCases/asset-modules/query/webpack.config.js
  test/configCases/asset-modules/real-content-hash/webpack.config.js
  test/configCases/asset-modules/source/webpack.config.js
  test/configCases/asset-modules/types/webpack.config.js
  test/configCases/asset-url/target-node1/webpack.config.js
  test/configCases/asset-url/target-node2/webpack.config.js
  test/configCases/asset-url/target-node3/webpack.config.js
  test/configCases/asset-url/target-web1/webpack.config.js
  test/configCases/asset-url/target-web2/webpack.config.js
  test/configCases/asset-url/target-webworker1/webpack.config.js
  test/configCases/asset-url/target-webworker2/webpack.config.js
  test/statsCases/asset/webpack.config.js
  test/statsCases/real-content-hash/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11426 Stats/summary
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/Compiler.js
  lib/MultiStats.js
  lib/Stats.js
  lib/Watching.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  schemas/WebpackOptions.json
  test/StatsTestCases.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/preset-summary/index.js
  test/statsCases/preset-summary/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11420 make entrypoints less verbose and add size info
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  schemas/WebpackOptions.json
  test/HotTestCases.template.js
  test/Stats.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/async-commons-chunk-auto/webpack.config.js
  test/statsCases/module-assets/webpack.config.js
  test/statsCases/prefetch/webpack.config.js
  test/statsCases/preload/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11440 fix incorrect disposing of modules during HMR
  lib/HotModuleReplacementPlugin.js
  lib/HotUpdateChunk.js
  lib/Template.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/util/runtime.js
  test/hotCases/disposing/remove-chunk-with-shared/chunk1.js
  test/hotCases/disposing/remove-chunk-with-shared/chunk2.js
  test/hotCases/disposing/remove-chunk-with-shared/index.js
  test/hotCases/disposing/remove-chunk-with-shared/module.js
  test/hotCases/disposing/remove-chunk-with-shared/shared.js
Labels: PR: CI-ok, PR: unreviewed

#11445 separate wasm loading from target
  declarations/WebpackOptions.d.ts
  lib/EntryOptionPlugin.js
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/dependencies/WebAssemblyImportDependency.js
  lib/node/ReadFileCompileAsyncWasmPlugin.js
  lib/node/ReadFileCompileWasmPlugin.js
  lib/wasm-sync/UnsupportedWebAssemblyFeatureError.js
  lib/wasm-sync/WasmChunkLoadingRuntimeModule.js
  lib/wasm-sync/WasmFinalizeExportsPlugin.js
  lib/wasm-sync/WebAssemblyGenerator.js
  lib/wasm-sync/WebAssemblyInInitialChunkError.js
  lib/wasm-sync/WebAssemblyJavascriptGenerator.js
  lib/wasm-sync/WebAssemblyModulesPlugin.js
  lib/wasm-sync/WebAssemblyParser.js
  lib/wasm-sync/WebAssemblyUtils.js
  lib/wasm/EnableWasmLoadingPlugin.js
  lib/web/FetchCompileAsyncWasmPlugin.js
  lib/web/FetchCompileWasmPlugin.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11447 move default externals from target into externalsPresets option
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/config/normalization.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11449 extract loader.target from target option
  lib/NormalModule.js
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/config/normalization.js
  test/Defaults.unittest.js
Labels: PR: CI-ok, PR: unreviewed

#11412 enable mjs experiment
  declarations/WebpackOptions.d.ts
  lib/DelegatedModuleFactoryPlugin.js
  lib/config/defaults.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/TestCases.template.js
  test/__snapshots__/Cli.test.js.snap
  test/cases/mjs/esm-by-default/index.js
  test/cases/mjs/esm-by-default/index.mjs
  test/cases/mjs/esm-by-default/package.json
  test/configCases/externals/async-externals/webpack.config.js
  test/configCases/mjs/esm-by-default/index.mjs
  test/configCases/mjs/esm-by-default/webpack.config.js
  test/configCases/plugins/provide-plugin/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11454 improve target option
  cspell.json
  declarations/WebpackOptions.d.ts
  lib/DefinePlugin.js
  lib/ExternalModule.js
  lib/NodeStuffPlugin.js
  lib/RuntimeTemplate.js
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/config/target.js
  lib/electron/ElectronTargetPlugin.js
  lib/javascript/EnableChunkLoadingPlugin.js
  lib/node/NodeSourcePlugin.js
  lib/util/normalizeEcmaVersion.js
  lib/validateSchema.js
  lib/wasm/EnableWasmLoadingPlugin.js
  schemas/WebpackOptions.json
  test/Cli.test.js
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/parsing/issue-4870/index.js
  test/configCases/ecmaVersion/2015/webpack.config.js
  test/configCases/ecmaVersion/2020/index.js
  test/configCases/ecmaVersion/2020/webpack.config.js
  test/configCases/ecmaVersion/5/webpack.config.js
  test/configCases/ecmaVersion/6/webpack.config.js
  test/configCases/ecmaVersion/custom/index.js
  test/configCases/ecmaVersion/custom/webpack.config.js
  test/configCases/plugins/define-plugin-bigint/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11470 fixes parsing of 'this' in arrow iife
  lib/javascript/JavascriptParser.js
  test/cases/parsing/this-in-arrow-iife/index.js
Labels: PR: CI-ok, PR: review-outdated

#11474 Refactor module concatenation
  lib/ConcatenationScope.js
  lib/Dependency.js
  lib/DependencyTemplate.js
  lib/ExportsInfo.js
  lib/ExternalModule.js
  lib/FlagDependencyExportsPlugin.js
  lib/Generator.js
  lib/HotModuleReplacementPlugin.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/ModuleGraphConnection.js
  lib/NormalModule.js
  lib/dependencies/CommonJsExportRequireDependency.js
  lib/dependencies/HarmonyCompatibilityDependency.js
  lib/dependencies/HarmonyExportExpressionDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportSpecifierDependency.js
  lib/dependencies/HarmonyImportSideEffectDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/index.js
  lib/javascript/JavascriptGenerator.js
  lib/json/JsonGenerator.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  test/TestCases.template.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/errors/self-reexport/errors.js
  test/configCases/externals/concatenated/index.js
  test/configCases/externals/concatenated/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11475 Deprecated timestamps performance and deprecation
  lib/FileSystemInfo.js
  lib/Module.js
  test/WatchTestCases.test.js
  test/watchCases/plugins/mini-css-extract-plugin/1/a.css
  test/watchCases/plugins/mini-css-extract-plugin/1/b.css
  test/watchCases/plugins/mini-css-extract-plugin/1/chunk.css
  test/watchCases/plugins/mini-css-extract-plugin/1/chunk.js
  test/watchCases/plugins/mini-css-extract-plugin/1/dependency.css
  test/watchCases/plugins/mini-css-extract-plugin/1/index.js
  test/watchCases/plugins/mini-css-extract-plugin/2/b.css
  test/watchCases/plugins/mini-css-extract-plugin/2/dependency.css
  test/watchCases/plugins/mini-css-extract-plugin/deprecations.js
  test/watchCases/plugins/mini-css-extract-plugin/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11476 add breaking change info for fullySpecified resolving
  lib/NormalModuleFactory.js
  test/cases/errors/mjs-non-fully-specified/dependency.js
  test/cases/errors/mjs-non-fully-specified/errors.js
  test/cases/errors/mjs-non-fully-specified/index.js
  test/cases/errors/mjs-non-fully-specified/module.mjs
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11478 update enhanced-resolve
  declarations/WebpackOptions.d.ts
  lib/ModuleNotFoundError.js
  package.json
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#11490 make sure to generate correct chunk connection for blocks that are only connected in some runtimes (webpack 4)
  lib/buildChunkGraph.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/graph/conditional-ensure/a.js
  test/configCases/graph/conditional-ensure/b.js
  test/configCases/graph/conditional-ensure/c1.js
  test/configCases/graph/conditional-ensure/c2.js
  test/configCases/graph/conditional-ensure/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#11489 make sure to generate correct chunk connection for blocks that are only connected in some runtimes
  lib/FileSystemInfo.js
  lib/buildChunkGraph.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/graph/conditional-ensure/a.js
  test/configCases/graph/conditional-ensure/b.js
  test/configCases/graph/conditional-ensure/c1.js
  test/configCases/graph/conditional-ensure/c2.js
  test/configCases/graph/conditional-ensure/webpack.config.js
  test/configCases/hash-length/output-filename/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11421 fix: if Container shard undefined
  lib/container/ContainerEntryModule.js
  test/configCases/container/no-shared/index.js
  test/configCases/container/no-shared/module.js
  test/configCases/container/no-shared/webpack.config.js
Labels: PR: CI-ok, PR: review-outdated

#11495 display large assets first
  lib/stats/DefaultStatsPresetPlugin.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#11494 avoid error for managed paths that only contain a node_modules
  lib/FileSystemInfo.js
Labels: PR: CI-ok, PR: unreviewed

#11496 update our own dependencies
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#11258 Dynamically resolve public path by default
  declarations/WebpackOptions.d.ts
  lib/RuntimePlugin.js
  lib/RuntimeTemplate.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/runtime/AutoPublicPathRuntimeModule.js
  lib/runtime/PublicPathRuntimeModule.js
  schemas/WebpackOptions.json
  test/ConfigTestCases.template.js
  test/Defaults.unittest.js
  test/HotTestCases.template.js
  test/Stats.test.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/asset-url/target-webworker1/webpack.config.js
  test/configCases/output/publicPath-node/asset.jpg
  test/configCases/output/publicPath-node/index.js
  test/configCases/output/publicPath-node/webpack.config.js
  test/configCases/output/publicPath-scriptType-module/asset.jpg
  test/configCases/output/publicPath-scriptType-module/index.js
  test/configCases/output/publicPath-scriptType-module/test.config.js
  test/configCases/output/publicPath-scriptType-module/webpack.config.js
  test/configCases/output/publicPath-web/a.js
  test/configCases/output/publicPath-web/asset.jpg
  test/configCases/output/publicPath-web/b.js
  test/configCases/output/publicPath-web/test.config.js
  test/configCases/output/publicPath-web/webpack.config.js
  test/helpers/CurrentScript.js
  test/watchCases/plugins/mini-css-extract-plugin/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11499 fix incorrect iteration
  lib/FileSystemInfo.js
  test/configCases/cache-dependencies/managed-items/extra.js
  test/configCases/cache-dependencies/managed-items/index.js
  test/configCases/cache-dependencies/managed-items/loader.js
  test/configCases/cache-dependencies/managed-items/node_modules/package/extra.js
  test/configCases/cache-dependencies/managed-items/node_modules/package/index.js
  test/configCases/cache-dependencies/managed-items/node_modules/package/package.json
  test/configCases/cache-dependencies/managed-items/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11506 deprecate stats.warningsFilter in favor of ignoreWarnings
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/IgnoreWarningsPlugin.js
  lib/WebpackOptionsApply.js
  lib/config/normalization.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/ignore-warnings/index.js
  test/statsCases/ignore-warnings/module.js
  test/statsCases/ignore-warnings/module2.js
  test/statsCases/ignore-warnings/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11507 update examples
  examples/aggressive-merging/README.md
  examples/asset-advanced/README.md
  examples/asset-simple/README.md
  examples/chunkhash/README.md
  examples/cjs-tree-shaking/README.md
  examples/code-splitted-require.context-amd/README.md
  examples/code-splitted-require.context/README.md
  examples/code-splitting-bundle-loader/README.md
  examples/code-splitting-depend-on-advanced/README.md
  examples/code-splitting-depend-on-simple/README.md
  examples/code-splitting-harmony/README.md
  examples/code-splitting-native-import-context-filter/README.md
  examples/code-splitting-native-import-context/README.md
  examples/code-splitting-specify-chunk-name/README.md
  examples/code-splitting/README.md
  examples/coffee-script/README.md
  examples/common-chunk-and-vendor-chunk/README.md
  examples/common-chunk-grandchildren/README.md
  examples/commonjs/README.md
  examples/custom-json-modules/README.md
  examples/dll-app-and-vendor/0-vendor/README.md
  examples/dll-app-and-vendor/1-app/README.md
  examples/dll-entry-only/README.md
  examples/dll-user/README.md
  examples/dll/README.md
  examples/explicit-vendor-chunk/README.md
  examples/externals/README.md
  examples/extra-async-chunk-advanced/README.md
  examples/extra-async-chunk/README.md
  examples/harmony-interop/README.md
  examples/harmony-library/README.md
  examples/harmony-unused/README.md
  examples/harmony/README.md
  examples/http2-aggressive-splitting/README.md
  examples/hybrid-routing/README.md
  examples/hybrid-routing/template.md
  examples/loader/README.md
  examples/many-pages/README.md
  examples/mixed/README.md
  examples/module-federation/README.md
  examples/module/README.md
  examples/multi-compiler/README.md
  examples/multi-part-library/README.md
  examples/multiple-entry-points/README.md
  examples/named-chunks/README.md
  examples/persistent-caching/README.md
  examples/require.context/README.md
  examples/require.resolve/README.md
  examples/scope-hoisting/README.md
  examples/scope-hoisting/template.md
  examples/side-effects/README.md
  examples/source-map/README.md
  examples/top-level-await/README.md
  examples/two-explicit-vendor-chunks/README.md
  examples/typescript/README.md
  examples/wasm-complex/README.md
  examples/wasm-simple/README.md
  examples/worker/README.md
Labels: PR: CI-ok, PR: unreviewed

#11528 little improvements
  lib/HotModuleReplacementPlugin.js
  lib/dependencies/CommonJsExportsParserPlugin.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/index.js
  lib/util/deprecation.js
  lib/validateSchema.js
  test/Validation.test.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11529 allow to move modules to parent chunks
  lib/optimize/SplitChunksPlugin.js
  test/configCases/split-chunks/move-to-entrypoint/chunk.js
  test/configCases/split-chunks/move-to-entrypoint/entryA.js
  test/configCases/split-chunks/move-to-entrypoint/entryB.js
  test/configCases/split-chunks/move-to-entrypoint/moduleA.js
  test/configCases/split-chunks/move-to-entrypoint/moduleB.js
  test/configCases/split-chunks/move-to-entrypoint/moduleC.js
  test/configCases/split-chunks/move-to-entrypoint/test.config.js
  test/configCases/split-chunks/move-to-entrypoint/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11493 feat: add watching property to compiler
  lib/Compiler.js
  lib/Watching.js
  test/Compiler.test.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#11531 allow to pass custom worker syntax
  lib/dependencies/WorkerPlugin.js
  test/configCases/worker/custom-worker/index.js
  test/configCases/worker/custom-worker/module.js
  test/configCases/worker/custom-worker/node_modules/web-worker.js
  test/configCases/worker/custom-worker/test.config.js
  test/configCases/worker/custom-worker/test.filter.js
  test/configCases/worker/custom-worker/webpack.config.js
  test/configCases/worker/custom-worker/worker.js
Labels: PR: CI-ok, PR: unreviewed

#11533 when splitChunks entry violates minSize or minRemainingSize retry without offending modules
  lib/optimize/SplitChunksPlugin.js
  test/configCases/split-chunks/issue-11513/big-module.js
  test/configCases/split-chunks/issue-11513/chunk1.js
  test/configCases/split-chunks/issue-11513/chunk2.js
  test/configCases/split-chunks/issue-11513/index.js
  test/configCases/split-chunks/issue-11513/test.config.js
  test/configCases/split-chunks/issue-11513/wasm.wat
  test/configCases/split-chunks/issue-11513/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11530 output.chunkFilename can be a function
  declarations/WebpackOptions.d.ts
  lib/RuntimePlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/configCases/filename-template/filename-function/a.js
  test/configCases/filename-template/filename-function/b.js
  test/configCases/filename-template/filename-function/chunk1.js
  test/configCases/filename-template/filename-function/chunk2.js
  test/configCases/filename-template/filename-function/test.config.js
  test/configCases/filename-template/filename-function/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11414 fix bug for maxCallStack in ContextModuleFactory
  lib/ContextModuleFactory.js
  test/ContextModuleFactory.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved

#11526 fix: warnUnexpectedRequire binds wrong variable in for-loop
  lib/hmr/HotModuleReplacement.runtime.js
  lib/hmr/JavascriptHotModuleReplacement.runtime.js
  test/HotTestCases.template.js
  test/configCases/sharing/consume-multiple-versions/index.js
  test/helpers/expectWarningFactory.js
  test/hotCases/runtime/require-disposed-module-warning/a.js
  test/hotCases/runtime/require-disposed-module-warning/b.js
  test/hotCases/runtime/require-disposed-module-warning/index.js
  test/hotCases/runtime/require-disposed-module-warning/module.js
Labels: PR: reviewed-approved

#11498 Allow regex for watchOptions.ignored
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#11540 use better hash for renderManifest to avoid unnecessary invalidation
  lib/javascript/JavascriptModulesPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/watchCases/plugins/mini-css-extract-plugin/1/index.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11516 Support browserslist
  cspell.json
  declarations.d.ts
  lib/config/browserslistTargetHandler.js
  lib/config/defaults.js
  lib/config/target.js
  lib/webpack.js
  package.json
  test/Compiler.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/ecmaVersion/browserslist-config-env/.browserslistrc
  test/configCases/ecmaVersion/browserslist-config-env/index.js
  test/configCases/ecmaVersion/browserslist-config-env/webpack.config.js
  test/configCases/ecmaVersion/browserslist-config/.browserslistrc
  test/configCases/ecmaVersion/browserslist-config/index.js
  test/configCases/ecmaVersion/browserslist-config/webpack.config.js
  test/configCases/ecmaVersion/browserslist-missing/errors.js
  test/configCases/ecmaVersion/browserslist-missing/index.js
  test/configCases/ecmaVersion/browserslist-missing/package.json
  test/configCases/ecmaVersion/browserslist-missing/webpack.config.js
  test/configCases/ecmaVersion/browserslist-query/index.js
  test/configCases/ecmaVersion/browserslist-query/webpack.config.js
  test/configCases/ecmaVersion/browserslist/index.js
  test/configCases/ecmaVersion/browserslist/package.json
  test/configCases/ecmaVersion/browserslist/webpack.config.js
  test/statsCases/ignore-warnings/module.js
  test/statsCases/ignore-warnings/module2.js
  test/statsCases/ignore-warnings/package.json
  yarn.lock
Labels: PR: CI-ok, PR: review-outdated

#11541 make browserslist the default target when browserslist config is available
  lib/config/defaults.js
  lib/config/target.js
  test/Defaults.unittest.js
  test/fixtures/browserslist/package.json
Labels: PR: CI-ok, PR: unreviewed

#11542 update enhanced-resolve and webpack-sources
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  lib/dependencies/WorkerDependency.js
  package.json
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/asset-url/target-web2/index.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#11547 improve stats grouping
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#11548 allow plugins to modify the default size types for splitChunks
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  lib/config/normalization.js
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11554 revert error and add deprecation instead
  lib/webpack.js
  test/Compiler.test.js
Labels: PR: CI-ok, PR: unreviewed

#11556 fix delete in concatenated module
  lib/ConcatenationScope.js
  lib/optimize/ConcatenatedModule.js
  test/cases/scope-hoisting/delete-issue-10831/index.js
  test/cases/scope-hoisting/delete-issue-10831/module.js
Labels: PR: CI-ok, PR: unreviewed

#11559 add fragment escaping support
  lib/util/identifier.js
  package.json
  test/cases/resolving/issue-11555/index.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed
