Repository webpack/webpack, pull requests merged in 2020-05, with the labels that each got.

#10813 use the full hash on modules that need the full hash of the compilation
  lib/APIPlugin.js
  lib/ChunkGraph.js
  lib/Compilation.js
  lib/HotModuleReplacementPlugin.js
  lib/hmr/HotModuleReplacement.runtime.js
  lib/hmr/JavascriptHotModuleReplacement.runtime.js
  lib/javascript/JavascriptModulesPlugin.js
  test/StatsTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/helpers/captureStdio.js
  test/hotCases/hashing/full-hash-main/index.js
  test/hotCases/hashing/full-hash-main/module.js
  test/hotCases/hashing/full-hash-main/thing.js
  test/hotCases/hashing/full-hash-main/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#10819 fix missing overridables runtime when no import() is used at all
  lib/container/OverridablesPlugin.js
  lib/container/OverridablesRuntimeModule.js
  test/configCases/container/exposed-overridables/App.js
  test/configCases/container/exposed-overridables/Button.js
  test/configCases/container/exposed-overridables/index.js
  test/configCases/container/exposed-overridables/node_modules/react.js
  test/configCases/container/exposed-overridables/webpack.config.js
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10824 fix typos
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#10835 Module federation bugfixes and DX
  lib/Compilation.js
  lib/container/ContainerEntryDependency.js
  lib/container/ContainerEntryModule.js
  lib/container/ContainerEntryModuleFactory.js
  lib/container/ContainerPlugin.js
  lib/container/ContainerReferencePlugin.js
  lib/container/OverridableModule.js
  lib/container/RemoteModule.js
  lib/container/RemoteOverridesDependency.js
  lib/container/RemoteOverridesModule.js
  lib/container/RemoteOverridesModuleFactory.js
  lib/container/RemoteRuntimeModule.js
  lib/container/RemoteToOverrideDependency.js
  lib/util/internalSerializables.js
  test/configCases/container/0-transitive-overriding/a.js
  test/configCases/container/0-transitive-overriding/b.js
  test/configCases/container/0-transitive-overriding/index.js
  test/configCases/container/0-transitive-overriding/modules.js
  test/configCases/container/0-transitive-overriding/shared.js
  test/configCases/container/0-transitive-overriding/webpack.config.js
  test/configCases/container/1-transitive-overriding/a.js
  test/configCases/container/1-transitive-overriding/b.js
  test/configCases/container/1-transitive-overriding/index.js
  test/configCases/container/1-transitive-overriding/modules-from-remote.js
  test/configCases/container/1-transitive-overriding/modules.js
  test/configCases/container/1-transitive-overriding/shared.js
  test/configCases/container/1-transitive-overriding/webpack.config.js
  test/configCases/container/2-transitive-overriding/index.js
  test/configCases/container/2-transitive-overriding/shared.js
  test/configCases/container/2-transitive-overriding/webpack.config.js
  test/configCases/container/error-handling/evaluation-error-cjs.js
  test/configCases/container/error-handling/evaluation-error-tl-await.js
  test/configCases/container/error-handling/evaluation-error.js
  test/configCases/container/error-handling/index.js
  test/configCases/container/error-handling/invalid-module-cjs.js
  test/configCases/container/error-handling/invalid-module-tl-await.js
  test/configCases/container/error-handling/invalid-module.js
  test/configCases/container/error-handling/loading-error-cjs.js
  test/configCases/container/error-handling/loading-error-tl-await.js
  test/configCases/container/error-handling/loading-error.js
  test/configCases/container/error-handling/module.js
  test/configCases/container/error-handling/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: non-master, PR: unreviewed

#10837 remove logic to finish modules in module graph
  lib/Compilation.js
  lib/ModuleGraph.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#10875 add test case for accepting an reexported value
  test/hotCases/harmony/auto-reexport/file.js
  test/hotCases/harmony/auto-reexport/index.js
  test/hotCases/harmony/auto-reexport/reexport.js
Labels: PR: CI-ok, PR: unreviewed

#10881 keep function declarations when using export default
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyExportExpressionDependency.js
  lib/optimize/ConcatenatedModule.js
  test/cases/parsing/harmony-export-hoist/bar.js
  test/cases/parsing/harmony-export-hoist/class-no-name.js
  test/cases/parsing/harmony-export-hoist/class-with-name.js
  test/cases/parsing/harmony-export-hoist/class-with-super-no-name.js
  test/cases/parsing/harmony-export-hoist/class-with-super-with-name.js
  test/cases/parsing/harmony-export-hoist/foo.js
  test/cases/parsing/harmony-export-hoist/func-no-args-no-name.js
  test/cases/parsing/harmony-export-hoist/func-no-args-with-name.js
  test/cases/parsing/harmony-export-hoist/func-with-args-no-name.js
  test/cases/parsing/harmony-export-hoist/func-with-args-with-name.js
  test/cases/parsing/harmony-export-hoist/get-class-no-name.js
  test/cases/parsing/harmony-export-hoist/get-class-with-name.js
  test/cases/parsing/harmony-export-hoist/get-class-with-super-no-name.js
  test/cases/parsing/harmony-export-hoist/get-class-with-super-with-name.js
  test/cases/parsing/harmony-export-hoist/get-func-no-args-no-name.js
  test/cases/parsing/harmony-export-hoist/get-func-no-args-with-name.js
  test/cases/parsing/harmony-export-hoist/get-func-with-args-no-name.js
  test/cases/parsing/harmony-export-hoist/get-func-with-args-with-name.js
  test/cases/parsing/harmony-export-hoist/index.js
Labels: PR: CI-ok, PR: unreviewed

#10631 Upgrade to TypeScript 3.9
  .eslintrc.js
  declarations/WebpackOptions.d.ts
  declarations/plugins/AssetModulesPluginGenerator.d.ts
  declarations/plugins/AssetModulesPluginParser.d.ts
  declarations/plugins/BannerPlugin.d.ts
  declarations/plugins/DllPlugin.d.ts
  declarations/plugins/DllReferencePlugin.d.ts
  declarations/plugins/HashedModuleIdsPlugin.d.ts
  declarations/plugins/IgnorePlugin.d.ts
  declarations/plugins/JsonModulesPluginParser.d.ts
  declarations/plugins/LoaderOptionsPlugin.d.ts
  declarations/plugins/ProgressPlugin.d.ts
  declarations/plugins/SourceMapDevToolPlugin.d.ts
  declarations/plugins/WatchIgnorePlugin.d.ts
  declarations/plugins/container/ContainerPlugin.d.ts
  declarations/plugins/container/ContainerReferencePlugin.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  declarations/plugins/container/OverridablesPlugin.d.ts
  declarations/plugins/debug/ProfilingPlugin.d.ts
  declarations/plugins/ids/OccurrenceChunkIdsPlugin.d.ts
  declarations/plugins/ids/OccurrenceModuleIdsPlugin.d.ts
  declarations/plugins/optimize/AggressiveSplittingPlugin.d.ts
  declarations/plugins/optimize/LimitChunkCountPlugin.d.ts
  declarations/plugins/optimize/MinChunkSizePlugin.d.ts
  lib/AbstractMethodError.js
  lib/ContextModule.js
  lib/ExternalModule.js
  lib/MainTemplate.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/ModuleGraphConnection.js
  lib/NormalModule.js
  lib/WebpackOptionsApply.js
  lib/config/normalization.js
  lib/javascript/JavascriptParser.js
  lib/library/UmdLibraryPlugin.js
  lib/node/nodeConsole.js
  lib/optimize/ConcatenatedModule.js
  lib/stats/StatsFactory.js
  lib/stats/StatsPrinter.js
  lib/util/fs.js
  lib/util/registerExternalSerializer.js
  lib/wasm-async/AsyncWebAssemblyModulesPlugin.js
  package.json
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#10916 optimizations for side effects
  lib/Dependency.js
  lib/FlagDependencyExportsPlugin.js
  lib/ModuleGraph.js
  lib/dependencies/CommonJsExportsParserPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/ModuleDecoratorDependency.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/parsing/harmony-module-optimization/index.js
  test/cases/parsing/harmony-module-optimization/module-normal.js
  test/cases/parsing/harmony-module-optimization/module.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-static/a.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-static/b.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-static/index.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-static/module.js
  test/cases/side-effects/dynamic-reexports/dedupe-target/a.js
  test/cases/side-effects/dynamic-reexports/dedupe-target/b.js
  test/cases/side-effects/dynamic-reexports/dedupe-target/empty.js
  test/cases/side-effects/dynamic-reexports/dedupe-target/index.js
  test/cases/side-effects/dynamic-reexports/default-export/a.js
  test/cases/side-effects/dynamic-reexports/default-export/b.js
  test/cases/side-effects/dynamic-reexports/default-export/empty.js
  test/cases/side-effects/dynamic-reexports/default-export/index.js
  test/cases/side-effects/dynamic-reexports/default-export/json.json
  test/cases/side-effects/dynamic-reexports/index.js
  test/cases/side-effects/dynamic-reexports/package.json
  test/cases/side-effects/dynamic-reexports/reexports-excludes-default/empty.js
  test/cases/side-effects/dynamic-reexports/reexports-excludes-default/index.js
  test/cases/side-effects/dynamic-reexports/reexports-excludes-default/module.js
  test/cases/side-effects/dynamic-reexports/unused.js
  test/configCases/inner-graph/_helpers/inner-file.js
  test/statsCases/side-effects-optimization/index.js
  test/statsCases/side-effects-optimization/node_modules/big-module/a.js
  test/statsCases/side-effects-optimization/node_modules/big-module/index.js
  test/statsCases/side-effects-optimization/node_modules/big-module/log.js
  test/statsCases/side-effects-optimization/node_modules/big-module/package.json
  test/statsCases/side-effects-optimization/node_modules/module-with-export/emptyModule.js
  test/statsCases/side-effects-optimization/node_modules/module-with-export/index.js
  test/statsCases/side-effects-optimization/node_modules/module-with-export/package.json
  test/statsCases/side-effects-optimization/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#10922 allow to concatenate modules when used exports are known
  lib/ModuleGraph.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/side-effects/dynamic-reexports/dedupe-target-with-side/a.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-with-side/b.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-with-side/empty.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-with-side/index.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-with-side/package.json
  test/cases/side-effects/dynamic-reexports/index.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#10898 add support for async externals
  declarations/WebpackOptions.d.ts
  declarations/plugins/container/ContainerReferencePlugin.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  lib/DllReferencePlugin.js
  lib/ExternalModule.js
  lib/ExternalModuleFactoryPlugin.js
  lib/ExternalsPlugin.js
  lib/InitFragment.js
  lib/RuntimeTemplate.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/dependencies/HarmonyAcceptDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/library/SystemLibraryPlugin.js
  lib/wasm-async/AsyncWebAssemblyJavascriptGenerator.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  schemas/WebpackOptions.json
  schemas/plugins/container/ContainerReferencePlugin.json
  schemas/plugins/container/ModuleFederationPlugin.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/externals/async-externals/index.js
  test/configCases/externals/async-externals/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#10923 allow to expose and consume an index module from containers
  lib/container/ContainerReferencePlugin.js
  test/configCases/container/container-entry/index.js
  test/configCases/container/container-entry/main.js
  test/configCases/container/container-entry/webpack.config.js
  test/configCases/container/container-reference/module.js
Labels: PR: CI-ok, PR: unreviewed

#10919 optimizations for side effects (webpack 4)
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/side-effects/dynamic-reexports/dedupe-target-static/a.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-static/b.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-static/index.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-static/module.js
  test/cases/side-effects/dynamic-reexports/dedupe-target/a.js
  test/cases/side-effects/dynamic-reexports/dedupe-target/b.js
  test/cases/side-effects/dynamic-reexports/dedupe-target/empty.js
  test/cases/side-effects/dynamic-reexports/dedupe-target/index.js
  test/cases/side-effects/dynamic-reexports/default-export/a.js
  test/cases/side-effects/dynamic-reexports/default-export/b.js
  test/cases/side-effects/dynamic-reexports/default-export/empty.js
  test/cases/side-effects/dynamic-reexports/default-export/index.js
  test/cases/side-effects/dynamic-reexports/default-export/json.json
  test/cases/side-effects/dynamic-reexports/index.js
  test/cases/side-effects/dynamic-reexports/package.json
  test/cases/side-effects/dynamic-reexports/reexports-excludes-default/empty.js
  test/cases/side-effects/dynamic-reexports/reexports-excludes-default/index.js
  test/cases/side-effects/dynamic-reexports/reexports-excludes-default/module.js
  test/cases/side-effects/dynamic-reexports/unused.js
  test/statsCases/side-effects-optimization/index.js
  test/statsCases/side-effects-optimization/node_modules/big-module/a.js
  test/statsCases/side-effects-optimization/node_modules/big-module/index.js
  test/statsCases/side-effects-optimization/node_modules/big-module/log.js
  test/statsCases/side-effects-optimization/node_modules/big-module/package.json
  test/statsCases/side-effects-optimization/node_modules/module-with-export/emptyModule.js
  test/statsCases/side-effects-optimization/node_modules/module-with-export/index.js
  test/statsCases/side-effects-optimization/node_modules/module-with-export/package.json
  test/statsCases/side-effects-optimization/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#10931 change Module Federation API to be more similar to exports field
  lib/container/ContainerReferencePlugin.js
  lib/container/options.js
  test/PersistentCaching.test.js
  test/configCases/container/0-container-full/webpack.config.js
  test/configCases/container/0-transitive-overriding/webpack.config.js
  test/configCases/container/1-container-full/webpack.config.js
  test/configCases/container/2-transitive-overriding/webpack.config.js
  test/configCases/container/container-entry-overridables/index.js
  test/configCases/container/container-entry-overridables/webpack.config.js
  test/configCases/container/container-entry/index.js
  test/configCases/container/container-entry/webpack.config.js
  test/configCases/container/container-reference-override/module.js
  test/configCases/container/container-reference/module.js
  test/configCases/container/error-handling/index.js
  test/configCases/container/exposed-overridables/webpack.config.js
  test/configCases/container/module-federation/module.js
  test/configCases/container/overridables/index.js
Labels: PR: CI-not-ok, PR: unreviewed

#10932 update examples
  examples/aggressive-merging/README.md
  examples/asset-advanced/README.md
  examples/asset-simple/README.md
  examples/build-common.js
  examples/chunkhash/README.md
  examples/cjs-tree-shaking/README.md
  examples/code-splitted-require.context-amd/README.md
  examples/code-splitted-require.context/README.md
  examples/code-splitting-bundle-loader/README.md
  examples/code-splitting-depend-on-advanced/README.md
  examples/code-splitting-depend-on-simple/README.md
  examples/code-splitting-harmony/README.md
  examples/code-splitting-native-import-context-filter/README.md
  examples/code-splitting-native-import-context/README.md
  examples/code-splitting-specify-chunk-name/README.md
  examples/code-splitting/README.md
  examples/coffee-script/README.md
  examples/common-chunk-and-vendor-chunk/README.md
  examples/common-chunk-grandchildren/README.md
  examples/commonjs/README.md
  examples/custom-json-modules/README.md
  examples/dll-app-and-vendor/0-vendor/README.md
  examples/dll-app-and-vendor/1-app/README.md
  examples/dll-entry-only/README.md
  examples/dll-user/README.md
  examples/dll/README.md
  examples/explicit-vendor-chunk/README.md
  examples/externals/README.md
  examples/extra-async-chunk-advanced/README.md
  examples/extra-async-chunk/README.md
  examples/harmony-interop/README.md
  examples/harmony-library/README.md
  examples/harmony-unused/README.md
  examples/harmony/README.md
  examples/http2-aggressive-splitting/README.md
  examples/hybrid-routing/README.md
  examples/loader/README.md
  examples/many-pages/README.md
  examples/mixed/README.md
  examples/module/README.md
  examples/multi-compiler/README.md
  examples/multi-part-library/README.md
  examples/multiple-entry-points/README.md
  examples/named-chunks/README.md
  examples/persistent-caching/README.md
  examples/require.context/README.md
  examples/require.resolve/README.md
  examples/scope-hoisting/README.md
  examples/side-effects/README.md
  examples/source-map/README.md
  examples/template-common.js
  examples/top-level-await/README.md
  examples/two-explicit-vendor-chunks/README.md
  examples/typescript/README.md
  examples/wasm-complex/README.md
  examples/wasm-simple/README.md
Labels: PR: CI-ok, PR: unreviewed

#10934 add more test cases for dynamic reexports
  test/cases/side-effects/dynamic-reexports/checked-export/dynamic.js
  test/cases/side-effects/dynamic-reexports/checked-export/index.js
  test/cases/side-effects/dynamic-reexports/checked-export/module.js
  test/cases/side-effects/dynamic-reexports/direct-export/dynamic.js
  test/cases/side-effects/dynamic-reexports/direct-export/index.js
  test/cases/side-effects/dynamic-reexports/direct-export/module.js
  test/cases/side-effects/dynamic-reexports/index.js
Labels: PR: CI-ok, PR: unreviewed

#10933 add more test cases for dynamic reexports
  lib/optimize/SideEffectsFlagPlugin.js
  test/cases/side-effects/dynamic-reexports/checked-export/dynamic.js
  test/cases/side-effects/dynamic-reexports/checked-export/index.js
  test/cases/side-effects/dynamic-reexports/checked-export/module.js
  test/cases/side-effects/dynamic-reexports/direct-export/dynamic.js
  test/cases/side-effects/dynamic-reexports/direct-export/index.js
  test/cases/side-effects/dynamic-reexports/direct-export/module.js
  test/cases/side-effects/dynamic-reexports/index.js
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#10876 cleanup asset processing
  lib/BannerPlugin.js
  lib/Compilation.js
  lib/Compiler.js
  lib/HotModuleReplacementPlugin.js
  lib/ProgressPlugin.js
  lib/SourceMapDevToolPlugin.js
  lib/debug/ProfilingPlugin.js
  lib/util/deprecation.js
  test/ProgressPlugin.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/code-generation/harmony-pure-default/deprecations.js
  test/configCases/issues/issue-3596/webpack.config.js
  test/configCases/plugins/mini-css-extract-plugin/deprecations.js
  test/configCases/plugins/terser-plugin/deprecations.js
  test/configCases/scope-hoisting/harmony-pure-default/deprecations.js
  test/configCases/source-map/sources-array-production/deprecations.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10947 chore: reduce deps + update some packages
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#10948 chore: update terser-webpack-plugin
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/code-generation/harmony-pure-default/deprecations.js
  test/configCases/plugins/terser-plugin/deprecations.js
  test/configCases/scope-hoisting/harmony-pure-default/deprecations.js
  test/configCases/source-map/sources-array-production/deprecations.js
  test/statsCases/warnings-terser/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#10785 docs: improve documentation of examples
  examples/top-level-await/README.md
  examples/top-level-await/template.md
  examples/wasm-simple/README.md
  examples/wasm-simple/template.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#10974 fix lost file timestamps due to snapshot deduplication
  lib/FileSystemInfo.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10977 chore: move @types/estree from devDependencies to dependencies.
  package.json
Labels: PR: CI-ok, PR: reviewed-approved
