Repository webpack/webpack, pull requests merged in 2020-11, with the labels that each got.

#11797 chore: fix case typo
  lib/WebpackOptionsApply.js
Labels: PR: CI-ok, PR: review-outdated

#11900 handle renaming in super class expression in nested scopes correctly
  lib/optimize/ConcatenatedModule.js
  test/cases/scope-hoisting/issue-11840/Mixin.js
  test/cases/scope-hoisting/issue-11840/index.js
Labels: PR: review-outdated

#11886 fix: parsing of browserslist
  cspell.json
  lib/config/browserslistTargetHandler.js
  test/__snapshots__/target-browserslist.unittest.js.snap
  test/configCases/ecmaVersion/browserslist/webpack.config.js
  test/target-browserslist.unittest.js
Labels: PR: reviewed-approved, PR: reviewed-changes-requested

#11904 improve handling of ASI in concatenated modules and with imports
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/javascript/JavascriptParser.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/scope-hoisting/issue-11897/cjs.js
  test/cases/scope-hoisting/issue-11897/index.js
  test/cases/scope-hoisting/issue-11897/module.js
  types.d.ts
Labels: PR: unreviewed

#11920 handle ASI issue between concatenated modules
  lib/javascript/JavascriptParser.js
  lib/optimize/ConcatenatedModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/scope-hoisting/issue-11897/iife.js
  test/cases/scope-hoisting/issue-11897/index.js
Labels: PR: unreviewed

#11970 docs(type): documented minimized property on asset-info
  lib/Compilation.js
  types.d.ts
Labels: PR: reviewed-approved

#11927 Escape brackets in the resource name so they don't get removed during…
  lib/ModuleFilenameHelpers.js
  test/configCases/source-map/namespace-source-path-no-truncate/[id].js
  test/configCases/source-map/namespace-source-path-no-truncate/index.js
  test/configCases/source-map/namespace-source-path-no-truncate/webpack.config.js
Labels: PR: reviewed-approved, PR: tests-needed

#11999 fixes unused export bug
  lib/ExportsInfo.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/cases/scope-hoisting/side-effects-11990-star/chunk1.js
  test/cases/scope-hoisting/side-effects-11990-star/chunk2.js
  test/cases/scope-hoisting/side-effects-11990-star/index.js
  test/cases/scope-hoisting/side-effects-11990-star/module-concat.js
  test/cases/scope-hoisting/side-effects-11990-star/module.js
  test/cases/scope-hoisting/side-effects-11990-star/package.json
  test/cases/scope-hoisting/side-effects-11990-star/reexport-concat.js
  test/cases/scope-hoisting/side-effects-11990-star/reexport.js
  test/cases/scope-hoisting/side-effects-11990-star/reexport2.js
  test/cases/scope-hoisting/side-effects-11990/chunk1.js
  test/cases/scope-hoisting/side-effects-11990/chunk2.js
  test/cases/scope-hoisting/side-effects-11990/index.js
  test/cases/scope-hoisting/side-effects-11990/module-concat.js
  test/cases/scope-hoisting/side-effects-11990/module.js
  test/cases/scope-hoisting/side-effects-11990/package.json
  test/cases/scope-hoisting/side-effects-11990/reexport-concat.js
  test/cases/scope-hoisting/side-effects-11990/reexport.js
  test/cases/scope-hoisting/side-effects-11990/reexport2.js
  types.d.ts
Labels: PR: unreviewed

#12002 make visible exports from non-harmony modules more consistent
  lib/ContextModule.js
  lib/RuntimeTemplate.js
  lib/optimize/ConcatenatedModule.js
  lib/runtime/CreateFakeNamespaceObjectRuntimeModule.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/json/import-lazy/index.js
  test/cases/mjs/non-enumerable/analysable-module.js
  test/cases/mjs/non-enumerable/esModule.js
  test/cases/mjs/non-enumerable/index.js
  test/cases/mjs/non-enumerable/test.js
  test/cases/mjs/non-enumerable/test.mjs
  test/cases/mjs/non-enumerable/warnings.js
  test/cases/mjs/non-enumerable/weird-module.js
  test/configCases/split-chunks-common/move-to-grandparent/index.js
Labels: PR: unreviewed

#12020 fix crash when __esModule is called with defineProperty without value
  lib/dependencies/CommonJsExportsParserPlugin.js
  test/cases/cjs-tree-shaking/esModule-getter/index.js
  test/cases/cjs-tree-shaking/esModule-getter/module.js
Labels: PR: unreviewed

#12027 emit errors for exports in commonjs modules for which we know that they don't exist
  lib/dependencies/HarmonyImportDependency.js
  test/cases/cjs-interop/non-existing-export/esModule.js
  test/cases/cjs-interop/non-existing-export/index.js
  test/cases/cjs-interop/non-existing-export/module.js
  test/cases/cjs-interop/non-existing-export/warnings.js
  test/cases/cjs-tree-shaking/mutate/warnings.js
  test/cases/mjs/non-enumerable/errors.js
  test/cases/mjs/non-enumerable/warnings.js
Labels: PR: tests-needed, PR: unreviewed

#11945 feat: add pnpm support for installing CLI
  bin/webpack.js
  cspell.json
Labels: PR: reviewed-approved

#12007 fix: check statements in path for asi safe
  lib/javascript/JavascriptParser.js
  test/cases/parsing/asi/a.js
  test/cases/parsing/asi/index.js
  types.d.ts
Labels: PR: tests-needed, PR: unreviewed

#12062 add reexports example
  examples/reexport-components/README.md
  examples/reexport-components/build.js
  examples/reexport-components/components/Button.js
  examples/reexport-components/components/Checkbox.js
  examples/reexport-components/components/Dialog.js
  examples/reexport-components/components/DialogInline.js
  examples/reexport-components/components/index.js
  examples/reexport-components/components/package.json
  examples/reexport-components/example.js
  examples/reexport-components/pages/Dashboard.js
  examples/reexport-components/pages/Login.js
  examples/reexport-components/template.md
  examples/reexport-components/webpack.config.js
Labels: PR: unreviewed

#11948 fixes "Type '(compiler: Compiler) => void' is not assignable to type '() => void'.ts"
  lib/Compilation.js
  types.d.ts
Labels: PR: review-outdated

#11956 allow to process assets that are added during processAssets
  lib/Compilation.js
  lib/Compiler.js
  lib/SourceMapDevToolPlugin.js
  lib/index.js
  lib/optimize/RealContentHashPlugin.js
  package.json
  test/configCases/process-assets/html-plugin/index.js
  test/configCases/process-assets/html-plugin/inline.js
  test/configCases/process-assets/html-plugin/normal.js
  test/configCases/process-assets/html-plugin/test.config.js
  test/configCases/process-assets/html-plugin/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#12076 improve side effects analysis to report imported and reexported symbols as side-effect-free
  examples/reexport-components/README.md
  examples/reexport-components/components/package.json
  examples/reexport-components/pages/Login.js
  lib/NormalModule.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/side-effects/empty-modules/referenced.js
  test/configCases/deep-scope-analysis/remove-export-scope-hoisting/webpack.config.js
  test/configCases/deep-scope-analysis/remove-export/webpack.config.js
  test/configCases/deprecations/chunk-and-module/webpack.config.js
  test/configCases/dll-plugin/0-create-dll/e.js
  test/configCases/dll-plugin/0-create-dll/e1.js
  test/configCases/dll-plugin/0-create-dll/e2.js
  test/statsCases/split-chunks-issue-6413/common.js
  test/statsCases/tree-shaking/a.js
  test/statsCases/tree-shaking/b.js
  test/statsCases/tree-shaking/edge.js
  test/statsCases/tree-shaking/reexport-star-known.js
  test/statsCases/tree-shaking/reexport-star-unknown.js
  test/statsCases/tree-shaking/reexport-unknown.js
  test/statsCases/tree-shaking/require.include.js
  test/statsCases/tree-shaking/unknown.js
  test/statsCases/tree-shaking/unknown2.js
Labels: PR: unreviewed

#12061 upgrade typescript major version
  lib/WebpackOptionsApply.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/javascript/EnableChunkLoadingPlugin.js
  lib/library/EnableLibraryPlugin.js
  lib/util/registerExternalSerializer.js
  package.json
  test/configCases/asset-modules/http-url/webpack.config.js
  test/configCases/asset-modules/https-url/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#12080 only move export info targets when also moving dependencies
  lib/optimize/ConcatenatedModule.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/cases/side-effects/issue-12071/index.js
  test/cases/side-effects/issue-12071/module.js
  test/cases/side-effects/issue-12071/package.json
  test/cases/side-effects/issue-12071/reexport.js
  test/cases/side-effects/issue-12071/reexport2-concat.js
  test/cases/side-effects/issue-12071/reexport2.js
Labels: PR: unreviewed
