Repository webpack/webpack, pull requests merged in 2020-10, with the labels that each got.

#11586 don't touch not provided exports as they could be on the prototype
  lib/optimize/ConcatenatedModule.js
  lib/optimize/MangleExportsPlugin.js
  test/cases/json/prototype-methods/array.json
  test/cases/json/prototype-methods/index.js
  test/configCases/json/tree-shaking-default/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#11595 fix some nitpicks with active state
  lib/ChunkGraph.js
  lib/FlagDependencyUsagePlugin.js
  lib/Module.js
  lib/ModuleGraphConnection.js
  lib/async-modules/InferAsyncModulesPlugin.js
  lib/buildChunkGraph.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/ids/OccurrenceModuleIdsPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/wasm-sync/WasmFinalizeExportsPlugin.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11590 Fix compilation of projects where dependsOn is an array
  lib/Compilation.js
Labels: PR: reviewed-approved, PR: tests-needed

#11582 chore(deps): update `schema-utils`
  lib/BannerPlugin.js
  lib/DllPlugin.js
  lib/DllReferencePlugin.js
  lib/IgnorePlugin.js
  lib/LoaderOptionsPlugin.js
  lib/NormalModule.js
  lib/ProgressPlugin.js
  lib/SourceMapDevToolPlugin.js
  lib/WatchIgnorePlugin.js
  lib/asset/AssetModulesPlugin.js
  lib/container/ContainerPlugin.js
  lib/container/ContainerReferencePlugin.js
  lib/container/ModuleFederationPlugin.js
  lib/debug/ProfilingPlugin.js
  lib/ids/HashedModuleIdsPlugin.js
  lib/ids/OccurrenceChunkIdsPlugin.js
  lib/ids/OccurrenceModuleIdsPlugin.js
  lib/json/JsonModulesPlugin.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/optimize/LimitChunkCountPlugin.js
  lib/optimize/MinChunkSizePlugin.js
  lib/sharing/ConsumeSharedPlugin.js
  lib/sharing/ProvideSharedPlugin.js
  lib/validateSchema.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#11552 Bump acorn 8
  lib/javascript/JavascriptParser.js
  package.json
  test/cases/parsing/logical-assignment/index.js
  test/cases/parsing/logical-assignment/module.js
  test/cases/parsing/logical-assignment/test.filter.js
  test/helpers/supportsLogicalAssignment.js
  yarn.lock
Labels: PR: CI-ok, PR: review-outdated

#11608 fix: getNumberOfMatchingSizeTypes function call
  lib/util/deterministicGrouping.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#11602 fix crash when using shared with runtimeChunk
  lib/optimize/RuntimeChunkPlugin.js
  test/configCases/sharing/provide-shared-with-runtime-chunk/index.js
  test/configCases/sharing/provide-shared-with-runtime-chunk/node_modules/x/index.js
  test/configCases/sharing/provide-shared-with-runtime-chunk/node_modules/x/package.json
  test/configCases/sharing/provide-shared-with-runtime-chunk/test.config.js
  test/configCases/sharing/provide-shared-with-runtime-chunk/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11609 Export more types from types.d.ts
  lib/index.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#11601 Improve suggested Node.js polyfill config
  lib/ModuleNotFoundError.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#11618 fixes crash in SideEffectsFlagPlugin
  lib/optimize/SideEffectsFlagPlugin.js
  test/cases/side-effects/empty-modules/pure.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11620 skip connections copied to concatenated module
  lib/optimize/ConcatenatedModule.js
  test/cases/scope-hoisting/import-order-11617/a.js
  test/cases/scope-hoisting/import-order-11617/b.js
  test/cases/scope-hoisting/import-order-11617/c.js
  test/cases/scope-hoisting/import-order-11617/index.js
  test/cases/scope-hoisting/import-order-11617/tracker.js
  test/cases/scope-hoisting/import-order-11617/x.js
  test/cases/scope-hoisting/import-order-11617/y.js
Labels: PR: CI-ok, PR: unreviewed

#11621 fix called variables with ProvidePlugin
  lib/ProvidePlugin.js
  test/configCases/parsing/issue-11619/index.js
  test/configCases/parsing/issue-11619/node_modules/aaa.js
  test/configCases/parsing/issue-11619/webpack.config.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11603 Fix require handling with electron; fixes #11599
  lib/config/defaults.js
  lib/electron/ElectronTargetPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#11628 emit error instead of crashing when unexpected problem occurs
  lib/optimize/RealContentHashPlugin.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11646 flag commonjs dependency in try block as optional
  lib/dependencies/CommonJsImportsParserPlugin.js
  test/cases/runtime/missing-module-exception/index.js
  test/cases/runtime/missing-module-exception/warnings.js
Labels: PR: CI-ok, PR: unreviewed

#11657 expose webpack from Compiler
  lib/Compiler.js
  lib/Dependency.js
  lib/index.js
  lib/stats/StatsPrinter.js
  lib/util/Hash.js
  lib/util/LazyBucketSortedSet.js
  lib/util/cleverMerge.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11664 follow reexport in concatenated modules even if they are skipped due to side effects
  lib/optimize/ConcatenatedModule.js
  test/cases/scope-hoisting/side-effects-11662/index.js
  test/cases/scope-hoisting/side-effects-11662/node_modules/package/d.js
  test/cases/scope-hoisting/side-effects-11662/node_modules/package/e.js
  test/cases/scope-hoisting/side-effects-11662/node_modules/package/index.js
  test/cases/scope-hoisting/side-effects-11662/node_modules/package/module.js
  test/cases/scope-hoisting/side-effects-11662/node_modules/package/package.json
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11645 fix: expose EntryPlugin creation
  lib/EntryOptionPlugin.js
  lib/index.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/child-compiler-apply-entry-option/TestApplyEntryOptionPlugin.js
  test/statsCases/child-compiler-apply-entry-option/child.js
  test/statsCases/child-compiler-apply-entry-option/parent.js
  test/statsCases/child-compiler-apply-entry-option/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#11653 Fix ModuleTemplate.hooks.hash deprecation message
  lib/ModuleTemplate.js
Labels: PR: CI-ok, PR: reviewed-approved

#11686 order runtime chunks correctly when they depend on each other
  lib/Compilation.js
  test/configCases/worker/worker-contenthash/index.js
  test/configCases/worker/worker-contenthash/module.js
  test/configCases/worker/worker-contenthash/test.config.js
  test/configCases/worker/worker-contenthash/test.filter.js
  test/configCases/worker/worker-contenthash/webpack.config.js
  test/configCases/worker/worker-contenthash/worker.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11702 upgrade terser-webpack-plugin
  package.json
  test/Stats.test.js
  test/TestCases.template.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/plugins/source-map-dev-tool-plugin/webpack.config.js
  test/configCases/plugins/source-map-dev-tool-plugin~append/webpack.config.js
  test/configCases/plugins/terser-plugin/webpack.config.js
  test/statsCases/custom-terser/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#11690 fix unused modules in chunk when optimizing runtime-specific
  lib/ExportsInfo.js
  lib/FlagDependencyUsagePlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/util/runtime.js
  test/TestCases.template.js
  test/cases/side-effects/issue-11673/index.js
  test/cases/side-effects/issue-11673/module.js
  test/cases/side-effects/issue-11673/node_modules/package/index.js
  test/cases/side-effects/issue-11673/node_modules/package/package.json
  test/cases/side-effects/issue-11673/test.filter.js
  test/cases/side-effects/issue-11673/worker.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11703 fix infinite loop in inner graph optimization
  lib/optimize/InnerGraph.js
  test/configCases/inner-graph/issue-11678/module.js
  test/configCases/inner-graph/issue-11678/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11704 update chunk to files mapping when deleting assets
  lib/Compilation.js
  test/configCases/assets/delete-asset/chunk2.js
  test/configCases/assets/delete-asset/index.js
  test/configCases/assets/delete-asset/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11706 fix: reorder params
  lib/NormalModule.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11709 Revert "fix unused modules in chunk when optimizing runtime-specific "
  lib/ExportsInfo.js
  lib/FlagDependencyUsagePlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/util/runtime.js
  test/TestCases.template.js
  test/cases/side-effects/issue-11673/index.js
  test/cases/side-effects/issue-11673/module.js
  test/cases/side-effects/issue-11673/node_modules/package/index.js
  test/cases/side-effects/issue-11673/node_modules/package/package.json
  test/cases/side-effects/issue-11673/test.filter.js
  test/cases/side-effects/issue-11673/worker.js
  types.d.ts
Labels: PR: unreviewed

#11719 fix unused modules in chunk when optimizing runtime-specific (2nd try)
  lib/ExportsInfo.js
  lib/FlagDependencyUsagePlugin.js
  lib/buildChunkGraph.js
  lib/optimize/ConcatenatedModule.js
  lib/util/runtime.js
  package.json
  test/TestCases.template.js
  test/TestCasesProdGlobalUsed.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/side-effects/issue-11673/index.js
  test/cases/side-effects/issue-11673/module.js
  test/cases/side-effects/issue-11673/node_modules/package/index.js
  test/cases/side-effects/issue-11673/node_modules/package/package.json
  test/cases/side-effects/issue-11673/test.filter.js
  test/cases/side-effects/issue-11673/worker.js
  test/watchCases/plugins/mini-css-extract-plugin/deprecations.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11721 fix order of asset optimization to fix conflict between compression-plugin and real hash plugin
  lib/Compilation.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11751 fix: handle star import name collisions in module concatenation
  lib/optimize/ConcatenatedModule.js
  test/cases/optimize/concat-star-import/index.js
  test/cases/optimize/concat-star-import/module.js
  test/cases/optimize/concat-star-import/node_modules/cmodule/index.js
  test/cases/optimize/concat-star-import/node_modules/cmodule/package.json
Labels: PR: CI-ok, PR: reviewed-approved

#11754 caniuse es6 doesn't report arrow-functions correctly
  lib/config/browserslistTargetHandler.js
Labels: PR: CI-ok, PR: unreviewed

#11759 Make external modules of type 'this' work with module concatenation
  lib/ExternalModule.js
  test/configCases/externals/this/index.js
  test/configCases/externals/this/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11785 add asset info for `sourceFilename` and `javascriptModule`
  lib/Compilation.js
  lib/RuntimeTemplate.js
  lib/Template.js
  lib/asset/AssetGenerator.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/output-module/chunk.js
  test/statsCases/output-module/index.js
  test/statsCases/output-module/module.js
  test/statsCases/output-module/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11786 force update some deps for bugfixes
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#11771 followSymLinks Options Added with the snapshots and typings updated
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: review-outdated

#11788 test: example problem of #11668
  package.json
  test/configCases/resolve-merging/override/loader.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#11819 upgrade webpack-sources
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#11825 re-check immutable state when removing a query string
  lib/Compiler.js
  test/watchCases/cache/immutable/0/index.js
  test/watchCases/cache/immutable/1/index.js
  test/watchCases/cache/immutable/webpack.config.js
Labels: PR: unreviewed

#11824 add useSimpleSourceMap flag to enable/disable OrignalSource for generated code
  declarations.d.ts
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/ExternalModule.js
  lib/Module.js
  lib/NormalModule.js
  lib/RawModule.js
  lib/RuntimeModule.js
  lib/SourceMapDevToolModuleOptionsPlugin.js
  lib/SourceMapDevToolPlugin.js
  lib/container/ContainerEntryModule.js
  lib/javascript/JavascriptModulesPlugin.js
  test/NormalModule.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/source-map/no-source-map/chunk.js
  test/configCases/source-map/no-source-map/index.js
  test/configCases/source-map/no-source-map/loader.js
  test/configCases/source-map/no-source-map/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11831 Fixed resolve.roots default value
  lib/WebpackOptionsDefaulter.js
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#11802 generate code that executes depending on runtime
  declarations/WebpackOptions.d.ts
  lib/ChunkGraph.js
  lib/Compilation.js
  lib/ConditionalInitFragment.js
  lib/Dependency.js
  lib/RuntimeGlobals.js
  lib/RuntimePlugin.js
  lib/RuntimeTemplate.js
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/dependencies/HarmonyAcceptDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/PureExpressionDependency.js
  lib/dependencies/WorkerPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  lib/runtime/RuntimeIdRuntimeModule.js
  lib/util/compileBooleanMatcher.js
  lib/util/runtime.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/HotTestCases.template.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/side-effects/empty-modules/index.js
  test/cases/side-effects/empty-modules/pure.js
  test/configCases/graph/issue-11770/a.js
  test/configCases/graph/issue-11770/ax.js
  test/configCases/graph/issue-11770/b.js
  test/configCases/graph/issue-11770/bx.js
  test/configCases/graph/issue-11770/c.js
  test/configCases/graph/issue-11770/concatenated-shared.js
  test/configCases/graph/issue-11770/cx.js
  test/configCases/graph/issue-11770/d1.js
  test/configCases/graph/issue-11770/d2.js
  test/configCases/graph/issue-11770/dep-shared3.js
  test/configCases/graph/issue-11770/dep-shared4.js
  test/configCases/graph/issue-11770/dep.js
  test/configCases/graph/issue-11770/dep2.js
  test/configCases/graph/issue-11770/shared.js
  test/configCases/graph/issue-11770/shared2.js
  test/configCases/graph/issue-11770/super.js
  test/configCases/graph/issue-11770/test.config.js
  test/configCases/graph/issue-11770/webpack.config.js
  test/hotCases/conditional-runtime/accept-conditional/dep1.js
  test/hotCases/conditional-runtime/accept-conditional/dep2.js
  test/hotCases/conditional-runtime/accept-conditional/index.js
  test/hotCases/conditional-runtime/accept-conditional/module.js
  test/hotCases/conditional-runtime/accept-conditional/shared.js
  test/hotCases/conditional-runtime/accept-conditional/webpack.config.js
  test/hotCases/conditional-runtime/accept-conditional/worker.js
  types.d.ts
Labels: PR: CI-not-ok, PR: tests-needed, PR: unreviewed

#11857 fix a unneeded cache store when using child compilers
  lib/ProgressPlugin.js
Labels: PR: unreviewed

#11858 update terser-webpack-plugin and webpack-sources
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: unreviewed

#11854 fix: run cli after installed
  bin/webpack.js
Labels: PR: CI-ok, PR: reviewed-approved

#11861 fix incorrect concatenation when module runtime are merged
  lib/optimize/ModuleConcatenationPlugin.js
  test/configCases/graph/issue-11856.2/a.js
  test/configCases/graph/issue-11856.2/b.js
  test/configCases/graph/issue-11856.2/b2.js
  test/configCases/graph/issue-11856.2/shared-c.js
  test/configCases/graph/issue-11856.2/shared-d.js
  test/configCases/graph/issue-11856.2/shared-e.js
  test/configCases/graph/issue-11856.2/test.config.js
  test/configCases/graph/issue-11856.2/webpack.config.js
  test/configCases/graph/issue-11856/a.js
  test/configCases/graph/issue-11856/b.js
  test/configCases/graph/issue-11856/shared-c.js
  test/configCases/graph/issue-11856/shared-d.js
  test/configCases/graph/issue-11856/test.config.js
  test/configCases/graph/issue-11856/webpack.config.js
Labels: PR: unreviewed

#11862 upgrade tooling for improved array types
  declarations/WebpackOptions.d.ts
  declarations/plugins/WatchIgnorePlugin.d.ts
  package.json
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#11873 handle the case when execution order in a concatenated module is runtime-dependent
  lib/ConcatenationScope.js
  lib/optimize/ConcatenatedModule.js
  lib/util/runtime.js
  test/configCases/graph/issue-11863/a.js
  test/configCases/graph/issue-11863/b.js
  test/configCases/graph/issue-11863/c.js
  test/configCases/graph/issue-11863/shared-x.js
  test/configCases/graph/issue-11863/shared-y.js
  test/configCases/graph/issue-11863/shared-z.js
  test/configCases/graph/issue-11863/shared.js
  test/configCases/graph/issue-11863/test.config.js
  test/configCases/graph/issue-11863/webpack.config.js
  types.d.ts
Labels: PR: tests-needed, PR: unreviewed
