Repository webpack/webpack, pull requests merged in 2020-12, with the labels that each got.

#12123 fixes #12114
  lib/optimize/ConcatenatedModule.js
  test/cases/side-effects/issue-12114/a.js
  test/cases/side-effects/issue-12114/b.js
  test/cases/side-effects/issue-12114/index.js
  test/cases/side-effects/issue-12114/node_modules/base/index.js
  test/cases/side-effects/issue-12114/node_modules/base/package.json
  test/cases/side-effects/issue-12114/node_modules/tslib.js
  test/cases/side-effects/issue-12114/reexport.js
Labels: PR: unreviewed

#12121 improve rebuild performance
  declarations/WebpackOptions.d.ts
  lib/ModuleFilenameHelpers.js
  lib/ModuleInfoHeaderPlugin.js
  lib/WebpackOptionsApply.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/StatsFactory.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  types.d.ts
Labels: PR: unreviewed

#12131 fix: avoid duplicate chunks in template's chunkLoadingGlobal #12128
  lib/web/JsonpChunkLoadingPlugin.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/split-chunks-common/issue-12128/a.js
  test/configCases/split-chunks-common/issue-12128/b.js
  test/configCases/split-chunks-common/issue-12128/index.js
  test/configCases/split-chunks-common/issue-12128/index2.js
  test/configCases/split-chunks-common/issue-12128/test.config.js
  test/configCases/split-chunks-common/issue-12128/webpack.config.js
  test/configCases/web/preexecuted-chunk/chunk.js
  test/configCases/web/preexecuted-chunk/index.js
  test/configCases/web/preexecuted-chunk/test.config.js
  test/configCases/web/preexecuted-chunk/webpack.config.js
Labels: PR: reviewed-approved

#12141 update wasm dependencies
  package.json
  yarn.lock
Labels: PR: unreviewed

#12158 fix handling of multiple identical assets with different querystrings
  lib/Compilation.js
  lib/Compiler.js
  lib/util/source.js
  test/configCases/asset-modules/different-query/index.js
  test/configCases/asset-modules/different-query/webpack.config.js
Labels: PR: unreviewed

#12169 fix triggering processAssets for some assets twice
  lib/Compilation.js
  test/configCases/process-assets/html-plugin/webpack.config.js
Labels: PR: unreviewed

#12174 fix startup logic preventing inlining entry modules
  lib/MainTemplate.js
  lib/ModuleInfoHeaderPlugin.js
  lib/RuntimeGlobals.js
  lib/RuntimeModule.js
  lib/RuntimeTemplate.js
  lib/hmr/HotModuleReplacementRuntimeModule.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/prefetch/ChunkPrefetchFunctionRuntimeModule.js
  lib/prefetch/ChunkPrefetchPreloadPlugin.js
  lib/prefetch/ChunkPrefetchStartupRuntimeModule.js
  lib/prefetch/ChunkPrefetchTriggerRuntimeModule.js
  lib/runtime/AutoPublicPathRuntimeModule.js
  lib/runtime/CompatRuntimeModule.js
  lib/runtime/PublicPathRuntimeModule.js
  lib/sharing/ConsumeSharedRuntimeModule.js
  lib/wasm-async/AsyncWasmChunkLoadingRuntimeModule.js
  lib/wasm-sync/WasmChunkLoadingRuntimeModule.js
  lib/web/JsonpChunkLoadingPlugin.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  types.d.ts
Labels: PR: unreviewed

#12181 feat: add support for additional node.js builtin modules
  lib/node/NodeTargetPlugin.js
Labels: PR: reviewed-approved

#12191 allow to store large caches
  lib/serialization/BinaryMiddleware.js
  lib/serialization/FileMiddleware.js
  lib/serialization/ObjectMiddleware.js
  lib/util/fs.js
  test/BinaryMiddleware.unittest.js
  types.d.ts
Labels: PR: unreviewed

#12205 Bugfix/side effects
  lib/FlagAllModulesAsUsedPlugin.js
  lib/NormalModule.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/configCases/dll-plugin/0-create-dll/d.js
  test/configCases/dll-plugin/2-use-dll-without-scope/index.js
Labels: PR: unreviewed

#12207 errors in initial cache no longer cause build dependencies to be ignored
  lib/cache/PackFileCacheStrategy.js
  test/BuildDependencies.test.js
  test/fixtures/buildDependencies/run.js
Labels: PR: unreviewed

#12216 update typings to include undefined/null types
  declarations/WebpackOptions.d.ts
  lib/Module.js
  package.json
  schemas/WebpackOptions.json
  tsconfig.types.json
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#12224 add some missing types and exports
  declarations.d.ts
  lib/Compilation.js
  lib/index.js
  lib/validateSchema.js
  package.json
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#12225 treat `undefined` equal to not existing in rules
  declarations/WebpackOptions.d.ts
  lib/rules/RuleSetCompiler.js
  schemas/WebpackOptions.json
  test/configCases/rule-set/query/index.js
  types.d.ts
Labels: PR: unreviewed

#12230 improve typings
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  lib/stats/StatsFactory.js
  lib/stats/StatsPrinter.js
  package.json
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#12233 fix #12232
  lib/util/propertyAccess.js
  test/cases/code-generation/issue-12232/index.js
  test/cases/code-generation/issue-12232/module.js
Labels: PR: reviewed-approved

#12256 Fix #12255: compileBooleanMatcher fails when prefix and suffix overlap
  lib/util/compileBooleanMatcher.js
  test/compileBooleanMatcher.unittest.js
Labels: PR: reviewed-approved, PR: reviewed-changes-requested

#12266 ignore cloned ExportInfo during hashing
  lib/ExportsInfo.js
  lib/Module.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/hotCases/hashing/exports-info-influence/index.js
  test/hotCases/hashing/exports-info-influence/module.js
  test/hotCases/hashing/exports-info-influence/referencer.js
  test/hotCases/hashing/exports-info-influence/webpack.config.js
  types.d.ts
Labels: PR: unreviewed

#12275 Changed name of memorize function to memoize
  lib/ChunkTemplate.js
  lib/MainTemplate.js
  lib/ModuleFilenameHelpers.js
  lib/ModuleTemplate.js
  lib/asset/AssetModulesPlugin.js
  lib/cache/PackFileCacheStrategy.js
  lib/dependencies/ContextDependency.js
  lib/dependencies/ImportMetaPlugin.js
  lib/index.js
  lib/javascript/JavascriptParser.js
  lib/json/JsonModulesPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/serialization/BinaryMiddleware.js
  lib/serialization/FileMiddleware.js
  lib/serialization/SerializerMiddleware.js
  lib/util/memoize.js
  lib/wasm-async/AsyncWebAssemblyModulesPlugin.js
  lib/wasm-sync/WebAssemblyModulesPlugin.js
Labels: PR: reviewed-approved
