Repository webpack/webpack, pull requests merged in 2020-01, with the labels that each got.

#10206 change DllPlugin entryOnly default to true
  declarations/plugins/DllPlugin.d.ts
  lib/DllPlugin.js
  schemas/plugins/DllPlugin.json
  test/configCases/dll-plugin-entry/0-create-dll/webpack.config.js
  test/configCases/dll-plugin/0-create-dll/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10193 refactor(target): remove unnecessary judgment
  lib/WebpackOptionsApply.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#10211 fix(chore): Minor typographical fixes
  lib/buildChunkGraph.js
  test/cases/wasm/global-refs-imported-global/index.js
  test/configCases/chunk-index/order-multiple-entries/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#10251 Minor fix: redundant default parameters
  lib/ProgressPlugin.js
  lib/SourceMapDevToolPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#10244 Remove mkdirp package from devDependencies
  package.json
  test/ConfigTestCases.test.js
  test/HotModuleReplacementPlugin.test.js
  test/StatsTestCases.test.js
  test/TestCases.template.js
  test/WatchTestCases.test.js
  tooling/compile-to-definitions.js
  tooling/type-coverage.js
Labels: PR: CI-ok, PR: reviewed-approved

#10240 Get rid of some hacks in declarations file for webpack-4
  declarations.d.ts
  declarations/WebpackOptions.d.ts
  lib/HotModuleReplacement.runtime.js
  lib/node/NodeMainTemplate.runtime.js
  lib/node/NodeMainTemplateAsync.runtime.js
  lib/web/JsonpMainTemplate.runtime.js
  lib/webworker/WebWorkerMainTemplate.runtime.js
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: reviewed-approved, PR: webpack-4

#10258 make sure only a single strategy method is invoked at a time
  lib/cache/IdleFileCachePlugin.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10259 chore(test/hotCases): Minor grammatical fixes
  test/hotCases/harmony/auto-import-default/index.js
  test/hotCases/harmony/auto-import/index.js
Labels: PR: CI-ok

#10223 chore(DelegatedModuleFactoryPlugin): Minor code refactor
  lib/DelegatedModuleFactoryPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#10260 upgrade watchpack
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#10256 use correct string or number form of chunk id in HMR
  lib/HotModuleReplacementPlugin.js
  test/hotCases/numeric-ids/add-remove-chunks/chunk.js
  test/hotCases/numeric-ids/add-remove-chunks/chunk2.js
  test/hotCases/numeric-ids/add-remove-chunks/file.js
  test/hotCases/numeric-ids/add-remove-chunks/index.js
  test/hotCases/numeric-ids/add-remove-chunks/module.js
  test/hotCases/numeric-ids/production/file.js
  test/hotCases/numeric-ids/production/index.js
  test/hotCases/numeric-ids/production/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#10255 fix: better handle absolute paths
  schemas/ajv.absolutePath.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: webpack-4

#10257 remove special request shortening logic, instead normal relative paths
  lib/Compiler.js
  lib/NormalModule.js
  lib/RequestShortener.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/SplitChunksPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/util/identifier.js
  test/Errors.test.js
  test/RequestShortener.unittest.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10263 provide better error message when a export name was not found
  lib/ModuleGraph.js
  lib/dependencies/HarmonyImportDependency.js
  test/cases/parsing/harmony-export-precedence/warnings.js
  test/cases/parsing/harmony-info/warnings.js
  test/cases/parsing/missing-export-warning-nested/a.js
  test/cases/parsing/missing-export-warning-nested/b.js
  test/cases/parsing/missing-export-warning-nested/c.js
  test/cases/parsing/missing-export-warning-nested/d.js
  test/cases/parsing/missing-export-warning-nested/e.js
  test/cases/parsing/missing-export-warning-nested/index.js
  test/cases/parsing/missing-export-warning-nested/warnings.js
Labels: PR: CI-ok, PR: unreviewed

#10262 the pure annotation only applies to function calls
  lib/optimize/InnerGraphPlugin.js
  test/cases/inner-graph/simple/index.js
  test/cases/inner-graph/simple/inner.js
  test/cases/inner-graph/simple/module.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10118 Fix:10071 - Accept watchOptions.aggregateTimeout be 0
  lib/Watching.js
Labels: PR: CI-ok, PR: unreviewed, Send a PR

#10267 add options default tests and fix library array handling
  lib/WebpackOptionsDefaulter.js
  package.json
  test/WebpackOptionsDefaulter.unittest.js
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#10139 Make inner folder entrypoints able to require common chunks
  lib/javascript/JavascriptModulesPlugin.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/runtime/GetChunkFilenameRuntimeModule.js
  test/ConfigTestCases.test.js
  test/configCases/output/inner-dirs-entries/a.js
  test/configCases/output/inner-dirs-entries/inner-dir/b.js
  test/configCases/output/inner-dirs-entries/inner-dir/some-module.js
  test/configCases/output/inner-dirs-entries/node_modules/dummy_module/index.js
  test/configCases/output/inner-dirs-entries/test.config.js
  test/configCases/output/inner-dirs-entries/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#10017 feat: getOptions util for loader
  lib/NormalModule.js
  test/configCases/loaders/options/a.js
  test/configCases/loaders/options/b.js
  test/configCases/loaders/options/c.js
  test/configCases/loaders/options/d.js
  test/configCases/loaders/options/deprecations.js
  test/configCases/loaders/options/e.js
  test/configCases/loaders/options/error1.js
  test/configCases/loaders/options/error2.js
  test/configCases/loaders/options/errors.js
  test/configCases/loaders/options/f.js
  test/configCases/loaders/options/g.js
  test/configCases/loaders/options/h.js
  test/configCases/loaders/options/i.js
  test/configCases/loaders/options/index.js
  test/configCases/loaders/options/loader-1.js
  test/configCases/loaders/options/loader-1.options.json
  test/configCases/loaders/options/loader-2.js
  test/configCases/loaders/options/loader-2.options.json
  test/configCases/loaders/options/loader.js
  test/configCases/loaders/options/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#10274 chore(ContextModule): Fixed minor typos
  lib/ContextModule.js
Labels: PR: CI-ok, PR: reviewed-approved

#10279 chore(NormalModule): refactor code adhering to ES6 semantics
  lib/NormalModule.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#10270 remove Array.prototype.reduce calls to simplify code
  lib/Chunk.js
  lib/Compiler.js
  lib/ContextModule.js
  lib/ContextModuleFactory.js
  lib/EnvironmentPlugin.js
  lib/ErrorHelpers.js
  lib/EvalSourceMapDevToolPlugin.js
  lib/LibManifestPlugin.js
  lib/MultiStats.js
  lib/ProgressPlugin.js
  lib/Template.js
  lib/WebpackError.js
  lib/buildChunkGraph.js
  lib/dependencies/RequireContextPlugin.js
  lib/ids/OccurrenceModuleIdsPlugin.js
  lib/logging/truncateArgs.js
  lib/optimize/AggressiveSplittingPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/MinChunkSizePlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/performance/SizeLimitsPlugin.js
  lib/serialization/Serializer.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/wasm/WebAssemblyGenerator.js
  test/Errors.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#10287 fix(Chunk.js): rephrase JSDoc method signature info
  lib/Chunk.js
Labels: PR: CI-ok, PR: reviewed-approved

#10286 decouple inner-graph and parser state
  lib/FlagUsingEvalPlugin.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/optimize/InnerGraph.js
  lib/optimize/InnerGraphPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#10288 do not evaluate constants in asm.js, fix IIFE mode detection
  lib/ConstPlugin.js
  lib/javascript/JavascriptParser.js
  test/Compiler.test.js
  test/fixtures/asmjs.js
Labels: PR: CI-ok, PR: reviewed-approved

#10299 refactor Persistent Cache
  lib/cache/PackFileCacheStrategy.js
  lib/cache/ResolverCachePlugin.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/serialization/ArraySerializer.js
  lib/serialization/BinaryMiddleware.js
  lib/serialization/FileMiddleware.js
  lib/serialization/ObjectMiddleware.js
  lib/serialization/PlainObjectSerializer.js
  lib/serialization/Serializer.js
  lib/serialization/SerializerMiddleware.js
  lib/util/LazySet.js
  lib/util/fs.js
  lib/util/internalSerializables.js
  lib/util/serialization.js
  test/PersistentCaching.test.js
  tooling/print-cache-file.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10295 Incapsulate inner graph logic
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/optimize/InnerGraph.js
  lib/optimize/InnerGraphPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#10312 fix bug with renaming of variables in concatenated modules
  lib/optimize/ConcatenatedModule.js
  test/cases/scope-hoisting/issue-10308/commonjs.js
  test/cases/scope-hoisting/issue-10308/external.js
  test/cases/scope-hoisting/issue-10308/index.js
  test/cases/scope-hoisting/issue-10308/root.js
Labels: PR: CI-ok, PR: unreviewed

#10313 Performance improvements of cache builds
  lib/ChunkGraph.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DllModule.js
  lib/ExternalModule.js
  lib/FileSystemInfo.js
  lib/Module.js
  lib/NormalModule.js
  lib/buildChunkGraph.js
  lib/cache/PackFileCacheStrategy.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#10317 enable optimization.sideEffects, innerGraph and usedExports by default
  lib/WebpackOptionsDefaulter.js
  test/WebpackOptionsDefaulter.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/inner-graph/circular/index.js
  test/cases/inner-graph/simple/index.js
  test/cases/parsing/harmony-deep-exports/index.js
Labels: PR: CI-ok, PR: unreviewed

#10321 Update HashedModuleIdsPlugin.json
  declarations/plugins/HashedModuleIdsPlugin.d.ts
  schemas/plugins/HashedModuleIdsPlugin.json
Labels: PR: CI-ok, PR: reviewed-approved

#10318 Performance and time logging
  lib/Compilation.js
  lib/FlagDependencyExportsPlugin.js
  lib/FlagDependencyUsagePlugin.js
  lib/ModuleGraphConnection.js
  lib/cache/PackFileCacheStrategy.js
  lib/dependencies/HarmonyImportSideEffectDependency.js
  lib/logging/Logger.js
  lib/optimize/InnerGraphPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed
