Repository webpack/webpack, pull requests merged in 2020-07, with the labels that each got.

#11115 A few little bugfixes to Module Federation
  examples/module-federation/README.md
  lib/Compilation.js
  lib/runtime/LoadScriptRuntimeModule.js
  lib/sharing/ShareRuntimeModule.js
  lib/util/comparators.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11116 fix compat bugs
  lib/MainTemplate.js
  lib/Module.js
  lib/RuntimeModule.js
  lib/RuntimePlugin.js
  lib/Template.js
  lib/runtime/CompatRuntimeModule.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11095 Support url requests
  declarations/WebpackOptions.d.ts
  lib/Compiler.js
  lib/ConstPlugin.js
  lib/ContextModule.js
  lib/ContextModuleFactory.js
  lib/ContextReplacementPlugin.js
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/UnhandledSchemeError.js
  lib/WebpackOptionsApply.js
  lib/dependencies/ContextDependencyHelpers.js
  lib/index.js
  lib/schemes/DataUriPlugin.js
  lib/schemes/FileUriPlugin.js
  lib/schemes/HttpUriPlugin.js
  lib/schemes/HttpsUriPlugin.js
  lib/util/DataURI.js
  lib/util/URLAbsoluteSpecifier.js
  lib/util/identifier.js
  lib/util/internalSerializables.js
  package.json
  schemas/WebpackOptions.json
  test/URLAbsoluteSpecifier.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/cases/parsing/evaluate/index.js
  test/cases/parsing/evaluate/resourceFragment/index.js
  test/cases/parsing/evaluate/resourceFragment/returnRF.js
  test/cases/resolving/data-uri/index.js
  test/configCases/asset-modules/file-url/.gitignore
  test/configCases/asset-modules/file-url/index.js
  test/configCases/asset-modules/file-url/src with spaces/module.js
  test/configCases/asset-modules/file-url/webpack.config.js
  test/configCases/asset-modules/http-url/index.js
  test/configCases/asset-modules/http-url/loaders/css-loader.js
  test/configCases/asset-modules/http-url/server/index.css
  test/configCases/asset-modules/http-url/server/index.js
  test/configCases/asset-modules/http-url/webpack.config.js
  test/configCases/asset-modules/https-url/index.js
  test/configCases/asset-modules/https-url/loaders/md-loader.js
  test/configCases/asset-modules/https-url/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: review-outdated

#11117 add export * as namespace from "module"
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/javascript/JavascriptParser.js
  lib/optimize/SideEffectsFlagPlugin.js
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/parsing/harmony-export-import-specifier/b.js
  test/cases/parsing/harmony-export-import-specifier/c.js
  test/cases/parsing/harmony-export-import-specifier/d.js
  test/cases/parsing/harmony-export-import-specifier/e.js
  test/cases/parsing/harmony-export-import-specifier/e1.js
  test/cases/parsing/harmony-export-import-specifier/f.js
  test/cases/parsing/harmony-export-import-specifier/g.js
  test/cases/parsing/harmony-export-import-specifier/h.js
  test/cases/parsing/harmony-export-import-specifier/index.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#11105 add full Semantic Versioning for Shared Modules
  cspell.json
  declarations/_sharing.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  declarations/plugins/sharing/ConsumeSharedPlugin.d.ts
  declarations/plugins/sharing/ProvideSharedPlugin.d.ts
  declarations/plugins/sharing/SharePlugin.d.ts
  examples/module-federation/README.md
  lib/sharing/ConsumeSharedModule.js
  lib/sharing/ConsumeSharedPlugin.js
  lib/sharing/ConsumeSharedRuntimeModule.js
  lib/sharing/ProvideSharedModule.js
  lib/sharing/ProvideSharedPlugin.js
  lib/sharing/ShareRuntimeModule.js
  lib/sharing/utils.js
  lib/util/semver.js
  schemas/_sharing.json
  schemas/plugins/container/ModuleFederationPlugin.json
  schemas/plugins/sharing/ConsumeSharedPlugin.json
  schemas/plugins/sharing/ProvideSharedPlugin.json
  schemas/plugins/sharing/SharePlugin.json
  test/PersistentCaching.test.js
  test/SemVer.unittest.js
  test/configCases/container/2-container-full/index.js
  test/configCases/container/container-entry-overridables/index.js
  test/configCases/container/container-reference-override/test.config.js
  test/configCases/sharing/consume-module/index.js
  test/configCases/sharing/consume-module/webpack.config.js
  test/configCases/sharing/consume-multiple-versions/index.js
  test/configCases/sharing/consume-multiple-versions/package.json
  test/configCases/sharing/consume-multiple-versions/warnings.js
  test/configCases/sharing/provide-module/index.js
  test/configCases/sharing/provide-module/webpack.config.js
  test/configCases/sharing/provide-multiple-versions/index.js
  test/configCases/sharing/provide-multiple-versions/package.json
  test/configCases/sharing/provide-multiple-versions/webpack.config.js
  test/watchCases/sharing/provide-unsafe-cache/0/index.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11134 add error when trying to write assets that only differ in casing
  lib/Compiler.js
  test/configCases/errors/case-emit/errors.js
  test/configCases/errors/case-emit/index.js
  test/configCases/errors/case-emit/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11135 CI stability
  lib/Compiler.js
  lib/MultiCompiler.js
  lib/WatchIgnorePlugin.js
  lib/node/NodeWatchFileSystem.js
  lib/util/fs.js
  test/MultiCompiler.test.js
  test/PersistentCaching.test.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11138 reorder azure pipeline to run slower tests first
  azure-pipelines.yml
Labels: PR: CI-ok, PR: unreviewed

#11136 Avoid tracking/printing detailed usage info for modules without exportsType
  lib/ContextModule.js
  lib/ExternalModule.js
  lib/FlagDependencyUsagePlugin.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/ModuleInfoHeaderPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11133 handle case when no snapshot can be created in ResolverCachePlugin
  lib/cache/ResolverCachePlugin.js
  test/WatchTestCases.test.js
  test/watchCases/snapshot/unable-to-snapshot/0/index.js
  test/watchCases/snapshot/unable-to-snapshot/0/node_modules/package/changing-file.js
  test/watchCases/snapshot/unable-to-snapshot/0/node_modules/package/index.js
  test/watchCases/snapshot/unable-to-snapshot/1/node_modules/package/changing-file.js
  test/watchCases/snapshot/unable-to-snapshot/2/node_modules/package/changing-file.js
  test/watchCases/snapshot/unable-to-snapshot/webpack.config.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11132 fix(cli): improve processing of number type arguments
  lib/cli.js
  test/Cli.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#11137 disable used exports optimization in development
  lib/config/defaults.js
  lib/dependencies/ExportsInfoDependency.js
  test/Defaults.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/chunks/inline-options/index.js
  test/cases/inner-graph/circular/index.js
  test/cases/inner-graph/export-default-named/index.js
  test/cases/inner-graph/extend-class/index.js
  test/cases/inner-graph/extend-class2/index.js
  test/cases/inner-graph/reexport-namespace-and-default/index.js
  test/cases/inner-graph/simple/index.js
  test/cases/parsing/harmony-deep-exports/index.js
  test/cases/parsing/harmony-export-import-specifier/index.js
  test/cases/side-effects/dynamic-reexports/dedupe-target-with-side/a.js
  test/hotCases/unexpected-invalidation/used-exports/index.js
  test/hotCases/unexpected-invalidation/used-exports/module.js
  test/hotCases/unexpected-invalidation/used-exports/subject.js
Labels: PR: CI-ok, PR: unreviewed

#11131 ignore linking errors when the imported module has errors
  lib/Module.js
  lib/dependencies/HarmonyImportDependency.js
  test/hotCases/recover/recover-after-loader-error/warnings1.js
  test/hotCases/recover/recover-after-parsing-error/warnings1.js
  test/watchCases/recover-from-error/parse-failed-esm/0/errors.js
  test/watchCases/recover-from-error/parse-failed-esm/0/index.js
  test/watchCases/recover-from-error/parse-failed-esm/0/node_modules/some-module/index.js
  test/watchCases/recover-from-error/parse-failed-esm/0/node_modules/test-module/index.js
  test/watchCases/recover-from-error/parse-failed-esm/1/node_modules/some-module/index.js
  test/watchCases/recover-from-error/parse-failed-esm/2/errors.js
  test/watchCases/recover-from-error/parse-failed-esm/2/node_modules/some-module/index.js
  test/watchCases/recover-from-error/parse-failed-esm/3/node_modules/some-module/index.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11143 add roots option
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  package.json
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#11144 providing module do not override already loaded modules
  lib/sharing/ShareRuntimeModule.js
  test/configCases/sharing/no-override-loaded/index.js
  test/configCases/sharing/no-override-loaded/node_modules/package/index.js
  test/configCases/sharing/no-override-loaded/node_modules/package/package.json
  test/configCases/sharing/no-override-loaded/package.json
  test/configCases/sharing/no-override-loaded/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11166 Http2 defaults for splitChunks
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/split-chunks-keep-remaining-size/d.js
  test/statsCases/split-chunks-keep-remaining-size/index.js
  test/statsCases/split-chunks-keep-remaining-size/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11165 Fixed typo
  lib/ModuleNotFoundError.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#11168 splitChunks improvements
  declarations/WebpackOptions.d.ts
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.json
  test/Validation.test.js
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#11170 docs: fix grammar
  CONTRIBUTING.md
Labels: PR: CI-ok, PR: unreviewed

#11160 Improve cleverMerge to respect byDependency order correctly
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/ContextModuleFactory.js
  lib/ResolverFactory.js
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/dependencies/RequireContextPlugin.js
  lib/util/cleverMerge.js
  lib/util/deprecation.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  test/cleverMerge.unittest.js
  test/configCases/context-replacement/e/index.js
  test/configCases/context-replacement/e/new-context/modules/error.js
  test/configCases/context-replacement/e/new-context/modules/replaced.js
  test/configCases/context-replacement/e/webpack.config.js
  test/configCases/resolve-merging/override/aaa.js
  test/configCases/resolve-merging/override/bbb.js
  test/configCases/resolve-merging/override/ccc.js
  test/configCases/resolve-merging/override/ddd.js
  test/configCases/resolve-merging/override/index.js
  test/configCases/resolve-merging/override/loader.js
  test/configCases/resolve-merging/override/node_modules/byDependency.js
  test/configCases/resolve-merging/override/node_modules/ok.js
  test/configCases/resolve-merging/override/node_modules/package2/default.js
  test/configCases/resolve-merging/override/node_modules/package2/import.js
  test/configCases/resolve-merging/override/node_modules/package2/index.js
  test/configCases/resolve-merging/override/node_modules/package2/package.json
  test/configCases/resolve-merging/override/node_modules/package2/require.js
  test/configCases/resolve-merging/override/node_modules/package2/style.js
  test/configCases/resolve-merging/override/package/index.js
  test/configCases/resolve-merging/override/package/main.js
  test/configCases/resolve-merging/override/package/module.js
  test/configCases/resolve-merging/override/package/other.js
  test/configCases/resolve-merging/override/package/package.json
  test/configCases/resolve-merging/override/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11093 fix: multiple calls close watcher
  lib/Watching.js
  test/WatchClose.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#10776 Backport #10773 to webpack 4
  lib/RecordIdsPlugin.js
  test/HotTestCases.test.js
  test/__snapshots__/ConfigTestCases.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/hotCases/chunks/split-chunks/index.js
  test/hotCases/chunks/split-chunks/node_modules/vendor.js
  test/hotCases/chunks/split-chunks/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: webpack-4

#11177 call invalid hook also when manually invalidating watching
  lib/Compiler.js
  lib/MultiCompiler.js
  lib/Watching.js
  test/Compiler.test.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11179 add test case for watching in production
  test/watchCases/simple/production/0/changing-file.js
  test/watchCases/simple/production/0/changing-module.js
  test/watchCases/simple/production/0/index.js
  test/watchCases/simple/production/1/changing-file.js
  test/watchCases/simple/production/1/changing-module.js
  test/watchCases/simple/production/2/changing-file.js
  test/watchCases/simple/production/2/changing-module.js
  test/watchCases/simple/production/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11193 deprecate optimization.noEmitOnErrors in favor of optimization.emitOnErrors
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/validateSchema.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/split-chunks/entry-point-error/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11205 watch test cases: close correctly, increase timeout
  test/WatchTestCases.test.js
Labels: PR: CI-ok, PR: unreviewed

#11191 use content hashes for assets
  lib/Compilation.js
  lib/HotModuleReplacementPlugin.js
  lib/Template.js
  lib/TemplatedPathPlugin.js
  lib/asset/AssetGenerator.js
  lib/asset/AssetModulesPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/asset-modules/_images/file_copy.png
  test/configCases/asset-modules/real-content-hash/index.js
  test/configCases/asset-modules/real-content-hash/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11188 improve compatibly with node.js ESM
  declarations/WebpackOptions.d.ts
  lib/ContextModule.js
  lib/ModuleFactory.js
  lib/NormalModuleFactory.js
  lib/config/defaults.js
  lib/dependencies/RequireContextPlugin.js
  lib/rules/DescriptionDataMatcherRulePlugin.js
  lib/rules/RuleSetCompiler.js
  package.json
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/TestCases.template.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/cases/mjs/cjs-import-default/package.json
  test/cases/mjs/esm-by-default/package.json
  test/cases/mjs/namespace-object-lazy/index.mjs
  test/cases/mjs/namespace-object-lazy/package.json
  test/cases/mjs/no-module-main-field/node_modules/m/a.js
  test/cases/mjs/no-module-main-field/node_modules/m/a.mjs
  test/cases/mjs/no-module-main-field/package.json
  test/cases/mjs/type-module/index.js
  test/cases/mjs/type-module/package.json
  test/cases/resolving/data-uri/index.js
  test/configCases/mjs/esm-by-default/webpack.config.js
  test/configCases/plugins/provide-plugin/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#11207 Backport of resolve.roots for webpack 4
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsDefaulter.js
  package.json
  schemas/WebpackOptions.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: webpack-4

#11195 normalize externalsType
  lib/config/normalization.js
Labels: PR: CI-ok, PR: reviewed-approved

#11189 fix: add missing optional peer dependency webpack-cli
  package.json
Labels: PR: CI-ok, PR: unreviewed

#11210 watch test cases: close correctly, increase timeout
  test/WatchTestCases.test.js
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#11211 avoid using deprecated config in test cases
  test/TestCases.template.js
Labels: PR: CI-ok, PR: unreviewed

#11208 add nullish coalescing support
  appveyor.yml
  cspell.json
  lib/ConstPlugin.js
  lib/DefinePlugin.js
  lib/dependencies/CommonJsPlugin.js
  lib/javascript/BasicEvaluatedExpression.js
  lib/javascript/JavascriptParser.js
  lib/javascript/JavascriptParserHelpers.js
  test/cases/parsing/evaluate-nullish/index.js
  test/cases/parsing/evaluate-nullish/test.filter.js
  test/cases/parsing/evaluate/index.js
  test/cases/parsing/nullish-coalescing/a.js
  test/cases/parsing/nullish-coalescing/b.js
  test/cases/parsing/nullish-coalescing/index.js
  test/cases/parsing/nullish-coalescing/test.filter.js
  test/helpers/supportsNullishCoalescing.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#11216 fix: feature_request template
  .github/ISSUE_TEMPLATE/Feature_request.md
Labels: PR: CI-ok, PR: unreviewed

#11225 update watchpack
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#11190 fix: add missing optional peer dependencies
  package.json
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#11244 ignore default export when reexporting a dynamic module
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  test/cases/side-effects/dynamic-reexports/dynamic-reexport-default/dynamic.js
  test/cases/side-effects/dynamic-reexports/dynamic-reexport-default/index.js
  test/cases/side-effects/dynamic-reexports/index.js
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#11180 add test case for watching in production
  test/watchCases/simple/production/0/changing-file.js
  test/watchCases/simple/production/0/changing-module.js
  test/watchCases/simple/production/0/index.js
  test/watchCases/simple/production/1/changing-file.js
  test/watchCases/simple/production/1/changing-module.js
  test/watchCases/simple/production/2/changing-file.js
  test/watchCases/simple/production/2/changing-module.js
  test/watchCases/simple/production/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: webpack-4

#11246 fix digits output of timestamp at 10 o'clock
  lib/stats/DefaultStatsPrinterPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#11245 add test case for bug in webpack 4
  test/cases/side-effects/dynamic-reexports/dynamic-reexport-default/dynamic.js
  test/cases/side-effects/dynamic-reexports/dynamic-reexport-default/index.js
  test/cases/side-effects/dynamic-reexports/index.js
  test/cases/side-effects/dynamic-reexports/warnings.js
Labels: PR: CI-ok, PR: unreviewed

#11251 add size optimization mode to `optimization.mangleExports`
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  lib/optimize/MangleExportsPlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/configCases/mangle/mangle-with-object-prop/commonjs.js
  test/configCases/mangle/mangle-with-object-prop/index.js
  test/configCases/mangle/mangle-with-object-prop/module.js
  test/configCases/mangle/mangle-with-object-prop/test.config.js
  test/configCases/mangle/mangle-with-object-prop/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed
