Repository webpack/webpack, pull requests merged in 2020-03, with the labels that each got.

#10501 chore(deps): update dev deps
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#10492 fix: negative zero for DefinePlugin
  lib/DefinePlugin.js
  lib/javascript/JavascriptParser.js
  test/JavascriptParser.unittest.js
  test/configCases/plugins/define-plugin/index.js
  test/configCases/plugins/define-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#10493 fix :10489 - Backport to webpack 4: wasm: v128 support
  package.json
  test/cases/wasm/v128/index.js
  test/cases/wasm/v128/test.filter.js
  test/cases/wasm/v128/v128.wasm
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: webpack-4

#10500 chore(deps): update eslint plugins
  .eslintrc.js
  lib/Chunk.js
  lib/Dependency.js
  lib/Module.js
  lib/ModuleGraph.js
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: review-outdated

#10514 docs(readme): Inserting Angular Logo in Readme.md
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#10526 chore: fix typos across the project
  lib/AbstractMethodError.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DllModule.js
  lib/ExternalModule.js
  lib/FileSystemInfo.js
  lib/Module.js
  lib/NormalModule.js
  lib/RawModule.js
  lib/ResolverFactory.js
  lib/RuntimeModule.js
  lib/Template.js
  lib/Watching.js
  lib/cache/IdleFileCachePlugin.js
  lib/cache/PackFileCacheStrategy.js
  lib/library/AssignLibraryPlugin.js
  lib/logging/createConsoleLogger.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/LimitChunkCountPlugin.js
  lib/rules/RuleSetCompiler.js
  lib/stats/DefaultStatsPrinterPlugin.js
  test/configCases/concatenate-modules/rename-10168/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#10529 chore(readme): remove Architects.io
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#10527 docs(examples): grammar fixes
  examples/dll-entry-only/README.md
  examples/dll-entry-only/template.md
  examples/externals/README.md
  examples/externals/template.md
Labels: PR: CI-ok, PR: reviewed-approved

#10503 Fix externals interop within SystemLibraryPlugin.
  lib/Dependency.js
  lib/ExternalModule.js
  lib/FlagDependencyExportsPlugin.js
  lib/ModuleGraph.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/StaticExportsDependency.js
  lib/library/SystemLibraryPlugin.js
  lib/wasm/WebAssemblyParser.js
  test/configCases/externals/externals-system/index.js
  test/configCases/externals/externals-system/test.config.js
  test/configCases/externals/externals-system/webpack.config.js
  test/helpers/fakeSystem.js
Labels: PR: CI-ok, PR: reviewed-approved

#10482 feat: `bigint` for the `DefinePlugin` plugin
  lib/DefinePlugin.js
  lib/javascript/BasicEvaluatedExpression.js
  lib/javascript/JavascriptParser.js
  package.json
  test/JavascriptParser.unittest.js
  test/configCases/plugins/define-plugin-bigint/index.js
  test/configCases/plugins/define-plugin-bigint/webpack.config.js
  test/configCases/plugins/define-plugin/index.js
  test/configCases/plugins/define-plugin/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#10531 improve schema descriptions
  declarations/WebpackOptions.d.ts
  declarations/plugins/AssetModulesPluginGenerator.d.ts
  declarations/plugins/AssetModulesPluginParser.d.ts
  declarations/plugins/BannerPlugin.d.ts
  declarations/plugins/DllPlugin.d.ts
  declarations/plugins/DllReferencePlugin.d.ts
  declarations/plugins/IgnorePlugin.d.ts
  declarations/plugins/JsonModulesPluginParser.d.ts
  declarations/plugins/LoaderOptionsPlugin.d.ts
  declarations/plugins/ProgressPlugin.d.ts
  declarations/plugins/SourceMapDevToolPlugin.d.ts
  declarations/plugins/WatchIgnorePlugin.d.ts
  declarations/plugins/ids/OccurrenceChunkIdsPlugin.d.ts
  declarations/plugins/ids/OccurrenceModuleIdsPlugin.d.ts
  declarations/plugins/optimize/AggressiveSplittingPlugin.d.ts
  declarations/plugins/optimize/LimitChunkCountPlugin.d.ts
  declarations/plugins/optimize/MinChunkSizePlugin.d.ts
  schemas/WebpackOptions.json
  schemas/plugins/AssetModulesPluginGenerator.json
  schemas/plugins/AssetModulesPluginParser.json
  schemas/plugins/BannerPlugin.json
  schemas/plugins/DllPlugin.json
  schemas/plugins/DllReferencePlugin.json
  schemas/plugins/IgnorePlugin.json
  schemas/plugins/JsonModulesPluginParser.json
  schemas/plugins/LoaderOptionsPlugin.json
  schemas/plugins/ProgressPlugin.json
  schemas/plugins/SourceMapDevToolPlugin.json
  schemas/plugins/WatchIgnorePlugin.json
  schemas/plugins/ids/OccurrenceChunkIdsPlugin.json
  schemas/plugins/ids/OccurrenceModuleIdsPlugin.json
  schemas/plugins/optimize/AggressiveSplittingPlugin.json
  schemas/plugins/optimize/LimitChunkCountPlugin.json
  schemas/plugins/optimize/MinChunkSizePlugin.json
  test/Schemas.lint.js
  test/Validation.test.js
  test/setupTestFramework.js
Labels: PR: CI-ok, PR: unreviewed

#10547 Fix typos
  lib/stats/DefaultStatsPrinterPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#10569 chore: fix typos, add code of conduct link
  CODE_OF_CONDUCT.md
  test/README.md
Labels: PR: CI-ok, PR: reviewed-approved

#10563 docs(README): update browser-field spec link
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#10557 fix(#10552) remove test/include/exclude from rule set conditions
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
Labels: PR: CI-ok, PR: reviewed-approved

#10554 chore: rephrase test descriptions
  test/Dependencies.lint.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#10580 UPDATE mkdirp
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#10577 docs: enhance CONTRIBUTING.md
  CONTRIBUTING.md
Labels: PR: CI-ok, PR: reviewed-approved

#10596 chore: extend prettier configuration for markdown
  CONTRIBUTING.md
  README.md
  _SETUP.md
  open-bot.yaml
  package.json
Labels: PR: CI-ok, PR: reviewed-approved

#10597 docs(readme): hyperlinking in special thanks section
  README.md
Labels: PR: CI-ok, PR: unreviewed

#10576 docs(README): add link to CONTRIBUTING.md
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#10572 buildChunkGraph code clarification
  lib/buildChunkGraph.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#10515 feat: cli flags
  declarations/WebpackOptions.d.ts
  declarations/plugins/BannerPlugin.d.ts
  declarations/plugins/DllReferencePlugin.d.ts
  declarations/plugins/SourceMapDevToolPlugin.d.ts
  declarations/plugins/WatchIgnorePlugin.d.ts
  lib/cli.js
  lib/index.js
  schemas/WebpackOptions.json
  schemas/plugins/AssetModulesPluginGenerator.json
  schemas/plugins/AssetModulesPluginParser.json
  schemas/plugins/BannerPlugin.json
  schemas/plugins/DllReferencePlugin.json
  schemas/plugins/IgnorePlugin.json
  schemas/plugins/ProgressPlugin.json
  schemas/plugins/SourceMapDevToolPlugin.json
  schemas/plugins/WatchIgnorePlugin.json
  test/Cli.test.js
  test/Schemas.lint.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  tooling/compile-to-definitions.js
  tooling/format-schemas.js
  tsconfig.json
Labels: PR: CI-ok, PR: reviewed-approved

#10621 docs: improve examples
  examples/many-pages/README.md
  examples/many-pages/template.md
  examples/mixed/README.md
  examples/mixed/template.md
  examples/multi-part-library/README.md
  examples/multi-part-library/template.md
  examples/multiple-entry-points/README.md
  examples/multiple-entry-points/template.md
Labels: PR: CI-ok, PR: reviewed-approved

#10591 docs: Grammatical fixes in examples
  examples/extra-async-chunk/README.md
  examples/extra-async-chunk/template.md
  examples/harmony-interop/example.js
  examples/harmony-unused/README.md
  examples/harmony-unused/template.md
  examples/http2-aggressive-splitting/README.md
  examples/http2-aggressive-splitting/template.md
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#10622 fix vm images in azure
  azure-pipelines.yml
Labels: PR: CI-ok, PR: unreviewed, PR: webpack-4

#10571 Update watchpack to the most recent minor version to remove minimist vulnerability.
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: webpack-4

#10627 docs(SETUP): fix code formatting command
  _SETUP.md
Labels: PR: CI-ok, PR: review-outdated

#9119 Exposing System.register _context variable to bundled code.
  lib/APIPlugin.js
  lib/RuntimeGlobals.js
  lib/RuntimePlugin.js
  lib/library/SystemLibraryPlugin.js
  lib/runtime/SystemContextRuntimeModule.js
  test/configCases/target/system-context/index.js
  test/configCases/target/system-context/test.config.js
  test/configCases/target/system-context/webpack.config.js
  test/helpers/fakeSystem.js
Labels: PR: CI-ok, PR: reviewed-approved
