Repository webpack/webpack, pull requests merged in 2020-08, with the labels that each got.

#11253 add useful error messages for runtime and dependsOn
  lib/Compilation.js
  lib/optimize/RuntimeChunkPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/errors/depend-on-and-runtime/a.js
  test/configCases/errors/depend-on-and-runtime/b.js
  test/configCases/errors/depend-on-and-runtime/errors.js
  test/configCases/errors/depend-on-and-runtime/webpack.config.js
  test/statsCases/runtime-chunk-integration/f.js
  test/statsCases/runtime-chunk-integration/main2.js
  test/statsCases/runtime-chunk-integration/main3.js
  test/statsCases/runtime-chunk-integration/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11252 do cache related tasks after calling handler in watching
  lib/Compilation.js
  lib/Compiler.js
  lib/MultiWatching.js
  lib/NormalModule.js
  lib/ProgressPlugin.js
  lib/Watching.js
  lib/cache/IdleFileCachePlugin.js
  test/ProgressPlugin.test.js
  test/configCases/plugins/progress-plugin/index.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11254 Related assets
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/SourceMapDevToolPlugin.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  schemas/WebpackOptions.json
  test/Stats.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/helpers/captureStdio.js
  test/statsCases/context-independence/webpack.config.js
  test/statsCases/related-assets/chunk-style.css
  test/statsCases/related-assets/chunk.js
  test/statsCases/related-assets/index.js
  test/statsCases/related-assets/style.css
  test/statsCases/related-assets/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11259 avoid removing relative path for absolute module directories in context
  lib/dependencies/RequireContextPlugin.js
  test/configCases/context-replacement/e/index.js
  test/configCases/context-replacement/e/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11261 fix script loading problem with multiple parallel runtimes
  lib/runtime/LoadScriptRuntimeModule.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#11260 pass on shareScope in SharePlugin
  lib/sharing/SharePlugin.js
  test/configCases/sharing/share-plugin/index.js
  test/configCases/sharing/share-plugin/node_modules/lib3/index.js
  test/configCases/sharing/share-plugin/node_modules/lib3/package.json
  test/configCases/sharing/share-plugin/package.json
  test/configCases/sharing/share-plugin/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11171 exclude --module-rules-options from schema for cli
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#11209 fix: optimization.emitOnErrors description
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#11265 improve and fix backtracing to root folder from nested directories
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/util/identifier.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  test/configCases/entry/weird-names/chunk.js
  test/configCases/entry/weird-names/index.js
  test/configCases/entry/weird-names/test.config.js
  test/configCases/entry/weird-names/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11267 enable experiments.importAsync by default
  declarations/WebpackOptions.d.ts
  examples/top-level-await/README.md
  examples/top-level-await/UserApi.js
  examples/top-level-await/template.md
  examples/top-level-await/webpack.config.js
  examples/wasm-complex/README.md
  examples/wasm-complex/example.js
  examples/wasm-complex/magic.js
  examples/wasm-complex/webpack.config.js
  examples/wasm-simple/README.md
  examples/wasm-simple/example.js
  examples/wasm-simple/math.js
  examples/wasm-simple/template.md
  examples/wasm-simple/webpack.config.js
  lib/WebpackOptionsApply.js
  lib/async-modules/InferAsyncModulesPlugin.js
  lib/config/defaults.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/javascript/JavascriptParser.js
  lib/parsing/importAwaitAcornPlugin.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/TestCases.template.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/async-modules/simple/index.js
  test/cases/async-modules/simple/module.js
  test/cases/async-modules/simple/reexport.js
  test/cases/async-modules/top-level-await-import-async/index.js
  test/cases/async-modules/top-level-await-import-async/module.js
  test/cases/async-modules/top-level-await-import-async/reexport.js
  test/cases/async-modules/top-level-await/index.js
  test/cases/async-modules/top-level-await/reexport.js
  test/cases/wasm/export-imported-global/module.js
  test/cases/wasm/finalize-exports-issue-8261/node_modules/side-effect-free/index.js
  test/cases/wasm/imports-circular/module.js
  test/cases/wasm/imports-multiple/module.js
  test/cases/wasm/imports-multiple/module2.js
  test/cases/wasm/memory/run.js
  test/cases/wasm/order/a.js
  test/cases/wasm/simple/module.js
  test/cases/wasm/two-files-loader/wrapper-loader.js
  test/cases/wasm/two-files-loader/wrapper-loader2.js
  test/cases/wasm/unused-export/module.js
  test/cases/wasm/wasm-explorer-examples-sync/tests.js
  test/configCases/externals/async-externals/webpack.config.js
  test/configCases/inner-graph/blockScopes/module.js
  test/configCases/wasm/identical/module.js
  test/configCases/wasm/identical/webpack.config.js
  test/configCases/wasm/missing-import-async/errors.js
  test/configCases/wasm/missing-import-async/index.js
  test/configCases/wasm/missing-import-async/module.js
  test/configCases/wasm/missing-import-async/test.filter.js
  test/configCases/wasm/missing-import-async/wasm.wat
  test/configCases/wasm/missing-import-async/webpack.config.js
  test/configCases/wasm/wasm-in-initial-chunk-error/webpack.config.js
  test/statsCases/wasm-explorer-examples-sync/tests.js
  test/statsCases/wasm-explorer-examples-sync/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#10457 feat: support `[query]` for asset modules
  lib/TemplatedPathPlugin.js
  lib/asset/AssetGenerator.js
  lib/asset/AssetParser.js
  lib/config/defaults.js
  test/Defaults.unittest.js
  test/configCases/asset-modules/query-and-custom-condition/index.js
  test/configCases/asset-modules/query-and-custom-condition/webpack.config.js
  test/configCases/asset-modules/query-and-custom-encoder/index.js
  test/configCases/asset-modules/query-and-custom-encoder/webpack.config.js
  test/configCases/asset-modules/query/index.js
  test/configCases/asset-modules/query/webpack.config.js
Labels: PR: conflict, PR: unreviewed

#11271 fix: minified versionLt did not match the original function
  lib/util/semver.js
  package.json
  tooling/format-schemas.js
  tooling/generate-runtime-code.js
Labels: PR: CI-ok, PR: reviewed-approved

#11280 added tests around minified runtime versions of semver functions
  test/SemVer.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved

#11281 fix: add the id of runtime chunk to entryInfo #11279
  lib/web/JsonpHelpers.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#11290 upgrade watchpack to beta 14
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#11295 stop testing mac os in node 10 as it's too flanky
  azure-pipelines.yml
Labels: PR: CI-ok, PR: unreviewed

#11294 terser support more stuff so no need to ignore these test cases
  test/cases/parsing/chunks/test.filter.js
  test/cases/parsing/class/test.filter.js
  test/cases/parsing/complex-require/test.filter.js
  test/cases/parsing/es6.nominimize/test.filter.js
  test/cases/parsing/extract-amd.nominimize/test.filter.js
  test/cases/parsing/harmony-tdz/test.filter.js
  test/cases/parsing/issue-2522/test.filter.js
  test/cases/parsing/issue-2523/test.filter.js
  test/cases/parsing/issue-2618/test.filter.js
  test/cases/parsing/issue-2622/test.filter.js
  test/cases/parsing/issue-2895/test.filter.js
  test/cases/parsing/issue-3238/test.filter.js
  test/cases/parsing/issue-3252/test.filter.js
  test/cases/parsing/issue-3273/test.filter.js
  test/cases/parsing/issue-4357/test.filter.js
  test/cases/parsing/issue-4608-2/test.filter.js
  test/cases/parsing/issue-4870/test.filter.js
  test/cases/scope-hoisting/inside-class/test.filter.js
Labels: PR: CI-ok, PR: unreviewed

#11288 add Compilation.deleteAsset
  lib/Compilation.js
  test/configCases/assets/delete-asset/chunk.js
  test/configCases/assets/delete-asset/index.js
  test/configCases/assets/delete-asset/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11221 Feature/optional chaining
  lib/ConstPlugin.js
  lib/javascript/BasicEvaluatedExpression.js
  lib/javascript/JavascriptParser.js
  test/TestCasesProduction.test.js
  test/cases/parsing/optional-chaining/a.js
  test/cases/parsing/optional-chaining/index.js
  test/cases/parsing/optional-chaining/test.filter.js
  test/configCases/parsing/optional-chaining/index.js
  test/configCases/parsing/optional-chaining/test.filter.js
  test/configCases/parsing/optional-chaining/webpack.config.js
  test/helpers/supportsNullishCoalescing.js
  test/helpers/supportsOptionalChaining.js
  test/hotCases/parsing/hot-api-optional-chaining/a.js
  test/hotCases/parsing/hot-api-optional-chaining/index.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11257 add more types
  lib/ChunkTemplate.js
  lib/EvalSourceMapDevToolPlugin.js
  lib/MainTemplate.js
  lib/Module.js
  lib/ModuleBuildError.js
  lib/ModuleDependencyError.js
  lib/ModuleDependencyWarning.js
  lib/ModuleError.js
  lib/ModuleNotFoundError.js
  lib/ModuleWarning.js
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/Parser.js
  lib/Template.js
  lib/dependencies/ConstDependency.js
  lib/dependencies/ContextDependencyHelpers.js
  lib/javascript/JavascriptParser.js
  lib/node/NodeWatchFileSystem.js
  lib/optimize/ConcatenatedModule.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/util/fs.js
  lib/validateSchema.js
  lib/wasm/WasmFinalizeExportsPlugin.js
  lib/wasm/WebAssemblyJavascriptGenerator.js
  package.json
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: review-outdated

#11292 fix(#11283) bug with switch case
  lib/javascript/JavascriptParser.js
  test/cases/parsing/issue-11283/A.js
  test/cases/parsing/issue-11283/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#11306 fix ExternalModule bug
  lib/ExternalModule.js
  lib/util/extractUrlAndGlobal.js
  test/extractUrlAndGlobal.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved

#11308 Update dependencies
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#11323 Performance improvements
  lib/Chunk.js
  lib/Compilation.js
  lib/FlagDependencyExportsPlugin.js
  lib/ProgressPlugin.js
  lib/RuntimeModule.js
  lib/RuntimePlugin.js
  lib/WebpackOptionsApply.js
  lib/buildChunkGraph.js
  lib/cache/IdleFileCachePlugin.js
  lib/cache/PackFileCacheStrategy.js
  lib/cache/ResolverCachePlugin.js
  lib/dependencies/HarmonyDetectionParserPlugin.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/optimize/SplitChunksPlugin.js
  lib/util/StringXor.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#11327 build errors should be errors even for optional modules
  lib/Compilation.js
  lib/container/ContainerEntryDependency.js
  lib/dependencies/RequireContextDependencyParserPlugin.js
  test/cases/parsing/context/errors.js
  test/cases/parsing/context/warnings.js
  test/configCases/parsing/context/errors.js
Labels: PR: CI-ok, PR: unreviewed

#11326 improve error message
  lib/Compiler.js
Labels: PR: CI-ok, PR: unreviewed

#11338 update NodeJS version in readme
  test/README.md
Labels: PR: CI-ok, PR: reviewed-approved

#11336 Another step forward for CommonJS tree shaking
  lib/ContextModule.js
  lib/ExportsInfo.js
  lib/Module.js
  lib/RuntimeGlobals.js
  lib/RuntimeTemplate.js
  lib/config/defaults.js
  lib/dependencies/CommonJsDependencyHelpers.js
  lib/dependencies/CommonJsExportRequireDependency.js
  lib/dependencies/CommonJsExportsDependency.js
  lib/dependencies/CommonJsExportsParserPlugin.js
  lib/dependencies/CommonJsFullRequireDependency.js
  lib/dependencies/CommonJsPlugin.js
  lib/dependencies/CommonJsSelfReferenceDependency.js
  lib/dependencies/DynamicExports.js
  lib/dependencies/HarmonyCompatibilityDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/processExportInfo.js
  lib/javascript/JavascriptParser.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/MangleExportsPlugin.js
  lib/util/internalSerializables.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/cjs-tree-shaking/mjs/cjs-dynamic.js
  test/cases/cjs-tree-shaking/mjs/cjs-flagged.js
  test/cases/cjs-tree-shaking/mjs/cjs.js
  test/cases/cjs-tree-shaking/mjs/index.js
  test/cases/cjs-tree-shaking/mjs/index.mjs
  test/cases/cjs-tree-shaking/reexports/add-to-counter.js
  test/cases/cjs-tree-shaking/reexports/counter.js
  test/cases/cjs-tree-shaking/reexports/index.js
  test/cases/cjs-tree-shaking/reexports/reexport-property-exports.js
  test/cases/cjs-tree-shaking/reexports/reexport-property-module-exports.js
  test/cases/cjs-tree-shaking/reexports/reexport-reexport-exports.js
  test/cases/cjs-tree-shaking/reexports/reexport-reexport-module-exports.js
  test/cases/cjs-tree-shaking/reexports/reexport-whole-exports.js
  test/cases/cjs-tree-shaking/reexports/reexport-whole-module-exports.js
  test/cases/cjs-tree-shaking/reexports/reexport.js
  test/statsCases/common-libs/react.js
  test/statsCases/common-libs/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11339 calculate real content hash for assets after asset processing
  cspell.json
  declarations/WebpackOptions.d.ts
  lib/CacheFacade.js
  lib/Compilation.js
  lib/SourceMapDevToolPlugin.js
  lib/TemplatedPathPlugin.js
  lib/WebpackOptionsApply.js
  lib/cache/mergeEtags.js
  lib/config/defaults.js
  lib/optimize/RealContentHashPlugin.js
  schemas/WebpackOptions.json
  test/ConfigTestCases.template.js
  test/Defaults.unittest.js
  test/Validation.test.js
  test/WatchTestCases.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/source-map/source-map-filename-contenthash/index.js
  test/configCases/source-map/source-map-filename-contenthash/webpack.config.js
  test/statsCases/real-content-hash/a/file.jpg
  test/statsCases/real-content-hash/a/file.png
  test/statsCases/real-content-hash/a/index.js
  test/statsCases/real-content-hash/a/lazy.js
  test/statsCases/real-content-hash/a/module.js
  test/statsCases/real-content-hash/b/file.jpg
  test/statsCases/real-content-hash/b/file.png
  test/statsCases/real-content-hash/b/index.js
  test/statsCases/real-content-hash/b/lazy.js
  test/statsCases/real-content-hash/b/module.js
  test/statsCases/real-content-hash/test.config.js
  test/statsCases/real-content-hash/webpack.config.js
  test/watchCases/long-term-caching/issue-8766-with-cache/0/index.js
  test/watchCases/long-term-caching/issue-8766-with-cache/0/other-chunk.js
  test/watchCases/long-term-caching/issue-8766-with-cache/0/shared.js
  test/watchCases/long-term-caching/issue-8766-with-cache/1/index.js
  test/watchCases/long-term-caching/issue-8766-with-cache/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11333 add output.charset option
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  lib/config/normalization.js
  lib/runtime/LoadScriptRuntimeModule.js
  lib/web/JsonpTemplatePlugin.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/output/charset/chunk1.js
  test/configCases/output/charset/index.js
  test/configCases/output/charset/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested, PR: tests-needed

#11343 remove unused code
  lib/MainTemplate.js
  lib/index.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/web/JsonpTemplatePlugin.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11342 fixes #11337
  lib/optimize/SplitChunksPlugin.js
  test/configCases/split-chunks/issue-11337/a.js
  test/configCases/split-chunks/issue-11337/b.js
  test/configCases/split-chunks/issue-11337/index.js
  test/configCases/split-chunks/issue-11337/module1.js
  test/configCases/split-chunks/issue-11337/module2.js
  test/configCases/split-chunks/issue-11337/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11345 Partial caching, expose webpack-sources
  lib/cache/PackFileCacheStrategy.js
  lib/index.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11346 expose missing target plugins
  lib/WebpackOptionsApply.js
  lib/electron/ElectronTargetPlugin.js
  lib/index.js
  lib/node/NodeSourcePlugin.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11349 accept Source-like objects in assets and cache sources for RealContentHashPlugin
  declarations.d.ts
  lib/optimize/RealContentHashPlugin.js
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/real-content-hash/test.config.js
  test/statsCases/real-content-hash/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#11302 Upgrade terser-webpack-plugin major
  .travis.yml
  lib/FileSystemInfo.js
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/custom-terser/a.js
  test/statsCases/custom-terser/index.js
  test/statsCases/custom-terser/webpack.config.js
  test/statsCases/filter-warnings/a.js
  test/statsCases/filter-warnings/index.js
  test/statsCases/filter-warnings/webpack.config.js
  test/statsCases/warnings-terser/a.js
  test/statsCases/warnings-terser/index.js
  yarn.lock
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11354 Move `generator` control from suffix to prefix
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  test/cases/parsing/issue-11353/async_generator_function.js
  test/cases/parsing/issue-11353/generator_function.js
  test/cases/parsing/issue-11353/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#11360 chore(badge): update to packagephobia.com
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#11299 feat: evaluate new RegExp
  lib/javascript/BasicEvaluatedExpression.js
  lib/javascript/JavascriptParser.js
  test/JavascriptParser.unittest.js
  test/cases/parsing/evaluate/index.js
  test/cases/parsing/evaluate/regexp/a.filtered.js
  test/cases/parsing/evaluate/regexp/a.js
Labels: PR: CI-ok, PR: reviewed-approved

#11369 Persistent Caching performance improvements and logging for large builds
  declarations.d.ts
  lib/Compilation.js
  lib/Compiler.js
  lib/ContextModule.js
  lib/DefinePlugin.js
  lib/FileSystemInfo.js
  lib/Module.js
  lib/NormalModule.js
  lib/ProgressPlugin.js
  lib/cache/PackFileCacheStrategy.js
  lib/cache/ResolverCachePlugin.js
  lib/dependencies/LoaderPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/serialization/BinaryMiddleware.js
  lib/util/LazySet.js
  lib/util/internalSerializables.js
  lib/util/registerExternalSerializer.js
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/watchCases/cache/child-compilation-cache/0/index.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#11379 add "snapshot" configuration to allow to configure how snapshots are created
  declarations/WebpackOptions.d.ts
  lib/ContextModule.js
  lib/FileSystemInfo.js
  lib/NormalModule.js
  lib/WebpackOptionsApply.js
  lib/cache/PackFileCacheStrategy.js
  lib/cache/ResolverCachePlugin.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/validateSchema.js
  schemas/WebpackOptions.json
  test/ConfigCacheTestCases.test.js
  test/ConfigTestCases.template.js
  test/Defaults.unittest.js
  test/TestCasesCachePack.test.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/fixtures/buildDependencies/run.js
  test/watchCases/cache/managedPath/webpack.config.js
  test/watchCases/snapshot/unable-to-snapshot/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#11381 cache modules even if they are not parsed
  lib/NormalModule.js
Labels: PR: CI-ok, PR: unreviewed

#11329 fix: meta property hook rework
  lib/dependencies/ImportMetaPlugin.js
  lib/javascript/JavascriptParser.js
  test/cases/parsing/meta-property/index.js
  types.d.ts
Labels: PR: CI-ok, PR: review-outdated, PR: tests-needed

#11377 Fix "ModuleNotFound 'module'" error (#6497, #11376)
  lib/node/NodeTargetPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#11370 use bitmask instead of array+set in getMemberExpressionInfo
  lib/index.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/javascript/JavascriptParser.js
  lib/optimize/ConcatenatedModule.js
  test/JavascriptParser.unittest.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested, PR: tests-needed

#11385 Chunk loading method per entrypoint
  cspell.json
  declarations/WebpackOptions.d.ts
  declarations/plugins/container/ContainerPlugin.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  lib/Compiler.js
  lib/EntryOptionPlugin.js
  lib/RuntimeTemplate.js
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/container/ModuleFederationPlugin.js
  lib/index.js
  lib/javascript/ArrayPushCallbackChunkFormatPlugin.js
  lib/javascript/CommonJsChunkFormatPlugin.js
  lib/javascript/EnableChunkLoadingPlugin.js
  lib/library/EnableLibraryPlugin.js
  lib/node/CommonJsChunkLoadingPlugin.js
  lib/node/NodeTemplatePlugin.js
  lib/validateSchema.js
  lib/web/JsonpChunkLoadingPlugin.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/web/JsonpHelpers.js
  lib/web/JsonpTemplatePlugin.js
  lib/webworker/ImportScriptsChunkLoadingPlugin.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  lib/webworker/WebWorkerTemplatePlugin.js
  schemas/WebpackOptions.json
  schemas/plugins/container/ContainerPlugin.json
  schemas/plugins/container/ModuleFederationPlugin.json
  test/Compiler.test.js
  test/ConfigTestCases.template.js
  test/Defaults.unittest.js
  test/Stats.test.js
  test/WatchTestCases.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/hash-length/output-filename/test.config.js
  test/configCases/split-chunks/chunk-filename-delimiter-default/webpack.config.js
  test/configCases/split-chunks/chunk-filename-delimiter/webpack.config.js
  test/configCases/target/chunk-loading-per-entry/chunk.js
  test/configCases/target/chunk-loading-per-entry/test.config.js
  test/configCases/target/chunk-loading-per-entry/web.js
  test/configCases/target/chunk-loading-per-entry/webpack.config.js
  test/configCases/target/chunk-loading-per-entry/webworker.js
  test/configCases/web/unique-jsonp/index.js
  test/hotCases/child-compiler/issue-9706/report-child-assets-loader.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11392 update watchpack
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#11276 feat: url assets
  declarations/WebpackOptions.d.ts
  lib/NormalModuleFactory.js
  lib/RuntimeGlobals.js
  lib/WebpackOptionsApply.js
  lib/asset/AssetGenerator.js
  lib/cli.js
  lib/config/defaults.js
  lib/dependencies/URLDependency.js
  lib/dependencies/URLPlugin.js
  lib/javascript/JavascriptParser.js
  lib/node/CommonJsChunkLoadingPlugin.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/util/internalSerializables.js
  lib/web/JsonpChunkLoadingPlugin.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/webworker/ImportScriptsChunkLoadingPlugin.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  schemas/WebpackOptions.json
  test/ConfigTestCases.template.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/asset-url/target-node1/index.css
  test/configCases/asset-url/target-node1/index.js
  test/configCases/asset-url/target-node1/webpack.config.js
  test/configCases/asset-url/target-node2/index.css
  test/configCases/asset-url/target-node2/index.js
  test/configCases/asset-url/target-node2/webpack.config.js
  test/configCases/asset-url/target-node3/index.css
  test/configCases/asset-url/target-node3/index.js
  test/configCases/asset-url/target-node3/webpack.config.js
  test/configCases/asset-url/target-web1/index.css
  test/configCases/asset-url/target-web1/index.js
  test/configCases/asset-url/target-web1/webpack.config.js
  test/configCases/asset-url/target-web2/a.js
  test/configCases/asset-url/target-web2/index.js
  test/configCases/asset-url/target-web2/webpack.config.js
  test/configCases/asset-url/target-webworker1/index.js
  test/configCases/asset-url/target-webworker1/inner/a.js
  test/configCases/asset-url/target-webworker1/test.config.js
  test/configCases/asset-url/target-webworker1/webpack.config.js
  test/configCases/asset-url/target-webworker2/index.css
  test/configCases/asset-url/target-webworker2/index.js
  test/configCases/asset-url/target-webworker2/webpack.config.js
  test/helpers/FakeDocument.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved
