Repository webpack/webpack, pull requests merged in 2020-06, with the labels that each got.

#10852 Add serialization to DelegatedModule.js and DelegatedSourceDependency.js
  lib/DelegatedModule.js
  lib/DllModule.js
  lib/debug/ProfilingPlugin.js
  lib/dependencies/DelegatedSourceDependency.js
  lib/dependencies/EntryDependency.js
  lib/serialization/DateObjectSerializer.js
  lib/serialization/ObjectMiddleware.js
  lib/util/internalSerializables.js
  package.json
  test/ConfigCacheTestCases.test.js
  test/ConfigTestCases.template.js
  test/ConfigTestCases.test.js
  test/TestCases.template.js
  test/__snapshots__/ConfigCacheTestCases.test.js.snap
  test/configCases/dll-plugin/0-issue-10475/node_modules/test-package/index.js
  test/configCases/library/0-create-library/webpack.config.js
  test/configCases/library/1-use-library/webpack.config.js
  test/configCases/plugins/lib-manifest-plugin/webpack.config.js
  test/configCases/records/issue-295/webpack.config.js
  test/configCases/records/issue-2991/webpack.config.js
  test/configCases/records/issue-7339/webpack.config.js
  test/configCases/records/stable-sort/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#10992 add script external
  cspell.json
  declarations/WebpackOptions.d.ts
  declarations/plugins/container/ContainerReferencePlugin.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  examples/build-common.js
  examples/module-federation/README.md
  examples/module-federation/build.js
  examples/module-federation/index.html
  examples/module-federation/src-b/Component.js
  examples/module-federation/src-c/Component.js
  examples/module-federation/src-c/LazyComponent.js
  examples/module-federation/src/App.js
  examples/module-federation/src/bootstrap.js
  examples/module-federation/src/index.js
  examples/module-federation/template.md
  examples/module-federation/webpack.config.js
  lib/Compilation.js
  lib/ExternalModule.js
  lib/RuntimeGlobals.js
  lib/RuntimePlugin.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/container/ModuleFederationPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/runtime/LoadScriptRuntimeModule.js
  lib/sharing/ProvideModule.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/web/JsonpTemplatePlugin.js
  package.json
  schemas/WebpackOptions.json
  schemas/plugins/container/ContainerReferencePlugin.json
  schemas/plugins/container/ModuleFederationPlugin.json
  test/HotTestCases.template.js
  test/Stats.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/container/module-federation/webpack.config.js
  test/configCases/web/attach-existing/chunk.js
  test/configCases/web/attach-existing/index.js
  test/configCases/web/attach-existing/webpack.config.js
  test/configCases/web/prefetch-preload/index.js
  test/configCases/web/retry-failed-import/index.js
  test/helpers/FakeDocument.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#10994 Fix mistaken typings.
  lib/Stats.js
Labels: PR: CI-ok, PR: reviewed-approved

#10984 BannerPlugin: remove unnecessary code
  lib/BannerPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#11003 chore(Compilation EntryData includeDependencies):
  lib/Compilation.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#10964 Lazy loading only required exports from dynamic import()
  .eslintrc.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/ContextModuleFactory.js
  lib/Dependency.js
  lib/FlagDependencyUsagePlugin.js
  lib/dependencies/CommonJsFullRequireDependency.js
  lib/dependencies/CommonJsSelfReferenceDependency.js
  lib/dependencies/ContextElementDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/ImportDependenciesBlock.js
  lib/dependencies/ImportDependency.js
  lib/dependencies/ImportEagerDependency.js
  lib/dependencies/ImportParserPlugin.js
  lib/dependencies/ImportWeakDependency.js
  lib/dependencies/ModuleDecoratorDependency.js
  lib/dependencies/RequireIncludeDependency.js
  lib/dependencies/RequireResolveDependency.js
  lib/dependencies/WebAssemblyExportImportedDependency.js
  lib/dependencies/WebAssemblyImportDependency.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/util/internalSerializables.js
  lib/wasm/WasmFinalizeExportsPlugin.js
  test/cases/chunks/inline-options/dir12/a.js
  test/cases/chunks/inline-options/dir13/a.js
  test/cases/chunks/inline-options/dir13/b.js
  test/cases/chunks/inline-options/index.js
  test/configCases/deep-scope-analysis/remove-export-scope-hoisting/webpack.config.js
  test/configCases/deep-scope-analysis/remove-export/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: review-outdated

#11035 fix(hmr): Prevent retrieving properties in undefined object in jsHMR
  lib/hmr/JavascriptHotModuleReplacement.runtime.js
  test/hotCases/runtime/self-accept-factory/a.js
  test/hotCases/runtime/self-accept-factory/b.js
  test/hotCases/runtime/self-accept-factory/hot.js
  test/hotCases/runtime/self-accept-factory/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#11065 avoid collision in `data-webpack` by adding the uniqueName
  lib/runtime/LoadScriptRuntimeModule.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/web/attach-existing/index.js
  test/configCases/web/attach-existing/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11060 rename module federation classes for be more specific
  lib/container/ContainerEntryDependency.js
  lib/container/FallbackDependency.js
  lib/sharing/ConsumeSharedFallbackDependency.js
  lib/sharing/ConsumeSharedModule.js
  lib/sharing/ConsumeSharedPlugin.js
  lib/sharing/ProvideForSharedDependency.js
  lib/sharing/ProvideSharedDependency.js
  lib/sharing/ProvideSharedModule.js
  lib/sharing/ProvideSharedModuleFactory.js
  lib/sharing/ProvideSharedPlugin.js
  lib/util/internalSerializables.js
Labels: PR: CI-ok, PR: unreviewed

#11059 make sure that the callback function in module.hot.accept is parsed
  lib/HotModuleReplacementPlugin.js
  test/hotCases/define/issue-6962/a.js
  test/hotCases/define/issue-6962/module.js
Labels: PR: CI-ok, PR: unreviewed

#10929 (deps) apply yarn deduplicate on yarn.lock & add validation
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#10719 Implement Data URI imports
  declarations/WebpackOptions.d.ts
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/config/defaults.js
  lib/util/DataURI.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/cases/resolving/data-uri/index.js
  test/cases/resolving/data-uri/module-with-imports.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#11070 Feature/split chunk improvements
  lib/config/defaults.js
  lib/optimize/SplitChunksPlugin.js
  lib/util/deterministicGrouping.js
  test/Defaults.unittest.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/split-chunks/chunk-filename-delimiter-default/b.js
  test/configCases/split-chunks/chunk-filename-delimiter-default/index.js
  test/configCases/split-chunks/chunk-filename-delimiter/index.js
  test/configCases/split-chunks/max-size-casing/chunk.js
  test/configCases/split-chunks/max-size-casing/file-A2.js
  test/configCases/split-chunks/max-size-casing/file-B2.js
  test/configCases/split-chunks/max-size-casing/file-a1.js
  test/configCases/split-chunks/max-size-casing/file-b1.js
  test/configCases/split-chunks/max-size-casing/index.js
  test/configCases/split-chunks/max-size-casing/test.config.js
  test/configCases/split-chunks/max-size-casing/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11085 fix missing provide module in incremental build
  lib/NormalModuleFactory.js
  lib/sharing/ProvideSharedPlugin.js
  test/watchCases/sharing/provide-unsafe-cache/0/index.js
  test/watchCases/sharing/provide-unsafe-cache/0/node_modules/package/index.js
  test/watchCases/sharing/provide-unsafe-cache/0/node_modules/package/package.json
  test/watchCases/sharing/provide-unsafe-cache/0/unrelated.js
  test/watchCases/sharing/provide-unsafe-cache/1/unrelated.js
  test/watchCases/sharing/provide-unsafe-cache/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11090 return preset normal for stats true
  lib/config/normalization.js
  test/Defaults.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed

#11087 join asset info flags correctly
  lib/stats/DefaultStatsPrinterPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#11086 add support for non-js chunks in entrypoints
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/web/JsonpHelpers.js
  lib/web/JsonpTemplatePlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/web/non-js-chunks-entrypoint/index.js
  test/configCases/web/non-js-chunks-entrypoint/node_modules/other-package/index.js
  test/configCases/web/non-js-chunks-entrypoint/node_modules/other-package/package.json
  test/configCases/web/non-js-chunks-entrypoint/node_modules/package/index.js
  test/configCases/web/non-js-chunks-entrypoint/node_modules/package/package.json
  test/configCases/web/non-js-chunks-entrypoint/test.config.js
  test/configCases/web/non-js-chunks-entrypoint/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11078 fix: some typos
  examples/module-federation/README.md
  examples/module-federation/index.html
  test/configCases/container/container-entry-overridables/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#11098 allow runtimeChunk with node targets
  lib/RuntimeGlobals.js
  lib/WebpackOptionsApply.js
  lib/node/NodeTemplatePlugin.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/runtime/StartupChunkDependenciesPlugin.js
  lib/runtime/StartupChunkDependenciesRuntimeModule.js
  lib/runtime/StartupEntrypointRuntimeModule.js
  lib/webworker/WebWorkerTemplatePlugin.js
  test/configCases/split-chunks/runtime-chunk-async-node/a.js
  test/configCases/split-chunks/runtime-chunk-async-node/b.js
  test/configCases/split-chunks/runtime-chunk-async-node/c.js
  test/configCases/split-chunks/runtime-chunk-async-node/shared.js
  test/configCases/split-chunks/runtime-chunk-async-node/test.config.js
  test/configCases/split-chunks/runtime-chunk-async-node/webpack.config.js
  test/configCases/split-chunks/runtime-chunk-node/a.js
  test/configCases/split-chunks/runtime-chunk-node/b.js
  test/configCases/split-chunks/runtime-chunk-node/c.js
  test/configCases/split-chunks/runtime-chunk-node/shared.js
  test/configCases/split-chunks/runtime-chunk-node/test.config.js
  test/configCases/split-chunks/runtime-chunk-node/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#11084 rename jsonScriptType to scriptType
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  lib/config/normalization.js
  lib/runtime/LoadScriptRuntimeModule.js
  lib/web/JsonpTemplatePlugin.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved, PR: tests-needed
