Repository webpack/webpack, pull requests merged in 2021-02, with the labels that each got.

#12550 fix typo in validateScema.js
  lib/validateSchema.js
Labels: PR: CI-ok, PR: reviewed-approved

#12555 Fix new Worker() compatibility check in unit tests for older node versions
  test/helpers/supportsWorker.js
Labels: PR: CI-ok, PR: reviewed-approved

#12519 Fix lazy compilation ignoring the 'client' configuration option
  lib/hmr/lazyCompilationBackend.js
Labels: PR: CI-ok, PR: reviewed-approved

#12551 docs: remove deprecated loaders and plugins
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#12538 Replace pkg-dir with custom lookup
  lib/config/defaults.js
  package.json
Labels: PR: CI-ok, PR: reviewed-approved

#12553 Add new options for lazyCompilation: imports and test
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  lib/hmr/LazyCompilationPlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/hotCases/lazy-compilation/module-test/index.js
  test/hotCases/lazy-compilation/module-test/moduleA.js
  test/hotCases/lazy-compilation/module-test/moduleB.js
  test/hotCases/lazy-compilation/module-test/webpack.config.js
  test/hotCases/lazy-compilation/only-entries/index.js
  test/hotCases/lazy-compilation/only-entries/module.js
  test/hotCases/lazy-compilation/only-entries/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#11561 (feat): add output.clean
  declarations/WebpackOptions.d.ts
  lib/CleanPlugin.js
  lib/WebpackOptionsApply.js
  lib/config/normalization.js
  lib/index.js
  lib/util/fs.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/clean/dry/index.js
  test/configCases/clean/dry/webpack.config.js
  test/configCases/clean/enabled/index.js
  test/configCases/clean/enabled/readdir.js
  test/configCases/clean/enabled/webpack.config.js
  test/configCases/clean/ignore-fn/index.js
  test/configCases/clean/ignore-fn/webpack.config.js
  test/configCases/clean/ignore-hook/index.js
  test/configCases/clean/ignore-hook/webpack.config.js
  test/configCases/clean/ignore-rx/index.js
  test/configCases/clean/ignore-rx/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: review-outdated

#12557 log out module profile summary when profiling is enabled
  cspell.json
  lib/Compilation.js
  lib/FlagDependencyUsagePlugin.js
  lib/ModuleProfile.js
  lib/ProgressPlugin.js
  lib/util/ArrayQueue.js
  lib/util/AsyncQueue.js
  lib/util/ParallelismFactorCalculator.js
  test/__snapshots__/StatsTestCases.test.js.snap
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#12565 fix #12562
  lib/util/runtime.js
  test/configCases/entry/issue-12562/app.js
  test/configCases/entry/issue-12562/home.js
  test/configCases/entry/issue-12562/log.js
  test/configCases/entry/issue-12562/test.config.js
  test/configCases/entry/issue-12562/test.js
  test/configCases/entry/issue-12562/webpack.config.js
Labels: PR: unreviewed

#12576 fix allocation sizes in BinaryMiddleware
  lib/serialization/BinaryMiddleware.js
  test/BinaryMiddleware.unittest.js
Labels: PR: CI-ok, PR: unreviewed

#12567 Fix module rebuilds that add new dependencies
  lib/Compilation.js
  test/configCases/rebuild/rebuildWithNewDependencies/a.js
  test/configCases/rebuild/rebuildWithNewDependencies/index.js
  test/configCases/rebuild/rebuildWithNewDependencies/loader.js
  test/configCases/rebuild/rebuildWithNewDependencies/other-file.js
  test/configCases/rebuild/rebuildWithNewDependencies/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#12575 exclude ModuleProfile from snapshot as it's not deterministic
  test/StatsTestCases.test.js
Labels: PR: CI-not-ok, PR: unreviewed

#12591 fix caching of asset modules
  lib/Generator.js
  lib/NormalModule.js
  lib/asset/AssetGenerator.js
  lib/asset/AssetModulesPlugin.js
  lib/cache/IdleFileCachePlugin.js
  test/watchCases/cache/asset-modules/0/file.txt
  test/watchCases/cache/asset-modules/0/index.js
  test/watchCases/cache/asset-modules/0/other.txt
  test/watchCases/cache/asset-modules/1/file.txt
  test/watchCases/cache/asset-modules/1/other.txt
  types.d.ts
Labels: PR: unreviewed

#12228 fix: add typings for DefaultStatsFactoryPlugin, Stats, and MultiStats
  lib/MultiStats.js
  lib/Stats.js
  lib/index.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  lib/stats/StatsPrinter.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12602 add `__webpack_base_uri__` to change base URI at runtime
  lib/APIPlugin.js
  lib/RuntimePlugin.js
  test/configCases/asset-modules/base-uri/index.js
  test/configCases/asset-modules/base-uri/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#12601 Show error details automatically when only 2 or less errors are there
  declarations/WebpackOptions.d.ts
  lib/ModuleDependencyError.js
  lib/ModuleDependencyWarning.js
  lib/NoModeWarning.js
  lib/dependencies/HarmonyImportDependency.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  schemas/WebpackOptions.json
  test/Errors.test.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/details-error/index.js
  test/statsCases/details-error/webpack.config.js
  test/statsCases/module-trace-disabled-in-error/webpack.config.js
  test/statsCases/module-trace-enabled-in-error/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12604 fix infinite loop in defaulting
  lib/config/defaults.js
  test/Defaults.unittest.js
Labels: PR: CI-ok, PR: unreviewed

#12620 fix json related tree shaking and caching problems
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/json/JsonGenerator.js
  lib/serialization/ObjectMiddleware.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/json/weird-properties/globals.json
  test/cases/json/weird-properties/index.js
  test/cases/parsing/harmony-deep-exports/index.js
  test/configCases/json/tree-shaking-default/data.json
  test/configCases/json/tree-shaking-default/index.js
  test/statsCases/common-libs/react.js
Labels: PR: CI-ok, PR: unreviewed

#12622 run tests on node 15
  azure-pipelines.yml
  test/cases/parsing/logical-assignment/module.js
Labels: PR: CI-ok, PR: unreviewed

#12627 github actions
  .github/workflows/test.yml
Labels: PR: CI-ok, PR: unreviewed

#12631 add some better hints when resolving fails
  lib/NormalModuleFactory.js
  test/cases/errors/module-request/dependency.js
  test/cases/errors/module-request/errors.js
  test/cases/errors/module-request/index.js
  test/cases/errors/module-request/module.mjs
Labels: PR: CI-ok, PR: unreviewed

#12648 enforce side-effects on async entries similar to normal entrypoints
  lib/FlagDependencyUsagePlugin.js
  test/configCases/split-chunks/asnyc-entries/chunk.js
  test/configCases/split-chunks/asnyc-entries/index.js
  test/configCases/split-chunks/asnyc-entries/module.js
  test/configCases/split-chunks/asnyc-entries/package.json
  test/configCases/split-chunks/asnyc-entries/test.config.js
  test/configCases/split-chunks/asnyc-entries/test.filter.js
  test/configCases/split-chunks/asnyc-entries/webpack.config.js
  test/configCases/split-chunks/asnyc-entries/worker.js
Labels: PR: unreviewed

#12647 fix crash when all modules of an entrypoint fail resolving and another entrypoint dependOn it
  lib/Compilation.js
  test/configCases/errors/depend-on-error/errors.js
  test/configCases/errors/depend-on-error/index.js
  test/configCases/errors/depend-on-error/webpack.config.js
Labels: PR: unreviewed

#12639 very basic experimental library module
  examples/module/README.md
  examples/module/example.js
  examples/module/webpack.config.js
  lib/ChunkGraph.js
  lib/CodeGenerationResults.js
  lib/ExportsInfo.js
  lib/LibManifestPlugin.js
  lib/Module.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportInitFragment.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/library/AbstractLibraryPlugin.js
  lib/library/AmdLibraryPlugin.js
  lib/library/AssignLibraryPlugin.js
  lib/library/EnableLibraryPlugin.js
  lib/library/ExportPropertyLibraryPlugin.js
  lib/library/JsonpLibraryPlugin.js
  lib/library/ModuleLibraryPlugin.js
  lib/library/SystemLibraryPlugin.js
  lib/runtime/GetChunkFilenameRuntimeModule.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/util/IterableHelpers.js
  lib/util/LazyBucketSortedSet.js
  lib/util/SetHelpers.js
  test/__snapshots__/StatsTestCases.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#10825 Add test for OnlyModule option in resolve.alias
  test/configCases/resolve/only-module/a/1.js
  test/configCases/resolve/only-module/b/2.js
  test/configCases/resolve/only-module/index.js
  test/configCases/resolve/only-module/webpack.config.js
Labels: PR: CI-ok, PR: review-outdated

#12642 Use single-quoted string for marshalled JSON
  lib/json/JsonGenerator.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: review-outdated

#12632 fix: Returning thrown error to prevent unhandled promise
  lib/dependencies/LoaderPlugin.js
  test/cases/errors/load-module-error/a.json
  test/cases/errors/load-module-error/b.json
  test/cases/errors/load-module-error/error-loader.js
  test/cases/errors/load-module-error/errors.js
  test/cases/errors/load-module-error/index.js
  test/cases/errors/load-module-error/loader.js
Labels: PR: CI-ok, PR: review-outdated

#12658 hint about how to show child errors and warnings
  lib/stats/DefaultStatsPrinterPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: unreviewed

#12657 Fix lazy compilation not-supported error message on IE11
  lib/hmr/LazyCompilationPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#12678 only execute loader/require when no serializer is registered yet
  lib/serialization/ObjectMiddleware.js
Labels: PR: CI-ok, PR: unreviewed

#12677 fix #12669
  lib/optimize/InnerGraph.js
  test/configCases/inner-graph/issue-12669-mini/module.js
  test/configCases/inner-graph/issue-12669-mini/webpack.config.js
  test/configCases/inner-graph/issue-12669/module.js
  test/configCases/inner-graph/issue-12669/webpack.config.js
Labels: PR: unreviewed

#12671 MultiCompiler parallelism and dependencies
  lib/MultiCompiler.js
  lib/MultiStats.js
  lib/Watching.js
  lib/stats/DefaultStatsPrinterPlugin.js
  lib/webpack.js
  test/Compiler.test.js
  test/MultiCompiler.test.js
  test/ProgressPlugin.test.js
  test/WatchClose.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/related-assets/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#12680 order runtime chunks correctly for hashing
  lib/Compilation.js
  test/configCases/worker/node-worker/index.js
  test/configCases/worker/node-worker/test.config.js
  test/configCases/worker/node-worker/webpack.config.js
Labels: PR: unreviewed

#12688 fixes for electron target
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/config/target.js
  lib/dependencies/WorkerPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#12695 add `parser.url: "relative"` option
  declarations/WebpackOptions.d.ts
  lib/RuntimeGlobals.js
  lib/RuntimePlugin.js
  lib/dependencies/URLDependency.js
  lib/dependencies/URLPlugin.js
  lib/runtime/RelativeUrlRuntimeModule.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/configCases/asset-url/relative/index.css
  test/configCases/asset-url/relative/index.js
  test/configCases/asset-url/relative/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12692 chore: move unknown word to cspell.json
  cspell.json
  lib/node/NodeTargetPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#12590 export MultiStats type
  lib/index.js
  types.d.ts
Labels: PR: CI-ok, PR: review-outdated

#12710 fix regression when combining library + runtimeChunk + node target
  lib/javascript/CommonJsChunkFormatPlugin.js
  lib/runtime/StartupChunkDependenciesPlugin.js
  test/configCases/library/0-create-library/webpack.config.js
  test/configCases/library/1-use-library/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#12720 Fix module concatenation renaming bug
  lib/optimize/ConcatenatedModule.js
  test/configCases/concatenate-modules/destructuring-assignment-with-default-value-and-variable-collision-nested/config.js
  test/configCases/concatenate-modules/destructuring-assignment-with-default-value-and-variable-collision-nested/index.js
  test/configCases/concatenate-modules/destructuring-assignment-with-default-value-and-variable-collision-nested/module-a.js
  test/configCases/concatenate-modules/destructuring-assignment-with-default-value-and-variable-collision-nested/webpack.config.js
  test/configCases/concatenate-modules/destructuring-assignment-with-default-value-and-variable-collision-simple/config.js
  test/configCases/concatenate-modules/destructuring-assignment-with-default-value-and-variable-collision-simple/index.js
  test/configCases/concatenate-modules/destructuring-assignment-with-default-value-and-variable-collision-simple/module-a.js
  test/configCases/concatenate-modules/destructuring-assignment-with-default-value-and-variable-collision-simple/webpack.config.js
Labels: PR: CI-ok, PR: review-outdated

#12734 adding watching to the list of exported types in types.d.ts
  lib/index.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12744 fix bug where ExportInfo uses inactive connections to find the target of an export
  lib/ExportsInfo.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/cases/side-effects/issue-12570/chunk.js
  test/cases/side-effects/issue-12570/index.js
  test/cases/side-effects/issue-12570/inner-module.js
  test/cases/side-effects/issue-12570/inner-reexport.js
  test/cases/side-effects/issue-12570/module.js
  test/cases/side-effects/issue-12570/package.json
  test/cases/side-effects/issue-12570/reexport.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12745 improve performance of finding modules for concatenation
  lib/optimize/ModuleConcatenationPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#12746 debug logging should be included in stats even if stats.logging is false
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/stats/DefaultStatsFactoryPlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/logging-debug/index.js
  test/statsCases/logging-debug/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12739 Bugfix/fix husky upgrade
  .husky/.gitignore
  .husky/pre-commit
  package.json
  setup/setup.js
Labels: PR: CI-ok, PR: reviewed-approved

#12743 fix logger name
  lib/optimize/ModuleConcatenationPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-not-ok, PR: unreviewed

#12751 unset targets when a harmony star reexport is hidden by another one
  lib/Dependency.js
  lib/ExportsInfo.js
  lib/FlagDependencyExportsPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/util/SetHelpers.js
  test/cases/side-effects/issue-12570-second-try/chunk.js
  test/cases/side-effects/issue-12570-second-try/index.js
  test/cases/side-effects/issue-12570-second-try/inner-module.js
  test/cases/side-effects/issue-12570-second-try/inner-reexport-chain.js
  test/cases/side-effects/issue-12570-second-try/inner-reexport.js
  test/cases/side-effects/issue-12570-second-try/inner-reexport2.js
  test/cases/side-effects/issue-12570-second-try/module.js
  test/cases/side-effects/issue-12570-second-try/package.json
  test/cases/side-effects/issue-12570-second-try/reexport.js
  types.d.ts
Labels: PR: unreviewed

#12752 fix `experiments.lazyCompilation: true`
  lib/WebpackOptionsApply.js
Labels: PR: unreviewed

#12760 improve performance of ModuleConcatenationPlugin
  lib/CaseSensitiveModulesWarning.js
  lib/ChunkGraph.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/ModuleGraphConnection.js
  lib/async-modules/InferAsyncModulesPlugin.js
  lib/ids/OccurrenceModuleIdsPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/optimize/ModuleConcatenationPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  types.d.ts
Labels: PR: unreviewed

#12764 ensure all successful compiled modules are persistent cached
  lib/Compilation.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/util/semver.js
  test/ConfigTestCases.template.js
  test/configCases/rebuild/finishModules/loader.js
  test/configCases/rebuild/finishModules/webpack.config.js
  test/configCases/rebuild/rebuildWithNewDependencies/loader.js
  test/configCases/rebuild/rebuildWithNewDependencies/webpack.config.js
Labels: PR: unreviewed

#12761 Fix letter spelling of missing a 's'
  lib/Compilation.js
Labels: PR: CI-ok, PR: reviewed-approved

#12773 fixes #12769
  lib/optimize/ConcatenatedModule.js
  test/cases/parsing/issue-12769/index.js
  test/cases/parsing/issue-12769/module.js
  test/cases/parsing/issue-12769/other.js
Labels: PR: unreviewed

#12778 MultiCompiler Watching fixes
  lib/MultiCompiler.js
  lib/Watching.js
  lib/node/NodeWatchFileSystem.js
  lib/util/fs.js
  test/MultiCompiler.test.js
  types.d.ts
Labels: PR: unreviewed
