Repository webpack/webpack, pull requests merged in 2021-08, with the labels that each got.

#13877 fix hot/poll, hot/condition, hot/only-dev-server infinity recursion
  hot/only-dev-server.js
  hot/poll.js
  hot/signal.js
Labels: PR: CI-ok, PR: reviewed-approved

#13911 upgrade webpack-sources to 3.2.0
  package.json
  yarn.lock
Labels: PR: CI-not-ok, PR: unreviewed

#13815 bump acorn-import-assertions@1.7.3 and parse import assertions again
  declarations.d.ts
  declarations/WebpackOptions.d.ts
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/config/defaults.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportSideEffectDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/ModuleDependency.js
  lib/javascript/JavascriptParser.js
  lib/rules/ObjectMatcherRulePlugin.js
  package.json
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/cases/json/data/poison
  test/cases/json/data/unknown
  test/cases/json/import-assertions-type-json/errors.js
  test/cases/json/import-assertions-type-json/import-poison.js
  test/cases/json/import-assertions-type-json/index.js
  test/configCases/custom-source-type/localization/index.js
  types.d.ts
  yarn.lock
Labels: PR: CI-not-ok, PR: review-outdated

#13928 limit the number of parallel generated chunks
  lib/Compilation.js
Labels: PR: CI-not-ok, PR: unreviewed

#13932 fix hmr check returning empty array
  hot/only-dev-server.js
  hot/poll.js
  hot/signal.js
  lib/hmr/HotModuleReplacement.runtime.js
Labels: PR: CI-not-ok, PR: unreviewed

#13943 fix indeterminism with splitChunks.maxSize
  lib/optimize/SplitChunksPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#13944 optional modules will not fail the build when bail is set
  lib/Compilation.js
  test/configCases/parsing/optional/index.js
  test/configCases/parsing/optional/warnings.js
  test/configCases/parsing/optional/webpack.config.js
Labels: PR: unreviewed

#13918 fix: chunkHashes typo
  lib/HotModuleReplacementPlugin.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#13948 fix a typo
  declarations/WebpackOptions.d.ts
  declarations/plugins/schemes/HttpUriPlugin.d.ts
  schemas/WebpackOptions.json
  schemas/plugins/schemes/HttpUriPlugin.json
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-not-ok, PR: reviewed-approved

#13961 handle hashbangs in javascript files
  cspell.json
  lib/CompatibilityPlugin.js
  lib/NormalModule.js
  lib/Parser.js
  lib/javascript/JavascriptParser.js
  test/cases/parsing/hashbang/file.js
  test/cases/parsing/hashbang/file.mjs
  test/cases/parsing/hashbang/index.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#13963 improve allocations needed in serialization
  lib/serialization/BinaryMiddleware.js
Labels: PR: unreviewed

#13992 docs: remove deprecated loaders
  README.md
Labels: PR: CI-ok, PR: reviewed-approved

#14007 keep state of chunk loading during hmr updates
  lib/RuntimeGlobals.js
  lib/esm/ModuleChunkLoadingRuntimeModule.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/ReadFileCompileAsyncWasmPlugin.js
  lib/node/ReadFileCompileWasmPlugin.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/wasm-async/AsyncWasmLoadingRuntimeModule.js
  lib/wasm-sync/WasmChunkLoadingRuntimeModule.js
  lib/web/FetchCompileAsyncWasmPlugin.js
  lib/web/FetchCompileWasmPlugin.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  test/HotTestCases.template.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/configCases/library/0-create-library/webpack.config.js
  test/hotCases/chunks/update-chunk-loading-runtime/chunk.js
  test/hotCases/chunks/update-chunk-loading-runtime/index.js
  test/hotCases/chunks/update-chunk-loading-runtime/node_modules/vendor.js
  test/hotCases/chunks/update-chunk-loading-runtime/webpack.config.js
  types.d.ts
Labels: PR: unreviewed

#14019 track and resolve symlinks when reading context timestamps/hashes
  lib/FileSystemInfo.js
  lib/util/fs.js
  test/FileSystemInfo.unittest.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#14009 Pass module to `compilation.addModuleChain()` callback when applicable
  lib/Compilation.js
Labels: PR: CI-ok, PR: reviewed-approved

#13997 fix: exporting async module as library `type: "module"`
  lib/library/ModuleLibraryPlugin.js
  test/configCases/async-library/0-create-library/a.js
  test/configCases/async-library/0-create-library/test.config.js
  test/configCases/async-library/0-create-library/webpack.config.js
  test/configCases/async-library/1-use-library/index.js
  test/configCases/async-library/1-use-library/webpack.config.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#14030 fix crash when trying to snapshot not existing directory
  lib/FileSystemInfo.js
  test/FileSystemInfo.unittest.js
Labels: PR: CI-ok, PR: unreviewed

#14031 make some things context-independent
  lib/EvalSourceMapDevToolPlugin.js
  lib/NormalModule.js
  lib/SourceMapDevToolPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/util/identifier.js
  test/__snapshots__/ConfigCacheTestCases.longtest.js.snap
  test/__snapshots__/ConfigTestCases.basictest.js.snap
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/statsCases/context-independence/test.config.js
  test/statsCases/context-independence/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#13972 fix(utils): avoid reserved property under ES
  lib/util/propertyAccess.js
  package.json
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#14094 copy/read exports from imported async modules later once they are awaited
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  test/cases/async-modules/reexport-unknown/async-unknown.js
  test/cases/async-modules/reexport-unknown/index.js
  test/cases/async-modules/reexport-unknown/reexport-async-unknown.js
  test/cases/async-modules/reexport-unknown/test.js
  test/cases/async-modules/reexport-unknown/unknown.js
Labels: PR: CI-ok, PR: unreviewed

#14095 close watching when closing compiler
  lib/Compiler.js
  lib/Watching.js
  test/MultiCompiler.test.js
Labels: PR: CI-not-ok, PR: unreviewed
