Repository webpack/webpack, pull requests merged in 2021-07, with the labels that each got.

#13674 chore(deps): update `acorn`
  package.json
  yarn.lock
Labels: PR: CI-not-ok, PR: unreviewed

#13680 fix memory leak when using the unsafe cache
  lib/Compiler.js
  lib/NormalModuleFactory.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#13689 fix #13667
  lib/ExternalModule.js
  test/configCases/externals/externals-system/index.js
  test/configCases/externals/externals-system/reexport-external.js
  test/configCases/externals/externals-system/test.config.js
  test/configCases/externals/externals-system/webpack.config.js
Labels: PR: unreviewed

#13672 add cache compression
  cspell.json
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  lib/cache/PackFileCacheStrategy.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/serialization/BinaryMiddleware.js
  lib/serialization/FileMiddleware.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#13708 fixes #13691
  lib/NormalModuleFactory.js
  lib/asset/AssetGenerator.js
  lib/json/JsonGenerator.js
  test/watchCases/cache/unsafe-cache/0/changing-module.js
  test/watchCases/cache/unsafe-cache/0/index.js
  test/watchCases/cache/unsafe-cache/0/proxy-module.js
  test/watchCases/cache/unsafe-cache/0/unchanged-module.js
  test/watchCases/cache/unsafe-cache/0/unchanged-module.json
  test/watchCases/cache/unsafe-cache/0/unchanged-module.svg
  test/watchCases/cache/unsafe-cache/1/changing-module.js
  test/watchCases/cache/unsafe-cache/2/changing-module.js
  test/watchCases/cache/unsafe-cache/webpack.config.js
Labels: PR: CI-not-ok, PR: unreviewed

#13706 allow to disable runtime chunk per entry via `runtime: false`
  declarations/WebpackOptions.d.ts
  declarations/plugins/container/ContainerPlugin.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  lib/FlagDependencyUsagePlugin.js
  lib/container/ContainerPlugin.js
  lib/container/ModuleFederationPlugin.js
  lib/dependencies/WorkerPlugin.js
  lib/optimize/RuntimeChunkPlugin.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  schemas/plugins/container/ContainerPlugin.check.js
  schemas/plugins/container/ContainerPlugin.json
  schemas/plugins/container/ModuleFederationPlugin.check.js
  schemas/plugins/container/ModuleFederationPlugin.json
  test/configCases/container/1-container-full/App.js
  test/configCases/container/1-container-full/webpack.config.js
  test/configCases/runtime/no-runtime-per-entry/index.js
  test/configCases/runtime/no-runtime-per-entry/test.config.js
  test/configCases/runtime/no-runtime-per-entry/webpack.config.js
  types.d.ts
Labels: PR: unreviewed

#13710 fix CI performance issues
  test/Errors.test.js
  test/PersistentCaching.test.js
Labels: PR: unreviewed

#13721 set CI flag in azure pipelines
  azure-pipelines.yml
Labels: PR: unreviewed

#13722 fixes #13719
  lib/rules/RuleSetCompiler.js
  test/cases/mjs/type-null/index.js
  test/cases/mjs/type-null/package.json
Labels: PR: CI-not-ok, PR: unreviewed

#13725 serialize json data as buffer and decode on demand
  lib/json/JsonData.js
  lib/json/JsonGenerator.js
  lib/json/JsonParser.js
  lib/util/internalSerializables.js
Labels: PR: unreviewed

#13720 fix concatenation of module externals
  lib/ExternalModule.js
  lib/optimize/ConcatenatedModule.js
  lib/util/makeSerializable.js
  test/ConfigTestCases.template.js
  test/configCases/module/externals/imported.js
  test/configCases/module/externals/index.js
  test/configCases/module/externals/module.js
  test/configCases/module/externals/test.config.js
  test/configCases/module/externals/webpack.config.js
Labels: PR: CI-not-ok, PR: unreviewed

#13739 Revert "chore(deps-dev): bump husky from 6.0.0 to 7.0.1"
  package.json
  yarn.lock
Labels: PR: unreviewed

#13745 fix #13744
  lib/ExternalModuleFactoryPlugin.js
  test/configCases/externals/externals-in-commons-chunk/webpack.config.js
Labels: PR: unreviewed

#13729 improve CI stability
  lib/hmr/lazyCompilationBackend.js
  test/Compiler.test.js
  test/ConfigTestCases.template.js
  test/TestCases.template.js
  test/WatchTestCases.test.js
  test/cases/context/issue-10969/index.js
  test/configCases/library/type-assign-properties/test.config.js
  test/configCases/library/type-assign/test.config.js
Labels: PR: unreviewed

#13750 improve CI stablilty
  package.json
  test/ConfigTestCases.template.js
  test/TestCases.template.js
  test/configCases/asset-emitted/normal/index.js
  test/configCases/async-commons-chunk/existing-name/index.js
  test/configCases/chunk-index/order-multiple-entries/entry1.js
  test/configCases/chunk-index/order-multiple-entries/entry2.js
  test/configCases/entry/issue-12562/app.js
  test/configCases/parsing/requirejs/index.js
  test/configCases/source-map/module-names/index.js
  test/configCases/split-chunks/chunk-filename-delimiter-default/index.js
  test/configCases/split-chunks/chunk-filename-delimiter/index.js
  test/configCases/split-chunks/issue-11337/index.js
  test/configCases/split-chunks/issue-11513/index.js
  test/configCases/split-chunks/runtime-chunk-async-node/webpack.config.js
Labels: PR: unreviewed

#13757 add support for import chunk loading with runtime chunk
  lib/Template.js
  lib/esm/ExportWebpackRequireRuntimeModule.js
  lib/esm/ModuleChunkFormatPlugin.js
  lib/esm/ModuleChunkLoadingPlugin.js
  lib/esm/ModuleChunkLoadingRuntimeModule.js
  test/configCases/library/0-create-library/webpack.config.js
  test/configCases/library/1-use-library/webpack.config.js
Labels: PR: unreviewed

#13758 fix: sourceMapDevToolPlugin options test add cjs
  lib/SourceMapDevToolPlugin.js
Labels: PR: unreviewed

#13754 fix: fixed work of the non-system type externals for "system" library target
  lib/library/SystemLibraryPlugin.js
  test/configCases/externals/externals-system-custom/index.js
  test/configCases/externals/externals-system-custom/test.config.js
  test/configCases/externals/externals-system-custom/webpack.config.js
Labels: PR: reviewed-approved

#13777 fix a grammar typo
  lib/webpack.js
Labels: PR: reviewed-approved

#13778 fix: fixed work of the non-system type externals for "system" library…
  lib/SystemMainTemplatePlugin.js
  test/configCases/externals/externals-system-custom/index.js
  test/configCases/externals/externals-system-custom/test.config.js
  test/configCases/externals/externals-system-custom/webpack.config.js
Labels: PR: CI-not-ok, PR: unreviewed, PR: webpack-4

#13775 fix azure pipeline
  .github/workflows/test.yml
  azure-pipelines.yml
  lib/MultiCompiler.js
  package.json
  test/BuildDependencies.test.js
  test/ChangesAndRemovals.test.js
  test/Compiler-caching.test.js
  test/Compiler.test.js
  test/ConfigCacheTestCases.longtest.js
  test/ConfigTestCases.basictest.js
  test/ConfigTestCases.template.js
  test/Defaults.unittest.js
  test/Errors.test.js
  test/Examples.test.js
  test/HotTestCases.template.js
  test/MultiCompiler.test.js
  test/MultiStats.test.js
  test/NodeTemplatePlugin.test.js
  test/PersistentCaching.test.js
  test/ProfilingPlugin.test.js
  test/README.md
  test/Stats.test.js
  test/StatsTestCases.basictest.js
  test/TestCases.template.js
  test/TestCasesAllCombined.test.js
  test/TestCasesCachePack.longtest.js
  test/TestCasesNormal.basictest.js
  test/TestCasesProduction.longtest.js
  test/Validation.test.js
  test/WatchClose.test.js
  test/WatchSuspend.test.js
  test/WatchTestCases.test.js
  test/__snapshots__/ConfigCacheTestCases.longtest.js.snap
  test/__snapshots__/ConfigTestCases.basictest.js.snap
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/helpers/captureStdio.js
  test/helpers/warmup-webpack.js
  test/setupTestFramework.js
Labels: PR: CI-not-ok, PR: unreviewed

#13717 Update schema-utils
  package.json
  test/Validation.test.js
  types.d.ts
  yarn.lock
Labels: PR: CI-not-ok, PR: unreviewed

#13805 rerun test suites once
  .github/workflows/test.yml
  azure-pipelines.yml
Labels: PR: unreviewed

#13555 perf: let Compiler worry about and manage file and context timestamps
  lib/Compilation.js
  lib/Compiler.js
  lib/FileSystemInfo.js
  lib/Watching.js
  lib/util/StackedCacheMap.js
  lib/util/StackedSetMap.js
  types.d.ts
Labels: PR: CI-not-ok, PR: reviewed-approved

#12278 parse import assertions
  declarations.d.ts
  declarations/WebpackOptions.d.ts
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/config/defaults.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportSideEffectDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/ModuleDependency.js
  lib/javascript/JavascriptParser.js
  lib/rules/ObjectMatcherRulePlugin.js
  package.json
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/cases/json/data/poison
  test/cases/json/data/unknown
  test/cases/json/import-assertions-type-json/errors.js
  test/cases/json/import-assertions-type-json/import-poison.js
  test/cases/json/import-assertions-type-json/index.js
  test/configCases/custom-source-type/localization/index.js
  types.d.ts
  yarn.lock
Labels: PR: CI-not-ok, PR: reviewed-approved

#13807 fix: data URI for `image/svg+xml`
  lib/asset/AssetGenerator.js
  lib/schemes/DataUriPlugin.js
  test/configCases/asset-modules/input-data-url-encoding/index.js
  test/configCases/asset-modules/input-data-url-encoding/webpack.config.js
Labels: PR: unreviewed

#13431 Fix: broken library output by webpackPrefetch
  lib/javascript/JavascriptModulesPlugin.js
  lib/prefetch/ChunkPrefetchStartupRuntimeModule.js
  lib/runtime/OnChunksLoadedRuntimeModule.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/configCases/issues/issue-12993/dynamic.js
  test/configCases/issues/issue-12993/index.js
  test/configCases/issues/issue-12993/test.config.js
  test/configCases/issues/issue-12993/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#13576 Allow HMR status handlers to return a Promise
  lib/hmr/HotModuleReplacement.runtime.js
  test/HotTestCases.template.js
  test/hotCases/invalidate/during-idle/index.js
  test/hotCases/status/accept/file.js
  test/hotCases/status/accept/index.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#13828 update webpack-sources for performance problem in hashing
  declarations/WebpackOptions.d.ts
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  package.json
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/TestCases.template.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/cases/large/many-replacements/generate-many-replacements-loader.js
  test/cases/large/many-replacements/index.js
  test/cases/large/many-replacements/module.js
  test/cases/large/many-replacements/test.config.js
  test/cases/large/many-replacements/test.filter.js
  types.d.ts
  yarn.lock
Labels: PR: CI-not-ok, PR: unreviewed

#13837 fix problem when updating persistent cached modules from unsafe cached modules
  lib/NormalModule.js
  lib/asset/AssetModulesPlugin.js
  test/ConfigTestCases.template.js
  test/configCases/asset-modules/http-url/server/index.js
  test/configCases/asset-modules/unsafe-cache-13827/index.js
  test/configCases/asset-modules/unsafe-cache-13827/node_modules/package/file.svg
  test/configCases/asset-modules/unsafe-cache-13827/node_modules/package/index.js
  test/configCases/asset-modules/unsafe-cache-13827/webpack.config.js
  test/configCases/clean/enabled/webpack.config.js
  test/configCases/clean/ignore-fn/webpack.config.js
  test/configCases/clean/ignore-hook/webpack.config.js
  test/configCases/clean/ignore-rx/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#13842 generate "use strict" only when really needed
  lib/Template.js
  lib/javascript/ArrayPushCallbackChunkFormatPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/wasm-async/AsyncWebAssemblyModulesPlugin.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#13840 ci: use `actions/setup-node@v2`
  .github/workflows/test.yml
Labels: PR: CI-not-ok, PR: review-outdated

#13858 Fix generator publicPath behavior when empty string
  lib/asset/AssetGenerator.js
  test/configCases/asset-modules/rule-generator-publicPath-override/index.js
  test/configCases/asset-modules/rule-generator-publicPath-override/webpack.config.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#13873 update to webpack-sources version 3
  lib/dependencies/AMDRequireDependency.js
  package.json
  test/__snapshots__/StatsTestCases.basictest.js.snap
  yarn.lock
Labels: PR: CI-not-ok, PR: unreviewed

#13888 update webpack-sources to 3.1.1
  package.json
  test/__snapshots__/StatsTestCases.basictest.js.snap
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed
