Repository webpack/webpack, pull requests merged in 2021-04, with the labels that each got.

#12963 (fix): add missing scheme property stats.groupModulesByType
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#12987 Export AsyncDependenciesBlock and ModuleDependency
  lib/Dependency.js
  lib/index.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12990 memory usage improvements, add GC support for memory cache, persistent cache only mode
  declarations/WebpackOptions.d.ts
  lib/Compiler.js
  lib/FileSystemInfo.js
  lib/NormalModule.js
  lib/WebpackOptionsApply.js
  lib/cache/IdleFileCachePlugin.js
  lib/cache/MemoryCachePlugin.js
  lib/cache/MemoryWithGcCachePlugin.js
  lib/cache/PackFileCacheStrategy.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/javascript/JavascriptParser.js
  lib/serialization/ObjectMiddleware.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13062 fix caching crash when using fsevents in build dependencies
  lib/FileSystemInfo.js
  lib/cache/PackFileCacheStrategy.js
  test/fixtures/buildDependencies/node_modules/dependency-with-optional/package.json
  test/fixtures/buildDependencies/run.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13065 improve resolving of build dependencies when `exports` field is used
  lib/FileSystemInfo.js
  test/BuildDependencies.test.js
  test/fixtures/buildDependencies/node_modules/dep-with-exports/main-entry.js
  test/fixtures/buildDependencies/node_modules/dep-with-exports/package.json
  test/fixtures/buildDependencies/node_modules/dep-with-exports/sub-entry.js
  test/fixtures/buildDependencies/node_modules/dep-without-package.json/main-entry.js
  test/fixtures/buildDependencies/node_modules/dep-without-package.json/sub-entry.js
  test/fixtures/buildDependencies/node_modules/dependency-with-exports/main.js
  test/fixtures/buildDependencies/node_modules/dependency-with-exports/package.json
  test/fixtures/buildDependencies/node_modules/require-dependency-with-exports/index.js
  test/fixtures/buildDependencies/run.js
Labels: PR: CI-ok, PR: unreviewed

#13051 feat: add colors flag to infrastructureLogging
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  lib/logging/createConsoleLogger.js
  lib/node/NodeEnvironmentPlugin.js
  lib/node/nodeConsole.js
  schemas/WebpackOptions.json
  test/Compiler.test.js
  test/ConfigTestCases.template.js
  test/Defaults.unittest.js
  test/ProgressPlugin.test.js
  test/StatsTestCases.test.js
  test/TestCases.template.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  test/helpers/LogTestPlugin.js
  test/helpers/captureStdio.js
  types.d.ts
Labels: PR: CI-ok, PR: review-outdated

#13068 prioritize static reexport over runtime reexport for target determination
  lib/Dependency.js
  lib/ExportsInfo.js
  lib/FlagDependencyExportsPlugin.js
  lib/dependencies/HarmonyExportExpressionDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportSpecifierDependency.js
  test/configCases/side-effects/type-reexports/a.js
  test/configCases/side-effects/type-reexports/b.js
  test/configCases/side-effects/type-reexports/empty.js
  test/configCases/side-effects/type-reexports/index.js
  test/configCases/side-effects/type-reexports/module.js
  test/configCases/side-effects/type-reexports/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13074 fix subtraction of runtimes
  lib/util/runtime.js
  test/configCases/side-effects/issue-13063/another.js
  test/configCases/side-effects/issue-13063/test.config.js
  test/configCases/side-effects/issue-13063/tst_examples_uiform.js
  test/configCases/side-effects/issue-13063/tst_examples_uitable.js
  test/configCases/side-effects/issue-13063/vendors/index.js
  test/configCases/side-effects/issue-13063/vendors/select.js
  test/configCases/side-effects/issue-13063/vendors/select2.js
  test/configCases/side-effects/issue-13063/vendors/types.js
  test/configCases/side-effects/issue-13063/vendors/uuid.js
  test/configCases/side-effects/issue-13063/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#13077 ensure that entrypoints are always re-executed when updated
  lib/hmr/HotModuleReplacement.runtime.js
  lib/hmr/JavascriptHotModuleReplacement.runtime.js
  test/hotCases/runtime/root-error/errors1.js
  test/hotCases/runtime/root-error/index.js
  test/hotCases/runtime/root-error/webpack.config.js
Labels: PR: unreviewed

#13097 memory and performance optimizations
  lib/CodeGenerationResults.js
  lib/Compilation.js
  lib/Compiler.js
  lib/serialization/BinaryMiddleware.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#13105 make sure that invalid event is only reported once
  lib/Watching.js
  test/MultiCompiler.test.js
Labels: PR: CI-ok, PR: unreviewed

#13113 DefinePlugin invalidates modules when new defines are added
  lib/Compilation.js
  lib/DefinePlugin.js
  lib/Module.js
  lib/NormalModule.js
  test/watchCases/cache/add-defines/0/a.js
  test/watchCases/cache/add-defines/0/b.js
  test/watchCases/cache/add-defines/0/c.js
  test/watchCases/cache/add-defines/0/index.js
  test/watchCases/cache/add-defines/1/index.js
  test/watchCases/cache/add-defines/2/index.js
  test/watchCases/cache/add-defines/3/index.js
  test/watchCases/cache/add-defines/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13102 add experimental support for build time execution of modules in the module graph
  declarations/WebpackOptions.d.ts
  lib/CaseSensitiveModulesWarning.js
  lib/Compilation.js
  lib/NormalModuleFactory.js
  lib/WarnCaseSensitiveModulesPlugin.js
  lib/WebpackOptionsApply.js
  lib/asset/AssetModulesPlugin.js
  lib/config/defaults.js
  lib/dependencies/LoaderImportDependency.js
  lib/dependencies/LoaderPlugin.js
  lib/javascript/ArrayPushCallbackChunkFormatPlugin.js
  lib/javascript/CommonJsChunkFormatPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/library/AbstractLibraryPlugin.js
  lib/prefetch/ChunkPrefetchPreloadPlugin.js
  lib/runtime/StartupChunkDependenciesPlugin.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  lib/util/AsyncQueue.js
  lib/util/processAsyncTree.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/loader-import-module/css/colors.js
  test/configCases/loader-import-module/css/file.jpg
  test/configCases/loader-import-module/css/file.png
  test/configCases/loader-import-module/css/index.js
  test/configCases/loader-import-module/css/loader.js
  test/configCases/loader-import-module/css/other-stylesheet.js
  test/configCases/loader-import-module/css/stylesheet.js
  test/configCases/loader-import-module/css/webpack.config.js
  test/watchCases/cache/loader-import-module/0/a.generate-json.js
  test/watchCases/cache/loader-import-module/0/b.generate-json.js
  test/watchCases/cache/loader-import-module/0/imported.js
  test/watchCases/cache/loader-import-module/0/index.js
  test/watchCases/cache/loader-import-module/0/loader.js
  test/watchCases/cache/loader-import-module/0/unrelated.js
  test/watchCases/cache/loader-import-module/1/imported.js
  test/watchCases/cache/loader-import-module/2/unrelated.js
  test/watchCases/cache/loader-import-module/3/b.generate-json.js
  test/watchCases/cache/loader-import-module/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13131 improve performance of `export *`
  lib/Compilation.js
  lib/FlagDependencyExportsPlugin.js
  lib/ModuleGraph.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/serialization/ObjectMiddleware.js
  lib/util/WeakTupleMap.js
  package.json
  test/checkArrayExpectation.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#13132 improve test stability
  test/watchCases/cache/add-defines/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#13134 importModule & HMR
  lib/Compilation.js
  lib/RuntimeModule.js
  lib/asset/AssetModulesPlugin.js
  lib/container/RemoteRuntimeModule.js
  lib/dependencies/LoaderPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/runtime/CompatRuntimeModule.js
  lib/runtime/GetChunkFilenameRuntimeModule.js
  lib/runtime/RuntimeIdRuntimeModule.js
  lib/runtime/StartupChunkDependenciesRuntimeModule.js
  lib/sharing/ConsumeSharedRuntimeModule.js
  lib/sharing/ShareRuntimeModule.js
  lib/wasm-sync/WasmChunkLoadingRuntimeModule.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  test/hotCases/loader-import-module/css/colors.js
  test/hotCases/loader-import-module/css/file.jpg
  test/hotCases/loader-import-module/css/file.png
  test/hotCases/loader-import-module/css/index.js
  test/hotCases/loader-import-module/css/loader.js
  test/hotCases/loader-import-module/css/stylesheet.css.js
  test/hotCases/loader-import-module/css/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13137 allow to specify `publicPath` for each entrypoint
  declarations/WebpackOptions.d.ts
  lib/EntryOptionPlugin.js
  lib/RuntimePlugin.js
  lib/config/normalization.js
  lib/runtime/PublicPathRuntimeModule.js
  schemas/WebpackOptions.json
  test/configCases/output/publicPath-web/c.js
  test/configCases/output/publicPath-web/d.js
  test/configCases/output/publicPath-web/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13142 fix passing publicPath to `this.importModule`
  lib/dependencies/LoaderPlugin.js
  test/configCases/loader-import-module/css/index.js
  test/configCases/loader-import-module/css/loader.js
  test/configCases/loader-import-module/css/webpack.config.js
Labels: PR: unreviewed

#13143 handle falsy entry options correctly
  lib/Compilation.js
  lib/RuntimePlugin.js
  lib/node/CommonJsChunkLoadingPlugin.js
  lib/node/ReadFileCompileAsyncWasmPlugin.js
  lib/node/ReadFileCompileWasmPlugin.js
  lib/runtime/StartupChunkDependenciesPlugin.js
  lib/web/FetchCompileAsyncWasmPlugin.js
  lib/web/FetchCompileWasmPlugin.js
  lib/web/JsonpChunkLoadingPlugin.js
  lib/webworker/ImportScriptsChunkLoadingPlugin.js
Labels: PR: unreviewed

#13140 chore: update cache property descriptions
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13153 fix #13130
  lib/ChunkGraph.js
  test/configCases/split-chunks/runtime-chunk-node-13130/a.js
  test/configCases/split-chunks/runtime-chunk-node-13130/b.js
  test/configCases/split-chunks/runtime-chunk-node-13130/c.js
  test/configCases/split-chunks/runtime-chunk-node-13130/shared.js
  test/configCases/split-chunks/runtime-chunk-node-13130/test.config.js
  test/configCases/split-chunks/runtime-chunk-node-13130/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#13172 fix performance regression
  lib/serialization/BinaryMiddleware.js
Labels: PR: CI-ok, PR: unreviewed

#13169 Fix deprecation message for LimitChunkCountPlugin
  lib/optimize/LimitChunkCountPlugin.js
Labels: PR: CI-not-ok, PR: unreviewed

#13174 add pnpapi as builtin
  lib/node/NodeTargetPlugin.js
Labels: PR: unreviewed

#12613 feat: accept empty string in config.resolve.extensions
  package.json
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/configCases/resolving/extensions-order/a
  test/configCases/resolving/extensions-order/a.js
  test/configCases/resolving/extensions-order/b
  test/configCases/resolving/extensions-order/b.json
  test/configCases/resolving/extensions-order/index.js
  test/configCases/resolving/extensions-order/webpack.config.js
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#13154 cheaper getIterator
  lib/FileSystemInfo.js
Labels: PR: CI-ok, PR: unreviewed

#13157 fix(resolve): allows filesysteminfo to resolve files that have #'s
  lib/FileSystemInfo.js
  test/fixtures/buildDependencies/index.js
  test/fixtures/buildDependencies/node_modules/dep#with#hash/#.js
  test/fixtures/buildDependencies/run.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#13184 reduce memory usage when using the filesystem cache
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  lib/cache/PackFileCacheStrategy.js
  lib/config/defaults.js
  lib/serialization/BinaryMiddleware.js
  lib/util/comparators.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13186 fix typo
  lib/cache/PackFileCacheStrategy.js
Labels: PR: unreviewed

#13175 fix returning exports from runtime for libraries
  lib/javascript/ArrayPushCallbackChunkFormatPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/library/AmdLibraryPlugin.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/library/0-create-library/webpack.config.js
  test/configCases/library/1-use-library/test.config.js
  test/configCases/library/1-use-library/webpack.config.js
Labels: PR: CI-not-ok, PR: unreviewed

#13213 improve rebuild performance
  lib/ChunkGraph.js
  lib/ContextModuleFactory.js
  lib/Dependency.js
  lib/FlagDependencyExportsPlugin.js
  lib/ModuleGraph.js
  lib/util/smartGrouping.js
  test/__snapshots__/StatsTestCases.test.js.snap
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#13236 improve serialization of dependency locations
  lib/Dependency.js
  lib/dependencies/NullDependency.js
  lib/util/AsyncQueue.js
  lib/util/comparators.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13235 add support for class fields
  declarations.d.ts
  lib/javascript/JavascriptParser.js
  lib/optimize/InnerGraphPlugin.js
  package.json
  test/cases/parsing/es2020/index.js
  test/cases/parsing/es2020/module.js
  test/cases/parsing/es2020/test.filter.js
  test/configCases/inner-graph/class/module.js
  test/configCases/inner-graph/class/test.filter.js
  test/configCases/inner-graph/class/webpack.config.js
  test/helpers/supportsClassFields.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#13242 performance improvements
  declarations/WebpackOptions.d.ts
  lib/ChunkGraph.js
  lib/Compilation.js
  lib/InitFragment.js
  lib/ModuleGraph.js
  lib/WebpackOptionsApply.js
  lib/cache/PackFileCacheStrategy.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/dependencies/HarmonyExportInitFragment.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.test.js.snap
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#13250 improve module dependency processing performance
  lib/Compilation.js
Labels: PR: CI-ok, PR: unreviewed

#13239 run tests on Node.js 16
  .github/workflows/test.yml
  azure-pipelines.yml
  test/cases/parsing/bom/index.js
  test/cases/wasm/table/index.js
Labels: PR: unreviewed

#13270 catch errors thrown during parser/generation creation
  lib/NormalModuleFactory.js
  test/configCases/errors/asset-options-validation/errors.js
  test/configCases/errors/asset-options-validation/index.js
  test/configCases/errors/asset-options-validation/text.txt
  test/configCases/errors/asset-options-validation/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#13277 fix problems with auto-generated runtime name for workers
  lib/dependencies/WorkerPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#13279 fix too many modules are included in chunks when using chained dependOn
  lib/buildChunkGraph.js
  test/configCases/entry/depend-on-advanced/other-vendors.js
  test/configCases/entry/depend-on-advanced/page2.js
  test/configCases/entry/depend-on-advanced/page3.js
  test/configCases/entry/depend-on-advanced/test.config.js
  test/configCases/entry/depend-on-advanced/webpack.config.js
  test/configCases/entry/depend-on-bug/app.js
  test/configCases/entry/depend-on-bug/node_modules/isomorphic-fetch.js
  test/configCases/entry/depend-on-bug/other-vendors.js
  test/configCases/entry/depend-on-bug/page1.js
  test/configCases/entry/depend-on-bug/test.config.js
  test/configCases/entry/depend-on-bug/webpack.config.js
Labels: PR: unreviewed

#13282 make ESM tracking info message less verbose
  lib/FileSystemInfo.js
Labels: PR: unreviewed
