Repository webpack/webpack, pull requests merged in 2021-10, with the labels that each got.

#14393 give DefinePlugin a different key to avoid conflicting with different variants of it
  lib/DefinePlugin.js
Labels: PR: CI-ok, PR: unreviewed

#14325 chore: merge multi hash.update
  lib/AsyncDependenciesBlock.js
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/DependencyTemplates.js
  lib/DllModule.js
  lib/ExportsInfo.js
  lib/ExternalModule.js
  lib/javascript/ArrayPushCallbackChunkFormatPlugin.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: CI-not-ok, PR: reviewed-approved

#14381 allow ExternalModules to be unsafe cached
  lib/ExternalModule.js
  test/watchCases/cache/unsafe-cache/0/index.js
  test/watchCases/cache/unsafe-cache/0/proxy-module.js
  test/watchCases/cache/unsafe-cache/1/changing-module.js
  test/watchCases/cache/unsafe-cache/2/changing-module.js
  test/watchCases/cache/unsafe-cache/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#14396 faster StringXor
  lib/util/StringXor.js
Labels: PR: CI-not-ok, PR: unreviewed

#14406 handle changing module/chunk ids for cacheUnaffected
  lib/Compilation.js
  lib/Compiler.js
  lib/FlagDependencyUsagePlugin.js
  lib/ModuleGraph.js
  lib/WebpackOptionsApply.js
  lib/optimize/MangleExportsPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  test/TestCasesAllCombined.longtest.js
  test/WatchCacheUnaffectedTestCases.longtest.js
  test/WatchTestCases.longtest.js
  test/WatchTestCases.template.js
  test/WatchTestCases.test.js
  test/watchCases/cache/add-defines/test.filter.js
  test/watchCases/cache/change-dep-while-detatched/0/index.js
  test/watchCases/cache/change-dep-while-detatched/0/module.js
  test/watchCases/cache/change-dep-while-detatched/0/unrelated.js
  test/watchCases/cache/change-dep-while-detatched/1/index.js
  test/watchCases/cache/change-dep-while-detatched/1/module.js
  test/watchCases/cache/change-dep-while-detatched/2/index.js
  test/watchCases/cache/change-dep-while-detatched/webpack.config.js
  test/watchCases/cache/changing-module-id/0/index.js
  test/watchCases/cache/changing-module-id/0/module.js
  test/watchCases/cache/changing-module-id/0/other-module.js
  test/watchCases/cache/changing-module-id/0/unrelated.js
  test/watchCases/cache/changing-module-id/1/other-layer.js
  test/watchCases/cache/changing-module-id/1/other-module.js
  test/watchCases/cache/changing-module-id/2/other-module.js
  test/watchCases/cache/changing-module-id/webpack.config.js
  test/watchCases/cache/managedPath/webpack.config.js
  test/watchCases/plugins/define-plugin/webpack.config.js
  test/watchCases/side-effects/issue-7400/test.filter.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#14410 optimization.sideEffects is compatible with cacheUnaffected
  lib/optimize/SideEffectsFlagPlugin.js
  test/WatchCacheUnaffectedTestCases.longtest.js
Labels: PR: unreviewed

#14413 bugfix cacheUnaffected
  lib/Compilation.js
Labels: PR: unreviewed

#14416 add timing to second affected module computation
  lib/Compilation.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: CI-ok, PR: unreviewed

#14414 improve chunk graph creation performance
  lib/AsyncDependenciesBlock.js
  lib/Compilation.js
  lib/DependenciesBlock.js
  lib/Dependency.js
  lib/ModuleGraph.js
  lib/buildChunkGraph.js
  lib/logging/Logger.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed
