Repository webpack/webpack, pull requests merged in 2021-12, with the labels that each got.

#14861 fix RuntimeTemplate
  lib/RuntimeTemplate.js
  test/RuntimeTemplate.unittest.js
Labels: PR: reviewed-approved

#14855 Adding types
  lib/index.js
  types.d.ts
Labels: PR: reviewed-approved

#14884 Proposed fix to module federation to stop ignoring the singleton flag when requiredVersion is false
  lib/sharing/ConsumeSharedModule.js
  lib/sharing/ConsumeSharedRuntimeModule.js
  test/configCases/sharing/consume-module/index.js
  test/configCases/sharing/consume-module/node_modules/singletonWithoutVersion.js
  test/configCases/sharing/consume-module/webpack.config.js
Labels: PR: review-outdated

#14912 upgrade watchpack for bugfix
  package.json
  yarn.lock
Labels: PR: unreviewed

#14915 fix: info merging for asset modules
  lib/asset/AssetGenerator.js
Labels: PR: reviewed-approved
