Repository webpack/webpack, pull requests merged in 2021-06, with the labels that each got.

#13490 Respect allowCollectingMemory setting (being normalized away right now)
  lib/config/normalization.js
Labels: PR: CI-ok, PR: reviewed-approved

#13529 fix: usage `npx webpack`
  bin/webpack.js
Labels: PR: CI-ok, PR: unreviewed

#13533 perf: Remove Error.captureStackTrace from all WebpackErrors
  lib/AsyncDependencyToInitialChunkError.js
  lib/CaseSensitiveModulesWarning.js
  lib/ChunkRenderError.js
  lib/CodeGenerationError.js
  lib/CommentCompilationWarning.js
  lib/ConcurrentCompilationError.js
  lib/DllReferencePlugin.js
  lib/HarmonyLinkingError.js
  lib/HookWebpackError.js
  lib/InvalidDependenciesModuleWarning.js
  lib/ModuleBuildError.js
  lib/ModuleDependencyError.js
  lib/ModuleDependencyWarning.js
  lib/ModuleError.js
  lib/ModuleNotFoundError.js
  lib/ModuleParseError.js
  lib/ModuleRestoreError.js
  lib/ModuleStoreError.js
  lib/ModuleWarning.js
  lib/NoModeWarning.js
  lib/NormalModule.js
  lib/UnsupportedFeatureWarning.js
  lib/WarnDeprecatedOptionPlugin.js
  lib/WebpackError.js
  lib/dependencies/CriticalDependencyWarning.js
  lib/dependencies/RequireIncludeDependencyParserPlugin.js
  lib/dependencies/SystemPlugin.js
  lib/errors/BuildCycleError.js
  lib/performance/AssetsOverSizeLimitWarning.js
  lib/performance/EntrypointsOverSizeLimitWarning.js
  lib/performance/NoAsyncChunksWarning.js
  lib/wasm-sync/UnsupportedWebAssemblyFeatureError.js
  lib/wasm-sync/WebAssemblyInInitialChunkError.js
Labels: PR: CI-not-ok, PR: unreviewed

#13567 getAllInitialChunks really returns all of them
  lib/Chunk.js
  test/configCases/entry/depend-on-non-js/a.css
  test/configCases/entry/depend-on-non-js/a.js
  test/configCases/entry/depend-on-non-js/b.css
  test/configCases/entry/depend-on-non-js/b.js
  test/configCases/entry/depend-on-non-js/test.config.js
  test/configCases/entry/depend-on-non-js/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#13580 reduce memory usage and fix memory leaks
  lib/Compilation.js
  lib/cache/PackFileCacheStrategy.js
  lib/serialization/SerializerMiddleware.js
  lib/util/ArrayQueue.js
  lib/util/AsyncQueue.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13574 perf: Limit frequency of LazySet flattening by shortcircuiting empty LazySets
  lib/util/LazySet.js
  test/LazySet.unittest.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#13577 Correct emitFile content argument type
  declarations/LoaderContext.d.ts
  types.d.ts
Labels: PR: CI-not-ok, PR: reviewed-approved

#13589 reduce algorithmic complexity of the structure analysis for plain objects serialization
  lib/serialization/PlainObjectSerializer.js
Labels: PR: CI-not-ok, PR: unreviewed

#13467 fix:the judgment of promise is changed from instanceof to Promises/A+…
  lib/cache/PackFileCacheStrategy.js
  lib/serialization/Serializer.js
  lib/serialization/SerializerMiddleware.js
  lib/wasm-sync/WasmChunkLoadingRuntimeModule.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#13519 [Documentation]capitalized first letter of sentence
  README.md
Labels: PR: CI-ok, PR: unreviewed

#13483 improve description for reset type flags
  lib/cli.js
  test/__snapshots__/Cli.test.js.snap
Labels: PR: CI-not-ok, PR: review-outdated

#12693 feat: add node: prefixed modules
  lib/node/NodeTargetPlugin.js
  test/ConfigTestCases.template.js
  test/configCases/node/node-prefix/index.js
  test/configCases/node/node-prefix/webpack.config.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#13484 chore: update `terser` and `terser-webpack-plugin`
  package.json
  test/__snapshots__/StatsTestCases.test.js.snap
  yarn.lock
Labels: PR: CI-not-ok, PR: unreviewed

#13591 doc: add wasm examples to ToC
  examples/README.md
Labels: PR: CI-ok, PR: unreviewed

#13590 assign class property keys to the correct top level symbol
  lib/javascript/JavascriptParser.js
  lib/optimize/InnerGraphPlugin.js
  test/TestCasesProdGlobalUsed.test.js
  test/cases/inner-graph/class-dynamic-props/index.js
  test/cases/inner-graph/class-dynamic-props/module.js
  test/cases/inner-graph/class-dynamic-props/test.filter.js
  test/cases/inner-graph/class-dynamic-props/unused1.js
  test/cases/inner-graph/class-dynamic-props/used1.js
  test/cases/inner-graph/simple/module.js
Labels: PR: CI-ok, PR: unreviewed

#13616 improve test suite performance
  test/ConfigCacheTestCases.test.js
  test/TestCasesCachePack.test.js
Labels: PR: CI-ok, PR: unreviewed

#13625 disable test because it doesn't work
  test/cases/wasm/v128/test.filter.js
Labels: PR: CI-ok, PR: unreviewed

#13647 improve disposing of lazy compilation backend server
  lib/hmr/lazyCompilationBackend.js
  lib/optimize/ModuleConcatenationPlugin.js
  test/ConfigTestCases.template.js
  test/HotTestCases.template.js
  test/helpers/createLazyTestEnv.js
Labels: PR: unreviewed

#13650 improve module support for WebWorkers
  examples/module-code-splitting/README.md
  examples/module-worker/README.md
  examples/module-worker/build.js
  examples/module-worker/chat-module.js
  examples/module-worker/chat-worker.js
  examples/module-worker/example.js
  examples/module-worker/fib-worker.js
  examples/module-worker/fibonacci.js
  examples/module-worker/index.html
  examples/module-worker/template.md
  examples/module-worker/webpack.config.js
  examples/worker/README.md
  lib/WebpackOptionsApply.js
  lib/dependencies/WorkerPlugin.js
  lib/esm/ModuleChunkLoadingRuntimeModule.js
Labels: PR: CI-ok, PR: unreviewed

#13649 store cache after large changes
  declarations/WebpackOptions.d.ts
  lib/Watching.js
  lib/WebpackOptionsApply.js
  lib/cache/IdleFileCachePlugin.js
  lib/config/defaults.js
  lib/config/normalization.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: unreviewed

#13661 use Buffer.from instead of slice
  lib/serialization/FileMiddleware.js
Labels: PR: CI-not-ok, PR: unreviewed

#13660 update webpack options
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-not-ok, PR: reviewed-approved

#13659 use es5 for async module runtime
  lib/runtime/AsyncModuleRuntimeModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: review-outdated

#13662 reduce amount of buffer splitting for large cache files
  lib/TemplatedPathPlugin.js
  lib/serialization/BinaryMiddleware.js
  lib/serialization/FileMiddleware.js
  test/TestCases.template.js
  test/cases/large/big-assets/generate-big-asset-loader.js
  test/cases/large/big-assets/index.js
  test/cases/large/big-assets/test.config.js
  test/cases/large/big-assets/test.filter.js
Labels: PR: unreviewed

#13669 add node-commonjs to ExternalsType
  declarations/WebpackOptions.d.ts
  declarations/plugins/container/ContainerReferencePlugin.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  schemas/plugins/container/ContainerReferencePlugin.check.js
  schemas/plugins/container/ContainerReferencePlugin.json
  schemas/plugins/container/ExternalsType.check.js
  schemas/plugins/container/ModuleFederationPlugin.check.js
  schemas/plugins/container/ModuleFederationPlugin.json
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: CI-not-ok, PR: reviewed-approved
