Repository webpack/webpack, pull requests merged in 2021-11, with the labels that each got.

#14602 chore: update option descriptions
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#14456 use propertyAccess to generate .catch code
  lib/dependencies/AMDRequireDependency.js
  lib/dependencies/RequireEnsureDependency.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/runtime/AsyncModuleRuntimeModule.js
  lib/sharing/ConsumeSharedRuntimeModule.js
  lib/sharing/ShareRuntimeModule.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#14613 fix #14610
  lib/dependencies/CommonJsFullRequireDependency.js
  test/cases/parsing/issue-14610/index.js
  test/cases/parsing/issue-14610/module.js
Labels: PR: CI-ok, PR: unreviewed

#14546 fix: create contexts in object shorthand syntax
  lib/dependencies/CommonJsImportsParserPlugin.js
  lib/dependencies/CommonJsRequireContextDependency.js
  lib/dependencies/ContextDependency.js
  lib/dependencies/ContextDependencyTemplateAsRequireCall.js
  test/configCases/parsing/issue-14545/index.js
  test/configCases/parsing/issue-14545/module.js
  test/configCases/parsing/issue-14545/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-changes-requested, PR: reviewed-approved

#14615 split chunks `chunks` filter also affects fallbackCacheGroup
  declarations/WebpackOptions.d.ts
  lib/optimize/SplitChunksPlugin.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/statsCases/split-chunks-max-size/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#14599 fix listen option for lazyCompilation backend
  lib/hmr/lazyCompilationBackend.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/hotCases/lazy-compilation/context/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#14404 Allow ignoring errors and warnings from import-exports
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  test/checkArrayExpectation.js
  test/configCases/compiletime/exports-presence/aaa/index.js
  test/configCases/compiletime/exports-presence/bbb/index.js
  test/configCases/compiletime/exports-presence/ccc/index.js
  test/configCases/compiletime/exports-presence/ddd/index.js
  test/configCases/compiletime/exports-presence/errors.js
  test/configCases/compiletime/exports-presence/index.js
  test/configCases/compiletime/exports-presence/stub.js
  test/configCases/compiletime/exports-presence/warnings.js
  test/configCases/compiletime/exports-presence/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: reviewed-approved

#14490 fix: improve logic to check if value is a `Promise`
  lib/cache/PackFileCacheStrategy.js
Labels: PR: CI-ok, PR: reviewed-approved

#14597 add client types
  azure-pipelines.yml
  module.d.ts
  package.json
  test/typesCases/cjs/index.ts
  test/typesCases/global/index.ts
  test/typesCases/hot/index.ts
  test/typesCases/meta/index.ts
  tsconfig.module.test.json
  tsconfig.types.test.json
Labels: PR: CI-ok, PR: reviewed-approved

#14622 upgrade jest dependencies
  package.json
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed, dependencies

#14623 update babel dependencies
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed, dependencies

#14633 fix bugs with the new hashing implementation
  lib/util/hash/BatchedHash.js
  lib/util/hash/wasm-hash.js
  test/WasmHashes.unittest.js
Labels: PR: CI-ok, PR: unreviewed

#14653 allow to disable some deprecations
  declarations/WebpackOptions.d.ts
  lib/Chunk.js
  lib/Compilation.js
  lib/Compiler.js
  lib/HotModuleReplacementPlugin.js
  lib/config/defaults.js
  lib/optimize/ModuleConcatenationPlugin.js
  lib/util/deprecation.js
  lib/webpack.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Cli.basictest.js
  test/Defaults.unittest.js
  test/TestCases.template.js
  test/__snapshots__/Cli.basictest.js.snap
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#14663 fix #14662
  lib/dependencies/CommonJsFullRequireDependency.js
  test/cases/parsing/asi/index.js
Labels: PR: unreviewed

#13654 respect entry-specific library.type when exposing system context
  lib/RuntimePlugin.js
  test/configCases/entry/issue-13637/index-system.js
  test/configCases/entry/issue-13637/index-umd.js
  test/configCases/entry/issue-13637/test.config.js
  test/configCases/entry/issue-13637/webpack.config.js
  test/configCases/target/system-context/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#14660 make exportsPresence strict by default in future
  lib/config/defaults.js
  lib/config/normalization.js
  lib/dependencies/HarmonyImportDependency.js
  test/Defaults.unittest.js
Labels: PR: CI-not-ok, PR: unreviewed

#14679 fix regexp in DefaultStatsPrinterPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#14665 Fix names of options to match the exported types
  lib/config/defaults.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  test/Defaults.unittest.js
  test/configCases/compiletime/exports-presence/webpack.config.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#14684 fix a bug with experiments.cacheUnaffected
  lib/Compilation.js
  test/watchCases/cache/changing-module-id/0/index.js
  test/watchCases/cache/changing-module-id/0/unrelated.js
  test/watchCases/cache/changing-module-id/1/other-layer.js
  test/watchCases/cache/changing-module-id/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#14687 fix using single quotes with esm files
  lib/FileSystemInfo.js
  test/fixtures/buildDependencies/esm.mjs
Labels: PR: CI-ok, PR: unreviewed

#14692 add `chunkLoading: false` support
  lib/buildChunkGraph.js
  test/configCases/entry/no-chunking/a.js
  test/configCases/entry/no-chunking/async.js
  test/configCases/entry/no-chunking/b.js
  test/configCases/entry/no-chunking/nested.js
  test/configCases/entry/no-chunking/test.config.js
  test/configCases/entry/no-chunking/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#14694 perf: Prevent running regexs over the same strings twice
  lib/WatchIgnorePlugin.js
  lib/util/ArrayHelpers.js
  test/ArrayHelpers.unittest.js
Labels: PR: CI-ok

#14688 upgrade min node.js version
  .github/workflows/test.yml
  appveyor.yml
  azure-pipelines.yml
  package.json
Labels: PR: CI-not-ok, PR: unreviewed, PR: non-main

#14690 remove some deprecated classes
  lib/ChunkTemplate.js
  lib/Compilation.js
  lib/ExportsInfo.js
  lib/ExternalModuleFactoryPlugin.js
  lib/MainTemplate.js
  lib/ModuleGraphConnection.js
  lib/RuntimePlugin.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/runtime/CompatRuntimeModule.js
  lib/runtime/StartupEntrypointRuntimeModule.js
  test/configCases/custom-source-type/localization/deprecations.js
  test/configCases/custom-source-type/localization/webpack.config.js
  test/configCases/errors/exception-in-chunk-renderer/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed, PR: non-main

#14701 add `asyncChunks: boolean` option to disable creation of async chunks
  declarations/WebpackOptions.d.ts
  lib/EntryOptionPlugin.js
  lib/buildChunkGraph.js
  lib/config/defaults.js
  lib/config/normalization.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.basictest.js.snap
  test/configCases/entry/no-chunking/test.config.js
  test/configCases/entry/no-chunking/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#14698 check hooks for existance before using in ProfilingPlugin
  lib/debug/ProfilingPlugin.js
  test/ProfilingPlugin.test.js
Labels: PR: CI-ok, PR: unreviewed

#14718 fix regexp in managed paths
  lib/config/defaults.js
  test/Defaults.unittest.js
Labels: PR: CI-ok, PR: reviewed-changes-requested, PR: reviewed-approved

#14719 use node14 buffer methods
  lib/serialization/FileMiddleware.js
Labels: PR: CI-not-ok, PR: non-main, PR: reviewed-approved

#14724 Make errorHandler optional in accept(self)
  module.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#14725 attach require with property dependencies to the correct DependenciesBlock
  lib/dependencies/CommonJsImportsParserPlugin.js
  lib/dependencies/URLPlugin.js
  test/configCases/parsing/issue-14720/index.js
  test/configCases/parsing/issue-14720/module.js
  test/configCases/parsing/issue-14720/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#14704 fix: remove links in clean plugin
  lib/CleanPlugin.js
  lib/util/fs.js
  test/configCases/clean/link/index.js
  test/configCases/clean/link/test.filter.js
  test/configCases/clean/link/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#14734 remove appveyor
  appveyor.yml
  open-bot.yaml
Labels: PR: unreviewed

#14733 update linting dependencies
  package.json
  test/__snapshots__/StatsTestCases.basictest.js.snap
  yarn.lock
Labels: PR: CI-not-ok, PR: unreviewed, PR: dev-1

#14735 fix unsafeCache with managedPaths
  lib/FileSystemInfo.js
  test/BuildDependencies.longtest.js
  test/ConfigCacheTestCases.longtest.js
  test/ConfigTestCases.template.js
  test/configCases/cache-dependencies/managed-items-unsafe-cache/extra.js
  test/configCases/cache-dependencies/managed-items-unsafe-cache/index.js
  test/configCases/cache-dependencies/managed-items-unsafe-cache/loader.js
  test/configCases/cache-dependencies/managed-items-unsafe-cache/node_modules/package/extra.js
  test/configCases/cache-dependencies/managed-items-unsafe-cache/node_modules/package/index.js
  test/configCases/cache-dependencies/managed-items-unsafe-cache/node_modules/package/package.json
  test/configCases/cache-dependencies/managed-items-unsafe-cache/webpack.config.js
  test/fixtures/buildDependencies/node_modules/dep#with#hash/package.json
  test/fixtures/buildDependencies/node_modules/dep-with-exports/package.json
  test/fixtures/buildDependencies/node_modules/dependency-with-exports/package.json
  test/fixtures/buildDependencies/node_modules/dependency-with-optional/package.json
  test/fixtures/buildDependencies/node_modules/require-dependency-with-exports/package.json
  test/fixtures/buildDependencies/run.js
  test/watchCases/cache/unsafe-cache-managed-paths/0/index.js
  test/watchCases/cache/unsafe-cache-managed-paths/0/node_modules/package/index.js
  test/watchCases/cache/unsafe-cache-managed-paths/0/node_modules/package/package.json
  test/watchCases/cache/unsafe-cache-managed-paths/1/node_modules/package/index.js
  test/watchCases/cache/unsafe-cache-managed-paths/1/node_modules/package/package.json
  test/watchCases/cache/unsafe-cache-managed-paths/2/node_modules/package/index.js
  test/watchCases/cache/unsafe-cache-managed-paths/2/node_modules/package/package.json
  test/watchCases/cache/unsafe-cache-managed-paths/webpack.config.js
Labels: PR: unreviewed

#14746 docs: remove old badges from README
  README.md
Labels: PR: reviewed-approved

#14756 chore: remove `.husky/.gitignore`
  .husky/.gitignore
Labels: PR: unreviewed, PR: non-main, PR: dev-1

#14777 fix double compilation with managed paths
  lib/FileSystemInfo.js
  test/Watch.test.js
  test/fixtures/watch/node_modules/inline-loader/index.js
  test/fixtures/watch/node_modules/inline-loader/package.json
  test/fixtures/watch/node_modules/nested-package1/index.js
  test/fixtures/watch/node_modules/nested-package1/package.json
  test/fixtures/watch/node_modules/package/index.js
  test/fixtures/watch/node_modules/package/node_modules/nested-package2/index.js
  test/fixtures/watch/node_modules/package/node_modules/nested-package2/package.json
  test/fixtures/watch/node_modules/package/package.json
  test/fixtures/watch/node_modules/some-loader/index.js
  test/fixtures/watch/node_modules/some-loader/package.json
  test/fixtures/watch/src/index.js
  test/fixtures/watch/src/local.js
Labels: PR: unreviewed

#14813 fix pre-compiled schema validation for Infinity and arrays
  lib/util/create-schema-validation.js
  lib/webpack.js
  package.json
  schemas/WebpackOptions.check.js
  schemas/plugins/DllReferencePlugin.check.js
  schemas/plugins/HashedModuleIdsPlugin.check.js
  schemas/plugins/ProgressPlugin.check.js
  schemas/plugins/asset/AssetParserOptions.check.js
  schemas/plugins/optimize/AggressiveSplittingPlugin.check.js
  schemas/plugins/optimize/LimitChunkCountPlugin.check.js
  schemas/plugins/optimize/MinChunkSizePlugin.check.js
  yarn.lock
Labels: PR: unreviewed

#14820 fix evaluating tagged template
  lib/javascript/JavascriptParser.js
  test/cases/parsing/evaluate-nullish/index.js
Labels: PR: reviewed-approved

#14728 perf: upgrade watchpack & split timestamp by file/dependency & only call collectTimeInfoEntries once per invalid
  lib/WatchIgnorePlugin.js
  lib/Watching.js
  lib/node/NodeWatchFileSystem.js
  lib/util/fs.js
  package.json
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: reviewed-approved

#14782 feat: show which singleton loaded version
  lib/sharing/ConsumeSharedRuntimeModule.js
  test/configCases/container/1-container-full/webpack.config.js
  test/configCases/container/2-container-full/index.js
  test/configCases/container/2-container-full/webpack.config.js
  test/configCases/sharing/consume-module/index.js
Labels: PR: reviewed-approved

#14793 resolve todos
  lib/EntryPlugin.js
  lib/LibraryTemplatePlugin.js
  lib/MultiCompiler.js
  lib/NodeStuffPlugin.js
  lib/NormalModuleFactory.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/index.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/util/fs.js
  test/configCases/entry/adding-multiple-entry-points/webpack.config.js
  test/hotCases/child-compiler/issue-9706/report-child-assets-loader.js
  test/statsCases/no-emit-on-errors-plugin-with-child-error/TestChildCompilationFailurePlugin.js
  types.d.ts
Labels: PR: non-main, PR: reviewed-approved, PR: dev-1

#14827 fix and test module federation with ESM
  lib/container/ContainerEntryModule.js
  test/ConfigTestCases.template.js
  test/configCases/container/0-container-full/test.config.js
  test/configCases/container/0-container-full/webpack.config.js
  test/configCases/container/1-container-full/package.json
  test/configCases/container/1-container-full/test.config.js
  test/configCases/container/1-container-full/webpack.config.js
Labels: PR: unreviewed

#14835 evaluate undefined to type "undefined"
  lib/javascript/JavascriptParser.js
  test/cases/parsing/evaluate/index.js
Labels: PR: reviewed-approved

#14806 use "safe" global object
  lib/ExternalModule.js
  lib/RuntimeTemplate.js
  lib/javascript/ArrayPushCallbackChunkFormatPlugin.js
  lib/library/AssignLibraryPlugin.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  test/configCases/issues/issue-12924/index.js
  test/configCases/issues/issue-12924/one.js
  test/configCases/issues/issue-12924/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#14774 reuse name variable in share scope
  lib/container/ContainerEntryModule.js
Labels: PR: reviewed-approved

#14784 improve runtime template
  declarations/WebpackOptions.d.ts
  lib/RuntimeTemplate.js
  lib/asset/AssetGenerator.js
  lib/config/browserslistTargetHandler.js
  lib/config/target.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.basictest.js.snap
  test/__snapshots__/target-browserslist.unittest.js.snap
  test/configCases/asset-modules/publicPath/webpack.config.js
  test/configCases/asset-modules/query/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#14781 feat: add validation to remotes
  lib/util/extractUrlAndGlobal.js
  test/extractUrlAndGlobal.unittest.js
Labels: PR: reviewed-approved

#14844 fix regexp in DefaultStatsPrinterPlugin
  lib/stats/DefaultStatsPrinterPlugin.js
Labels: PR: unreviewed

#14860 set hashDigestLength=16 for futureDefaults
  lib/config/defaults.js
  test/Defaults.unittest.js
Labels: PR: reviewed-approved
