Repository webpack/webpack, pull requests merged in 2021-09, with the labels that each got.

#14117 add importModule to loader context by default
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/dependencies/LoaderPlugin.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/loader-import-module/css/webpack.config.js
  test/hotCases/loader-import-module/css/webpack.config.js
  test/watchCases/cache/loader-import-module/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#14128 add mini-css import module test case
  test/configCases/plugins/mini-css-extract-plugin/test.config.js
  test/configCases/plugins/mini-css-extract-plugin/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#14118 fix null module externals
  lib/ExternalModule.js
  lib/InitFragment.js
  lib/optimize/MangleExportsPlugin.js
  lib/util/internalSerializables.js
  test/ConfigTestCases.template.js
  test/__snapshots__/ConfigCacheTestCases.longtest.js.snap
  test/__snapshots__/ConfigTestCases.basictest.js.snap
  test/configCases/externals/concatenated-module/index.js
  test/configCases/externals/concatenated-module/test.filter.js
  test/configCases/externals/concatenated-module/webpack.config.js
  test/helpers/asModule.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#14134 match resource should not include special `.webpack[...]` extension
  lib/NormalModuleFactory.js
  test/configCases/loader-import-module/css/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#14175 fix node.js because of v8 bug
  .github/workflows/test.yml
  azure-pipelines.yml
Labels: PR: unreviewed

#14174 split fresh packs by time
  lib/cache/PackFileCacheStrategy.js
  lib/serialization/ObjectMiddleware.js
  lib/util/serialization.js
Labels: PR: CI-not-ok, PR: unreviewed

#14178 improve test stability
  test/ProgressPlugin.test.js
  test/configCases/externals/concatenated-module/test.filter.js
Labels: PR: CI-ok, PR: unreviewed

#14184 remove unnecessary Object.assign
  lib/runtime/RelativeUrlRuntimeModule.js
Labels: PR: CI-ok, PR: unreviewed

#14214 fix: add stream/web to NodeTargetPlugin
  lib/node/NodeTargetPlugin.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#14211 fix IgnorePlugin schema
  declarations/plugins/IgnorePlugin.d.ts
  schemas/plugins/IgnorePlugin.check.js
  schemas/plugins/IgnorePlugin.json
  types.d.ts
Labels: PR: CI-not-ok, PR: reviewed-approved

#14212 add options to warn on using Node.js features
  declarations/WebpackOptions.d.ts
  lib/NodeStuffInWebError.js
  lib/NodeStuffPlugin.js
  lib/config/defaults.js
  lib/util/internalSerializables.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/web/node-source-future-defaults/index.js
  test/configCases/web/node-source-future-defaults/no-warn.js
  test/configCases/web/node-source-future-defaults/warnings.js
  test/configCases/web/node-source-future-defaults/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: reviewed-approved

#14244 Revert "fix node.js because of v8 bug"
  .github/workflows/test.yml
  azure-pipelines.yml
Labels: PR: CI-ok, PR: unreviewed

#14264 allow process to exit and cancel timeout again
  lib/cache/PackFileCacheStrategy.js
Labels: PR: CI-ok, PR: unreviewed

#14185 avoid allocations in SnapshotOptimization
  lib/FileSystemInfo.js
Labels: PR: CI-not-ok, PR: unreviewed

#14260 fix logic expression evaluation
  lib/javascript/BasicEvaluatedExpression.js
  lib/javascript/JavascriptParser.js
  lib/javascript/JavascriptParserHelpers.js
  test/cases/parsing/issue-7519/a.js
  test/cases/parsing/issue-7519/index.js
  test/cases/parsing/issue-7519/test.filter.js
Labels: PR: CI-ok, PR: reviewed-approved

#14291 avoid bailout of unused eval
  lib/JavascriptMetaInfoPlugin.js
  lib/index.js
  lib/optimize/InnerGraph.js
  test/configCases/inner-graph/eval-bailout/module.js
  test/configCases/inner-graph/eval-bailout/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#14317 faster utf-8 conversion for short strings
  lib/util/hash/xxhash64.js
Labels: PR: unreviewed

#14320 write short strings more efficient to cache
  lib/serialization/BinaryMiddleware.js
Labels: PR: CI-ok, PR: unreviewed

#14318 cache computation of values passed for hashing
  lib/AsyncDependenciesBlock.js
  lib/dependencies/CachedConstDependency.js
  lib/dependencies/ConstDependency.js
  lib/dependencies/JsonExportsDependency.js
  lib/dependencies/ModuleDecoratorDependency.js
  lib/dependencies/ProvidedDependency.js
  lib/dependencies/PureExpressionDependency.js
  lib/dependencies/RuntimeRequirementsDependency.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: CI-ok, PR: unreviewed

#14319 add `experiments.cacheUnaffected`
  declarations/WebpackOptions.d.ts
  lib/ChunkGraph.js
  lib/Compilation.js
  lib/Compiler.js
  lib/FlagDependencyExportsPlugin.js
  lib/MemCache.js
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.test.js.snap
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/watchCases/cache/add-defines/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#14341 performance optimizations for sealing
  lib/Compilation.js
  lib/Compiler.js
  lib/Dependency.js
  lib/FlagDependencyExportsPlugin.js
  lib/MemCache.js
  lib/ModuleGraph.js
  lib/dependencies/CommonJsExportRequireDependency.js
  lib/dependencies/ContextDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/ModuleDependency.js
  lib/dependencies/NullDependency.js
  lib/dependencies/WebAssemblyExportImportedDependency.js
  lib/util/WeakTupleMap.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#14342 improve unsafe cache performance
  lib/Compilation.js
  lib/Compiler.js
  lib/ModuleFactory.js
  lib/NormalModuleFactory.js
  test/configCases/cache-dependencies/managed-items/webpack.config.js
  test/watchCases/snapshot/unable-to-snapshot/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#14350 improve module graph building performance
  lib/ModuleGraph.js
  lib/dependencies/CommonJsExportRequireDependency.js
  lib/dependencies/CommonJsFullRequireDependency.js
  lib/dependencies/HarmonyImportDependency.js
Labels: PR: CI-ok, PR: unreviewed

#14358 experiments.cacheUnaffected bugfixes
  lib/Compilation.js
  lib/Compiler.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#14366 use a hash instead of a list to track DefinePlugin dependency
  lib/DefinePlugin.js
  test/watchCases/cache/add-defines/3/index.js
Labels: PR: CI-ok, PR: unreviewed
