Repository webpack/webpack, pull requests merged in 2021-03, with the labels that each got.

#12797 fix problem where emitting an asset twice affects the hash
  lib/optimize/RealContentHashPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/real-content-hash/a/a.js
  test/statsCases/real-content-hash/a/b.js
  test/statsCases/real-content-hash/a/lazy.js
  test/statsCases/real-content-hash/b/a.js
  test/statsCases/real-content-hash/b/b.js
  test/statsCases/real-content-hash/b/lazy.js
  test/statsCases/real-content-hash/test.config.js
  test/statsCases/real-content-hash/webpack.config.js
Labels: PR: unreviewed

#12799 Feature/update husky
  .husky/.gitignore
  package.json
  setup/setup.js
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#12803 fix: prefer provided external over built-in
  lib/WebpackOptionsApply.js
  test/configCases/externals/prefer-provided-over-built-in/index.js
  test/configCases/externals/prefer-provided-over-built-in/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#12714 Handle Windows UNC paths as Windows paths
  lib/util/fs.js
Labels: PR: CI-ok, PR: reviewed-approved

#12823 fix a grammar problem
  lib/library/ModuleLibraryPlugin.js
Labels: PR: CI-ok, PR: unreviewed

#12827 Add a test case for resolve.fallback
  test/configCases/resolve/fallback/a/1.js
  test/configCases/resolve/fallback/a/2.js
  test/configCases/resolve/fallback/b/2.js
  test/configCases/resolve/fallback/index.js
  test/configCases/resolve/fallback/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#12828 fix LibraryName of empty array
  schemas/WebpackOptions.json
  schemas/plugins/container/ContainerPlugin.json
  schemas/plugins/container/ModuleFederationPlugin.json
Labels: PR: CI-ok, PR: unreviewed

#12822 avoid making the package.json in context a build dependency
  lib/SourceMapDevToolPlugin.js
  lib/config/defaults.js
  test/BuildDependencies.test.js
  test/StatsTestCases.test.js
  test/configCases/worker/node-worker-named/index.js
  test/fixtures/buildDependencies/run.js
  test/hotCases/worker/update-in-worker/index.js
  test/hotCases/worker/update-in-worker/worker.js
Labels: PR: CI-ok, PR: unreviewed

#12832 fix array expansion when using "..."
  lib/config/defaults.js
  test/Defaults.unittest.js
Labels: PR: unreviewed

#12835 fix deterministicGrouping looping over group.nodes's negative indexes
  lib/util/deterministicGrouping.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: reviewed-approved

#12870 fix memory leak in asset generator
  declarations/WebpackOptions.d.ts
  lib/asset/AssetGenerator.js
  lib/asset/AssetModulesPlugin.js
  lib/asset/AssetParser.js
  lib/asset/AssetSourceParser.js
  package.json
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/configCases/asset-modules/assetModuleFilename/index.js
  test/configCases/asset-modules/assetModuleFilename/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#12831 fix: use runtime globals in shared plugin
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/sharing/ConsumeSharedPlugin.js
  lib/sharing/ConsumeSharedRuntimeModule.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  test/hotCases/sharing/share-plugin/common.js
  test/hotCases/sharing/share-plugin/index.js
  test/hotCases/sharing/share-plugin/module.js
  test/hotCases/sharing/share-plugin/webpack.config.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#12872 allow to define "ignored modules" per dependency
  lib/Dependency.js
  lib/NormalModuleFactory.js
  lib/RawModule.js
  lib/dependencies/ModuleDependency.js
  lib/dependencies/URLDependency.js
  test/__snapshots__/ConfigCacheTestCases.test.js.snap
  test/__snapshots__/ConfigTestCases.test.js.snap
  test/configCases/asset-modules/ignore/index.js
  test/configCases/asset-modules/ignore/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12871 add `emit` option for asset modules
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/RuntimeTemplate.js
  lib/asset/AssetGenerator.js
  lib/asset/AssetModulesPlugin.js
  lib/asset/AssetParser.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/configCases/asset-modules/assetModuleFilename/index.js
  test/configCases/asset-modules/assetModuleFilename/webpack.config.js
  test/configCases/asset-modules/emit/index.js
  test/configCases/asset-modules/emit/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#12750 Remove `type: 'module'` from `new Worker` exprs
  lib/dependencies/WorkerDependency.js
  lib/dependencies/WorkerPlugin.js
  lib/javascript/JavascriptParser.js
  test/configCases/worker/web-worker/index.js
  test/helpers/createFakeWorker.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12891 fix problem with startup of non-js initial chunks
  lib/Chunk.js
  lib/ChunkGraph.js
  lib/javascript/StartupHelpers.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/web/non-js-chunks-entrypoint-runtime-chunk/index.js
  test/configCases/web/non-js-chunks-entrypoint-runtime-chunk/node_modules/other-package/index.js
  test/configCases/web/non-js-chunks-entrypoint-runtime-chunk/node_modules/other-package/package.json
  test/configCases/web/non-js-chunks-entrypoint-runtime-chunk/node_modules/package/index.js
  test/configCases/web/non-js-chunks-entrypoint-runtime-chunk/node_modules/package/package.json
  test/configCases/web/non-js-chunks-entrypoint-runtime-chunk/test.config.js
  test/configCases/web/non-js-chunks-entrypoint-runtime-chunk/webpack.config.js
Labels: PR: unreviewed

#12894 cleanup modules after compilation to avoid leaking references when they are cached
  lib/ChunkGraph.js
  lib/Compiler.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DllModule.js
  lib/Module.js
  lib/ModuleGraph.js
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12896 DefinePlugin takes care of module invalidation when values have changed
  lib/Compilation.js
  lib/DefinePlugin.js
  lib/Module.js
  lib/NormalModule.js
  test/BuildDependencies.test.js
  test/fixtures/buildDependencies/definedValue.js
  test/fixtures/buildDependencies/index.js
  test/fixtures/buildDependencies/run.js
  test/watchCases/plugins/define-plugin/0/index.js
  test/watchCases/plugins/define-plugin/0/module4.js
  test/watchCases/plugins/define-plugin/0/module5.js
  test/watchCases/plugins/define-plugin/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#12887 fix: es5
  lib/RuntimeTemplate.js
  lib/dependencies/HarmonyCompatibilityDependency.js
  lib/prefetch/ChunkPrefetchStartupRuntimeModule.js
  lib/prefetch/ChunkPrefetchTriggerRuntimeModule.js
  lib/runtime/AsyncModuleRuntimeModule.js
  lib/runtime/CreateFakeNamespaceObjectRuntimeModule.js
  lib/sharing/ShareRuntimeModule.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#12610 fix: prefix public path in importScripts
  lib/runtime/AutoPublicPathRuntimeModule.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  test/ConfigTestCases.template.js
  test/HotTestCases.template.js
  test/helpers/createFakeWorker.js
Labels: PR: reviewed-approved

#12874 fixed possible collision with addAll es proposal
  lib/cache/ResolverCachePlugin.js
Labels: PR: CI-ok, PR: reviewed-approved

#12852 Opt out of strict mode for some library types
  lib/javascript/JavascriptModulesPlugin.js
  lib/library/AbstractLibraryPlugin.js
  lib/library/AssignLibraryPlugin.js
  test/configCases/library/type-assign-properties/index.js
  test/configCases/library/type-assign-properties/webpack.config.js
  test/configCases/library/type-assign/index.js
  test/configCases/library/type-assign/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#12905 allow to place runtime outside of the output path
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/runtime/AutoPublicPathRuntimeModule.js
  lib/util/identifier.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  test/configCases/entry/weird-names2/chunk.js
  test/configCases/entry/weird-names2/index.js
  test/configCases/entry/weird-names2/test.config.js
  test/configCases/entry/weird-names2/webpack.config.js
  test/identifier.unittest.js
Labels: PR: CI-ok, PR: unreviewed

#12909 fix: fix an issue with an output commenting out bootstrap code
  lib/javascript/JavascriptModulesPlugin.js
  test/configCases/library/type-assign/index.js
  test/configCases/library/type-assign/module.js
Labels: PR: CI-ok, PR: reviewed-approved

#12915 fix race condition in MultiCompiler queueing
  lib/MultiCompiler.js
  test/MultiCompiler.test.js
Labels: PR: CI-ok, PR: unreviewed

#12923 fix path to worker example
  examples/README.md
Labels: PR: CI-ok, PR: unreviewed

#12929 fix package "imports"
  lib/NormalModuleFactory.js
  test/cases/entry-exports-field/imports/index.js
  test/cases/entry-exports-field/imports/package.json
  test/cases/entry-exports-field/imports/pkg.mjs
Labels: PR: CI-ok, PR: reviewed-approved

#12935 offer contextify and absolutify in loader context as utils
  lib/NormalModule.js
  test/cases/loaders/utils/index.js
  test/cases/loaders/utils/loader.js
Labels: PR: CI-ok, PR: unreviewed

#12936 fix caching bug when split chunks of an entrypoint change and modules of the entrypoint stay equal
  lib/RecordIdsPlugin.js
  lib/javascript/ArrayPushCallbackChunkFormatPlugin.js
  lib/javascript/CommonJsChunkFormatPlugin.js
  lib/javascript/StartupHelpers.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/watchCases/cache/new-split-chunk-entry-node/0/entry.js
  test/watchCases/cache/new-split-chunk-entry-node/0/index.js
  test/watchCases/cache/new-split-chunk-entry-node/0/module.js
  test/watchCases/cache/new-split-chunk-entry-node/0/shared-dep.js
  test/watchCases/cache/new-split-chunk-entry-node/0/shared.js
  test/watchCases/cache/new-split-chunk-entry-node/1/module.js
  test/watchCases/cache/new-split-chunk-entry-node/2/module.js
  test/watchCases/cache/new-split-chunk-entry-node/3/entry.js
  test/watchCases/cache/new-split-chunk-entry-node/4/module.js
  test/watchCases/cache/new-split-chunk-entry-node/5/module.js
  test/watchCases/cache/new-split-chunk-entry-node/webpack.config.js
  test/watchCases/cache/new-split-chunk-entry-web/0/entry.js
  test/watchCases/cache/new-split-chunk-entry-web/0/index.js
  test/watchCases/cache/new-split-chunk-entry-web/0/module.js
  test/watchCases/cache/new-split-chunk-entry-web/0/shared-dep.js
  test/watchCases/cache/new-split-chunk-entry-web/0/shared.js
  test/watchCases/cache/new-split-chunk-entry-web/1/module.js
  test/watchCases/cache/new-split-chunk-entry-web/2/module.js
  test/watchCases/cache/new-split-chunk-entry-web/3/entry.js
  test/watchCases/cache/new-split-chunk-entry-web/4/module.js
  test/watchCases/cache/new-split-chunk-entry-web/5/module.js
  test/watchCases/cache/new-split-chunk-entry-web/webpack.config.js
Labels: PR: unreviewed

#12938 fix: allow invalidation after first watch run
  lib/MultiCompiler.js
  test/MultiCompiler.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#12946 improve error handling in beforeLoaders hook
  lib/NormalModule.js
Labels: PR: CI-ok, PR: unreviewed

#12945 fix lazy compilation caching
  lib/hmr/LazyCompilationPlugin.js
  test/hotCases/lazy-compilation/simple/index.js
  test/hotCases/lazy-compilation/simple/module.js
Labels: PR: CI-ok, PR: unreviewed

#12939 Fix worker example
  examples/worker/build.js
Labels: PR: CI-ok, PR: unreviewed

#12948 fix duplicate new URL and spacing for worker dependencies
  examples/worker/README.md
  examples/worker/example.js
  lib/dependencies/WorkerDependency.js
  lib/dependencies/WorkerPlugin.js
Labels: PR: unreviewed

#12955 improve cache serialization performance by 30%
  lib/serialization/ObjectMiddleware.js
Labels: PR: unreviewed

#12902 feat: support separate publicPath for asset modules
  declarations/WebpackOptions.d.ts
  lib/asset/AssetGenerator.js
  lib/asset/AssetModulesPlugin.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/configCases/asset-modules/generator-asset-publicPath-hash/index.js
  test/configCases/asset-modules/generator-asset-publicPath-hash/webpack.config.js
  test/configCases/asset-modules/generator-asset-publicPath/index.js
  test/configCases/asset-modules/generator-asset-publicPath/webpack.config.js
  test/configCases/asset-modules/rule-generator-publicPath/index.js
  test/configCases/asset-modules/rule-generator-publicPath/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: reviewed-approved

#12968 fix(NormalModule): call super to restore base module cache data
  lib/NormalModule.js
Labels: PR: CI-ok, PR: unreviewed

#13006 improve logging for resolving build dependencies
  lib/FileSystemInfo.js
Labels: PR: CI-ok, PR: unreviewed

#13016 expose Stats types
  lib/index.js
  lib/stats/DefaultStatsFactoryPlugin.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#13033 fix some edge cases in deterministicGrouping and add more tests
  lib/util/deterministicGrouping.js
  test/deterministicGrouping.unittest.js
Labels: PR: CI-ok, PR: unreviewed
