Repository webpack/webpack, pull requests merged in 2021-05, with the labels that each got.

#9856 Integrate Trusted Types in webpack
  declarations/WebpackOptions.d.ts
  lib/RuntimeGlobals.js
  lib/RuntimePlugin.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/dependencies/CreateScriptUrlDependency.js
  lib/dependencies/WorkerPlugin.js
  lib/runtime/CreateScriptUrlRuntimeModule.js
  lib/runtime/LoadScriptRuntimeModule.js
  lib/util/internalSerializables.js
  lib/webworker/ImportScriptsChunkLoadingPlugin.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/trusted-types/custom-policy-name/empty.js
  test/configCases/trusted-types/custom-policy-name/index.js
  test/configCases/trusted-types/custom-policy-name/webpack.config.js
  test/configCases/trusted-types/default-policy-name/empty.js
  test/configCases/trusted-types/default-policy-name/index.js
  test/configCases/trusted-types/default-policy-name/webpack.config.js
  test/configCases/trusted-types/no-policy-name/empty.js
  test/configCases/trusted-types/no-policy-name/index.js
  test/configCases/trusted-types/no-policy-name/webpack.config.js
  test/configCases/trusted-types/no-trusted-types/empty.js
  test/configCases/trusted-types/no-trusted-types/index.js
  test/configCases/trusted-types/no-trusted-types/webpack.config.js
  test/configCases/trusted-types/web-worker/importingWorker.js
  test/configCases/trusted-types/web-worker/index.js
  test/configCases/trusted-types/web-worker/module.js
  test/configCases/trusted-types/web-worker/test.config.js
  test/configCases/trusted-types/web-worker/test.filter.js
  test/configCases/trusted-types/web-worker/webpack.config.js
  test/configCases/trusted-types/web-worker/worker.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#13331 make errors nullable for call signatures of filesystem types
  lib/util/fs.js
  types.d.ts
Labels: PR: CI-ok, PR: review-outdated

#13340 fix coverage for child process
  .github/workflows/test.yml
  .gitignore
  appveyor.yml
  azure-pipelines.yml
  package.json
  test/BuildDependencies.test.js
  yarn.lock
Labels: PR: CI-ok, PR: unreviewed

#13368 docs: remove traceur-loader
  README.md
Labels: PR: CI-ok, PR: unreviewed

#13395 respect multi compiler `dependencies` and `parallelism` when using `invalidate`
  lib/MultiCompiler.js
  lib/Watching.js
  test/MultiCompiler.test.js
Labels: PR: CI-not-ok, PR: unreviewed

#13400 fixes #13330
  lib/NormalModule.js
  test/Compiler.test.js
  test/WatchTestCases.test.js
Labels: PR: CI-not-ok, PR: unreviewed

#13399 fix suspend and resuming watching correctly
  lib/Watching.js
  lib/node/NodeWatchFileSystem.js
  test/WatchSuspend.test.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#13401 accept a readonly array for configuration options
  lib/webpack.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#13296 fix: resolve mismatch with types declaration and docs for resourceQuery
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/configCases/rule-set/simple/index.js
  test/configCases/rule-set/simple/not-ab.js
  test/configCases/rule-set/simple/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: review-outdated

#13405 improve stability of ProfilingPlugin test
  test/ProfilingPlugin.test.js
Labels: PR: unreviewed

#13406 support data urls as input in `new URL`
  declarations/WebpackOptions.d.ts
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/asset/AssetGenerator.js
  lib/asset/AssetModulesPlugin.js
  lib/config/defaults.js
  lib/schemes/DataUriPlugin.js
  lib/util/DataURI.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/asset-modules/input-data-url/index.js
  test/configCases/asset-modules/input-data-url/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#13412 track changes and removals correctly during watching
  lib/Compiler.js
  lib/NormalModule.js
  lib/Watching.js
  package.json
  test/TestCases.template.js
  test/WatchDetection.test.js
  types.d.ts
  yarn.lock
Labels: PR: CI-not-ok, PR: unreviewed

#13409 add workaround for broken eslint-scope package regarding class field support
  lib/optimize/ConcatenatedModule.js
  package.json
  test/cases/parsing/class-properties/index.js
  test/cases/parsing/class-properties/module.js
  test/cases/parsing/class-properties/test.filter.js
  yarn.lock
Labels: PR: CI-not-ok, PR: unreviewed

#13421 increase timeout
  test/TestCases.template.js
Labels: PR: CI-ok, PR: unreviewed

#13422 add fsStartTime for single runs
  lib/node/NodeEnvironmentPlugin.js
  test/configCases/asset-modules/file-url/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#13448 Performance improvements
  lib/EntryPlugin.js
  lib/ExportsInfo.js
  lib/config/target.js
  lib/serialization/BinaryMiddleware.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/util/createHash.js
  lib/util/serialization.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#13449 avoid generating hmr updates for previously not existing runtimes
  lib/HotModuleReplacementPlugin.js
  test/HotTestCases.template.js
  test/hotCases/update.js
  test/hotCases/worker/remove-add-worker/compute.js
  test/hotCases/worker/remove-add-worker/index.js
  test/hotCases/worker/remove-add-worker/test.filter.js
  test/hotCases/worker/remove-add-worker/worker.js
Labels: PR: CI-ok, PR: unreviewed

#13450 add test case for moving modules and chunks between runtimes
  test/helpers/createFakeWorker.js
  test/hotCases/worker/move-between-runtime/chunk.js
  test/hotCases/worker/move-between-runtime/chunkS.js
  test/hotCases/worker/move-between-runtime/index.js
  test/hotCases/worker/move-between-runtime/module.js
  test/hotCases/worker/move-between-runtime/moduleA.js
  test/hotCases/worker/move-between-runtime/moduleAs.js
  test/hotCases/worker/move-between-runtime/moduleB.js
  test/hotCases/worker/move-between-runtime/moduleBs.js
  test/hotCases/worker/move-between-runtime/moduleS.js
  test/hotCases/worker/move-between-runtime/test.filter.js
  test/hotCases/worker/move-between-runtime/worker.js
  test/hotCases/worker/move-between-runtime/workerA.js
  test/hotCases/worker/move-between-runtime/workerB.js
Labels: PR: CI-ok, PR: unreviewed

#13464 increment index in sorting
  lib/ExportsInfo.js
Labels: PR: CI-ok, PR: unreviewed

#13478 fix - Support lazy compilation in lazy context
  lib/ContextModule.js
  lib/ContextModuleFactory.js
  lib/dependencies/ContextElementDependency.js
  lib/dependencies/ImportParserPlugin.js
  lib/hmr/LazyCompilationPlugin.js
  test/WatchClose.test.js
  test/WatchSuspend.test.js
  test/hotCases/lazy-compilation/context/context-import.js
  test/hotCases/lazy-compilation/context/generation.js
  test/hotCases/lazy-compilation/context/index.js
  test/hotCases/lazy-compilation/context/modules/demo.js
  test/hotCases/lazy-compilation/context/modules/module.js
  test/hotCases/lazy-compilation/context/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved
