Repository webpack/webpack, pull requests merged in 2021-01, with the labels that each got.

#11471 refactor regex
  lib/ContextModule.js
  test/cases/context/issue-10969/folder/file1.js
  test/cases/context/issue-10969/index.js
Labels: PR: CI-ok, PR: reviewed-approved

#12321 fix problems with using nested bundles with eval devtools
  lib/CompatibilityPlugin.js
  lib/EvalDevToolModulePlugin.js
  lib/EvalSourceMapDevToolPlugin.js
  test/configCases/library/0-create-library/webpack.config.js
  test/configCases/library/1-use-library/webpack.config.js
Labels: PR: unreviewed

#12301 fix eval-source-map typo
  examples/source-map/README.md
  lib/EvalDevToolModulePlugin.js
  lib/EvalSourceMapDevToolPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: review-outdated

#12284 Added nestedModulesSpace to schema and updated the types
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: reviewed-approved

#12338 improve checkEnabled error messages
  lib/javascript/EnableChunkLoadingPlugin.js
  lib/library/EnableLibraryPlugin.js
  lib/wasm/EnableWasmLoadingPlugin.js
Labels: PR: unreviewed

#12326 allow to configure parsers and generators globally
  declarations/WebpackOptions.d.ts
  declarations/plugins/AssetModulesPluginGenerator.d.ts
  declarations/plugins/AssetModulesPluginParser.d.ts
  lib/NormalModuleFactory.js
  lib/asset/AssetGenerator.js
  lib/asset/AssetModulesPlugin.js
  lib/asset/AssetParser.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/dependencies/HarmonyModulesPlugin.js
  schemas/WebpackOptions.json
  schemas/plugins/AssetModulesPluginGenerator.json
  schemas/plugins/AssetModulesPluginParser.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/asset-modules/global-options/index.js
  test/configCases/asset-modules/global-options/webpack.config.js
  test/configCases/asset-modules/query-and-custom-condition/webpack.config.js
  test/configCases/asset-modules/query-and-custom-encoder/webpack.config.js
  test/configCases/asset-modules/query/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#12343 fix handling of MetaProperty
  lib/dependencies/ImportMetaPlugin.js
  lib/dependencies/URLPlugin.js
  lib/javascript/JavascriptParser.js
  test/cases/parsing/meta-property/index.js
Labels: PR: unreviewed

#12327 add experiments.layers
  declarations/WebpackOptions.d.ts
  lib/APIPlugin.js
  lib/Compilation.js
  lib/Compiler.js
  lib/EntryOptionPlugin.js
  lib/ExternalModuleFactoryPlugin.js
  lib/Module.js
  lib/ModuleFactory.js
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/config/normalization.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/SplitChunksPlugin.js
  lib/rules/RuleSetCompiler.js
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  schemas/WebpackOptions.json
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/layer/rules/index.js
  test/configCases/layer/rules/loader.js
  test/configCases/layer/rules/module-layer-change.js
  test/configCases/layer/rules/module-other-layer-change.js
  test/configCases/layer/rules/module.js
  test/configCases/layer/rules/reexport.js
  test/configCases/layer/rules/webpack.config.js
  types.d.ts
Labels: PR: unreviewed

#12347 re-add chunkId to script loading when available
  lib/RuntimeGlobals.js
  lib/runtime/LoadScriptRuntimeModule.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: unreviewed

#12348 byProperty functions, allow function for externals.byLayer
  declarations/WebpackOptions.d.ts
  lib/ExternalModuleFactoryPlugin.js
  lib/ResolverFactory.js
  lib/util/cleverMerge.js
  schemas/WebpackOptions.json
  test/cleverMerge.unittest.js
  test/configCases/layer/rules/index.js
  test/configCases/layer/rules/module.js
  test/configCases/layer/rules/webpack.config.js
  types.d.ts
Labels: PR: unreviewed

#12349 fix: webpack-cli installation message
  bin/webpack.js
Labels: PR: reviewed-approved

#12370 fix bug where module size is added multiple times to the split chunk
  lib/optimize/SplitChunksPlugin.js
  test/configCases/split-chunks/issue-12307/a-only-module.js
  test/configCases/split-chunks/issue-12307/a.js
  test/configCases/split-chunks/issue-12307/b.js
  test/configCases/split-chunks/issue-12307/index.js
  test/configCases/split-chunks/issue-12307/shared-module.js
  test/configCases/split-chunks/issue-12307/webpack.config.js
Labels: PR: unreviewed

#12356 fix problems with invalid dependencies from modules
  lib/InvalidDependenciesModuleWarning.js
  lib/NormalModule.js
  lib/index.js
  package.json
  test/configCases/deprecations/invalid-dependencies/index.js
  test/configCases/deprecations/invalid-dependencies/loader.js
  test/configCases/deprecations/invalid-dependencies/warnings.js
  test/configCases/deprecations/invalid-dependencies/webpack.config.js
  test/statsCases/define-plugin/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#12372 fix bug where module size is added multiple times to the split chunk info
  lib/optimize/SplitChunksPlugin.js
  test/ConfigTestCases.test.js
  test/configCases/split-chunks/issue-12307/a-only-module.js
  test/configCases/split-chunks/issue-12307/a.js
  test/configCases/split-chunks/issue-12307/b.js
  test/configCases/split-chunks/issue-12307/index.js
  test/configCases/split-chunks/issue-12307/shared-module.js
  test/configCases/split-chunks/issue-12307/webpack.config.js
Labels: PR: unreviewed, PR: webpack-4

#11934 fix: Check whether plugin names are valid Javascript identifiers
  lib/library/AssignLibraryPlugin.js
  test/configCases/library/invalid-name/errors.js
  test/configCases/library/invalid-name/index.js
  test/configCases/library/invalid-name/webpack.config.js
Labels: PR: review-outdated, PR: tests-needed

#12375 fix caching crash in ConcatenatedModule
  lib/InvalidDependenciesModuleWarning.js
  lib/Module.js
  lib/ModuleDependencyWarning.js
  lib/optimize/ConcatenatedModule.js
  lib/util/internalSerializables.js
  test/BuildDependencies.test.js
  test/ConfigTestCases.template.js
  test/TestCases.template.js
Labels: PR: unreviewed

#12377 separate index signatures from properties to generate valid typescript
  declarations.test.d.ts
  declarations/WebpackOptions.d.ts
  package.json
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#12373 update `@webassemblyjs`
  declarations.d.ts
  lib/wasm-sync/WebAssemblyGenerator.js
  lib/wasm-sync/WebAssemblyParser.js
  package.json
  test/cases/side-effects/issue-11673/index.js
  test/configCases/worker/custom-worker/index.js
  test/configCases/worker/node-worker-named/index.js
  test/configCases/worker/node-worker/index.js
  test/configCases/worker/web-worker/index.js
  test/configCases/worker/worker-contenthash/index.js
  test/helpers/createFakeWorker.js
  test/helpers/supportsWorker.js
  test/hotCases/worker/update-in-worker/index.js
  yarn.lock
Labels: PR: unreviewed

#12387 enable backward-compatible behavior for resolve.roots
  azure-pipelines.yml
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsDefaulter.js
  package.json
  schemas/WebpackOptions.json
  test/configCases/resolving/issue-12386/index.js
  test/configCases/resolving/issue-12386/webpack.config.js
  yarn.lock
Labels: PR: unreviewed, PR: webpack-4

#12396 compute chunk roots correctly when using transitive connections
  lib/ChunkGraph.js
  lib/ids/IdHelpers.js
  test/configCases/plugins/mini-css-extract-plugin/chunk.js
  test/configCases/plugins/mini-css-extract-plugin/webpack.config.js
  test/configCases/plugins/mini-css-extract-plugin/x.js
Labels: PR: unreviewed

#12392 add resolve.preferAbsolute option
  declarations/WebpackOptions.d.ts
  package.json
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  test/configCases/resolving/prefer-absolute/index.js
  test/configCases/resolving/prefer-absolute/webpack.config.js
  test/configCases/resolving/prefer-root/index.js
  test/configCases/resolving/prefer-root/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#12398 update enhanced-resolve
  package.json
  yarn.lock
Labels: PR: unreviewed

#12384 Fix runtime type error in WatchIgnorePlugin
  lib/Compiler.js
  lib/WatchIgnorePlugin.js
  lib/util/fs.js
  types.d.ts
Labels: PR: reviewed-approved, PR: reviewed-changes-requested

#12404 Remove i18n example link
  examples/README.md
Labels: PR: unreviewed

#12415 make filesystem types compatible with memfs and normal fs
  lib/Compiler.js
  lib/ContextModuleFactory.js
  lib/FileSystemInfo.js
  lib/serialization/FileMiddleware.js
  lib/util/fs.js
  test/configCases/types/filesystems/test.filter.js
  test/configCases/types/filesystems/webpack.config.js
  types.d.ts
Labels: PR: unreviewed

#9492 Fixed automaticPrefetchPlugin to not apply loaders via config to the request
  lib/AutomaticPrefetchPlugin.js
  test/watchCases/plugins/automatic-prefetch-plugin-9485/0/delayed.js
  test/watchCases/plugins/automatic-prefetch-plugin-9485/0/foo/0.js
  test/watchCases/plugins/automatic-prefetch-plugin-9485/0/foo/a.js
  test/watchCases/plugins/automatic-prefetch-plugin-9485/0/foo/b.js
  test/watchCases/plugins/automatic-prefetch-plugin-9485/0/foo/c.js
  test/watchCases/plugins/automatic-prefetch-plugin-9485/0/index.js
  test/watchCases/plugins/automatic-prefetch-plugin-9485/1/foo/1.js
  test/watchCases/plugins/automatic-prefetch-plugin-9485/2/foo/2.js
  test/watchCases/plugins/automatic-prefetch-plugin-9485/3/foo/3.js
  test/watchCases/plugins/automatic-prefetch-plugin-9485/delayed.js
  test/watchCases/plugins/automatic-prefetch-plugin-9485/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-changes-requested

#12420 use typescript 4.2
  lib/MultiCompiler.js
  lib/stats/DefaultStatsPrinterPlugin.js
  package.json
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#12419 improve build deps tracking (ESM, non-JS, better warnings)
  lib/FileSystemInfo.js
  lib/cache/PackFileCacheStrategy.js
  package.json
  test/BuildDependencies.test.js
  test/fixtures/buildDependencies/esm-cjs-dep.js
  test/fixtures/buildDependencies/esm-dep.mjs
  test/fixtures/buildDependencies/esm.mjs
  test/fixtures/buildDependencies/index.js
  test/fixtures/buildDependencies/run.js
  yarn.lock
Labels: PR: unreviewed

#12311 Fix #12310
  lib/dependencies/AMDDefineDependency.js
  test/cases/parsing/local-modules/index.js
Labels: PR: reviewed-approved, PR: reviewed-changes-requested

#12289 Remove duplicate import
  lib/ContextModule.js
Labels: PR: reviewed-approved

#12428 improve resolveBuildDependencies performance
  lib/FileSystemInfo.js
  lib/util/processAsyncTree.js
Labels: PR: unreviewed

#12427 Add chunkModulesSpace property to stats schema
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.test.js.snap
  types.d.ts
Labels: PR: reviewed-approved

#12429 offer getResolve to externals
  declarations/WebpackOptions.d.ts
  lib/ExternalModuleFactoryPlugin.js
  schemas/WebpackOptions.json
  test/configCases/externals/resolve/index.js
  test/configCases/externals/resolve/node_modules/external.js
  test/configCases/externals/resolve/webpack.config.js
  types.d.ts
Labels: PR: unreviewed

#11433 Remove usage of removed API in rebuildModule
  lib/Compilation.js
  test/configCases/rebuild/finishModules/a.js
  test/configCases/rebuild/finishModules/chunk.js
  test/configCases/rebuild/finishModules/index.js
  test/configCases/rebuild/finishModules/loader.js
  test/configCases/rebuild/finishModules/module.js
  test/configCases/rebuild/finishModules/other-file.js
  test/configCases/rebuild/finishModules/webpack.config.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#12285 Remove code duplication
  lib/ExportsInfo.js
Labels: PR: CI-ok, PR: unreviewed

#10702 feat: new dependency __webpack_is_included__
  lib/IgnoreErrorModuleFactory.js
  lib/WebpackIsIncludedPlugin.js
  lib/WebpackOptionsApply.js
  lib/dependencies/WebpackIsIncludedDependency.js
  lib/util/internalSerializables.js
  test/cases/parsing/webpack-is-included/index.js
  test/cases/parsing/webpack-is-included/module1.js
  test/cases/parsing/webpack-is-included/module2.js
  test/cases/parsing/webpack-is-included/moduleUnused.js
  test/cases/parsing/webpack-is-included/moduleUsed.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested

#12037 fix(normal-module-factory): improve dx on deprecation messages
  lib/NormalModuleFactory.js
Labels: PR: CI-ok, PR: reviewed-approved, PR: reviewed-changes-requested, PR: tests-needed

#12132 feat: prioritize eager shared modules
  lib/sharing/ProvideSharedModule.js
  lib/sharing/ShareRuntimeModule.js
  test/configCases/sharing/provide-eager-module/index.js
  test/configCases/sharing/provide-eager-module/node_modules/common/index.js
  test/configCases/sharing/provide-eager-module/node_modules/common/package.json
  test/configCases/sharing/provide-eager-module/node_modules/uncommon/index.js
  test/configCases/sharing/provide-eager-module/node_modules/uncommon/package.json
  test/configCases/sharing/provide-eager-module/package.json
  test/configCases/sharing/provide-eager-module/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#11629 feat: libraryTarget add assign-properties
  declarations/WebpackOptions.d.ts
  declarations/plugins/container/ContainerPlugin.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  lib/library/AssignLibraryPlugin.js
  lib/library/EnableLibraryPlugin.js
  schemas/WebpackOptions.json
  schemas/plugins/container/ContainerPlugin.json
  schemas/plugins/container/ModuleFederationPlugin.json
  test/__snapshots__/Cli.test.js.snap
  test/configCases/library/assign-properties/index.js
  test/configCases/library/assign-properties/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: reviewed-approved

#12442 only return result of startup when needed
  lib/javascript/JavascriptModulesPlugin.js
  test/ConfigTestCases.template.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/configCases/module/runtime-chunk/index.js
  test/configCases/module/runtime-chunk/test.config.js
  test/configCases/module/runtime-chunk/webpack.config.js
Labels: PR: unreviewed

#11913 AssignLibraryPlugin: improve error message for invalid library name
  lib/library/AssignLibraryPlugin.js
  test/Errors.test.js
Labels: PR: CI-ok, PR: tests-needed, PR: unreviewed

#12451 allow inner graph shaking for new URL()
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/URLDependency.js
  lib/dependencies/URLPlugin.js
  lib/optimize/InnerGraph.js
  test/configCases/side-effects/url/file.png
  test/configCases/side-effects/url/index.js
  test/configCases/side-effects/url/module.js
  test/configCases/side-effects/url/webpack.config.js
Labels: PR: CI-ok, PR: unreviewed

#11330 improve AutomaticPrefetchPlugin performance
  lib/AutomaticPrefetchPlugin.js
Labels: PR: CI-not-ok, PR: unreviewed

#10845 tests: update metadata
  test/Compiler.test.js
  test/MultiCompiler.test.js
Labels: PR: CI-ok, PR: reviewed-approved

#12462 fix timestamps generated by ProfilingPlugin on some OS and node.js versions
  lib/debug/ProfilingPlugin.js
  test/ProfilingPlugin.test.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#12452 fix: walk iife function expression params
  lib/javascript/JavascriptParser.js
  test/cases/parsing/iife/a.js
  test/cases/parsing/iife/index.js
  test/cases/parsing/iife/side-effect-call.js
  test/cases/parsing/iife/test.filter.js
Labels: PR: CI-ok, PR: unreviewed

#11316 feat(CommonJsPlugin): magic comment to ignore require calls
  declarations/WebpackOptions.d.ts
  lib/Compiler.js
  lib/NormalModuleFactory.js
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/dependencies/AMDPlugin.js
  lib/dependencies/CommonJsImportsParserPlugin.js
  lib/dependencies/CommonJsPlugin.js
  lib/dependencies/ContextDependencyHelpers.js
  lib/dependencies/HarmonyExportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/HarmonyModulesPlugin.js
  lib/dependencies/ImportPlugin.js
  lib/dependencies/SystemPlugin.js
  lib/javascript/JavascriptParser.js
  lib/util/binarySearchBounds.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.test.js.snap
  test/configCases/parsing/require-ignore/index.js
  test/configCases/parsing/require-ignore/other.js
  test/configCases/parsing/require-ignore/other2.js
  test/configCases/parsing/require-ignore/other3.js
  test/configCases/parsing/require-ignore/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#12469 add experimental lazy compilation
  azure-pipelines.yml
  declarations/WebpackOptions.d.ts
  examples/lazy-compilation/README.md
  examples/lazy-compilation/all.js
  examples/lazy-compilation/build.js
  examples/lazy-compilation/example.js
  examples/lazy-compilation/index.html
  examples/lazy-compilation/more.js
  examples/lazy-compilation/template.md
  examples/lazy-compilation/webpack.config.js
  hot/lazy-compilation-node.js
  hot/lazy-compilation-web.js
  lib/Compiler.js
  lib/WebpackOptionsApply.js
  lib/cache/PackFileCacheStrategy.js
  lib/hmr/LazyCompilationPlugin.js
  lib/hmr/lazyCompilationBackend.js
  lib/serialization/ObjectMiddleware.js
  schemas/WebpackOptions.json
  test/HotTestCases.template.js
  test/__snapshots__/Cli.test.js.snap
  test/helpers/EventSourceForNode.js
  test/hotCases/lazy-compilation/simple/index.js
  test/hotCases/lazy-compilation/simple/module.js
  test/hotCases/lazy-compilation/simple/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12497 move responsibility of exports info and connected modules hashing from Dependencies to Module
  lib/CacheFacade.js
  lib/ChunkGraph.js
  lib/CodeGenerationResults.js
  lib/Compilation.js
  lib/Dependency.js
  lib/ExportsInfo.js
  lib/HotModuleReplacementPlugin.js
  lib/Module.js
  lib/Template.js
  lib/dependencies/ExportsInfoDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/JsonExportsDependency.js
  lib/dependencies/ModuleDecoratorDependency.js
  lib/dependencies/NullDependency.js
  lib/dependencies/ProvidedDependency.js
  lib/dependencies/StaticExportsDependency.js
  lib/optimize/ConcatenatedModule.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/util/MapHelpers.js
  lib/util/createHash.js
  lib/util/runtime.js
  test/WatchTestCases.test.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/watchCases/cache/reexport-mangle/0/bar.js
  test/watchCases/cache/reexport-mangle/0/foo.js
  test/watchCases/cache/reexport-mangle/0/index.js
  test/watchCases/cache/reexport-mangle/0/module-cjs.js
  test/watchCases/cache/reexport-mangle/0/module-reexport-cjs.js
  test/watchCases/cache/reexport-mangle/0/module-reexport.js
  test/watchCases/cache/reexport-mangle/0/module.js
  test/watchCases/cache/reexport-mangle/0/other-user.js
  test/watchCases/cache/reexport-mangle/1/other-user.js
  test/watchCases/cache/reexport-mangle/2/other-user.js
  test/watchCases/cache/reexport-mangle/webpack.config.js
  types.d.ts
Labels: PR: CI-not-ok, PR: unreviewed

#12515 refactor: add semicolon
  lib/javascript/JavascriptModulesPlugin.js
  test/__snapshots__/StatsTestCases.test.js.snap
Labels: PR: CI-ok, PR: reviewed-approved

#12516 avoid allocations
  lib/CodeGenerationResults.js
  lib/Dependency.js
  lib/ModuleGraph.js
  lib/ModuleGraphConnection.js
  lib/NormalModule.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyImportSideEffectDependency.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/URLDependency.js
  lib/optimize/InnerGraph.js
  lib/util/runtime.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12522 Fix types. Set ProgressPlugin options optional
  lib/ProgressPlugin.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#12527 feat: support custom chunk name in container expose options
  declarations/_container.d.ts
  declarations/plugins/container/ContainerPlugin.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  lib/container/ContainerEntryModule.js
  lib/container/ContainerPlugin.js
  schemas/_container.json
  schemas/plugins/container/ContainerPlugin.json
  schemas/plugins/container/ModuleFederationPlugin.json
  test/__snapshots__/StatsTestCases.test.js.snap
  test/statsCases/module-federation-custom-exposed-module-name/entry.js
  test/statsCases/module-federation-custom-exposed-module-name/index.js
  test/statsCases/module-federation-custom-exposed-module-name/webpack.config.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#12529 improve TLA consistency
  lib/RuntimeGlobals.js
  lib/RuntimePlugin.js
  lib/RuntimeTemplate.js
  lib/async-modules/AwaitDependenciesInitFragment.js
  lib/dependencies/HarmonyCompatibilityDependency.js
  lib/runtime/AsyncModuleRuntimeModule.js
  lib/sharing/ShareRuntimeModule.js
  lib/wasm-async/AsyncWebAssemblyJavascriptGenerator.js
  test/__snapshots__/StatsTestCases.test.js.snap
  test/cases/async-modules/micro-ticks-parents/case-a/a.js
  test/cases/async-modules/micro-ticks-parents/case-a/async.js
  test/cases/async-modules/micro-ticks-parents/case-a/async2.js
  test/cases/async-modules/micro-ticks-parents/case-a/b.js
  test/cases/async-modules/micro-ticks-parents/case-a/c.js
  test/cases/async-modules/micro-ticks-parents/case-a/d.js
  test/cases/async-modules/micro-ticks-parents/case-a/e.js
  test/cases/async-modules/micro-ticks-parents/case-a/f.js
  test/cases/async-modules/micro-ticks-parents/case-b/a.js
  test/cases/async-modules/micro-ticks-parents/case-b/async.js
  test/cases/async-modules/micro-ticks-parents/case-b/b.js
  test/cases/async-modules/micro-ticks-parents/case-b/c.js
  test/cases/async-modules/micro-ticks-parents/case-b/d.js
  test/cases/async-modules/micro-ticks-parents/case-b/e.js
  test/cases/async-modules/micro-ticks-parents/case-c/a.js
  test/cases/async-modules/micro-ticks-parents/case-c/b.js
  test/cases/async-modules/micro-ticks-parents/case-d/a.js
  test/cases/async-modules/micro-ticks-parents/case-d/b.js
  test/cases/async-modules/micro-ticks-parents/case-d/c.js
  test/cases/async-modules/micro-ticks-parents/case-d/index.js
  test/cases/async-modules/micro-ticks-parents/case-d/x.js
  test/cases/async-modules/micro-ticks-parents/case-d/y.js
  test/cases/async-modules/micro-ticks-parents/case-e/a.js
  test/cases/async-modules/micro-ticks-parents/case-e/async.js
  test/cases/async-modules/micro-ticks-parents/case-e/b.js
  test/cases/async-modules/micro-ticks-parents/case-e/index.js
  test/cases/async-modules/micro-ticks-parents/case-e/x.js
  test/cases/async-modules/micro-ticks-parents/index.js
  test/cases/async-modules/micro-ticks-parents/test.filter.js
  test/cases/async-modules/micro-ticks-parents/tick.js
  types.d.ts
Labels: PR: CI-ok, PR: unreviewed

#12534 export EntryObject for typescript usage
  lib/index.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved
