Repository webpack/webpack, pull requests merged in 2022-03, with the labels that each got.

#15454 use cache in BannerPlugin
  lib/BannerPlugin.js
  test/BannerPlugin.test.js
Labels: PR: reviewed-approved

#15463 add parserOptions.importMetaContext option
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.basictest.js.snap
  types.d.ts
Labels: PR: reviewed-approved

#15423 Fix resolving with yield
  lib/ContextModule.js
  lib/ContextModuleFactory.js
  lib/cache/ResolverCachePlugin.js
  package.json
  test/ContextModule.unittest.js
  test/ContextModuleFactory.unittest.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/configCases/resolve/context-resolve-with-ignore/a/foo/a.js
  test/configCases/resolve/context-resolve-with-ignore/a/foo/package.json
  test/configCases/resolve/context-resolve-with-ignore/b/foo/b.js
  test/configCases/resolve/context-resolve-with-ignore/b/foo/package.json
  test/configCases/resolve/context-resolve-with-ignore/index.js
  test/configCases/resolve/context-resolve-with-ignore/webpack.config.js
  test/configCases/resolve/empty-context-module/index.js
  test/configCases/resolve/empty-context-module/webpack.config.js
  test/configCases/resolve/issue-11335-context-module/index.js
  test/configCases/resolve/issue-11335-context-module/src/foo/widgets/b.js
  test/configCases/resolve/issue-11335-context-module/src/foo/widgets/c.js
  test/configCases/resolve/issue-11335-context-module/src/main/widgets/a.js
  test/configCases/resolve/issue-11335-context-module/src/main/widgets/b.js
  test/configCases/resolve/issue-11335-context-module/webpack.config.js
  test/statsCases/context-independence/a/c/a.js
  test/statsCases/context-independence/a/cc/b.js
  test/statsCases/context-independence/a/index.js
  test/statsCases/context-independence/b/c/a.js
  test/statsCases/context-independence/b/cc/b.js
  test/statsCases/context-independence/b/index.js
  test/statsCases/context-independence/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: review-outdated

#15413 fix: use relative path in source map for context module
  lib/Compilation.js
  lib/ContextModule.js
  lib/Module.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/configCases/source-map/context-module-source-path/foo/a.js
  test/configCases/source-map/context-module-source-path/foo/b.js
  test/configCases/source-map/context-module-source-path/index.js
  test/configCases/source-map/context-module-source-path/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#15480 fix module chunk loading
  lib/esm/ModuleChunkLoadingPlugin.js
Labels: PR: unreviewed

#15002 Fix 14927
  lib/config/defaults.js
  test/Defaults.unittest.js
Labels: PR: reviewed-approved

#15531 fix `parser.evaluteExpression` api
  lib/ConstPlugin.js
  lib/dependencies/CommonJsExportsParserPlugin.js
  lib/javascript/JavascriptParser.js
  types.d.ts
Labels: PR: reviewed-approved

#15327 dont count optional chaining in import specifier
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/javascript/BasicEvaluatedExpression.js
  lib/javascript/JavascriptParser.js
  test/cases/parsing/optional-chaining/b.js
  test/cases/parsing/optional-chaining/c.js
  test/cases/parsing/optional-chaining/index.js
  types.d.ts
Labels: PR: reviewed-approved

#15455 add "in" operator support
  lib/dependencies/HarmonyEvaluatedImportSpecifierDependency.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/dependencies/HarmonyModulesPlugin.js
  lib/javascript/BasicEvaluatedExpression.js
  lib/javascript/JavascriptParser.js
  lib/util/internalSerializables.js
  test/cases/parsing/harmony-export-import-specifier/index.js
  test/cases/parsing/harmony-export-import-specifier/m.js
  test/cases/parsing/harmony-export-import-specifier/n.js
  test/cases/parsing/harmony-export-import-specifier/o.js
  test/cases/parsing/harmony-export-import-specifier/p.js
  test/cases/parsing/harmony-export-import-specifier/q.js
  test/cases/parsing/harmony-export-import-specifier/side-effect-free/m.js
  test/cases/parsing/harmony-export-import-specifier/side-effect-free/o.js
  test/cases/parsing/harmony-export-import-specifier/side-effect-free/package.json
  types.d.ts
Labels: PR: review-outdated

#15577 support node: prefix in esm build dependencies
  lib/FileSystemInfo.js
  test/BuildDependencies.longtest.js
Labels: PR: reviewed-approved

#15551 support arrow function in umd
  lib/library/UmdLibraryPlugin.js
  test/ConfigTestCases.template.js
  test/configCases/umd/issue-15545/index.js
  test/configCases/umd/issue-15545/test.config.js
  test/configCases/umd/issue-15545/webpack.config.js
Labels: PR: reviewed-approved

#15536 fix allDeps list
  lib/ContextModule.js
  test/cases/runtime/issue-15518/dynamic_a/module_a1.js
  test/cases/runtime/issue-15518/dynamic_a/module_a2.js
  test/cases/runtime/issue-15518/index.js
Labels: PR: reviewed-approved

#15585 support context in Dependency
  lib/Compilation.js
  lib/ContextModuleFactory.js
  lib/Dependency.js
  lib/dependencies/ContextElementDependency.js
  test/ContextModuleFactory.unittest.js
  test/configCases/resolve/issue-15580/index.js
  test/configCases/resolve/issue-15580/locales/en.json
  test/configCases/resolve/issue-15580/node_modules/vuetify/lib/locale/en.json
  test/configCases/resolve/issue-15580/node_modules/vuetify/lib/locale/hu.json
  test/configCases/resolve/issue-15580/node_modules/vuetify/lib/locale/ru.json
  test/configCases/resolve/issue-15580/node_modules/vuetify/package.json
  test/configCases/resolve/issue-15580/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved
