Repository webpack/webpack, pull requests merged in 2022-01, with the labels that each got.

#15121 fix: add CORS methods and headers for lazyCompilation
  lib/hmr/lazyCompilationBackend.js
Labels: PR: reviewed-approved

#15118 Upgrade graceful-fs to support throwIfNoEntry in input/output filesystem
  package.json
  yarn.lock
Labels: PR: reviewed-approved

#14434 replace chunkIds[i] with chunkId in JsonpChunkLoadingRuntimeModule
  lib/web/JsonpChunkLoadingRuntimeModule.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: CI-not-ok, PR: reviewed-approved

#15041 lower default aggregateTimeout to 20ms
  lib/Watching.js
Labels: PR: unreviewed

#15010 improve test case to check correct data
  test/cases/large/big-assets/generate-big-asset-loader.js
  test/cases/large/big-assets/index.js
Labels: PR: unreviewed

#14998 Enhancement: Improve CJS → ESM support
  declarations/WebpackOptions.d.ts
  declarations/plugins/container/ContainerPlugin.d.ts
  declarations/plugins/container/ContainerReferencePlugin.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  lib/ExternalModule.js
  lib/library/AssignLibraryPlugin.js
  lib/library/EnableLibraryPlugin.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  schemas/plugins/container/ContainerPlugin.check.js
  schemas/plugins/container/ContainerPlugin.json
  schemas/plugins/container/ContainerReferencePlugin.check.js
  schemas/plugins/container/ContainerReferencePlugin.json
  schemas/plugins/container/ExternalsType.check.js
  schemas/plugins/container/ModuleFederationPlugin.check.js
  schemas/plugins/container/ModuleFederationPlugin.json
  test/__snapshots__/Cli.basictest.js.snap
  test/configCases/library/0-create-library/webpack.config.js
  test/configCases/library/1-use-library/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#15047 Change the Implementation of get() in MultiItemCache to Prevent Stack Exhaustion
  lib/CacheFacade.js
  test/MultiItemCache.unittest.js
Labels: PR: reviewed-approved

#14917 avoid reporting non-existant package.jsons as dependencies
  lib/FileSystemInfo.js
Labels: PR: unreviewed

#15158 fix missing css runtime when only initial css is used
  examples/css/README.md
  examples/css/index.html
  lib/RuntimeGlobals.js
  lib/css/CssGenerator.js
  lib/css/CssLoadingRuntimeModule.js
  lib/css/CssModulesPlugin.js
  test/configCases/css/basic-initial-only/index.js
  test/configCases/css/basic-initial-only/style-imported.css
  test/configCases/css/basic-initial-only/style.css
  test/configCases/css/basic-initial-only/test.config.js
  test/configCases/css/basic-initial-only/webpack.config.js
  types.d.ts
Labels: PR: unreviewed

#14875 limit data url module name in stats printer
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/statsCases/all-stats/index.js
  test/statsCases/all-stats/webpack.config.js
  test/statsCases/asset/index.js
  test/statsCases/asset/webpack.config.js
Labels: PR: reviewed-approved

#15154 fix: cache for CreateScriptUrlDependency
  lib/dependencies/CreateScriptUrlDependency.js
Labels: PR: reviewed-approved

#14953 feat: allow specific description for CLI options
  lib/cli.js
  test/Cli.basictest.js
  test/__snapshots__/Cli.basictest.js.snap
  types.d.ts
Labels: PR: reviewed-changes-requested

#14890 fix/refactor spaceLimited
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: unreviewed

#15155 fix: handle content from loaders
  lib/asset/AssetGenerator.js
  test/configCases/asset-modules/data-url/index.js
  test/configCases/asset-modules/data-url/loader.js
  test/configCases/asset-modules/data-url/webpack.config.js
Labels: PR: reviewed-approved

#15145 fix: context regex non-deterministic with |
  lib/ContextModule.js
  test/ContextModule.unittest.js
Labels: PR: reviewed-approved

#15050 fix callback err type should include null
  lib/Cache.js
  lib/CacheFacade.js
  lib/CleanPlugin.js
  lib/Compilation.js
  lib/Compiler.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DllModule.js
  lib/ExternalModule.js
  lib/ExternalModuleFactoryPlugin.js
  lib/FileSystemInfo.js
  lib/HookWebpackError.js
  lib/Module.js
  lib/MultiCompiler.js
  lib/MultiWatching.js
  lib/NormalModule.js
  lib/RawModule.js
  lib/RuntimeModule.js
  lib/Watching.js
  lib/asset/RawDataUrlModule.js
  lib/cache/ResolverCachePlugin.js
  lib/container/ContainerEntryModule.js
  lib/container/FallbackModule.js
  lib/container/RemoteModule.js
  lib/dependencies/LoaderPlugin.js
  lib/hmr/LazyCompilationPlugin.js
  lib/hmr/lazyCompilationBackend.js
  lib/schemes/HttpUriPlugin.js
  lib/sharing/ConsumeSharedModule.js
  lib/sharing/ProvideSharedModule.js
  lib/sharing/utils.js
  lib/util/AsyncQueue.js
  types.d.ts
Labels: PR: reviewed-approved

#15157 Fix ProfilingPlugin for watch scenarios
  lib/debug/ProfilingPlugin.js
  test/WatchTestCases.template.js
  test/watchCases/plugins/profiling-plugin/0/index.js
  test/watchCases/plugins/profiling-plugin/1/index.js
  test/watchCases/plugins/profiling-plugin/deprecations.js
  test/watchCases/plugins/profiling-plugin/webpack.config.js
Labels: PR: review-outdated

#15182 Module.libIdent is scoped by the module layer if there is one
  lib/ContextModule.js
  lib/NormalModule.js
  lib/container/ContainerEntryModule.js
  lib/container/FallbackModule.js
  lib/container/RemoteModule.js
  lib/sharing/ConsumeSharedModule.js
  lib/sharing/ProvideSharedModule.js
Labels: PR: unreviewed

#15183 bugfixes to css modules
  examples/css/README.md
  lib/config/normalization.js
  lib/css/CssLoadingRuntimeModule.js
Labels: PR: unreviewed

#14944 chore: remove old Travis-CI config
  .travis.yml
  package.json
  test/README.md
Labels: PR: reviewed-approved

#15195 provide hashFunction parameter to DependencyTemplates
  lib/Compilation.js
  lib/DependencyTemplates.js
Labels: PR: reviewed-approved

#15187 fix: revise call signature of addChunkInGroup
  lib/Compilation.js
  types.d.ts
Labels: PR: reviewed-approved

#14943 chore: update cSpell globs and fix typos
  cspell.json
  declarations.d.ts
  examples/module-federation/index.html
  lib/optimize/ConcatenatedModule.js
  package.json
  test/BuildDependencies.longtest.js
  test/Cli.basictest.js
  test/Compiler.test.js
  test/Defaults.unittest.js
  test/Errors.test.js
  test/JavascriptParser.unittest.js
  test/NodeTemplatePlugin.test.js
  test/NormalModule.unittest.js
  test/ProfilingPlugin.unittest.js
  test/ProgressPlugin.test.js
  test/README.md
  test/StatsTestCases.basictest.js
  test/Template.unittest.js
  test/Validation.test.js
  test/WasmHashes.unittest.js
  test/cases/chunks/inline-options/index.js
  test/cases/chunks/named-chunks/index.js
  test/cases/cjs-tree-shaking/object-define-property-replace/index.js
  test/cases/mjs/non-enumerable/analyzable-module.js
  test/cases/mjs/non-enumerable/errors.js
  test/cases/mjs/non-enumerable/test.js
  test/cases/mjs/non-enumerable/test.mjs
  test/cases/mjs/non-enumerable/warnings.js
  test/cases/parsing/harmony-commonjs-mix/module1.js
  test/cases/parsing/harmony-star-conflict/index.js
  test/cases/parsing/import-define/index.js
  test/cases/side-effects/order-issue-7665/index.js
  test/configCases/errors/multi-entry-missing-module/index.js
  test/configCases/inner-graph/issue-11678/module.js
  test/configCases/split-chunks/max-size-casing/index.js
  test/fixtures/buildDependencies/run.js
  test/setupTestFramework.js
Labels: PR: reviewed-approved

#15200 allow to generate only exports for css in node
  declarations/WebpackOptions.d.ts
  lib/Compiler.js
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/css/CssExportsGenerator.js
  lib/css/CssLoadingRuntimeModule.js
  lib/css/CssModulesPlugin.js
  lib/ids/DeterministicModuleIdsPlugin.js
  lib/ids/HashedModuleIdsPlugin.js
  lib/ids/IdHelpers.js
  lib/ids/NamedModuleIdsPlugin.js
  lib/ids/NaturalModuleIdsPlugin.js
  lib/ids/OccurrenceModuleIdsPlugin.js
  lib/ids/SyncModuleIdsPlugin.js
  lib/index.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.basictest.js.snap
  test/configCases/css/css-modules-in-node/index.js
  test/configCases/css/css-modules-in-node/warnings.js
  test/configCases/css/css-modules-in-node/webpack.config.js
  test/configCases/css/css-modules/webpack.config.js
  test/configCases/css/exports-in-node/index.js
  test/configCases/css/exports-in-node/webpack.config.js
  types.d.ts
Labels: PR: unreviewed

#14919 remove md4 defaults
  declarations/WebpackOptions.d.ts
  lib/ChunkGraph.js
  lib/CodeGenerationResults.js
  lib/Compilation.js
  lib/DependencyTemplates.js
  lib/ExternalModule.js
  lib/FileSystemInfo.js
  lib/ModuleFilenameHelpers.js
  lib/cache/getLazyHashedEtag.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/ids/HashedModuleIdsPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/serialization/FileMiddleware.js
  lib/serialization/ObjectMiddleware.js
  lib/util/serialization.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/FileSystemInfo.unittest.js
  test/__snapshots__/Cli.basictest.js.snap
  tooling/print-cache-file.js
  types.d.ts
Labels: PR: non-main, PR: reviewed-approved, PR: dev-1

#15222 store url as Buffer to avoid serialization warnings
  lib/RuntimeTemplate.js
  lib/asset/AssetGenerator.js
  lib/asset/RawDataUrlModule.js
Labels: PR: unreviewed

#15202 Exclude `webpack-hot-middleware/client` from lazy compilation
  lib/hmr/LazyCompilationPlugin.js
Labels: PR: review-outdated

#14721 browserify link: HTTP => HTTPS
  README.md
Labels: PR: CI-not-ok, PR: reviewed-approved

#13110 fix typo in resource-and-context-contextmodule
  test/configCases/ignore/resource-and-context-contextmodule/test.js
Labels: PR: CI-not-ok, PR: reviewed-approved

#15266 fix handling of errors thrown in async modules
  lib/async-modules/AwaitDependenciesInitFragment.js
  lib/dependencies/HarmonyCompatibilityDependency.js
  lib/runtime/AsyncModuleRuntimeModule.js
  lib/wasm-async/AsyncWebAssemblyJavascriptGenerator.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/cases/async-modules/double-import/a.js
  test/cases/async-modules/double-import/b.js
  test/cases/async-modules/double-import/index.js
  test/cases/async-modules/double-import/main.js
  test/cases/async-modules/double-import/shared.js
  test/cases/async-modules/top-level-error/counter.js
  test/cases/async-modules/top-level-error/index.js
  test/cases/async-modules/top-level-error/main.js
  test/cases/async-modules/top-level-error/module.js
  test/cases/async-modules/top-level-error/reexport.js
Labels: PR: unreviewed

#15246 Disable compile time evaluation of import.meta.url
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  lib/dependencies/ImportMetaPlugin.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.basictest.js.snap
  test/configCases/module/externals/index.js
  test/configCases/module/externals/meta.js
  test/configCases/module/externals/webpack.config.js
  test/configCases/output/import-meta-name/a.js
  test/configCases/output/import-meta-name/index.js
  test/configCases/output/import-meta-name/test.config.js
  test/configCases/output/import-meta-name/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#15282 add __webpack_module__ and __webpack_module_id__ to the api
  lib/APIPlugin.js
  lib/Module.js
  test/cases/parsing/api/id.js
  test/cases/parsing/api/index.js
  test/cases/parsing/api/module.js
  test/cases/parsing/api/typeof-module.js
Labels: PR: unreviewed
