Repository webpack/webpack, pull requests merged in 2022-07, with the labels that each got.

#16005 remove unnecessary moduleId property on Promise
  lib/runtime/AsyncModuleRuntimeModule.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: unreviewed

#16001 enhanced-resolve@5.10.0
  package.json
  types.d.ts
  yarn.lock
Labels: PR: reviewed-approved

#15909 fix: hmr build twice
  package.json
  yarn.lock
Labels: PR: reviewed-approved

#15834 ci: update github actions
  .github/workflows/test.yml
Labels: PR: reviewed-approved

#15940 chore: add bugs field in package.json
  package.json
Labels: PR: reviewed-approved

#15991 Improve watch performance by using stable identities for Snapshot iterables
  lib/FileSystemInfo.js
  test/FileSystemInfo.unittest.js
Labels: PR: review-outdated

#16032 feat: export HarmonyImportDependency and generate types
  lib/index.js
  types.d.ts
Labels: PR: reviewed-approved

#16077 fix webpack scheme
  declarations/WebpackOptions.d.ts
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  types.d.ts
Labels: PR: reviewed-approved

#16065 support es2022
  lib/javascript/JavascriptParser.js
  package.json
  test/cases/parsing/es2022/counter.js
  test/cases/parsing/es2022/es2022.js
  test/cases/parsing/es2022/index.js
  test/cases/parsing/es2022/reexport.js
  test/cases/parsing/es2022/test.filter.js
  yarn.lock
Labels: PR: reviewed-approved

#16033 ci: add GitHub token permissions for workflow
  .github/workflows/test.yml
Labels: PR: reviewed-approved

#16031 Pass shareScope through to ContainerPlugin & ContainerReferencePlugin
  lib/container/ModuleFederationPlugin.js
Labels: PR: reviewed-approved

#15996 docs: update in readme the list of plugins and loaders
  README.md
Labels: PR: reviewed-approved

#15642 set crossOrigin=use-credentials without origin check
  lib/css/CssLoadingRuntimeModule.js
  lib/runtime/LoadScriptRuntimeModule.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
Labels: PR: reviewed-approved

#15627 add tree-shaking to ProvidedDependency
  lib/dependencies/ProvidedDependency.js
  test/configCases/plugins/provide-plugin/a.js
  test/configCases/plugins/provide-plugin/b.js
  test/configCases/plugins/provide-plugin/harmony2.js
  test/configCases/plugins/provide-plugin/index.js
  test/configCases/plugins/provide-plugin/webpack.config.js
Labels: PR: reviewed-approved

#15910 chore: improve warning message grammar
  lib/NodeStuffPlugin.js
Labels: PR: reviewed-approved

#16071 Fix badge : compatibility score
  README.md
Labels: PR: reviewed-approved

#15746 fix: allow normalised experiments css value to be false
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  lib/config/normalization.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  types.d.ts
Labels: PR: reviewed-approved
