Repository webpack/webpack, pull requests merged in 2022-02, with the labels that each got.

#15268 accept whitespaces after semver range operators
  lib/util/semver.js
  test/SemVer.unittest.js
Labels: PR: reviewed-approved

#15289 use nonNumericOnlyHash function for contentHash
  lib/asset/AssetGenerator.js
  lib/css/CssModulesPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/util/nonNumericOnlyHash.js
  test/nonNumericOnlyHash.unittest.js
Labels: PR: reviewed-approved

#15293 fix resource name when filename is data uri
  lib/TemplatedPathPlugin.js
  test/configCases/asset-modules/resource-from-data-uri/index.js
  test/configCases/asset-modules/resource-from-data-uri/webpack.config.js
Labels: PR: reviewed-approved

#15302 set output.environment.module=true when output.module enabled
  lib/config/defaults.js
  test/Defaults.unittest.js
  test/configCases/output-module/check-defaults/errors.js
  test/configCases/output-module/check-defaults/index.js
  test/configCases/output-module/check-defaults/webpack.config.js
Labels: PR: reviewed-approved

#15329 fix: Merge avaiable modules correctly #15173
  lib/buildChunkGraph.js
  test/configCases/chunk-graph/issue-15173/commonAsync/index.js
  test/configCases/chunk-graph/issue-15173/commonSync/index.js
  test/configCases/chunk-graph/issue-15173/entries/entryA.js
  test/configCases/chunk-graph/issue-15173/entries/entryB.js
  test/configCases/chunk-graph/issue-15173/featureA/index.js
  test/configCases/chunk-graph/issue-15173/featureB/index.js
  test/configCases/chunk-graph/issue-15173/featureC/index.js
  test/configCases/chunk-graph/issue-15173/test.config.js
  test/configCases/chunk-graph/issue-15173/webpack.config.js
Labels: PR: reviewed-approved

#15336 update typescript
  lib/ChunkGraph.js
  lib/ProgressPlugin.js
  lib/css/CssLoadingRuntimeModule.js
  lib/javascript/StartupHelpers.js
  lib/util/compileBooleanMatcher.js
  lib/util/deterministicGrouping.js
  package.json
  types.d.ts
  yarn.lock
Labels: PR: reviewed-approved

#15356 fix serialization in ContextElementDependency
  lib/dependencies/ContextElementDependency.js
  test/ConfigCacheTestCases.longtest.js
  test/ConfigTestCases.template.js
Labels: PR: reviewed-approved

#15338 update jest
  package.json
  yarn.lock
Labels: PR: unreviewed

#15332 handle several resources in ContextModule
  lib/ContextModule.js
  lib/ContextModuleFactory.js
  lib/cache/ResolverCachePlugin.js
  package.json
  test/ContextModule.unittest.js
  test/ContextModuleFactory.unittest.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/configCases/resolve/issue-11335-context-module/index.js
  test/configCases/resolve/issue-11335-context-module/src/foo/widgets/b.js
  test/configCases/resolve/issue-11335-context-module/src/foo/widgets/c.js
  test/configCases/resolve/issue-11335-context-module/src/main/widgets/a.js
  test/configCases/resolve/issue-11335-context-module/src/main/widgets/b.js
  test/configCases/resolve/issue-11335-context-module/webpack.config.js
  test/statsCases/context-independence/a/c/a.js
  test/statsCases/context-independence/a/cc/b.js
  test/statsCases/context-independence/a/index.js
  test/statsCases/context-independence/b/c/a.js
  test/statsCases/context-independence/b/cc/b.js
  test/statsCases/context-independence/b/index.js
  test/statsCases/context-independence/webpack.config.js
  types.d.ts
  yarn.lock
Labels: PR: reviewed-approved

#15379 Pass all attributes of old tap with only overidden fn
  lib/debug/ProfilingPlugin.js
  test/ProfilingPlugin.test.js
Labels: PR: reviewed-approved

#15377 feat(types): expose types required for CLI typescript support
  lib/index.js
  types.d.ts
Labels: PR: reviewed-approved

#15343 fixes #15342 - add util/types to node target
  lib/node/NodeTargetPlugin.js
Labels: PR: reviewed-approved

#15367 fix ExportsInfo
  lib/ExportsInfo.js
  lib/dependencies/ExportsInfoDependency.js
  test/ConfigCacheTestCases.longtest.js
  test/ConfigTestCases.template.js
  test/TestCases.template.js
  test/TestCasesCachePack.longtest.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/cases/parsing/harmony-reexport/a.js
  test/cases/parsing/harmony-reexport/b.js
  test/cases/parsing/harmony-reexport/empty.js
  test/cases/parsing/harmony-reexport/index.js
  test/cases/parsing/harmony-reexport/reexport.js
  test/helpers/infrastructureLogErrors.js
Labels: PR: review-outdated

#14757 use real loader path
  lib/NormalModuleFactory.js
  lib/util/identifier.js
  test/configCases/loaders/#-issue-14755-#/#.my
  test/configCases/loaders/#-issue-14755-#/index.js
  test/configCases/loaders/#-issue-14755-#/node_modules/regexp-#-loader/index.js
  test/configCases/loaders/#-issue-14755-#/node_modules/regexp-#-loader/package.json
  test/configCases/loaders/#-issue-14755-#/webpack.config.js
  test/identifier.unittest.js
Labels: PR: review-outdated

#15370 fix cache invalidation in HttpUriPlugin
  lib/schemes/HttpUriPlugin.js
  test/ConfigCacheTestCases.longtest.js
Labels: PR: review-outdated

#15373 if cache pack is too big, we should batch writing
  lib/serialization/FileMiddleware.js
  test/TestCasesCachePack.longtest.js
Labels: PR: unreviewed

#15426 fix node version for browserslist
  lib/config/browserslistTargetHandler.js
  test/Defaults.unittest.js
  test/__snapshots__/target-browserslist.unittest.js.snap
  test/configCases/ecmaVersion/browserslist/webpack.config.js
Labels: PR: reviewed-approved

#15424 add `baseUri` entry option
  declarations/WebpackOptions.d.ts
  lib/EntryOptionPlugin.js
  lib/config/normalization.js
  lib/dependencies/LoaderPlugin.js
  lib/esm/ModuleChunkLoadingRuntimeModule.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/configCases/entry/entry-base-uri/1.jpg
  test/configCases/entry/entry-base-uri/index.js
  test/configCases/entry/entry-base-uri/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#15397 add NormalModuleFactory hooks types
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  types.d.ts
Labels: PR: reviewed-approved

#15404 disallow global renaming in NodeStuffPlugin
  lib/NodeStuffPlugin.js
  test/configCases/web/node-source-global/index.js
  test/configCases/web/node-source-global/test.config.js
  test/configCases/web/node-source-global/webpack.config.js
Labels: PR: reviewed-approved

#15389 refactoring: use infrastructure-log file
  test/ConfigCacheTestCases.longtest.js
  test/ConfigTestCases.template.js
  test/TestCases.template.js
  test/TestCasesCachePack.longtest.js
  test/cases/compile/error-hide-stack/infrastructure-log.js
  test/cases/errors/load-module-error/infrastructure-log.js
  test/cases/json/import-assertions-type-json/infrastructure-log.js
  test/cases/large/big-assets/infrastructure-log.js
  test/cases/loaders/no-string/infrastructure-log.js
  test/cases/parsing/context/infrastructure-log.js
  test/configCases/assets/delete-asset/infrastructure-log.js
  test/configCases/loaders/options/infrastructure-log.js
  test/configCases/parsing/context/infrastructure-log.js
  test/configCases/process-assets/html-plugin/infrastructure-log.js
  test/configCases/wasm/missing-wasm-experiment/infrastructure-log.js
  test/helpers/infrastructureLogErrors.js
Labels: PR: unreviewed

#15430 use correct chunkgraph in runtime module
  lib/esm/ModuleChunkLoadingRuntimeModule.js
Labels: PR: reviewed-approved

#15437 fix imports order
  lib/dependencies/HarmonyExportInitFragment.js
  test/configCases/issues/issue-11871-imports-order/a.js
  test/configCases/issues/issue-11871-imports-order/index.js
  test/configCases/issues/issue-11871-imports-order/webpack.config.js
Labels: PR: reviewed-approved

#15449 fix module types
  module.d.ts
Labels: PR: unreviewed

#15436 fix ProgressPlugin log
  lib/ProgressPlugin.js
  test/ProgressPlugin.test.js
Labels: PR: reviewed-approved

#15435 fix HarmonyAcceptImportDependency
  lib/dependencies/HarmonyAcceptImportDependency.js
  test/configCases/issues/issue-14974/defer.js
  test/configCases/issues/issue-14974/index.js
  test/configCases/issues/issue-14974/test.filter.js
  test/configCases/issues/issue-14974/tla.js
  test/configCases/issues/issue-14974/webpack.config.js
Labels: PR: reviewed-approved

#15354 support using proxy sockets within HttpUrlPlugin
  declarations/WebpackOptions.d.ts
  declarations/plugins/schemes/HttpUriPlugin.d.ts
  lib/schemes/HttpUriPlugin.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  schemas/plugins/schemes/HttpUriPlugin.check.js
  schemas/plugins/schemes/HttpUriPlugin.json
  test/__snapshots__/Cli.basictest.js.snap
  types.d.ts
Labels: PR: reviewed-approved

#14857 fix asset module hash
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/Generator.js
  lib/ModuleHashingError.js
  lib/RuntimeTemplate.js
  lib/asset/AssetGenerator.js
  schemas/WebpackOptions.json
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/configCases/contenthash/assets/1.jpg
  test/configCases/contenthash/assets/index.js
  test/configCases/contenthash/assets/test.config.js
  test/configCases/contenthash/assets/webpack.config.js
  test/configCases/contenthash/include-chunk-id/test.config.js
  test/helpers/findOutputFiles.js
  types.d.ts
Labels: PR: reviewed-approved

#15405 keep hmr update with output.clean=true
  lib/CleanPlugin.js
  test/HotModuleReplacementPlugin.test.js
Labels: PR: reviewed-approved
