Repository webpack/webpack, pull requests merged in 2023-03, with the labels that each got.

#16614 Fix HTML5 logo in README
  README.md
Labels: PR: reviewed-approved

#16613 Replace TypeScript logo in README
  README.md
Labels: PR: reviewed-approved

#16446 Bump the loader-utils version to 2.0.3
  package.json
  yarn.lock
Labels: PR: reviewed-approved

#16703 Serialize generatedCode info to fix bug in asset module cache restoration
  lib/NormalModule.js
  test/Compiler-filesystem-caching.test.js
  test/fixtures/empty-svg-loader.js
  test/fixtures/file.svg
  test/fixtures/uses-asset.js
Labels: PR: reviewed-approved

#16493 ci: test workflow - bump actions/cache
  .github/workflows/test.yml
Labels: PR: unreviewed

#16759 Improve performance of hashRegExp lookup
  lib/optimize/RealContentHashPlugin.js
Labels: performance, P3: Important, PR: reviewed-approved

#16781 feat: Add `target` to `LoaderContext` type
  declarations/LoaderContext.d.ts
  types.d.ts
Labels: PR: reviewed-approved

#16792 chore(release): 5.76.0
  package.json
Labels: PR: reviewed-approved

#16789 Respect output.hashSalt in RealContentHashPlugin
  lib/optimize/RealContentHashPlugin.js
  test/configCases/contenthash/salt/img.jpg
  test/configCases/contenthash/salt/index.js
  test/configCases/contenthash/salt/test.config.js
  test/configCases/contenthash/salt/webpack.config.js
Labels: S4: Broken, P3: Important, PR: reviewed-approved

#16766 Added `assert/strict` built-in
  lib/node/NodeTargetPlugin.js
Labels: PR: reviewed-approved

#16803 Revert "Improve performance of hashRegExp lookup"
  lib/optimize/RealContentHashPlugin.js
Labels: PR: reviewed-approved

#16804 chore(release): 5.76.1
  package.json
Labels: PR: unreviewed

#16812 docs: update examples
  examples/chunkhash/README.md
  examples/chunkhash/webpack.config.js
  examples/coffee-script/webpack.config.js
  examples/common-chunk-grandchildren/README.md
  examples/common-chunk-grandchildren/webpack.config.js
  examples/dll-app-and-vendor/0-vendor/README.md
  examples/dll-app-and-vendor/0-vendor/webpack.config.js
  examples/dll-user/README.md
  examples/dll-user/webpack.config.js
  examples/dll/README.md
  examples/dll/webpack.config.js
  examples/explicit-vendor-chunk/README.md
  examples/explicit-vendor-chunk/webpack.config.js
  examples/externals/README.md
  examples/externals/webpack.config.js
  examples/extra-async-chunk-advanced/README.md
  examples/extra-async-chunk-advanced/webpack.config.js
  examples/extra-async-chunk/webpack.config.js
  examples/harmony-library/README.md
  examples/harmony-library/webpack.config.js
  examples/harmony-unused/webpack.config.js
  examples/http2-aggressive-splitting/README.md
  examples/http2-aggressive-splitting/webpack.config.js
  examples/hybrid-routing/README.md
  examples/hybrid-routing/webpack.config.js
  examples/loader/webpack.config.js
  examples/many-pages/README.md
  examples/many-pages/webpack.config.js
  examples/multi-compiler/README.md
  examples/multi-compiler/webpack.config.js
  examples/multi-part-library/README.md
  examples/multi-part-library/webpack.config.js
  examples/multiple-entry-points/README.md
  examples/multiple-entry-points/webpack.config.js
  examples/two-explicit-vendor-chunks/README.md
  examples/two-explicit-vendor-chunks/webpack.config.js
  examples/wasm-complex/webpack.config.js
  examples/wasm-simple/webpack.config.js
Labels: PR: reviewed-approved

#16347 Remove redundant semicolons after onScriptComplete function close: #16346
  lib/runtime/LoadScriptRuntimeModule.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: reviewed-approved

#15722 hoist regexp literals in SourceMapDerToolPlugin
  lib/SourceMapDevToolPlugin.js
Labels: PR: reviewed-approved

#16811 fix: add missing semicolon in `AutoPublicPathRuntimeModule`
  lib/runtime/AutoPublicPathRuntimeModule.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: reviewed-approved

#16830 fix: initialize `this._cacheStage` in ModuleGraph constructor
  lib/ModuleGraph.js
Labels: PR: reviewed-approved

#16809 fix: do not import non javascript chunks
  lib/esm/ModuleChunkFormatPlugin.js
  test/configCases/output-module/issue-16040/bar.css
  test/configCases/output-module/issue-16040/bar.js
  test/configCases/output-module/issue-16040/foo.css
  test/configCases/output-module/issue-16040/foo.js
  test/configCases/output-module/issue-16040/index.js
  test/configCases/output-module/issue-16040/test.config.js
  test/configCases/output-module/issue-16040/test.filter.js
  test/configCases/output-module/issue-16040/webpack.config.js
Labels: PR: reviewed-approved

#16810 fix: limit progress bar length to 40 when no columns provided
  lib/node/nodeConsole.js
  test/ProgressPlugin.test.js
Labels: PR: reviewed-approved

#16841 fix: complete the missing nodejs builtin modules
  lib/node/NodeTargetPlugin.js
Labels: PR: reviewed-approved

#16671 Add a new output option, workerPublicPath
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/dependencies/WorkerDependency.js
  lib/dependencies/WorkerPlugin.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.basictest.js.snap
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/configCases/output/worker-public-path/index.js
  test/configCases/output/worker-public-path/test.config.js
  test/configCases/output/worker-public-path/test.filter.js
  test/configCases/output/worker-public-path/webpack.config.js
  test/configCases/output/worker-public-path/worker.js
  test/statsCases/worker-public-path/index.js
  test/statsCases/worker-public-path/webpack.config.js
  test/statsCases/worker-public-path/worker.js
  types.d.ts
Labels: PR: CI-not-ok, PR: reviewed-changes-requested, PR: reviewed-approved

#16807 fix: improve error message if `resolve.extensions` is invalid
  lib/NormalModuleFactory.js
Labels: PR: reviewed-changes-requested, PR: reviewed-approved

#16881 Enable GitHub Copilot for PR's into default Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE_ORIGINAL.md
Labels: PR: unreviewed

#16890 fix: copilot command typo
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: reviewed-approved

#16893 refactor(ErrorHelpers): Make error helpers named functions; add types
  lib/ErrorHelpers.js
Labels: PR: unreviewed

#16896 refactor(moduletypes): introduce module type constants for plugins
  lib/DefinePlugin.js
  lib/ModuleTypeConstants.js
  lib/json/JsonModulesPlugin.js
Labels: PR: reviewed-approved

#16894 refactor(plugins): reduce memory footprint in string usages for multiple plugins
  lib/FlagAllModulesAsUsedPlugin.js
  lib/FlagDependencyExportsPlugin.js
  lib/FlagDependencyUsagePlugin.js
  lib/FlagEntryExportAsUsedPlugin.js
Labels: enhancement, performance, PR: reviewed-approved

#16898 add more module type constants, use them across codebase
  lib/APIPlugin.js
  lib/CompatibilityPlugin.js
  lib/ConstPlugin.js
  lib/ContextModule.js
  lib/DelegatedModule.js
  lib/DllModule.js
  lib/ExportsInfoApiPlugin.js
  lib/ExternalModule.js
  lib/HotModuleReplacementPlugin.js
  lib/JavascriptMetaInfoPlugin.js
  lib/ModuleTypeConstants.js
  lib/NodeStuffPlugin.js
  lib/NormalModule.js
  lib/NormalModuleFactory.js
  lib/ProvidePlugin.js
  lib/RawModule.js
  lib/RequireJsStuffPlugin.js
  lib/UseStrictPlugin.js
  lib/WebpackIsIncludedPlugin.js
  lib/config/defaults.js
  lib/container/ContainerEntryModule.js
  lib/debug/ProfilingPlugin.js
  lib/dependencies/AMDPlugin.js
  lib/dependencies/CommonJsPlugin.js
  lib/dependencies/HarmonyDetectionParserPlugin.js
  lib/dependencies/HarmonyModulesPlugin.js
  lib/dependencies/ImportMetaContextPlugin.js
  lib/dependencies/ImportMetaPlugin.js
  lib/dependencies/ImportPlugin.js
  lib/dependencies/RequireContextPlugin.js
  lib/dependencies/RequireEnsurePlugin.js
  lib/dependencies/RequireIncludePlugin.js
  lib/dependencies/SystemPlugin.js
  lib/dependencies/URLPlugin.js
  lib/dependencies/WorkerPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/node/ReadFileCompileAsyncWasmPlugin.js
  lib/node/ReadFileCompileWasmPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/InnerGraphPlugin.js
  lib/optimize/SideEffectsFlagPlugin.js
  lib/wasm-async/AsyncWebAssemblyModulesPlugin.js
  lib/wasm-sync/WebAssemblyModulesPlugin.js
  lib/web/FetchCompileAsyncWasmPlugin.js
  lib/web/FetchCompileWasmPlugin.js
Labels: PR: reviewed-approved
