Repository webpack/webpack, pull requests merged in 2023-04, with the labels that each got.

#16562 fix #16561
  declarations/WebpackOptions.d.ts
  declarations/plugins/container/ContainerPlugin.d.ts
  declarations/plugins/container/ModuleFederationPlugin.d.ts
  lib/config/normalization.js
  lib/library/AmdLibraryPlugin.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  schemas/plugins/container/ContainerPlugin.check.js
  schemas/plugins/container/ContainerPlugin.json
  schemas/plugins/container/ModuleFederationPlugin.check.js
  schemas/plugins/container/ModuleFederationPlugin.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.basictest.js.snap
  test/configCases/target/amd-container-named/index.js
  test/configCases/target/amd-container-named/webpack.config.js
  test/configCases/target/amd-container-require/index.js
  test/configCases/target/amd-container-require/webpack.config.js
  test/configCases/target/amd-container-unnamed/index.js
  test/configCases/target/amd-container-unnamed/webpack.config.js
  types.d.ts
Labels: PR: review-outdated

#15812 fix(css parser): handle nested atRule
  examples/css/README.md
  examples/css/style.module.css
  lib/css/CssParser.js
  test/configCases/css/css-modules-in-node/index.js
  test/configCases/css/css-modules/index.js
  test/configCases/css/css-modules/style.module.css
  test/configCases/css/css-modules/use-style.js
  test/configCases/css/large/index.js
Labels: PR: reviewed-approved

#16864 Fix faulty css parser processing
  lib/css/CssParser.js
  test/configCases/css/css-modules-in-node/index.js
  test/configCases/css/css-modules/index.js
  test/configCases/css/css-modules/style.module.css
  test/configCases/css/css-modules/use-style.js
Labels: PR: reviewed-approved

#16904 fix: detect `createRequire` when imported with `node:` prefix
  lib/dependencies/CommonJsImportsParserPlugin.js
  test/configCases/require/module-require/d.js
  test/configCases/require/module-require/index.js
Labels: PR: reviewed-approved

#16685 fix: handle package self-referencing in shared module
  lib/sharing/ConsumeSharedPlugin.js
  test/configCases/sharing/consume-self-reference/index.js
  test/configCases/sharing/consume-self-reference/node_modules/my-middleware/index.js
  test/configCases/sharing/consume-self-reference/node_modules/my-middleware/package.json
  test/configCases/sharing/consume-self-reference/node_modules/my-module/a.js
  test/configCases/sharing/consume-self-reference/node_modules/my-module/b.js
  test/configCases/sharing/consume-self-reference/node_modules/my-module/package.json
  test/configCases/sharing/consume-self-reference/package.json
  test/configCases/sharing/consume-self-reference/webpack.config.js
Labels: PR: reviewed-approved

#16919 chore: deps update
  package.json
  test/__snapshots__/StatsTestCases.basictest.js.snap
  types.d.ts
  yarn.lock
Labels: PR: reviewed-approved

#16924 chore: update terser
  package.json
  schemas/WebpackOptions.check.js
  schemas/plugins/ProgressPlugin.check.js
  schemas/plugins/SourceMapDevToolPlugin.check.js
  schemas/plugins/container/ModuleFederationPlugin.check.js
  schemas/plugins/sharing/SharePlugin.check.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  yarn.lock
Labels: PR: reviewed-approved

#16943 test: add case for ModuleFederationPlugin usage with shareScope option
  test/configCases/container/module-federation-with-shareScope/App.js
  test/configCases/container/module-federation-with-shareScope/ComponentB.js
  test/configCases/container/module-federation-with-shareScope/ComponentC.js
  test/configCases/container/module-federation-with-shareScope/index.js
  test/configCases/container/module-federation-with-shareScope/node_modules/package.json
  test/configCases/container/module-federation-with-shareScope/node_modules/react.js
  test/configCases/container/module-federation-with-shareScope/package.json
  test/configCases/container/module-federation-with-shareScope/test.config.js
  test/configCases/container/module-federation-with-shareScope/upgrade-react.js
  test/configCases/container/module-federation-with-shareScope/webpack.config.js
Labels: PR: reviewed-approved

#16937 docs: fix broken link & typo in examples
  examples/README.md
Labels: PR: reviewed-approved

#16947 chore: update jest
  .github/workflows/test.yml
  azure-pipelines.yml
  package.json
  test/StatsTestCases.basictest.js
  test/cases/json/import-assertions-type-json/errors.js
  test/helpers/createLazyTestEnv.js
  test/patch-node-env.js
  yarn.lock
Labels: PR: reviewed-approved

#16968 chore: deps update
  .github/workflows/test.yml
  azure-pipelines.yml
  package.json
  test/__snapshots__/StatsTestCases.basictest.js.snap
  yarn.lock
Labels: PR: reviewed-approved

#16941 support destructuring assignment in parser
  lib/DefinePlugin.js
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/dependencies/HarmonyImportSpecifierDependency.js
  lib/javascript/JavascriptParser.js
  test/cases/parsing/harmony-destructuring-assignment/counter.js
  test/cases/parsing/harmony-destructuring-assignment/counter2.js
  test/cases/parsing/harmony-destructuring-assignment/counter3.js
  test/cases/parsing/harmony-destructuring-assignment/counter4.js
  test/cases/parsing/harmony-destructuring-assignment/index.js
  test/cases/parsing/harmony-destructuring-assignment/reexport-namespace.js
  test/cases/parsing/harmony-destructuring-assignment/test.filter.js
  test/configCases/plugins/define-plugin/index.js
  test/configCases/plugins/define-plugin/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#16925 fix: crossOriginLoading anonymous not work when loading styles
  lib/css/CssLoadingRuntimeModule.js
  test/configCases/crossorigin/set-crossorigin/index.js
  test/configCases/crossorigin/set-crossorigin/style.css
  test/configCases/crossorigin/set-crossorigin/webpack.config.js
  test/helpers/FakeDocument.js
Labels: PR: reviewed-approved

#16882 fix: limit module readable identifier length in stats
  lib/stats/DefaultStatsPrinterPlugin.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/statsCases/max-external-module-readable-identifier/index.js
  test/statsCases/max-external-module-readable-identifier/webpack.config.js
Labels: PR: reviewed-approved

#12774 Export more types
  lib/index.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved

#16944 fix: handle callback correctly in the `readRecords` compiler hook
  lib/Compiler.js
  test/configCases/records/with-readRecords-hook/ReadRecordsPlugin.js
  test/configCases/records/with-readRecords-hook/async.js
  test/configCases/records/with-readRecords-hook/index.js
  test/configCases/records/with-readRecords-hook/node_modules/vendor.js
  test/configCases/records/with-readRecords-hook/records.json
  test/configCases/records/with-readRecords-hook/webpack.config.js
Labels: PR: reviewed-approved

#15618 Included githubactions in the dependabot config
  .github/dependabot.yml
Labels: PR: reviewed-approved

#15667 Adds the twitter badge
  README.md
Labels: PR: reviewed-approved

#10736 Test: Add test for include option in banner plugin
  test/configCases/plugins/banner-plugin/index.js
  test/configCases/plugins/banner-plugin/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#14313 add wasm-bindgen example
  cspell.json
  examples/wasm-bindgen-esm/README.md
  examples/wasm-bindgen-esm/build.js
  examples/wasm-bindgen-esm/example.js
  examples/wasm-bindgen-esm/index.html
  examples/wasm-bindgen-esm/pkg/hi_wasm.d.ts
  examples/wasm-bindgen-esm/pkg/hi_wasm.js
  examples/wasm-bindgen-esm/pkg/hi_wasm_bg.js
  examples/wasm-bindgen-esm/pkg/hi_wasm_bg.wasm
  examples/wasm-bindgen-esm/pkg/hi_wasm_bg.wasm.d.ts
  examples/wasm-bindgen-esm/pkg/package.json
  examples/wasm-bindgen-esm/template.md
  examples/wasm-bindgen-esm/test.filter.js
  examples/wasm-bindgen-esm/webpack.config.js
Labels: PR: CI-ok, PR: reviewed-approved

#16988 docs: update grammar mistakes in examples
  examples/scope-hoisting/README.md
  examples/scope-hoisting/template.md
  examples/side-effects/README.md
  examples/side-effects/template.md
Labels: PR: reviewed-approved

#16978 fix: handle `url()`/`src()`/`image-set()`/`image()`
  cspell.json
  lib/WarnCaseSensitiveModulesPlugin.js
  lib/asset/AssetGenerator.js
  lib/css/CssParser.js
  lib/css/walkCssTokens.js
  lib/dependencies/CssUrlDependency.js
  lib/schemes/DataUriPlugin.js
  test/__snapshots__/ConfigCacheTestCases.longtest.js.snap
  test/__snapshots__/ConfigTestCases.basictest.js.snap
  test/configCases/css/urls/font with spaces.eot
  test/configCases/css/urls/font.eot
  test/configCases/css/urls/font.svg
  test/configCases/css/urls/font.ttf
  test/configCases/css/urls/font.woff
  test/configCases/css/urls/font.woff2
  test/configCases/css/urls/img'''img.png
  test/configCases/css/urls/img'() img.png
  test/configCases/css/urls/img'img.png
  test/configCases/css/urls/img(img.png
  test/configCases/css/urls/img)img.png
  test/configCases/css/urls/img1x.png
  test/configCases/css/urls/img2x.png
  test/configCases/css/urls/img3x.png
  test/configCases/css/urls/imgimg.png
  test/configCases/css/urls/imgn.png
  test/configCases/css/urls/index.js
  test/configCases/css/urls/nested/img-simple.png
  test/configCases/css/urls/nested/img.png
  test/configCases/css/urls/nested/other.png
  test/configCases/css/urls/other-img.png
  test/configCases/css/urls/spacing.css
  test/configCases/css/urls/webpack.config.js
  test/walkCssTokens.unittest.js
Labels: PR: reviewed-approved

#16996 support destructuring assignment in import.meta
  lib/dependencies/ImportMetaPlugin.js
  test/cases/esm/import-meta/index.js
  test/cases/esm/import-meta/warnings.js
Labels: PR: reviewed-approved

#16995 support destructuring assignment with AwaitExpression
  lib/dependencies/ImportParserPlugin.js
  lib/javascript/JavascriptParser.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/cases/chunks/destructuring-assignment/dir1/a.js
  test/cases/chunks/destructuring-assignment/index.js
  test/cases/chunks/destructuring-assignment/test.filter.js
  test/cases/chunks/destructuring-assignment/warnings.js
Labels: PR: reviewed-approved

#17003 chore: bump `@webassemblyjs`
  package.json
  yarn.lock
Labels: PR: reviewed-approved

#17011 test: added test case
  test/configCases/css/css-modules-in-node/index.js
  test/configCases/css/css-modules/index.js
  test/configCases/css/css-modules/style.module.css
  test/configCases/css/css-modules/use-style.js
Labels: PR: reviewed-approved

#15198 fix: pass package type to loader runner
  declarations/LoaderContext.d.ts
  lib/NormalModuleFactory.js
  test/cases/loaders/_esm-loader-type/index.js
  test/cases/loaders/_esm-loader-type/loader.mjs
  test/cases/loaders/_esm-loader-type/node_modules/cjs/loader.mjs
  test/cases/loaders/_esm-loader-type/node_modules/cjs/package.json
  test/cases/loaders/_esm-loader-type/node_modules/esm/loader.js
  test/cases/loaders/_esm-loader-type/node_modules/esm/loader.mjs
  test/cases/loaders/_esm-loader-type/node_modules/esm/package.json
  test/cases/loaders/_esm-loader-type/test.filter.js
  test/cases/loaders/cjs-loader-type/index.js
  test/cases/loaders/cjs-loader-type/loader.cjs
  test/cases/loaders/cjs-loader-type/loader.js
  test/cases/loaders/cjs-loader-type/node_modules/cjs/loader.cjs
  test/cases/loaders/cjs-loader-type/node_modules/cjs/loader.js
  test/cases/loaders/cjs-loader-type/node_modules/cjs/package.json
  test/cases/loaders/cjs-loader-type/node_modules/esm/loader.cjs
  test/cases/loaders/cjs-loader-type/node_modules/esm/package.json
  types.d.ts
Labels: PR: review-outdated

#15450 feature errorsSpace, warningsSpace
  declarations/WebpackOptions.d.ts
  lib/stats/DefaultStatsFactoryPlugin.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.basictest.js.snap
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/statsCases/errors-space-error/index.js
  test/statsCases/errors-space-error/loader.js
  test/statsCases/errors-space-error/webpack.config.js
  test/statsCases/warnings-space-warning/a.js
  test/statsCases/warnings-space-warning/index.js
  test/statsCases/warnings-space-warning/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#17016 fix: fix spell error
  lib/javascript/JavascriptParser.js
Labels: PR: reviewed-approved

#16903 Fix runtime generation bug
  lib/dependencies/CssUrlDependency.js
  test/configCases/css/runtimeissue/asyncChunk.js
  test/configCases/css/runtimeissue/asyncChunk2.js
  test/configCases/css/runtimeissue/entry1.js
  test/configCases/css/runtimeissue/entry2.js
  test/configCases/css/runtimeissue/img.png
  test/configCases/css/runtimeissue/share.js
  test/configCases/css/runtimeissue/styles.js
  test/configCases/css/runtimeissue/test.config.js
  test/configCases/css/runtimeissue/test.module.css
  test/configCases/css/runtimeissue/webpack.config.js
Labels: PR: reviewed-approved

#17022 chore: remove `finializer` from cspell.json
  cspell.json
Labels: PR: unreviewed

#16933 Fix non-deterministic moduleId assignment
  lib/ids/OccurrenceModuleIdsPlugin.js
  test/configCases/contenthash/module-ids-size/1.jpg
  test/configCases/contenthash/module-ids-size/async.js
  test/configCases/contenthash/module-ids-size/file-1.js
  test/configCases/contenthash/module-ids-size/file-2.js
  test/configCases/contenthash/module-ids-size/file-3.js
  test/configCases/contenthash/module-ids-size/file.js
  test/configCases/contenthash/module-ids-size/index.js
  test/configCases/contenthash/module-ids-size/test.config.js
  test/configCases/contenthash/module-ids-size/webpack.config.js
Labels: PR: reviewed-approved

#17019 ci: node.js v20
  .github/workflows/test.yml
  package.json
  test/__snapshots__/StatsTestCases.basictest.js.snap
  yarn.lock
Labels: PR: reviewed-approved

#16975 fix: handle vendor prefixed keyframes and animation in CSS modules
  lib/css/CssParser.js
  test/configCases/css/css-modules-in-node/index.js
  test/configCases/css/css-modules/index.js
  test/configCases/css/css-modules/style.module.css
  test/configCases/css/css-modules/use-style.js
Labels: PR: reviewed-approved

#17032 fix: avoid modify ast params object reference
  lib/javascript/JavascriptParser.js
Labels: PR: reviewed-approved

#17045 refactor(types): Increase type coverage of ModuleFilenameHelpers
  lib/LoaderOptionsPlugin.js
  lib/ModuleFilenameHelpers.js
  types.d.ts
Labels: PR: reviewed-approved

#17047 fix: detection automatic public path
  lib/runtime/AutoPublicPathRuntimeModule.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: reviewed-approved

#17046 refactor(types): Increase type coverage for CommonJsExportsParserPlugin
  lib/dependencies/CommonJsDependencyHelpers.js
  lib/dependencies/CommonJsExportsParserPlugin.js
Labels: PR: reviewed-approved

#17048 feat: added logging to define plugin
  lib/DefinePlugin.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/statsCases/define-plugin/webpack.config.js
Labels: PR: reviewed-approved

#17058 refactor(types) add type coverage & docs for binarySearchBounds.js
  lib/util/binarySearchBounds.js
Labels: PR: reviewed-approved

#17060 refactor(MapHelpers): rename `provide` to `getOrInsert` in MapHelpers and document it better
  lib/CodeGenerationResults.js
  lib/Compilation.js
  lib/util/MapHelpers.js
Labels: PR: reviewed-approved

#17062 test: stability for define
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/statsCases/define-plugin/webpack.config.js
Labels: PR: reviewed-approved

#17020 ci: add ci to test with main branches
  .github/workflows/test.yml
Labels: PR: reviewed-approved

#17033 test: refactor to new API
  package.json
  test/cases/loaders/issue-10725/loader.js
  test/cases/wasm/two-files-loader/wrapper-loader.js
  test/cases/wasm/two-files-loader/wrapper-loader2.js
  yarn.lock
Labels: PR: reviewed-approved

#16388 feat: ignoreBrowserWarnings option to ignore browser console warnings
  declarations/WebpackOptions.d.ts
  examples/module-federation/README.md
  lib/config/normalization.js
  lib/sharing/ConsumeSharedRuntimeModule.js
  lib/sharing/ShareRuntimeModule.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.basictest.js.snap
  test/configCases/sharing/consume-module-ignore-warnings/errors.js
  test/configCases/sharing/consume-module-ignore-warnings/index.js
  test/configCases/sharing/consume-module-ignore-warnings/node_modules/@scoped/package/index.js
  test/configCases/sharing/consume-module-ignore-warnings/node_modules/package.js
  test/configCases/sharing/consume-module-ignore-warnings/node_modules/prefix/a.js
  test/configCases/sharing/consume-module-ignore-warnings/node_modules/prefix/deep/b.js
  test/configCases/sharing/consume-module-ignore-warnings/node_modules/singleton.js
  test/configCases/sharing/consume-module-ignore-warnings/node_modules/singletonWithoutVersion.js
  test/configCases/sharing/consume-module-ignore-warnings/node_modules/strict0.js
  test/configCases/sharing/consume-module-ignore-warnings/node_modules/strict1.js
  test/configCases/sharing/consume-module-ignore-warnings/node_modules/strict2.js
  test/configCases/sharing/consume-module-ignore-warnings/node_modules/strict3.js
  test/configCases/sharing/consume-module-ignore-warnings/node_modules/strict4.js
  test/configCases/sharing/consume-module-ignore-warnings/package.json
  test/configCases/sharing/consume-module-ignore-warnings/relative1.js
  test/configCases/sharing/consume-module-ignore-warnings/relative2.js
  test/configCases/sharing/consume-module-ignore-warnings/webpack.config.js
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/index.js
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/node_modules/my-module/index.js
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/node_modules/my-module/package.json
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/node_modules/my-module2/index.js
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/node_modules/my-module2/package.json
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/node_modules/my-module3/index.js
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/node_modules/my-module3/package.json
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/node_modules/my-module4/index.js
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/node_modules/my-module4/package.json
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/package.json
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#17057 feat: CSS import and allow to hook module creation
  lib/CssModule.js
  lib/ModuleTypeConstants.js
  lib/NormalModuleFactory.js
  lib/css/CssModulesPlugin.js
  lib/css/CssParser.js
  lib/css/walkCssTokens.js
  lib/dependencies/CssImportDependency.js
  lib/util/internalSerializables.js
  test/__snapshots__/ConfigCacheTestCases.longtest.js.snap
  test/__snapshots__/ConfigTestCases.basictest.js.snap
  test/configCases/css/conflicting-order/warnings.js
  test/configCases/css/css-import/external.css
  test/configCases/css/css-import/img.png
  test/configCases/css/css-import/imported.css
  test/configCases/css/css-import/index.js
  test/configCases/css/css-import/layer.css
  test/configCases/css/css-import/print.css
  test/configCases/css/css-import/styl'le7.css
  test/configCases/css/css-import/style.css
  test/configCases/css/css-import/style2.css
  test/configCases/css/css-import/style3.css
  test/configCases/css/css-import/style4.css
  test/configCases/css/css-import/style5.css
  test/configCases/css/css-import/style6.css
  test/configCases/css/css-import/style8.css
  test/configCases/css/css-import/style9.css
  test/configCases/css/css-import/test test.css
  test/configCases/css/css-import/test.config.js
  test/configCases/css/css-import/test.css
  test/configCases/css/css-import/webpack.config.js
  test/helpers/FakeDocument.js
  types.d.ts
Labels: PR: review-outdated

#17072 refactor(types): Improve type coverage & docs for numberHash
  lib/util/numberHash.js
Labels: PR: reviewed-approved

#17074 Optimize numberHash.js
  lib/util/numberHash.js
Labels: PR: reviewed-approved

#17088 feat: allow CLI to be ESM
  .eslintrc.js
  bin/webpack.js
Labels: PR: reviewed-approved

#17094 refactor(types): Improve types coverage & docs for js parser
  lib/javascript/BasicEvaluatedExpression.js
  lib/javascript/JavascriptParser.js
  types.d.ts
Labels: PR: unreviewed

#17095 refactor(types): more types for JSON type
  lib/json/JsonData.js
  lib/json/JsonGenerator.js
  lib/json/JsonModulesPlugin.js
  lib/json/JsonParser.js
Labels: PR: reviewed-approved

#17096 refactor(types): Increase type coverage & docs for BasicEvaluatedExpression
  lib/dependencies/HarmonyImportDependencyParserPlugin.js
  lib/javascript/BasicEvaluatedExpression.js
  lib/javascript/JavascriptParser.js
  types.d.ts
Labels: PR: reviewed-approved

#17097 refactor(type): css
  lib/css/CssGenerator.js
  lib/css/CssLoadingRuntimeModule.js
  lib/css/CssModulesPlugin.js
  lib/css/CssParser.js
  lib/css/walkCssTokens.js
Labels: PR: reviewed-approved

#17089 test: externals imports at top
  test/__snapshots__/ConfigCacheTestCases.longtest.js.snap
  test/__snapshots__/ConfigTestCases.basictest.js.snap
  test/configCases/css/css-import/external1.css
  test/configCases/css/css-import/external2.css
  test/configCases/css/css-import/style.css
  test/configCases/css/css-import/style10.css
  test/configCases/css/css-import/style11.css
  test/configCases/css/css-import/style12.css
Labels: PR: review-outdated
