Repository webpack/webpack, pull requests merged in 2023-05, with the labels that each got.

#16945 feat: add URL dependencies support to consume shared module via module federation
  cspell.json
  lib/sharing/utils.js
  test/SharingUtil.unittest.js
  test/configCases/sharing/consume-multiple-versions/index.js
  test/configCases/sharing/consume-multiple-versions/package.json
  test/configCases/sharing/consume-multiple-versions/webpack.config.js
Labels: PR: reviewed-approved

#17107 refactor(type): small improve
  cspell.json
  lib/library/ModuleLibraryPlugin.js
  lib/runtime/GetChunkFilenameRuntimeModule.js
  lib/schemes/DataUriPlugin.js
  lib/schemes/HttpUriPlugin.js
  lib/stats/DefaultStatsPrinterPlugin.js
  lib/util/StackedCacheMap.js
  lib/util/compileBooleanMatcher.js
  lib/util/deprecation.js
  lib/util/identifier.js
  lib/util/propertyAccess.js
  lib/wasm-async/AsyncWebAssemblyJavascriptGenerator.js
  lib/wasm-async/AsyncWebAssemblyParser.js
  lib/wasm/EnableWasmLoadingPlugin.js
Labels: PR: reviewed-approved

#16990 Allow specifying "onPolicyCreationFailure" mode for trusted types
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  lib/runtime/GetTrustedTypesPolicyRuntimeModule.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.basictest.js.snap
  test/configCases/trusted-types/continue-on-policy-creation-failure/empty.js
  test/configCases/trusted-types/continue-on-policy-creation-failure/index.js
  test/configCases/trusted-types/continue-on-policy-creation-failure/webpack.config.js
  test/configCases/trusted-types/stop-on-policy-creation-failure/empty.js
  test/configCases/trusted-types/stop-on-policy-creation-failure/index.js
  test/configCases/trusted-types/stop-on-policy-creation-failure/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#17118 fix: any @import rules must precede all other rules
  lib/css/CssParser.js
  test/__snapshots__/ConfigCacheTestCases.longtest.js.snap
  test/__snapshots__/ConfigTestCases.basictest.js.snap
  test/configCases/css/css-import-at-middle/a.css
  test/configCases/css/css-import-at-middle/b.css
  test/configCases/css/css-import-at-middle/c.css
  test/configCases/css/css-import-at-middle/index.js
  test/configCases/css/css-import-at-middle/style.css
  test/configCases/css/css-import-at-middle/test.config.js
  test/configCases/css/css-import-at-middle/warnings.js
  test/configCases/css/css-import-at-middle/webpack.config.js
  test/configCases/css/css-modules-broken-keyframes/index.js
  test/configCases/css/css-modules-broken-keyframes/style.module.css
  test/configCases/css/css-modules-broken-keyframes/use-style.js
  test/configCases/css/css-modules-broken-keyframes/warnings.js
  test/configCases/css/css-modules-broken-keyframes/webpack.config.js
  test/configCases/css/namespace/index.js
  test/configCases/css/namespace/style.css
  test/configCases/css/namespace/test.config.js
  test/configCases/css/namespace/warnings.js
  test/configCases/css/namespace/webpack.config.js
  test/configCases/css/pure-css/index.js
  test/configCases/css/pure-css/style.css
  test/configCases/css/pure-css/test.config.js
  test/configCases/css/pure-css/webpack.config.js
Labels: PR: reviewed-approved

#17136 refactor(types): Improve module type strictness for Module.prototype.type expand ModuleTypeConstants
  lib/Compilation.js
  lib/DependenciesBlock.js
  lib/HotModuleReplacementPlugin.js
  lib/Module.js
  lib/ModuleTypeConstants.js
  lib/NormalModule.js
  lib/RuntimeModule.js
  lib/Template.js
  lib/asset/AssetGenerator.js
  lib/asset/AssetModulesPlugin.js
  lib/asset/RawDataUrlModule.js
  lib/config/defaults.js
  lib/container/FallbackModule.js
  lib/container/RemoteModule.js
  lib/hmr/LazyCompilationPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/sharing/ConsumeSharedModule.js
  lib/sharing/ProvideSharedModule.js
  lib/stats/DefaultStatsFactoryPlugin.js
  types.d.ts
Labels: PR: reviewed-approved

#17133 fix: support nesting in CSS modules and bug fixes
  lib/css/CssModulesPlugin.js
  lib/css/CssParser.js
  lib/css/walkCssTokens.js
  test/__snapshots__/ConfigCacheTestCases.longtest.js.snap
  test/__snapshots__/ConfigTestCases.basictest.js.snap
  test/configCases/css/css-import/style.css
  test/configCases/css/css-modules-in-node/index.js
  test/configCases/css/css-modules/index.js
  test/configCases/css/css-modules/style.module.css
  test/configCases/css/css-modules/use-style.js
  test/configCases/css/pure-css/style.css
Labels: PR: reviewed-approved

#17140 fix: crash with importModule when CSS enabled
  lib/css/CssModulesPlugin.js
  test/configCases/css/import-module/a-pitching-loader.js
  test/configCases/css/import-module/colors.js
  test/configCases/css/import-module/index.js
  test/configCases/css/import-module/stylesheet.js
  test/configCases/css/import-module/webpack.config.js
Labels: PR: reviewed-approved

#16950 fix: failed with debug hash
  lib/util/createHash.js
  test/configCases/custom-hash-function/debug-hash/files/file1.js
  test/configCases/custom-hash-function/debug-hash/files/file10.js
  test/configCases/custom-hash-function/debug-hash/files/file11.js
  test/configCases/custom-hash-function/debug-hash/files/file12.js
  test/configCases/custom-hash-function/debug-hash/files/file13.js
  test/configCases/custom-hash-function/debug-hash/files/file14.js
  test/configCases/custom-hash-function/debug-hash/files/file15.js
  test/configCases/custom-hash-function/debug-hash/files/file2.js
  test/configCases/custom-hash-function/debug-hash/files/file3.js
  test/configCases/custom-hash-function/debug-hash/files/file4.js
  test/configCases/custom-hash-function/debug-hash/files/file5.js
  test/configCases/custom-hash-function/debug-hash/files/file6.js
  test/configCases/custom-hash-function/debug-hash/files/file7.js
  test/configCases/custom-hash-function/debug-hash/files/file8.js
  test/configCases/custom-hash-function/debug-hash/files/file9.js
  test/configCases/custom-hash-function/debug-hash/index.js
  test/configCases/custom-hash-function/debug-hash/webpack.config.js
Labels: PR: reviewed-approved

#17145 chore: update package.json description
  package.json
Labels: PR: reviewed-approved

#17160 feat: update enhanced-resolve to v5.14.0
  lib/FileSystemInfo.js
  package.json
  types.d.ts
  yarn.lock
Labels: PR: reviewed-approved

#17137 Normalize property access for imports and exports
  lib/dependencies/HarmonyExportExpressionDependency.js
  lib/dependencies/HarmonyExportImportedSpecifierDependency.js
  lib/dependencies/HarmonyExportInitFragment.js
  lib/optimize/ConcatenatedModule.js
  lib/util/propertyAccess.js
  lib/util/propertyName.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/configCases/code-generation/import-export-format/cjs-module.js
  test/configCases/code-generation/import-export-format/harmony-module-2.js
  test/configCases/code-generation/import-export-format/harmony-module-3.js
  test/configCases/code-generation/import-export-format/harmony-module.js
  test/configCases/code-generation/import-export-format/index.js
  test/configCases/code-generation/import-export-format/webpack.config.js
  test/configCases/output-module/reuse-webpack-esm-library/lib.js
  test/helpers/expectSource.js
  test/helpers/regexEscape.js
  test/propertyAccess.unittest.js
  test/propertyName.unittest.js
Labels: PR: reviewed-approved

#17192 feat: enable topLevelAwait by default
  lib/config/defaults.js
  test/Defaults.unittest.js
Labels: PR: reviewed-approved

#16094 fix: Fixed apply event callback and optimizing callback event type
  module.d.ts
Labels: PR: reviewed-approved

#17195 refactor(types): Add NMF's ResolveData typed to public interface
  CONTRIBUTING.md
  lib/index.js
  types.d.ts
Labels: PR: review-outdated

#17201 refactor(types): Expose ChunkGroup to type definitions
  lib/index.js
  types.d.ts
Labels: PR: reviewed-approved

#17202 docs(types): Add docs for compilation.afterChunks hook
  lib/Compilation.js
  types.d.ts
Labels: PR: reviewed-approved

#17207 fix: matcher type
  lib/ModuleFilenameHelpers.js
  types.d.ts
Labels: PR: unreviewed

#17193 refactor: fix types in hot
  .prettierignore
  hot/dev-server.js
  hot/lazy-compilation-node.js
  hot/lazy-compilation-web.js
  hot/log-apply-result.js
  hot/log.js
  hot/only-dev-server.js
  hot/poll.js
  hot/signal.js
  module.d.ts
  test/typesCases/hot/index.ts
  tsconfig.module.test.json
Labels: PR: reviewed-approved

#17154 chore: fix command
  package.json
Labels: PR: reviewed-approved

#17214 fix: regression
  lib/dependencies/HarmonyExportExpressionDependency.js
  test/configCases/code-generation/import-export-format-2/cjs-module.js
  test/configCases/code-generation/import-export-format-2/export-default-expression.js
  test/configCases/code-generation/import-export-format-2/harmony-module-2.js
  test/configCases/code-generation/import-export-format-2/harmony-module-3.js
  test/configCases/code-generation/import-export-format-2/harmony-module.js
  test/configCases/code-generation/import-export-format-2/index.js
  test/configCases/code-generation/import-export-format-2/webpack.config.js
Labels: PR: reviewed-approved

#17243 refactor: more types for serialization
  lib/serialization/ArraySerializer.js
  lib/serialization/BinaryMiddleware.js
  lib/serialization/DateObjectSerializer.js
  lib/serialization/ErrorObjectSerializer.js
  lib/serialization/FileMiddleware.js
  lib/serialization/MapObjectSerializer.js
  lib/serialization/NullPrototypeObjectSerializer.js
  lib/serialization/ObjectMiddleware.js
  lib/serialization/PlainObjectSerializer.js
  lib/serialization/RegExpObjectSerializer.js
  lib/serialization/SetObjectSerializer.js
  lib/util/serialization.js
  types.d.ts
Labels: PR: reviewed-approved

#17230 test: added `with { type: "json" }`
  package.json
  test/cases/json/import-with-type-json/errors.js
  test/cases/json/import-with-type-json/import-poison.js
  test/cases/json/import-with-type-json/index.js
  test/cases/json/import-with-type-json/infrastructure-log.js
  yarn.lock
Labels: PR: reviewed-approved

#17231 fix: allow DefinePlugin shorthand property
  lib/DefinePlugin.js
  test/configCases/plugins/define-plugin/index.js
Labels: PR: reviewed-approved

#17229 fix: CSS `@import` parsing edge cases
  lib/css/CssParser.js
  test/__snapshots__/ConfigCacheTestCases.longtest.js.snap
  test/__snapshots__/ConfigTestCases.basictest.js.snap
  test/configCases/css/css-import-at-middle/warnings.js
  test/configCases/css/css-import/string-loader.js
  test/configCases/css/css-import/style.css
  test/configCases/css/css-import/warnings.js
  test/configCases/css/namespace/warnings.js
  test/helpers/FakeDocument.js
Labels: PR: reviewed-approved

#17251 docs: add GitHub discussions badge in README
  README.md
Labels: PR: reviewed-approved

#17228 refactor: use global constant for __webpack_require__ instead of string literal
  lib/CompatibilityPlugin.js
  lib/Compilation.js
  lib/ContextModule.js
  lib/DllModule.js
  lib/MainTemplate.js
  lib/RuntimeTemplate.js
  lib/Template.js
  lib/container/FallbackModule.js
  lib/container/RemoteRuntimeModule.js
  lib/dependencies/AMDDefineDependency.js
  lib/dependencies/AMDDefineDependencyParserPlugin.js
  lib/dependencies/AMDRequireDependenciesBlockParserPlugin.js
  lib/dependencies/AMDRequireDependency.js
  lib/dependencies/RequireEnsureDependency.js
  lib/dependencies/RequireHeaderDependency.js
  lib/esm/ExportWebpackRequireRuntimeModule.js
  lib/esm/ModuleChunkFormatPlugin.js
  lib/esm/ModuleChunkLoadingRuntimeModule.js
  lib/javascript/ArrayPushCallbackChunkFormatPlugin.js
  lib/javascript/CommonJsChunkFormatPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/javascript/StartupHelpers.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/optimize/ConcatenatedModule.js
  lib/runtime/StartupChunkDependenciesRuntimeModule.js
  lib/runtime/StartupEntrypointRuntimeModule.js
  lib/sharing/ShareRuntimeModule.js
  lib/web/JsonpChunkLoadingRuntimeModule.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
Labels: PR: reviewed-approved

#17247 refactor: `strict` for config
  lib/config/browserslistTargetHandler.js
  lib/config/defaults.js
  lib/config/normalization.js
  lib/config/target.js
  lib/esm/ModuleChunkLoadingRuntimeModule.js
Labels: PR: reviewed-approved

#17233 fix: handle class name in properties and methods
  lib/javascript/JavascriptParser.js
  lib/optimize/InnerGraphPlugin.js
  test/cases/inner-graph/extend-class/a.js
  test/cases/inner-graph/extend-class/b.js
  test/cases/inner-graph/extend-class/dep2.js
  test/cases/inner-graph/extend-class/dep3.js
  test/cases/inner-graph/extend-class/index.js
  test/cases/inner-graph/extend-class/module3.js
  test/cases/inner-graph/extend-class/test.filter.js
  test/cases/inner-graph/extend-class2/dep-decl.js
  test/cases/inner-graph/extend-class2/dep2.js
  test/cases/inner-graph/extend-class2/index.js
  test/cases/inner-graph/extend-class2/test.filter.js
  test/cases/parsing/issue-16763/a.js
  test/cases/parsing/issue-16763/class.js
  test/cases/parsing/issue-16763/index.js
  test/cases/parsing/issue-16763/test.filter.js
  test/helpers/supportsClassStaticBlock.js
  types.d.ts
Labels: PR: review-outdated

#17248 test: case for destruction
  test/cases/parsing/issue-17189/index.js
  test/cases/parsing/issue-17189/module.js
Labels: PR: unreviewed

#17252 feat(SourceMapDevToolPlugin): support append option as a function
  declarations/plugins/SourceMapDevToolPlugin.d.ts
  lib/EvalSourceMapDevToolPlugin.js
  lib/SourceMapDevToolPlugin.js
  schemas/plugins/SourceMapDevToolPlugin.check.js
  schemas/plugins/SourceMapDevToolPlugin.json
  test/configCases/plugins/source-map-dev-tool-plugin-append-function/index.js
  test/configCases/plugins/source-map-dev-tool-plugin-append-function/test.js
  test/configCases/plugins/source-map-dev-tool-plugin-append-function/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#17257 Bump enhanced-resolve to 5.14.1
  package.json
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#17261 refactor(types): more
  lib/RecordIdsPlugin.js
  lib/RuntimeModule.js
  lib/RuntimePlugin.js
  lib/javascript/EnableChunkLoadingPlugin.js
  lib/runtime/AutoPublicPathRuntimeModule.js
  lib/runtime/BaseUriRuntimeModule.js
  lib/runtime/EnsureChunkRuntimeModule.js
  lib/runtime/GetChunkFilenameRuntimeModule.js
  lib/runtime/GetTrustedTypesPolicyRuntimeModule.js
  lib/runtime/LoadScriptRuntimeModule.js
  lib/runtime/PublicPathRuntimeModule.js
  lib/runtime/StartupChunkDependenciesPlugin.js
  lib/runtime/StartupChunkDependenciesRuntimeModule.js
  lib/runtime/StartupEntrypointRuntimeModule.js
  types.d.ts
Labels: PR: reviewed-approved

#17262 refactor: types for assets and json modules plus plugins
  lib/CacheFacade.js
  lib/ChunkGroup.js
  lib/CleanPlugin.js
  lib/Compilation.js
  lib/Compiler.js
  lib/NormalModuleReplacementPlugin.js
  lib/SelfModuleFactory.js
  lib/Template.js
  lib/UseStrictPlugin.js
  lib/WarnDeprecatedOptionPlugin.js
  lib/WatchIgnorePlugin.js
  lib/asset/AssetGenerator.js
  lib/asset/AssetModulesPlugin.js
  lib/asset/AssetParser.js
  lib/asset/RawDataUrlModule.js
  lib/async-modules/InferAsyncModulesPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/json/JsonGenerator.js
  lib/json/JsonParser.js
  lib/library/AbstractLibraryPlugin.js
  lib/library/SystemLibraryPlugin.js
  lib/library/UmdLibraryPlugin.js
  types.d.ts
Labels: PR: reviewed-approved

#17293 docs: use GitHub discussions instead of Gitter in issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Other.md
Labels: PR: reviewed-approved

#17266 fix(types): regression with unknown types
  lib/Module.js
  lib/ModuleTypeConstants.js
  lib/config/defaults.js
  types.d.ts
Labels: PR: reviewed-approved

#15470 feat: add readonly cache mode
  cspell.json
  declarations/WebpackOptions.d.ts
  lib/WebpackOptionsApply.js
  lib/cache/PackFileCacheStrategy.js
  lib/config/defaults.js
  lib/config/normalization.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/PersistentCaching.test.js
  test/__snapshots__/Cli.basictest.js.snap
  types.d.ts
Labels: PR: reviewed-approved

#17267 refactor(types): wasm and runtime
  lib/AsyncDependenciesBlock.js
  lib/AutomaticPrefetchPlugin.js
  lib/BannerPlugin.js
  lib/RuntimeTemplate.js
  lib/node/CommonJsChunkLoadingPlugin.js
  lib/node/NodeTemplatePlugin.js
  lib/node/NodeWatchFileSystem.js
  lib/node/ReadFileChunkLoadingRuntimeModule.js
  lib/node/ReadFileCompileAsyncWasmPlugin.js
  lib/node/ReadFileCompileWasmPlugin.js
  lib/node/RequireChunkLoadingRuntimeModule.js
  lib/wasm-async/AsyncWasmLoadingRuntimeModule.js
  lib/wasm-async/AsyncWebAssemblyGenerator.js
  lib/wasm-async/AsyncWebAssemblyJavascriptGenerator.js
  lib/wasm-async/AsyncWebAssemblyModulesPlugin.js
  lib/wasm-async/AsyncWebAssemblyParser.js
  lib/wasm-sync/WasmChunkLoadingRuntimeModule.js
  lib/wasm-sync/WasmFinalizeExportsPlugin.js
  lib/wasm-sync/WebAssemblyGenerator.js
  lib/wasm-sync/WebAssemblyJavascriptGenerator.js
  lib/wasm-sync/WebAssemblyModulesPlugin.js
  lib/wasm-sync/WebAssemblyParser.js
  lib/wasm-sync/WebAssemblyUtils.js
  lib/web/FetchCompileAsyncWasmPlugin.js
  lib/web/FetchCompileWasmPlugin.js
  lib/web/JsonpChunkLoadingPlugin.js
  lib/webworker/ImportScriptsChunkLoadingPlugin.js
  lib/webworker/ImportScriptsChunkLoadingRuntimeModule.js
  types.d.ts
Labels: PR: review-outdated

#17270 refactor: use global runtime constants for webpack exports
  lib/CompatibilityPlugin.js
  lib/dependencies/CommonJsPlugin.js
  lib/dependencies/HarmonyExports.js
  lib/esm/ModuleChunkFormatPlugin.js
  lib/javascript/ArrayPushCallbackChunkFormatPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/javascript/StartupHelpers.js
  lib/library/AssignLibraryPlugin.js
  lib/library/ExportPropertyLibraryPlugin.js
  lib/library/ModuleLibraryPlugin.js
  lib/runtime/AsyncModuleRuntimeModule.js
Labels: PR: reviewed-approved

#17281 feat: support `environment` in loader context
  declarations/LoaderContext.d.ts
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.basictest.js.snap
  test/configCases/ecmaVersion/browserslist-config-env/webpack.config.js
  test/configCases/ecmaVersion/browserslist-config/webpack.config.js
  test/configCases/ecmaVersion/browserslist-query/webpack.config.js
  test/configCases/ecmaVersion/browserslist/webpack.config.js
  test/configCases/ecmaVersion/loader-context/index.js
  test/configCases/ecmaVersion/loader-context/loader.js
  test/configCases/ecmaVersion/loader-context/module.js
  test/configCases/ecmaVersion/loader-context/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#17272 refactor(types): more
  lib/ContextModuleFactory.js
  lib/DllModuleFactory.js
  lib/HookWebpackError.js
  lib/IgnoreErrorModuleFactory.js
  lib/Module.js
  lib/ModuleFactory.js
  lib/NormalModuleFactory.js
  lib/NullFactory.js
  lib/container/ContainerEntryModule.js
  lib/container/ContainerEntryModuleFactory.js
  lib/container/FallbackDependency.js
  lib/container/FallbackItemDependency.js
  lib/container/FallbackModule.js
  lib/container/FallbackModuleFactory.js
  lib/container/RemoteModule.js
  lib/container/RemoteRuntimeModule.js
  lib/container/RemoteToExternalDependency.js
  lib/esm/ModuleChunkFormatPlugin.js
  lib/esm/ModuleChunkLoadingPlugin.js
  lib/esm/ModuleChunkLoadingRuntimeModule.js
  lib/hmr/LazyCompilationPlugin.js
  lib/ids/ChunkModuleIdRangePlugin.js
  lib/ids/DeterministicChunkIdsPlugin.js
  lib/ids/DeterministicModuleIdsPlugin.js
  lib/ids/HashedModuleIdsPlugin.js
  lib/ids/IdHelpers.js
  lib/ids/NamedChunkIdsPlugin.js
  lib/ids/NamedModuleIdsPlugin.js
  lib/ids/OccurrenceChunkIdsPlugin.js
  lib/ids/SyncModuleIdsPlugin.js
  lib/javascript/ChunkHelpers.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/sharing/ProvideSharedModuleFactory.js
  lib/util/createHash.js
  types.d.ts
Labels: PR: unreviewed

#17212 feat: introduce a new syntax for worklets - `*context.audioWorklet.addModule()`
  lib/dependencies/WorkerPlugin.js
  test/configCases/worker/worklet/index.js
  test/configCases/worker/worklet/module.js
  test/configCases/worker/worklet/test.config.js
  test/configCases/worker/worklet/test.filter.js
  test/configCases/worker/worklet/webpack.config.js
  test/configCases/worker/worklet/worklet-asset-1.js
  test/configCases/worker/worklet/worklet-asset-2.js
  test/configCases/worker/worklet/worklet.js
  test/helpers/createFakeWorker.js
Labels: PR: review-outdated
