Repository webpack/webpack, pull requests merged in 2024-09, with the labels that each got.

#18730 perf(buildChunkGraph): avoid unneeded re-visit
  lib/buildChunkGraph.js
  test/cases/chunks/runtime/webpack.config.js
Labels: PR: reviewed-approved

#18715 fix: make EnvironmentPlugin defaultValues types less strict
  lib/EnvironmentPlugin.js
  types.d.ts
Labels: PR: reviewed-approved

#18713 fix: always add semicolon in concaten module and tweak
  lib/optimize/ConcatenatedModule.js
  test/configCases/scope-hoisting/issue-11897/index.js
  test/configCases/scope-hoisting/issue-11897/module2.js
  test/configCases/scope-hoisting/issue-11897/module3.js
  test/configCases/scope-hoisting/issue-11897/module4.js
  test/configCases/scope-hoisting/issue-11897/module5.js
Labels: PR: reviewed-approved

#18738 fix: decide processBlock by input block
  lib/buildChunkGraph.js
  test/configCases/chunk-graph/rewalk-chunk/index.js
  test/configCases/chunk-graph/rewalk-chunk/module-a.js
  test/configCases/chunk-graph/rewalk-chunk/module-b.js
  test/configCases/chunk-graph/rewalk-chunk/module-c.js
  test/configCases/chunk-graph/rewalk-chunk/shared.js
  test/configCases/chunk-graph/rewalk-chunk/test.config.js
  test/configCases/chunk-graph/rewalk-chunk/webpack.config.js
Labels: PR: reviewed-approved

#18739 fix: handle default for import context element dependency
  lib/dependencies/ContextElementDependency.js
  test/cases/chunks/destructuring-assignment/dir3/a.js
  test/cases/chunks/destructuring-assignment/dir3/json/array.json
  test/cases/chunks/destructuring-assignment/dir3/json/object.json
  test/cases/chunks/destructuring-assignment/dir3/json/primitive.json
  test/cases/chunks/destructuring-assignment/index.js
  test/cases/chunks/inline-options/dir16/a.js
  test/cases/chunks/inline-options/dir16/json/array.json
  test/cases/chunks/inline-options/dir16/json/object.json
  test/cases/chunks/inline-options/dir16/json/primitive.json
  test/cases/chunks/inline-options/index.js
Labels: PR: reviewed-approved

#18753 fix: types for ts5.6
  lib/util/LazySet.js
  lib/util/runtime.js
  package.json
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#18755 fix: generate code correctly for dynamically importing the same file …
  lib/dependencies/ContextDependency.js
  test/cases/context/issue-18752/folder/file.js
  test/cases/context/issue-18752/index.js
Labels: PR: unreviewed

#18762 test: css types
  test/configCases/css/css-types/index.js
  test/configCases/css/css-types/style.css
  test/configCases/css/css-types/style1.local.css
  test/configCases/css/css-types/style2.global.css
  test/configCases/css/css-types/test.config.js
  test/configCases/css/css-types/webpack.config.js
Labels: PR: reviewed-approved

#18778 fix: use content hash as `[base]` and `[name]` for extracted DataURI's
  lib/TemplatedPathPlugin.js
  test/configCases/asset-modules/data-url-extract/index.js
  test/configCases/asset-modules/data-url-extract/webpack.config.js
  test/configCases/asset-modules/resource-from-data-uri/index.js
Labels: PR: unreviewed

#18779 Feat hash in loader context
  declarations/LoaderContext.d.ts
  lib/NormalModule.js
  test/configCases/loaders/hash-in-context/index.js
  test/configCases/loaders/hash-in-context/loader.js
  test/configCases/loaders/hash-in-context/webpack.config.js
  types.d.ts
Labels: PR: unreviewed

#18790 fix(externals): distinguish “module” and “import” in “module-import”
  lib/ExternalModule.js
  test/configCases/externals/module-import/a.js
  test/configCases/externals/module-import/index.js
  types.d.ts
Labels: PR: reviewed-approved

#18750 fix: add extra merge duplicates call after split chunks
  lib/optimize/MergeDuplicateChunksPlugin.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/statsCases/split-chunks-dedup/index.js
  test/statsCases/split-chunks-dedup/module.js
  test/statsCases/split-chunks-dedup/node_modules/cell/index.js
  test/statsCases/split-chunks-dedup/node_modules/cell/package.json
  test/statsCases/split-chunks-dedup/node_modules/row/index.js
  test/statsCases/split-chunks-dedup/node_modules/row/package.json
  test/statsCases/split-chunks-dedup/node_modules/table/index.js
  test/statsCases/split-chunks-dedup/node_modules/table/package.json
  test/statsCases/split-chunks-dedup/node_modules/templater/index.js
  test/statsCases/split-chunks-dedup/node_modules/templater/package.json
  test/statsCases/split-chunks-dedup/package.json
  test/statsCases/split-chunks-dedup/webpack.config.js
Labels: PR: reviewed-changes-requested

#18772 feat: add new optimization.entryIife config
  declarations/WebpackOptions.d.ts
  lib/config/defaults.js
  lib/javascript/JavascriptModulesPlugin.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/Validation.test.js
  test/__snapshots__/Cli.basictest.js.snap
  test/configCases/output-module/iife-entry-module-with-others/index.js
  test/configCases/output-module/iife-entry-module-with-others/module1.js
  test/configCases/output-module/iife-entry-module-with-others/module2.js
  test/configCases/output-module/iife-entry-module-with-others/module3.js
  test/configCases/output-module/iife-entry-module-with-others/test.config.js
  test/configCases/output-module/iife-entry-module-with-others/test.js
  test/configCases/output-module/iife-entry-module-with-others/webpack.config.js
  test/configCases/output-module/iife-innter-strict/foo.cjs
  test/configCases/output-module/iife-innter-strict/index.mjs
  test/configCases/output-module/iife-innter-strict/test.config.js
  test/configCases/output-module/iife-innter-strict/test.js
  test/configCases/output-module/iife-innter-strict/webpack.config.js
  test/configCases/output-module/iife-multiple-entry-modules/index1.js
  test/configCases/output-module/iife-multiple-entry-modules/index2.js
  test/configCases/output-module/iife-multiple-entry-modules/test.config.js
  test/configCases/output-module/iife-multiple-entry-modules/test.js
  test/configCases/output-module/iife-multiple-entry-modules/webpack.config.js
  test/configCases/output-module/inlined-module/index.js
  test/configCases/output-module/inlined-module/module1.js
  test/configCases/output-module/inlined-module/module2.js
  test/configCases/output-module/inlined-module/module3.js
  test/configCases/output-module/inlined-module/webpack.config.js
  test/configCases/output-module/multiple-inlined-module/index-1.js
  test/configCases/output-module/multiple-inlined-module/index-2.js
  test/configCases/output-module/multiple-inlined-module/module1.js
  test/configCases/output-module/multiple-inlined-module/module2.js
  test/configCases/output-module/multiple-inlined-module/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#18797 fix: correctly parsing `string` export and import
  lib/dependencies/CommonJsImportsParserPlugin.js
  lib/javascript/JavascriptParser.js
  package.json
  test/cases/parsing/es2022/counter.js
  test/cases/parsing/es2022/es2022.js
  test/cases/parsing/es2022/in.js
  test/cases/parsing/es2022/index.js
  test/cases/parsing/es2022/name.js
  test/cases/parsing/es2022/reexport.js
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#18798 ci: fix nyc
  .github/workflows/test.yml
Labels: PR: unreviewed

#18800 fix: increase parallelism when using `importModule` on the execution …
  lib/dependencies/LoaderPlugin.js
  test/configCases/performance/many-async-imports/test.filter.js
  test/configCases/performance/many-exports/test.filter.js
  test/configCases/race-conditions/import-module/index.js
  test/configCases/race-conditions/import-module/inner.module.css
  test/configCases/race-conditions/import-module/loader.js
  test/configCases/race-conditions/import-module/module.js
  test/configCases/race-conditions/import-module/style.module.css
  test/configCases/race-conditions/import-module/style1.module.css
  test/configCases/race-conditions/import-module/test.filter.js
  test/configCases/race-conditions/import-module/vars.module.css
  test/configCases/race-conditions/import-module/webpack.config.js
Labels: PR: unreviewed

#18803 fix: avoid cache invalidation using `ProgressPlugin` and `importModule`
  lib/ProgressPlugin.js
  lib/dependencies/LoaderPlugin.js
  lib/util/AsyncQueue.js
  test/watchCases/cache/loader-import-module-progress/0/a.generate-json.js
  test/watchCases/cache/loader-import-module-progress/0/b.generate-json.js
  test/watchCases/cache/loader-import-module-progress/0/imported.js
  test/watchCases/cache/loader-import-module-progress/0/index.js
  test/watchCases/cache/loader-import-module-progress/0/loader.js
  test/watchCases/cache/loader-import-module-progress/0/unrelated.js
  test/watchCases/cache/loader-import-module-progress/1/unrelated.js
  test/watchCases/cache/loader-import-module-progress/webpack.config.js
  test/watchCases/cache/loader-load-module-progress/0/imported.js
  test/watchCases/cache/loader-load-module-progress/0/index.js
  test/watchCases/cache/loader-load-module-progress/0/loader.js
  test/watchCases/cache/loader-load-module-progress/0/mod.js
  test/watchCases/cache/loader-load-module-progress/0/unrelated.js
  test/watchCases/cache/loader-load-module-progress/1/unrelated.js
  test/watchCases/cache/loader-load-module-progress/webpack.config.js
  types.d.ts
Labels: PR: unreviewed
