Repository webpack/webpack, pull requests merged in 2024-05, with the labels that each got.

#18373 fix: failed to resolve promise when eager import a dynamic cjs
  lib/ContextModule.js
  test/cases/mjs/namespace-object-lazy/cjs-dynamic.js
  test/cases/mjs/namespace-object-lazy/index.mjs
  test/cases/mjs/non-mjs-namespace-object-lazy/cjs-dynamic.js
  test/cases/mjs/non-mjs-namespace-object-lazy/index.js
Labels: PR: reviewed-approved

#18359 ci: use x64 arch node 10.x for macos-latest
  .github/workflows/test.yml
Labels: PR: reviewed-approved

#18351 feat: support `"..."` in resolve importsFields
  lib/config/defaults.js
  test/Defaults.unittest.js
  test/configCases/resolve-merging/imports-fields/index.js
  test/configCases/resolve-merging/imports-fields/node_modules/lib/index.js
  test/configCases/resolve-merging/imports-fields/node_modules/lib/lib.mjs
  test/configCases/resolve-merging/imports-fields/node_modules/lib/package.json
  test/configCases/resolve-merging/imports-fields/package.json
  test/configCases/resolve-merging/imports-fields/pkg.mjs
  test/configCases/resolve-merging/imports-fields/webpack.config.js
Labels: PR: reviewed-approved

#15460 validate compiler options in multicompiler mode
  lib/MultiCompiler.js
  lib/config/defaults.js
  lib/webpack.js
  test/ConfigTestCases.template.js
  test/StatsTestCases.basictest.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-1/index.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-1/test.filter.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-1/webpack.config.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-2/index.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-2/test.filter.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-2/webpack.config.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-3/index.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-3/test.filter.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-3/warnings.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-3/webpack.config.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-4/index.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-4/test.filter.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-4/warnings.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-4/webpack.config.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-5/index.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-5/test.filter.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-5/webpack.config.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-6/index.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-6/test.filter.js
  test/configCases/cache-filesystem/multicompiler-mode-cache-6/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#18342 fix: add return value to `subtractRuntime` fn
  lib/util/runtime.js
Labels: PR: reviewed-changes-requested, PR: reviewed-approved

#18421 ci: Node.js 22
  .github/workflows/test.yml
  test/configCases/externals/import-attributes/test.filter.js
Labels: PR: unreviewed
