Repository webpack/webpack, pull requests merged in 2024-06, with the labels that each got.

#18454 fix: consider runtime for pure expression dependency update hash
  lib/Compilation.js
  lib/DependencyTemplate.js
  lib/Generator.js
  lib/Module.js
  lib/NormalModule.js
  lib/dependencies/PureExpressionDependency.js
  lib/javascript/JavascriptGenerator.js
  lib/util/runtime.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  types.d.ts
Labels: PR: reviewed-approved

#18357 feat: support css esModule generator options
  declarations/WebpackOptions.d.ts
  lib/DependencyTemplate.js
  lib/config/defaults.js
  lib/css/CssExportsGenerator.js
  lib/css/CssGenerator.js
  lib/css/CssLoadingRuntimeModule.js
  lib/css/CssModulesPlugin.js
  lib/dependencies/CssExportDependency.js
  lib/dependencies/CssLocalIdentifierDependency.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  schemas/plugins/css/CssAutoGeneratorOptions.check.js
  schemas/plugins/css/CssGeneratorOptions.check.js
  schemas/plugins/css/CssGlobalGeneratorOptions.check.js
  schemas/plugins/css/CssModuleGeneratorOptions.check.js
  test/Defaults.unittest.js
  test/__snapshots__/Cli.basictest.js.snap
  test/__snapshots__/ConfigCacheTestCases.longtest.js.snap
  test/__snapshots__/ConfigTestCases.basictest.js.snap
  test/configCases/css/cjs-module-syntax/index.js
  test/configCases/css/cjs-module-syntax/style.module.css
  test/configCases/css/cjs-module-syntax/test.config.js
  test/configCases/css/cjs-module-syntax/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#18459 fix: correct tidle range's comutation
  lib/util/semver.js
  test/SemVer.unittest.js
Labels: PR: reviewed-approved

#18327 feat: export `compileBooleanMatcher` util
  lib/index.js
  types.d.ts
Labels: PR: reviewed-approved

#18461 chore: update minor dependencies
  .github/workflows/test.yml
  package.json
  test/__snapshots__/StatsTestCases.basictest.js.snap
  yarn.lock
Labels: PR: review-outdated

#18378 add platform target properties to compiler.
  lib/Compiler.js
  lib/PlatformPlugin.js
  lib/config/defaults.js
  lib/index.js
  lib/webpack.js
  test/Compiler.test.js
  types.d.ts
Labels: PR: reviewed-approved

#17170 fix: css url public path
  lib/RuntimeTemplate.js
  lib/asset/AssetGenerator.js
  lib/css/CssModulesPlugin.js
  lib/dependencies/CssUrlDependency.js
  test/__snapshots__/ConfigCacheTestCases.longtest.js.snap
  test/__snapshots__/ConfigTestCases.basictest.js.snap
  test/configCases/css/urls-css-filename/img1.png
  test/configCases/css/urls-css-filename/index.css
  test/configCases/css/urls-css-filename/index.js
  test/configCases/css/urls-css-filename/nested/img2.png
  test/configCases/css/urls-css-filename/nested/index.css
  test/configCases/css/urls-css-filename/nested/nested/img3.png
  test/configCases/css/urls-css-filename/nested/nested/index.css
  test/configCases/css/urls-css-filename/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#18512 fix: error with contenthash and css experiment
  lib/css/CssModulesPlugin.js
  test/configCases/css/contenthash/async.css
  test/configCases/css/contenthash/async.js
  test/configCases/css/contenthash/index.js
  test/configCases/css/contenthash/style.css
  test/configCases/css/contenthash/test.config.js
  test/configCases/css/contenthash/webpack.config.js
Labels: PR: unreviewed

#18457 Add generator option for asset modules to explicitly keep source maps produced by loaders
  declarations/WebpackOptions.d.ts
  lib/NormalModule.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  schemas/plugins/asset/AssetGeneratorOptions.check.js
  schemas/plugins/asset/AssetInlineGeneratorOptions.check.js
  schemas/plugins/asset/AssetResourceGeneratorOptions.check.js
  test/__snapshots__/Cli.basictest.js.snap
  test/configCases/asset-modules/keep-source-maps/asset.scss
  test/configCases/asset-modules/keep-source-maps/data/asset.css
  test/configCases/asset-modules/keep-source-maps/data/asset.css.map
  test/configCases/asset-modules/keep-source-maps/index.js
  test/configCases/asset-modules/keep-source-maps/loader.js
  test/configCases/asset-modules/keep-source-maps/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#18272 feat: tree shakable output for module library
  lib/WebpackOptionsApply.js
  lib/library/EnableLibraryPlugin.js
  lib/library/ModernModuleLibraryPlugin.js
  lib/optimize/ConcatenatedModule.js
  lib/optimize/ModuleConcatenationPlugin.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/configCases/library/0-create-library/webpack.config.js
  test/configCases/library/1-use-library/default-test-modern-module.js
  test/configCases/library/1-use-library/webpack.config.js
  test/configCases/library/modern-module-reexport-type/export.ts
  test/configCases/library/modern-module-reexport-type/index.ts
  test/configCases/library/modern-module-reexport-type/re-export.ts
  test/configCases/library/modern-module-reexport-type/test.filter.js
  test/configCases/library/modern-module-reexport-type/tsconfig.json
  test/configCases/library/modern-module-reexport-type/webpack.config.js
Labels: PR: reviewed-approved

#18518 chore: deps update
  package.json
  test/ConfigTestCases.template.js
  test/SemVer.unittest.js
  test/Validation.test.js
  test/configCases/ecmaVersion/browserslist-missing/test.filter.js
  test/configCases/output-module/check-defaults/test.filter.js
  yarn.lock
Labels: PR: unreviewed

#18520 fix: Fixes #18519 - makes DefinePlugin quieter under default log level
  lib/DefinePlugin.js
Labels: PR: reviewed-approved

#18531 fix: mangle destructuring default in namespace import
  lib/dependencies/HarmonyImportSpecifierDependency.js
  test/configCases/mangle/mangle-with-destructuring-assignment/index.js
  test/configCases/mangle/mangle-with-destructuring-assignment/module.js
Labels: PR: reviewed-approved

#18062 fix: Consumption of eager shared modules
  lib/sharing/ConsumeSharedModule.js
  lib/sharing/ConsumeSharedRuntimeModule.js
  test/configCases/container/0-eager-shared/App.js
  test/configCases/container/0-eager-shared/emitter.js
  test/configCases/container/0-eager-shared/index.js
  test/configCases/container/0-eager-shared/node_modules/tiny-emitter/index.js
  test/configCases/container/0-eager-shared/node_modules/tiny-emitter/package.json
  test/configCases/container/0-eager-shared/package.json
  test/configCases/container/0-eager-shared/webpack.config.js
  test/configCases/container/eager-shared/index.js
  test/configCases/container/eager-shared/node_modules/tiny-emitter/index.js
  test/configCases/container/eager-shared/node_modules/tiny-emitter/package.json
  test/configCases/container/eager-shared/package.json
  test/configCases/container/eager-shared/webpack.config.js
Labels: PR: reviewed-approved
