Repository webpack/webpack, pull requests merged in 2024-01, with the labels that each got.

#17905 chore: bump terser plugin
  package.json
  test/__snapshots__/StatsTestCases.basictest.js.snap
  yarn.lock
Labels: PR: unreviewed

#17665 chore: refactor getRequiredVersionFromDescriptionFile in utils.js
  lib/sharing/utils.js
Labels: PR: reviewed-approved

#17422 docs: add example for stats summary output
  examples/stats-summary/README.md
  examples/stats-summary/build.js
  examples/stats-summary/example.js
  examples/stats-summary/template.md
  examples/stats-summary/webpack.config.js
Labels: PR: reviewed-approved

#16701 fix: fix pureDep returns null in some js files
  lib/Compilation.js
  lib/DependencyTemplate.js
  lib/Generator.js
  lib/Module.js
  lib/NormalModule.js
  lib/dependencies/PureExpressionDependency.js
  lib/javascript/JavascriptGenerator.js
  lib/util/runtime.js
  types.d.ts
Labels: PR: reviewed-approved

#16625 Fix consumes function
  lib/sharing/ConsumeSharedRuntimeModule.js
Labels: bug, P3: Important, PR: CI-ok, PR: reviewed-approved

#17708 feat: support for un-managed snapshot path
  .prettierignore
  declarations/WebpackOptions.d.ts
  lib/Compilation.js
  lib/Compiler.js
  lib/FileSystemInfo.js
  lib/WebpackOptionsApply.js
  lib/cache/AddManagedPathsPlugin.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/FileSystemInfo.unittest.js
  test/__snapshots__/Cli.basictest.js.snap
  types.d.ts
Labels: PR: reviewed-approved

#17919 fix: external module hard code arrow function
  lib/ExternalModule.js
Labels: PR: reviewed-approved

#17924 fix: don't warn about dynamic import for build dependencies
  lib/FileSystemInfo.js
  test/BuildDependencies.longtest.js
Labels: PR: reviewed-approved

#17931 add node-module option for node.__file/dirname
  declarations/WebpackOptions.d.ts
  lib/DependencyTemplate.js
  lib/NodeStuffPlugin.js
  lib/config/defaults.js
  lib/css/CssExportsGenerator.js
  lib/css/CssGenerator.js
  lib/dependencies/CachedConstDependency.js
  lib/dependencies/ExternalModuleDependency.js
  lib/dependencies/ExternalModuleInitFragment.js
  lib/javascript/JavascriptGenerator.js
  lib/util/internalSerializables.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.basictest.js.snap
  test/configCases/output-module/node-globals/cjs/file.js
  test/configCases/output-module/node-globals/cjs/package.json
  test/configCases/output-module/node-globals/index.js
  test/configCases/output-module/node-globals/test.config.js
  test/configCases/output-module/node-globals/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#17932 add fetchPriority to hmr runtime's ensureChunk function
  lib/hmr/HotModuleReplacement.runtime.js
Labels: PR: reviewed-approved

#17934 fix: css runtime chunk loading error
  lib/css/CssLoadingRuntimeModule.js
Labels: PR: unreviewed

#17938 chore: restore pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE_ORIGINAL.md
Labels: PR: unreviewed

#17939 chore: update `assemblyscript`
  lib/util/hash/xxhash64.js
  package.json
  yarn.lock
Labels: PR: unreviewed

#17948 fix: `Server` and `Dirent` types
  package.json
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#17952 chore: improve eslint configuration
  .eslintrc.js
  bin/webpack.js
  examples/aggressive-merging/webpack.config.js
  examples/dll-user/webpack.config.js
  hot/log.js
  lib/Compilation.js
  lib/config/defaults.js
  lib/debug/ProfilingPlugin.js
  lib/hmr/HotModuleReplacement.runtime.js
  lib/logging/createConsoleLogger.js
  lib/node/nodeConsole.js
  lib/stats/DefaultStatsPresetPlugin.js
  lib/util/semver.js
  package.json
  test/ConfigTestCases.template.js
  test/NodeTemplatePlugin.test.js
  test/WatchSuspend.test.js
  test/configCases/container/1-container-full/webpack.config.js
  test/configCases/container/2-container-full/webpack.config.js
  test/configCases/container/3-container-full/webpack.config.js
  test/configCases/container/exposed-overridables/webpack.config.js
  test/configCases/container/module-federation-with-shareScope/webpack.config.js
  test/configCases/dll-plugin-entry/1-use-dll/webpack.config.js
  test/configCases/dll-plugin-entry/2-error-non-entry/webpack.config.js
  test/configCases/dll-plugin-side-effects/1-use-dll/webpack.config.js
  test/configCases/dll-plugin/1-issue-10475/webpack.config.js
  test/configCases/dll-plugin/1-use-dll/webpack.config.js
  test/configCases/dll-plugin/2-use-dll-without-scope/webpack.config.js
  test/configCases/dll-plugin/3-use-dll-with-hashid/webpack.config.js
  test/configCases/dll-plugin/4-use-dll-with-contenthash/webpack.config.js
  test/configCases/externals/global/index.js
  test/configCases/externals/this/index.js
  test/configCases/sharing/consume-module-ignore-warnings/webpack.config.js
  test/configCases/sharing/consume-module/webpack.config.js
  test/configCases/sharing/consume-multiple-versions-ignore-warnings/webpack.config.js
  test/configCases/sharing/consume-multiple-versions/webpack.config.js
  test/configCases/sharing/consume-self-reference/webpack.config.js
  test/configCases/sharing/no-override-loaded/webpack.config.js
  test/configCases/sharing/provide-eager-module/webpack.config.js
  test/configCases/sharing/provide-module/webpack.config.js
  test/configCases/sharing/provide-multiple-versions/webpack.config.js
  test/configCases/sharing/share-multiple-versions/webpack.config.js
  test/configCases/sharing/share-plugin/webpack.config.js
  test/configCases/split-chunks/asnyc-entries/test.filter.js
  test/fixtures/buildDependencies/loader.js
  test/fixtures/buildDependencies/run.js
  test/helpers/createFakeWorker.js
  test/helpers/supportsRequireInModule.js
  test/helpers/supportsSpread.js
  test/hotCases/sharing/share-plugin/webpack.config.js
  tooling/generate-wasm-code.js
  tooling/print-cache-file.js
  yarn.lock
Labels: PR: unreviewed

#17953 chore(deps): update jest and babel and some types
  package.json
  yarn.lock
Labels: PR: unreviewed

#17955 chore: yarn fix failed in examples *.mjs
  .eslintignore
  yarn.lock
Labels: PR: reviewed-approved

#17958 feat: add warning for asyncModule
  declarations/WebpackOptions.d.ts
  lib/EnvironmentNotSupportAsyncWarning.js
  lib/RuntimeTemplate.js
  lib/config/browserslistTargetHandler.js
  lib/config/defaults.js
  lib/config/target.js
  lib/dependencies/HarmonyDetectionParserPlugin.js
  lib/util/internalSerializables.js
  lib/wasm-async/AsyncWebAssemblyParser.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/Defaults.unittest.js
  test/__snapshots__/Cli.basictest.js.snap
  test/__snapshots__/target-browserslist.unittest.js.snap
  test/configCases/async-module/environment-not-support-async-warning/index.js
  test/configCases/async-module/environment-not-support-async-warning/reexport.js
  test/configCases/async-module/environment-not-support-async-warning/test.filter.js
  test/configCases/async-module/environment-not-support-async-warning/tla.js
  test/configCases/async-module/environment-not-support-async-warning/warnings.js
  test/configCases/async-module/environment-not-support-async-warning/wasm.wat
  test/configCases/async-module/environment-not-support-async-warning/webpack.config.js
  test/configCases/ecmaVersion/browserslist-config-env/webpack.config.js
  test/configCases/ecmaVersion/browserslist-config/webpack.config.js
  test/configCases/ecmaVersion/browserslist-query/webpack.config.js
  test/configCases/ecmaVersion/browserslist/webpack.config.js
  types.d.ts
Labels: PR: reviewed-approved

#17983 ci: use node.js LTS version for lint
  .github/workflows/test.yml
Labels: PR: reviewed-approved

#17967 fix: add warning for async external
  lib/EnvironmentNotSupportAsyncWarning.js
  lib/ExternalModule.js
  lib/config/target.js
  lib/dependencies/HarmonyDetectionParserPlugin.js
  lib/wasm-async/AsyncWebAssemblyParser.js
  test/configCases/async-module/environment-not-support-async-warning/index.js
  test/configCases/async-module/environment-not-support-async-warning/reexport.js
  test/configCases/async-module/environment-not-support-async-warning/warnings.js
  test/configCases/async-module/environment-not-support-async-warning/webpack.config.js
Labels: PR: reviewed-approved

#17992 fix: error for cyclic importModule
  lib/Compilation.js
  lib/dependencies/LoaderPlugin.js
  test/cases/errors/import-module-cycle-multiple/1/a.json
  test/cases/errors/import-module-cycle-multiple/2/a.json
  test/cases/errors/import-module-cycle-multiple/2/b.json
  test/cases/errors/import-module-cycle-multiple/3/a.json
  test/cases/errors/import-module-cycle-multiple/3/b.json
  test/cases/errors/import-module-cycle-multiple/3/c.json
  test/cases/errors/import-module-cycle-multiple/4/a.json
  test/cases/errors/import-module-cycle-multiple/4/b.json
  test/cases/errors/import-module-cycle-multiple/4/c.json
  test/cases/errors/import-module-cycle-multiple/index.js
  test/cases/errors/import-module-cycle-multiple/loader.js
  test/cases/errors/import-module-cycle/1/a.json
  test/cases/errors/import-module-cycle/2/a.json
  test/cases/errors/import-module-cycle/2/b.json
  test/cases/errors/import-module-cycle/3/a.json
  test/cases/errors/import-module-cycle/3/b.json
  test/cases/errors/import-module-cycle/3/c.json
  test/cases/errors/import-module-cycle/index.js
  test/cases/errors/import-module-cycle/loader.js
  types.d.ts
Labels: PR: reviewed-approved

#17993 fix: css-import should apply preferRelative
  lib/config/defaults.js
  test/Defaults.unittest.js
  test/configCases/css/prefer-relative-css-import/bar.modules.css
  test/configCases/css/prefer-relative-css-import/foo.css
  test/configCases/css/prefer-relative-css-import/index.js
  test/configCases/css/prefer-relative-css-import/node_modules/bar.modules.css/package.json
  test/configCases/css/prefer-relative-css-import/node_modules/bar.modules.css/style.css
  test/configCases/css/prefer-relative-css-import/node_modules/foo.css/package.json
  test/configCases/css/prefer-relative-css-import/node_modules/foo.css/style.css
  test/configCases/css/prefer-relative-css-import/style.less
  test/configCases/css/prefer-relative-css-import/style.modules.less
  test/configCases/css/prefer-relative-css-import/test.config.js
  test/configCases/css/prefer-relative-css-import/webpack.config.js
Labels: PR: reviewed-approved

#17991 Optimize RemoveParentModulesPlugin via bigint arithmetic
  lib/optimize/RemoveParentModulesPlugin.js
Labels: PR: reviewed-approved

#17987 feat: allow to disable dev server
  declarations/WebpackOptions.d.ts
  lib/config/normalization.js
  schemas/WebpackOptions.check.js
  schemas/WebpackOptions.json
  test/__snapshots__/Cli.basictest.js.snap
  types.d.ts
Labels: PR: unreviewed

#17994 fix: worklet detection in production mode
  lib/dependencies/CommonJsImportsParserPlugin.js
  lib/dependencies/WorkerPlugin.js
  test/configCases/worker/issue-17489/index.js
  test/configCases/worker/issue-17489/module.js
  test/configCases/worker/issue-17489/test.config.js
  test/configCases/worker/issue-17489/test.filter.js
  test/configCases/worker/issue-17489/webpack.config.js
  test/configCases/worker/issue-17489/worklet.js
Labels: PR: unreviewed

#17998 fix: inner graph for classes
  lib/optimize/InnerGraphPlugin.js
  test/configCases/inner-graph/issue-17565/module.js
  test/configCases/inner-graph/issue-17565/test.filter.js
  test/configCases/inner-graph/issue-17565/webpack.config.js
Labels: PR: unreviewed

#18002 fix: set `unmanagedPaths` in defaults
  cspell.json
  jest.config.js
  lib/config/defaults.js
  package.json
  test/Defaults.unittest.js
  yarn.lock
Labels: PR: unreviewed

#18011 refactor(types): more
  lib/APIPlugin.js
  lib/Compilation.js
  lib/ConditionalInitFragment.js
  lib/DefinePlugin.js
  lib/EvalSourceMapDevToolPlugin.js
  lib/InitFragment.js
  lib/NodeStuffPlugin.js
  lib/Stats.js
  lib/async-modules/AwaitDependenciesInitFragment.js
  lib/dependencies/AMDDefineDependency.js
  lib/dependencies/AMDDefineDependencyParserPlugin.js
  lib/dependencies/AMDPlugin.js
  lib/dependencies/AMDRequireArrayDependency.js
  lib/dependencies/AMDRequireDependenciesBlockParserPlugin.js
  lib/dependencies/AMDRequireDependency.js
  lib/dependencies/AMDRequireItemDependency.js
  lib/dependencies/ExternalModuleDependency.js
  lib/dependencies/ExternalModuleInitFragment.js
  lib/dependencies/HarmonyExportInitFragment.js
  lib/dependencies/LocalModuleDependency.js
  lib/dependencies/WorkerPlugin.js
  lib/dependencies/getFunctionExpression.js
  lib/javascript/JavascriptParser.js
  lib/optimize/MangleExportsPlugin.js
  lib/util/chainedImports.js
  types.d.ts
Labels: PR: reviewed-approved

#18025 Optimize compareStringsNumeric
  lib/util/comparators.js
  test/compareStringsNumeric.unittest.js
Labels: PR: reviewed-approved

#18016 fix: add fallback for MIME mismatch error in async wasm loading
  examples/wasm-bindgen-esm/README.md
  examples/wasm-complex/README.md
  examples/wasm-simple/README.md
  lib/wasm-async/AsyncWasmLoadingRuntimeModule.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
Labels: PR: reviewed-approved

#18009 fix: correct preOrderIndex and postOrderIndex
  lib/buildChunkGraph.js
  test/configCases/chunk-index/issue-18008/A.js
  test/configCases/chunk-index/issue-18008/B-2.js
  test/configCases/chunk-index/issue-18008/B.js
  test/configCases/chunk-index/issue-18008/m.css
  test/configCases/chunk-index/issue-18008/main.js
  test/configCases/chunk-index/issue-18008/n.css
  test/configCases/chunk-index/issue-18008/shared.js
  test/configCases/chunk-index/issue-18008/test.config.js
  test/configCases/chunk-index/issue-18008/webpack.config.js
Labels: PR: reviewed-approved
