Repository webpack/webpack, pull requests merged in 2025-02, with the labels that each got.

#19156 chore: fixed incorrect typecast in `DefaultStatsFactoryPlugin`
  lib/stats/DefaultStatsFactoryPlugin.js
Labels: PR: reviewed-approved

#19104 fix: preserve filenameTemplate in new split chunk
  lib/optimize/SplitChunksPlugin.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/statsCases/split-chunks-cache-group-filename/index.js
  test/statsCases/split-chunks-cache-group-filename/node_modules/a.js
  test/statsCases/split-chunks-cache-group-filename/node_modules/b.js
  test/statsCases/split-chunks-cache-group-filename/node_modules/c.js
  test/statsCases/split-chunks-cache-group-filename/webpack.config.js
Labels: PR: reviewed-approved

#19101 Improved readme.md by adding video links for understanding webpack
  README.md
Labels: PR: reviewed-approved

#19184 (fix) Use module ids for final render order
  lib/asset/AssetModulesPlugin.js
  lib/css/CssModulesPlugin.js
  lib/javascript/JavascriptModulesPlugin.js
  lib/wasm-async/AsyncWebAssemblyModulesPlugin.js
  lib/wasm-sync/WebAssemblyModulesPlugin.js
  test/configCases/optimization/issue-19184/files/file1.js
  test/configCases/optimization/issue-19184/files/file2.js
  test/configCases/optimization/issue-19184/files/file3.js
  test/configCases/optimization/issue-19184/files/file4.js
  test/configCases/optimization/issue-19184/files/file5.js
  test/configCases/optimization/issue-19184/index.js
  test/configCases/optimization/issue-19184/warnings.js
  test/configCases/optimization/issue-19184/webpack.config.js
Labels: PR: reviewed-approved

#19193 (perf) optimize assign-depths
  lib/Compilation.js
Labels: PR: reviewed-approved

#19196 ci: fix
  .github/workflows/dependency-review.yml
  eslint.config.js
  package.json
  test/__snapshots__/StatsTestCases.basictest.js.snap
  tsconfig.module.test.json
  types.d.ts
  yarn.lock
Labels: PR: unreviewed

#19200 fix(types): correct BuildInfo and BuildMeta type definitions
  lib/Module.js
  types.d.ts
Labels: PR: reviewed-approved

#19201 feat: implement `/* webpackIgnore: true */` for `require.resolve`
  lib/dependencies/CommonJsImportsParserPlugin.js
  test/configCases/parsing/require-resolve-ignore/index.js
  test/configCases/parsing/require-resolve-ignore/other.js
  test/configCases/parsing/require-resolve-ignore/webpack.config.js
Labels: PR: unreviewed

#19199 fix: strip `blob:` protocol when public path is `auto`
  eslint.config.js
  lib/runtime/AutoPublicPathRuntimeModule.js
  test/ConfigTestCases.template.js
  test/Stats.test.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/configCases/worker/blob/index.js
  test/configCases/worker/blob/module.js
  test/configCases/worker/blob/test.filter.js
  test/configCases/worker/blob/webpack.config.js
  test/configCases/worker/blob/worker-wrapper.js
  test/configCases/worker/blob/worker.js
  test/helpers/createFakeWorker.js
  test/helpers/supportsBlob.js
Labels: PR: unreviewed

#18804 chore: adopt the new webpack governance model
  GOVERNANCE.md
  README.md
  cspell.json
Labels: PR: reviewed-approved

#14357 track returned state in function body
  lib/ConstPlugin.js
  lib/javascript/JavascriptParser.js
  test/StatsTestCases.basictest.js
  test/__snapshots__/StatsTestCases.basictest.js.snap
  test/cases/async-modules/top-level-error/index.js
  test/cases/async-modules/top-level-error/script-reexport.js
  test/cases/async-modules/top-level-error/script.js
  test/statsCases/track-returned/index.js
  test/statsCases/track-returned/test.config.js
  test/statsCases/track-returned/used.js
  test/statsCases/track-returned/used1.js
  test/statsCases/track-returned/used2.js
  test/statsCases/track-returned/used3.js
  test/statsCases/track-returned/used4.js
  test/statsCases/track-returned/used5.js
  test/statsCases/track-returned/used6.js
  types.d.ts
Labels: PR: CI-ok, PR: reviewed-approved
